Repository ligolang/ligo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-generated-highlighting, pages, pages-attempt, algolia-crawl, deploy_website_preview

check-generated-highlighting:
  stage: tooling
  dependencies:
  - docker_extract
  script:
  - scripts/diff_dir.sh highlighting/emacs tools/emacs
  - scripts/diff_dir.sh highlighting/vim/ftdetect tools/vim/ligo/start/ligo/ftdetect
  - scripts/diff_dir.sh highlighting/vim/plugin tools/vim/ligo/start/ligo/plugin
  ...

pages:
  stage: push
  tags:
  - docker
  image: node:20.2.0-buster
  needs:
  - job: changelog
    artifacts: true
  script:
  - export DOC_PATH=./gitlab-pages/docs
  - export WEBSITE_PATH=./gitlab-pages/website
  - cp -f ./changelog.md $DOC_PATH/intro/changelog.md
  ...

pages-attempt:
  stage: push
  tags:
  - docker
  image: node:20.2.0-buster
  needs:
  - job: changelog
    artifacts: true
  script:
  - export DOC_PATH=./gitlab-pages/docs
  - export WEBSITE_PATH=./gitlab-pages/website
  - cp -f ./changelog.md $DOC_PATH/intro/changelog.md
  ...

algolia-crawl:
  stage: push
  needs:
  - job: pages
  script:
  - 'sleep 20
  
    curl -X POST  -H "Content-Type: application/json" --user ${ALGOLIA_CRAWLER_ID}:${ALGOLIA_CRAWLER_TOKEN} https://crawler.algolia.com/api/1/crawlers/bb0597ba-5abc-45ba-bdf9-99f8152e87b0/reindex
  
    '

deploy_website_preview:
  stage: deploy
  image: node:20.2.0-buster
  tags:
  - docker
  needs:
  - job: pages-attempt
    artifacts: true
  script:
  - apt-get update
  - apt-get install -y --no-install-recommends jq
  - npm install netlify-cli
  ...

Small improvement and a fix to the front-end
  changelog/3162
  src/passes/00-preprocessing/cameligo/Config.ml
  src/passes/00-preprocessing/jsligo/Config.ml
  src/passes/02-parsing/cameligo/Parser.mly
  src/passes/02-parsing/cameligo/errors.msg.in
Due: pages, pages-attempt, deploy_website_preview

fix(aggregation): on includes, don't include the module environment
  changelog/3157
  src/bin/expect_tests/get_scope_errors_warns.ml
  src/main/build/ligo_lib/std_lib.mligo
  src/passes/12-aggregation/compiler.ml
Due: pages, pages-attempt, deploy_website_preview

feat(lsp): add support for selection range
  changelog/3160
  src/main/ligo_lsp/lsp_helpers/lsp_helpers.ml
  src/main/ligo_lsp/lsp_helpers/range.ml
  src/main/ligo_lsp/requests/requests.ml
  src/main/ligo_lsp/requests/selection_range.ml
  src/main/ligo_lsp/server.ml
  src/test/contracts/lsp/selection_range.jsligo
  src/test/contracts/lsp/selection_range.mligo
  src/test/lsp_test/dune
  src/test/lsp_test/selection_range.ml
  tools/vscode/README.md
Due: pages, pages-attempt, deploy_website_preview

[#2183] Implement LSP initialize analytics
  src/bin/cli.ml
  src/main/analytics/analytics.ml
  src/main/analytics/analytics.mli
  src/main/analytics/dune
  src/main/helpers/cli_helpers.ml
  src/main/ligo_lsp/server.ml
  src/passes/04-nanopasses/dune
  src/passes/04-nanopasses/passes/dune
  src/passes/10-checking/type/dune
  src/stages/5-ast_typed/dune
Due: none

[Bot] add changelog entry
  changelog/3165
Due: pages, pages-attempt, deploy_website_preview

Literal disambiguate
  src/bin/expect_tests/get_scope_regressions.ml
  src/passes/01-lexing/shared/Lexer.mll
  src/passes/04-nanopasses/nanopasses.ml
  src/passes/04-nanopasses/passes/bytes_raw_code.ml
  src/passes/04-nanopasses/passes/dune
  src/passes/04-nanopasses/passes/hack_literalize_jsligo.ml
  src/passes/04-nanopasses/passes/literalize_annotated.ml
  src/passes/10-checking/checking.ml
  src/passes/10-checking/errors.ml
  src/stages/4-ast_core/combinators.ml
Due: none

[#2143] Strip references pass and collect them in checking
  src/bin/cli.ml
  src/bin/expect_tests/get_scope_regressions.ml
  src/main/scopes/dune
  src/main/scopes/references.ml
  src/main/scopes/references.mli
  src/main/scopes/scopes.ml
  src/main/scopes/types.ml
  src/main/scopes/types_pass.ml
  src/main/scopes/types_pass.mli
  src/passes/10-checking/checking.ml
  src/passes/10-checking/checking.mli
  src/passes/10-checking/computation.ml
  src/passes/10-checking/computation.mli
  src/passes/10-checking/context.ml
  src/passes/10-checking/context.mli
  src/stages/2-ast_unified/types.ml
  src/test/contracts/lsp/completion_module.jsligo
  src/test/contracts/lsp/hover/imports/B.mligo
  src/test/contracts/lsp/hover/imports/C.mligo
  src/test/contracts/lsp/hover/imports/inner/inner.mligo
  vendored-dune/ligo-utils/simple-utils/Utils.ml
  vendored-dune/ligo-utils/simple-utils/Utils.mli
  vendored-dune/ligo-utils/simple-utils/location.ml
  vendored-dune/ligo-utils/simple-utils/region.ml
Due: none

[Bot] add changelog entry
  changelog/3170
Due: pages, pages-attempt, deploy_website_preview

[#2183] Add analytics in an invisible manner
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Impl.hs
Due: none

[#2183] Add analytics to the debugger
  src/main/analytics/analytics.ml
  tools/debugger/ligo-debugger/Makefile
  tools/debugger/ligo-debugger/ligo-debugger.cabal
  tools/debugger/ligo-debugger/package.yaml
  tools/debugger/ligo-debugger/src/Language/LIGO/Analytics.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Call.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Impl.hs
Due: none

[Bot] add changelog entry
  changelog-tools/debugger/3167
Due: none

[#2183] Set LSP as an environment for analytics
  src/bin/cli.ml
  src/main/analytics/analytics.ml
  src/main/analytics/analytics.mli
  src/main/ligo_lsp/server.ml
Due: none

[#2183] Set the project root for analytics more eagerly
  src/main/ligo_lsp/requests/on_doc.ml
  src/main/ligo_lsp/server.ml
Due: none

[Chore] Remove unused is_dev
  src/bin/cli.ml
Due: none

feat: add nix derivation and shell for LIGO
  .envrc
  Makefile
  changelog/3161
  dune
  dune-project
  flake.lock
  flake.nix
  ligo.opam
  ligo.opam.locked
  ligo.opam.template
  nix/overlay.nix
  scripts/install_opam_deps.sh
  tools/ligo-syntax-highlighting/LigoSyntaxHighlighting.ml
  tools/webide-new/flake.nix
  tools/webide-new/ligo-webide-backend/default.nix
  tools/webide-new/ligo-webide-frontend/ligo-ide/default.nix
  vendored-dune/ligo-utils/proto-alpha-utils/init_proto_alpha.ml
  vendored-dune/ligo-utils/proto-alpha-utils/x_memory_proto_alpha.ml
  vendored-dune/ligo-utils/simple-utils/http_uri.mli
Due: check-generated-highlighting, pages, pages-attempt, deploy_website_preview

Ensure that the subject of a switch is only evaluated once
  src/passes/04-nanopasses/passes/reduce_switch.ml
  tools/debugger/ligo-debugger/test/golden/StepIn/checking-for-testcontractsstatementsincasebranchjsligo-contract.golden
Due: none

[#2143] Optimize conversion to sig items
  src/stages/5-ast_typed/misc.ml
Due: none

[#2143] Optimize `inline_lets` in `self_mini_c`
  src/bin/expect_tests/contract_tests.ml
  src/passes/15-self_mini_c/dune
  src/passes/15-self_mini_c/helpers.ml
  src/passes/15-self_mini_c/inline.ml
  src/passes/15-self_mini_c/self_mini_c.ml
Due: none

[Bot] add changelog entry
  changelog/3166
Due: pages, pages-attempt, deploy_website_preview

[Chore] webide-new: update flake.nix
  tools/webide-new/flake.lock
  tools/webide-new/flake.nix
  tools/webide-new/ligo-webide-frontend/ligo-ide/default.nix
Due: none

[#2183] Don't use `Lwt_main.run` in `prometheus_push`
  lib/prometheus_push/prometheus_push.ml
Due: none

[#2183] Add some LSP runtime analytics
  lib/prometheus_push/prometheus_push.ml
  src/bin/cli.ml
  src/main/analytics/analytics.ml
  src/main/analytics/analytics.mli
  src/main/ligo_lsp/server.ml
  tools/vscode/client/src/lsp/LspExtension.ts
  tools/vscode/client/src/lsp/command.ts
Due: none

[#2183] Better handling of crashes
  dune
  src/main/ligo_lsp/crash.ml
  src/main/ligo_lsp/server.ml
Due: none

[Bot] add changelog entry
  changelog/3176
Due: pages, pages-attempt, deploy_website_preview

[#2184] Forbid empty modules in the parser
  changelog/3177
  src/passes/02-parsing/cameligo/Parser.mly
  src/passes/02-parsing/cameligo/Pretty.ml
  src/passes/02-parsing/cameligo/errors.msg.in
  src/passes/03-unification/cameligo/compile.ml
  src/stages/1-cst/cameligo/CST.ml
  src/stages/1-cst/cameligo/Fold.ml
  src/stages/1-cst/cameligo/Print.ml
  src/test/contracts/lsp/.ligo/repository_id
  src/test/contracts/lsp/empty_module.mligo
  src/test/lsp_test/diagnostics.ml
Due: pages, pages-attempt, deploy_website_preview

chore: move ligo_formatter from src/ to lib/
  lib/ligo_formatter/dune
  lib/ligo_formatter/ligo_formatter.ml
Due: none

chore(nix): add nix derivations for the WebIDE
  flake.lock
  flake.nix
  nix/webide.nix
Due: none

[#2143] Add error handling to expansion pass
  src/main/compile/of_aggregated.ml
  src/main/interpreter/common/interpreter.ml
  src/main/ligo_lsp/requests/diagnostics.ml
  src/main/main_errors/dune
  src/main/main_errors/formatter.ml
  src/main/main_errors/types.ml
  src/passes/12-aggregation/errors.ml
  src/passes/13.1-expansion/compiler.ml
  src/passes/13.1-expansion/decision_tree.ml
  src/passes/13.1-expansion/errors.ml
  src/passes/13.1-expansion/expansion.ml
  src/test/ast_production.ml
Due: none

Laucans/rpc url migration
  changelog-tools/website/3178
  gitlab-pages/docs/tutorials/getting-started/getting-started.md
  gitlab-pages/website/versioned_docs/version-1.4.0/tutorials/getting-started/getting-started.md
  gitlab-pages/website/versioned_docs/version-1.5.0/tutorials/getting-started/getting-started.md
  gitlab-pages/website/versioned_docs/version-1.6.0/tutorials/getting-started/getting-started.md
  tools/webide-new/ligo-webide-backend/src/Method/GenerateDeployScript.hs
  tools/webide-new/ligo-webide-frontend/ligo-ide/config.json
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[Bot] add changelog entry
  changelog/3180
Due: pages, pages-attempt, deploy_website_preview

chore(nix): add a Nix shell for the WebIDE
  flake.nix
  nix/webide.nix
Due: none

[#2181] Handle more cases for record completions
  lib/ligo_lsp/requests/completion/records.ml
  src/stages/4-ast_core/helpers.ml
Due: none

[#2181] Add test for polymorphic record completion
  src/test/contracts/lsp/completion_polymorphic_record.mligo
  src/test/lsp_test/completion.ml
Due: none

[Bot] add changelog entry
  changelog/3181
Due: pages, pages-attempt, deploy_website_preview

[doc] Reorganize TOC
  changelog-tools/website/3171
  gitlab-pages/docs/imperative/discriminated.md.KEEP
  gitlab-pages/docs/imperative/src/discriminated/discriminated.jsligo
  gitlab-pages/docs/imperative/src/discriminated/ungrouped.jsligo
  gitlab-pages/docs/imperative/src/switches/switch.jsligo
  gitlab-pages/docs/imperative/switches.md
  gitlab-pages/docs/language-basics/tezos-specific.md
  gitlab-pages/docs/numbers/declaring.md
  gitlab-pages/docs/tezos/addresses.md
  gitlab-pages/docs/tezos/contracts.md
  gitlab-pages/docs/tezos/contracts/contract-address.md
  gitlab-pages/docs/tezos/contracts/src/address/address.jsligo
  gitlab-pages/docs/tezos/contracts/src/address/address.mligo
  gitlab-pages/docs/tezos/contracts/src/contract-address/address.jsligo
  gitlab-pages/docs/tezos/contracts/src/contract-address/address.mligo
  gitlab-pages/docs/tezos/contracts/src/contract-address/self.jsligo
  gitlab-pages/docs/tezos/contracts/src/contract-address/self.mligo
  gitlab-pages/docs/tezos/contracts/src/contract-address/sender.jsligo
  gitlab-pages/docs/tezos/contracts/src/contract-address/sender.mligo
  gitlab-pages/docs/tezos/contracts/src/contract-address/source.jsligo
  gitlab-pages/docs/tezos/contracts/src/contract-address/source.mligo
  gitlab-pages/docs/tezos/src/address/address.jsligo
  gitlab-pages/docs/tezos/src/address/address.mligo
  gitlab-pages/docs/tezos/src/addresses/address.jsligo
  gitlab-pages/docs/tezos/src/addresses/address.mligo
  gitlab-pages/docs/variables/constants.md
  gitlab-pages/docs/variables/silent_vars.md
  gitlab-pages/docs/variables/src/constants/constants.jsligo
  gitlab-pages/docs/variables/src/constants/constants.mligo
  gitlab-pages/docs/variables/src/silent_vars/silent_variables.jsligo
  gitlab-pages/docs/variables/src/silent_vars/silent_variables.mligo
  gitlab-pages/docs/variables/src/variables/mutating.jsligo
  gitlab-pages/docs/variables/src/variables/mutating.mligo
  gitlab-pages/docs/variables/variables.md
  gitlab-pages/website/sidebars.js
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

fix(cli): use project name in installtion.json
  .ci/scripts/changelog/create_changelog_entry.py
  changelog-tools/cli/.gitkeep
  lib/ligo_lsp/lsp_helpers/files.ml
  lib/ligo_lsp/lsp_helpers/graph.ml
  lib/ligo_lsp/lsp_helpers/helpers_file.ml
  src/package-management/alpha.ml
Due: none

Path conditions:
  check-generated-highlighting: any of: tools/ligo-syntax-highlighting/**/*
  pages: any of: gitlab-pages/**/*, changelog/*
  pages-attempt: any of: gitlab-pages/**/*, changelog/*
  algolia-crawl: any of: gitlab-pages/**/*
  deploy_website_preview: any of: gitlab-pages/**/*, changelog/*
