Repository ligolang/ligo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-generated-highlighting, webide-backend-build-and-push-backend, webide-new-backend-build-and-push-backend, webide-new-frontend-build-and-push, pages, pages-attempt, algolia-crawl, deploy_website_preview, deploy-handoff-feature, deploy-handoff, build-preview-ligo-webide-front-end, build-ligo-webide-front-end

check-generated-highlighting:
  stage: tooling
  dependencies:
  - docker_extract
  script:
  - scripts/diff_dir.sh highlighting/emacs tools/emacs
  - scripts/diff_dir.sh highlighting/vim/ftdetect tools/vim/ligo/start/ligo/ftdetect
  - scripts/diff_dir.sh highlighting/vim/plugin tools/vim/ligo/start/ligo/plugin
  ...

webide-backend-build-and-push-backend:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  - cp -r src/test/examples tools/webide/packages/client/examples
  ...

webide-new-backend-build-and-push-backend:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  needs:
  - job: changelog
    artifacts: false
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  - docker build tools/webide-new/ligo-webide-backend -t ${WEBIDE_NEW_IMAGE_TAG}
  ...

webide-new-frontend-build-and-push:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  needs:
  - job: changelog
    artifacts: false
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  ...

pages:
  stage: push
  tags:
  - docker
  image: node:16.17.0-buster
  needs:
  - job: changelog
    artifacts: true
  script:
  - export DOC_PATH=./gitlab-pages/docs
  - export WEBSITE_PATH=./gitlab-pages/website
  - cp -f ./changelog.md $DOC_PATH/intro/changelog.md
  ...

pages-attempt:
  stage: push
  tags:
  - docker
  image: node:16.17.0-buster
  needs:
  - job: changelog
    artifacts: true
  script:
  - export DOC_PATH=./gitlab-pages/docs
  - export WEBSITE_PATH=./gitlab-pages/website
  - cp -f ./changelog.md $DOC_PATH/intro/changelog.md
  ...

algolia-crawl:
  stage: push
  needs:
  - job: pages
  script:
  - "sleep 10 \ncurl -X post  -H \"Content-Type: application/json\" --user ${ALGOLIA_CRAWLER_ID}:${ALGOLIA_CRAWLER_TOKEN} https://crawler.algolia.com/api/1/crawlers/bb0597ba-5abc-45ba-bdf9-99f8152e87b0/reindex\n"

deploy_website_preview:
  stage: deploy
  image: node:16.17.0-buster
  tags:
  - docker
  needs:
  - job: pages-attempt
    artifacts: true
  script:
  - apt-get update
  - apt-get install -y --no-install-recommends jq
  - npm install netlify-cli
  ...

deploy-handoff-feature:
  stage: deploy
  variables:
    APP_NAME: web-ide-backend
    NEW_VERSION: ${CI_COMMIT_SHORT_SHA}
    ENV: non-prod
  trigger:
    project: ligolang/kubernetes-infrastructure

deploy-handoff:
  stage: deploy
  variables:
    APP_NAME: web-ide-backend
    NEW_VERSION: ${CI_COMMIT_SHORT_SHA}
    ENV: prod
  trigger:
    project: ligolang/kubernetes-infrastructure

[PyLIGO] Forgot to commit changes to LexerLib and parsing README.md
  src/passes/02-parsing/README.md
  vendored-dune/LexerLib/Core.mll
  vendored-dune/LexerLib/Markup.ml
  vendored-dune/LexerLib/Markup.mli
Due: none

fix error snippet for CREATE_CONTRACT, hmm
  src/bin/expect_tests/view.ml
  src/coq/compiler.v
Due: none

[PyLIGO] Fixed cst.ml
  src/passes/02-parsing/pyligo/dune
  src/stages/1-cst/cst.ml
Due: none

Forgot to commit change to 1-cst stage.
  src/stages/1-cst/dune
Due: none

Forgot to commit the CST of PyLIGO (thanks to Tom Jack).
  src/stages/1-cst/pyligo/CST.ml
  src/stages/1-cst/pyligo/Print.ml
  src/stages/1-cst/pyligo/Print.mli
  src/stages/1-cst/pyligo/dune
Due: none

Add `--project-root` for missing commands
  src/bin/cli.ml
  src/bin/expect_tests/help_tests.ml
  src/bin/expect_tests/package_management.ml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  src/passes/01-lexing/pyligo/Self-passes/Units/Indent.ml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  src/passes/01-lexing/pyligo/Self-passes/Units/Multiline.ml
Due: none

Apply 1 suggestion(s) to 1 file(s)
  src/passes/01-lexing/pyligo/Self-passes/Units/ZWSP.ml
Due: none

[Bot] add changelog entry
  changelog/2210
Due: pages, pages-attempt, deploy_website_preview

[Bot] add changelog entry
  changelog/2212
Due: pages, pages-attempt, deploy_website_preview

More clean up.
  src/passes/02-parsing/cameligo/dune
  src/passes/02-parsing/jsligo/dune
  src/passes/02-parsing/pascaligo/dune
  src/passes/02-parsing/pyligo/dune
  src/passes/02-parsing/reasonligo/dune
  vendored-dune/Preprocessor/LowAPI.mli
  vendored-dune/Preprocessor/PreprocMain.ml
  vendored-dune/Preprocessor/TopAPI.mli
Due: none

Fix broken links detected by new version of `xrefcheck`
  .xrefcheck.yaml
  gitlab-pages/docs/tutorials/taco-shop/tezos-taco-shop-smart-contract.md
  gitlab-pages/website/versioned_docs/version-0.55.0/tutorials/taco-shop/tezos-taco-shop-smart-contract.md
  gitlab-pages/website/versioned_docs/version-0.56.0/tutorials/taco-shop/tezos-taco-shop-smart-contract.md
  gitlab-pages/website/versioned_docs/version-0.57.0/tutorials/taco-shop/tezos-taco-shop-smart-contract.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Removed unused code calling the ex-parser negative tests.
  src/test/dune
  src/test/parser_negative_tests.ml
Due: none

Renamed 00-preprocessing/shared/PreprocMainGen.ml into PreprocMain.ml
  src/passes/00-preprocessing/cameligo/PreprocMain.ml
  src/passes/00-preprocessing/jsligo/PreprocMain.ml
  src/passes/00-preprocessing/pascaligo/PreprocMain.ml
  src/passes/00-preprocessing/pyligo/PreprocMain.ml
  src/passes/00-preprocessing/reasonligo/PreprocMain.ml
  src/passes/00-preprocessing/shared/PreprocMain.ml
  src/passes/00-preprocessing/shared/dune
Due: none

Replaced classes by object types in Preprocessor.Directive.
  src/passes/02-parsing/cameligo/ParToken.mly
  src/passes/02-parsing/jsligo/ParToken.mly
  src/passes/02-parsing/pascaligo/ParToken.mly
  src/passes/02-parsing/pyligo/ParToken.mly
  src/passes/02-parsing/reasonligo/ParToken.mly
  vendored-dune/Preprocessor/Directive.mli
  vendored-dune/Preprocessor/Directive.mll
Due: none

[Bot] add changelog entry
  changelog/2114
Due: pages, pages-attempt, deploy_website_preview

Improve fix (make it general)
  src/bin/expect_tests/automatic_semicolon_jsligo.ml
  src/passes/01-lexing/jsligo/Self-passes/Tokens/SEMI.ml
  src/test/error-recovery/fuzzing/jsligo/results.csv.expected
Due: none

Add more tests
  src/bin/expect_tests/automatic_semicolon_jsligo.ml
  src/test/contracts/asi_block_comment_after.jsligo
  src/test/contracts/asi_block_comment_before.jsligo
  src/test/contracts/asi_line_comment_after.jsligo
  src/test/contracts/asi_line_comment_before.jsligo
Due: none

Add more tests
  src/bin/expect_tests/automatic_semicolon_jsligo.ml
  src/test/contracts/asi_block_comment_many.jsligo
  src/test/contracts/asi_line_comment_many'.jsligo
Due: none

Fix incorrect test filename
  src/test/contracts/asi_line_comment_many.jsligo
Due: none

[Bot] add changelog entry
  changelog/2158
Due: pages, pages-attempt, deploy_website_preview

Fix `unresolved` types in `get-scope`
  src/bin/expect_tests/get_scope.ml
  src/main/api/info.ml
  src/main/scopes/scopes.ml
  src/main/scopes/scopes.mli
Due: none

feat: Extract type_annotaion if rhs of a let binding is E_acr.. & set it to binder
  src/main/scopes/scopes.ml
Due: none

fix: Fix type resolution for mutable let bindings
  src/main/scopes/misc.ml
Due: none

Add test for missing stdlib & missing type for mutable binding
  src/bin/expect_tests/get_scope_bugs.ml
  src/test/contracts/get_scope_tests/bugs/missing_stdlib_and_let_mut_in.jsligo
Due: none

Add test for missing stdlib
  src/bin/expect_tests/get_scope_bugs.ml
  src/test/contracts/get_scope_tests/bugs/missing_stdlib.ligo
Due: none

Add test for core type rhs pattern
  src/bin/expect_tests/get_scope_bugs.ml
  src/test/contracts/get_scope_tests/bugs/buggy_file_with_core_types.jsligo
Due: none

Fix missing type reference
  src/bin/expect_tests/get_scope_bugs.ml
  src/main/scopes/scopes.ml
Due: none

Rename directories
  src/bin/expect_tests/get_scope_bugs.ml
  src/bin/expect_tests/get_scope_regressions.ml
  src/test/contracts/get_scope_tests/regressions/buggy_file_with_core_types.jsligo
  src/test/contracts/get_scope_tests/regressions/missing_stdlib.ligo
  src/test/contracts/get_scope_tests/regressions/missing_stdlib_and_let_mut_in.jsligo
Due: none

[Bot] add changelog entry
  changelog/2219
Due: pages, pages-attempt, deploy_website_preview

feat: resolve `main` file when only the package name is provided in imports
  vendored-dune/Preprocessor/ModRes.ml
Due: none

test: Add test for valid main file resolution for scope package
  src/test/projects/main_file_resolution/invalid_main/package.json
  src/test/projects/main_file_resolution/scoped_invalid_main/package.json
  src/test/projects/main_file_resolution/scoped_valid_main/.gitignore
  src/test/projects/main_file_resolution/scoped_valid_main/.ligo/source/i/ligo__s__bigarray__1.0.0__cf1c9d6c/lib/bigarray.mligo
  src/test/projects/main_file_resolution/scoped_valid_main/.ligo/source/i/ligo__s__bigarray__1.0.0__cf1c9d6c/package.json
  src/test/projects/main_file_resolution/scoped_valid_main/_esy/default/installation.json
  src/test/projects/main_file_resolution/scoped_valid_main/dune
  src/test/projects/main_file_resolution/scoped_valid_main/esy.lock/index.json
  src/test/projects/main_file_resolution/scoped_valid_main/main.mligo
  src/test/projects/main_file_resolution/scoped_valid_main/package.json
  src/test/projects/main_file_resolution/valid_main/package.json
Due: none

test: Add test for invalid main file resolution - scoped package
  src/test/projects/main_file_resolution/scoped_invalid_main/.gitignore
  src/test/projects/main_file_resolution/scoped_invalid_main/.ligo/source/i/ligo__s__bigarray__1.0.0__cf1c9d6c/lib/bigarray.mligo
  src/test/projects/main_file_resolution/scoped_invalid_main/.ligo/source/i/ligo__s__bigarray__1.0.0__cf1c9d6c/package.json
  src/test/projects/main_file_resolution/scoped_invalid_main/_esy/default/installation.json
  src/test/projects/main_file_resolution/scoped_invalid_main/dune
  src/test/projects/main_file_resolution/scoped_invalid_main/esy.lock/index.json
  src/test/projects/main_file_resolution/scoped_invalid_main/main.mligo
  src/test/projects/main_file_resolution/scoped_invalid_main/package.json
  src/test/projects/main_file_resolution/scoped_valid_main/_esy/default/installation.json
Due: none

test: Add test for main file resolution
  src/test/projects/main_file_resolution/valid_main/.gitignore
  src/test/projects/main_file_resolution/valid_main/.ligo/source/i/ligo_breathalyzer__1.2.1__34387d7c/lib/lib.mligo
  src/test/projects/main_file_resolution/valid_main/.ligo/source/i/ligo_breathalyzer__1.2.1__34387d7c/lib/logger.mligo
  src/test/projects/main_file_resolution/valid_main/.ligo/source/i/ligo_breathalyzer__1.2.1__34387d7c/package.json
  src/test/projects/main_file_resolution/valid_main/_esy/default/installation.json
  src/test/projects/main_file_resolution/valid_main/dune
  src/test/projects/main_file_resolution/valid_main/esy.lock/index.json
  src/test/projects/main_file_resolution/valid_main/main.mligo
  src/test/projects/main_file_resolution/valid_main/package.json
Due: none

test: Add test for main file resolution for invalid main
  src/test/projects/main_file_resolution/invalid_main/.gitignore
  src/test/projects/main_file_resolution/invalid_main/.ligo/source/i/ligo_breathalyzer__1.2.1__34387d7c/lib/lib.mligo
  src/test/projects/main_file_resolution/invalid_main/.ligo/source/i/ligo_breathalyzer__1.2.1__34387d7c/lib/logger.mligo
  src/test/projects/main_file_resolution/invalid_main/.ligo/source/i/ligo_breathalyzer__1.2.1__34387d7c/package.json
  src/test/projects/main_file_resolution/invalid_main/_esy/default/installation.json
  src/test/projects/main_file_resolution/invalid_main/dune
  src/test/projects/main_file_resolution/invalid_main/esy.lock/index.json
  src/test/projects/main_file_resolution/invalid_main/main.mligo
  src/test/projects/main_file_resolution/invalid_main/package.json
Due: none

test: Add expect test for main file resolution
  src/bin/expect_tests/package_management.ml
Due: none

docs: Update pacakge-management docs
  gitlab-pages/docs/advanced/package-management.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[Bot] add changelog entry
  changelog/2224
Due: pages, pages-attempt, deploy_website_preview

Path conditions:
  check-generated-highlighting: any of: tools/ligo-syntax-highlighting/**/*
  webide-backend-build-and-push-backend: any of: tools/webide/**/*, src/test/examples/**/*
  webide-new-backend-build-and-push-backend: any of: tools/webide-new/ligo-webide-backend/**/*
  webide-new-frontend-build-and-push: any of: tools/webide-new/ligo-webide-frontend/ligo-ide/**/*
  pages: any of: gitlab-pages/**/*, changelog/*
  pages-attempt: any of: gitlab-pages/**/*, changelog/*
  algolia-crawl: any of: gitlab-pages/**/*
  deploy_website_preview: any of: gitlab-pages/**/*, changelog/*
  deploy-handoff-feature: any of: tools/webide/**/*, src/test/examples/**/*
  deploy-handoff: any of: tools/webide/**/*, src/test/examples/**/*
  build-preview-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
  build-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
