Repository ligolang/ligo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-generated-highlighting, pages, pages-attempt, algolia-crawl, deploy_website_preview

Path conditions:
  check-generated-highlighting: any of: tools/ligo-syntax-highlighting/**/*
  pages: any of: gitlab-pages/**/*, changelog/*
  pages-attempt: any of: gitlab-pages/**/*, changelog/*
  algolia-crawl: any of: gitlab-pages/**/*
  deploy_website_preview: any of: gitlab-pages/**/*, changelog/*

misc
  lib/tree_sitter_example/example.ml
Due: none

Renamings
  lib/typescript_ast/AST.ml
  lib/typescript_ast/dune
Due: none

Fixed requested by Alistair.
  lib/typescript_ast/static_nodes_reader.ml
Due: none

English in comment.
  lib/typescript_ast/AST.ml
Due: none

Added test on child count for expression statement.
  lib/tree_sitter_example/example.ml
Due: none

Fixed the build of the TypeScript AST (made conformant too).
  lib/typescript_ast/ast.ml
  lib/typescript_ast/dune
  lib/typescript_ast/typescript_ast.ml
Due: none

Adding more cases to print the AST (first step before building the AST).
  lib/typescript_ast/decoder.ml
  lib/typescript_ast/dune
Due: none

Created a standalone executable to print the AST directly from the CST.
  lib/typescript_ast/decoder.ml
  lib/typescript_ast/decoder_main.ml
  lib/typescript_ast/dune
Due: none

Parsing from the CLI.
  lib/typescript_ast/Tests/expr_stmt.ts
  lib/typescript_ast/decoder_main.ml
Due: none

More cases
  lib/tree_sitter/api_funcs_desc.ml
  lib/typescript_ast/Tests/expr_stmt.ts
  lib/typescript_ast/ast.ml
  lib/typescript_ast/decoder.ml
  ligo.opam
Due: none

More cases.
  lib/tree_sitter/api_funcs_desc.ml
  lib/typescript_ast/Tests/expr_stmt.ts
  lib/typescript_ast/ast.ml
  lib/typescript_ast/decoder.ml
Due: none

More cases.
  lib/typescript_ast/Tests/expr_stmt.ts
  lib/typescript_ast/decoder.ml
Due: none

Formatting and added handling of ERROR and MISSING nodes.
  lib/typescript_ast/ast.ml
  lib/typescript_ast/decoder.ml
  lib/typescript_ast/decoder_main.ml
  lib/typescript_ast/dune
Due: none

Added more cases.
  lib/typescript_ast/ast.ml
  lib/typescript_ast/decoder.ml
Due: none

Added more cases.
  lib/typescript_ast/Tests/expr_stmt.ts
  lib/typescript_ast/ast.ml
  lib/typescript_ast/decoder.ml
Due: none

Formatting.
  lib/typescript_ast/decoder.ml
Due: none

misc
  lib/typescript_ast/decoder.ml
Due: none

Small clean-up
  lib/ligo_formatter/ligo_formatter.ml
  lib/tree_sitter/dune
  lib/tree_sitter_example/dune
  lib/tree_sitter_typescript/api_funcs_desc.ml
  lib/tree_sitter_typescript/api_types_desc.ml
  lib/tree_sitter_typescript/dune
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/main/api/common/compile.ml
  src/main/build/build.ml
  src/passes/04-nanopasses/passes/sum_type_helper_generator.ml
  src/passes/10-checking/computation.ml
  src/passes/10-checking/persistent_env.ml
  src/stages/5-ast_typed/types.ml
  src/stages/ligo_primitive/label.ml
  src/stages/ligo_primitive/row.ml
  src/test/ligo_install_slow_tests.ml
  src/test/ligo_install_tests.ml
  src/test/lsp_test/inlay_hint.ml
  src/test/serialization_tests.ml
Due: none

Small fixes to the typescript AST.
  lib/tree_sitter/api_funcs_desc.ml
  lib/typescript_ast/ast.ml
Due: none

[doc] Show/hide titles in the TOC based on selected language
  changelog-tools/website/3197
  gitlab-pages/docs/tezos/decorators/decorators.md
  gitlab-pages/website/sidebars.js
  gitlab-pages/website/src/theme/DocItem/Content/index.js
  gitlab-pages/website/src/theme/DocSidebarItem/Category/index.js
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

More cases.
  lib/typescript_ast/Tests/expr_stmt.ts
  lib/typescript_ast/ast.ml
  lib/typescript_ast/decoder.ml
Due: none

Added cases to the AST and the decoder.
  lib/typescript_ast/Tests/expr_stmt.ts
  lib/typescript_ast/ast.ml
  lib/typescript_ast/decoder.ml
Due: none

Formatting.
  lib/typescript_ast/ast.ml
  lib/typescript_ast/decoder.ml
Due: none

Plugged in the printing of accessibility modifiers. Added comments.
  lib/typescript_ast/decoder.ml
Due: none

Set the title for the Decorators page when jsligo is active
  changelog-tools/website/3257
  gitlab-pages/website/sidebars.js
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

More cases.
  lib/typescript_ast/Tests/expr_stmt.ts
  lib/typescript_ast/ast.ml
  lib/typescript_ast/decoder.ml
  lib/typescript_ast/dune
Due: none

Formatting
  lib/typescript_ast/decoder.ml
Due: none

[doc] These contracts have four entrypoints
  gitlab-pages/docs/tezos/contracts/entrypoints.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Added index signature.
  lib/typescript_ast/Tests/expr_stmt.ts
  lib/typescript_ast/decoder.ml
Due: none

Added generic type.
  lib/typescript_ast/Tests/expr_stmt.ts
  lib/typescript_ast/decoder.ml
Due: none

[doc] Apply Michelson language formatting
  changelog-tools/website/3262
  gitlab-pages/website/src/theme/languages/prism-michelson.js
  gitlab-pages/website/src/theme/prism-include-languages.js
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[doc] Update docs on mutation testing
  changelog-tools/website/3259
  gitlab-pages/docs/advanced/attributes-decorators.md
  gitlab-pages/docs/advanced/mutation-testing.md
  gitlab-pages/docs/advanced/src/mutation-testing/.ligo/repository_id
  gitlab-pages/docs/advanced/src/mutation-testing/mutation-contract-test.jsligo
  gitlab-pages/docs/advanced/src/mutation-testing/mutation-contract-test.mligo
  gitlab-pages/docs/advanced/src/mutation-testing/mutation-contract.jsligo
  gitlab-pages/docs/advanced/src/mutation-testing/mutation-contract.mligo
  gitlab-pages/docs/advanced/src/mutation-testing/twice.jsligo
  gitlab-pages/docs/advanced/src/mutation-testing/twice.mligo
  gitlab-pages/docs/testing/mutation-testing.md
  gitlab-pages/docs/testing/src/mutation-testing/frontpage.jsligo
  gitlab-pages/docs/testing/src/mutation-testing/frontpage.mligo
  gitlab-pages/docs/testing/src/mutation-testing/mutation-contract-test.jsligo
  gitlab-pages/docs/testing/src/mutation-testing/mutation-contract-test.mligo
  gitlab-pages/docs/testing/src/mutation-testing/mutation-contract.jsligo
  gitlab-pages/docs/testing/src/mutation-testing/mutation-contract.mligo
  gitlab-pages/docs/testing/src/mutation-testing/no_mutation.jsligo
  gitlab-pages/docs/testing/src/mutation-testing/no_mutation.mligo
  gitlab-pages/docs/testing/src/mutation-testing/twice.jsligo
  gitlab-pages/docs/testing/src/mutation-testing/twice.mligo
  gitlab-pages/website/sidebars.js
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[doc] Update docs on Michelson testing
  changelog-tools/website/3261
  gitlab-pages/docs/advanced/michelson_testing.md
  gitlab-pages/docs/advanced/src/michelson_testing/mockup_testme.jsligo
  gitlab-pages/docs/advanced/src/michelson_testing/ungrouped.mligo
  gitlab-pages/docs/testing/michelson_testing.md
  gitlab-pages/docs/testing/src/michelson_testing/mockup_testme.jsligo
  gitlab-pages/docs/testing/src/michelson_testing/mockup_testme.mligo
  gitlab-pages/docs/testing/src/michelson_testing/ungrouped.jsligo
  gitlab-pages/docs/testing/src/michelson_testing/ungrouped.mligo
  gitlab-pages/website/sidebars.js
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[#1991] Make new build system impl
  src/main/build/build.ml
  src/main/build/build.mli
  src/main/build/helpers.ml
  src/main/compile/of_core.ml
Due: none

[#1991] Add test for import decls type check
  src/test/ast_production.ml
  src/test/contracts/build/v2/A.jsligo
  src/test/contracts/build/v2/B.jsligo
  src/test/contracts/build/v2/C.jsligo
  src/test/contracts/build/v2/D.jsligo
  src/test/contracts/build/v2/E.jsligo
  src/test/contracts/build/v2/F.jsligo
  src/test/contracts/build/v2/G.jsligo
  src/test/contracts/build/v2/H.jsligo
  src/test/contracts/build/v2/I.jsligo
  src/test/test_helpers.ml
Due: none

[Bot] add changelog entry
  changelog/3252
Due: pages, pages-attempt, deploy_website_preview

[doc] Update and clarify docs on testing tickets
  changelog-tools/website/3258
  gitlab-pages/docs/testing/src/testing-tickets/usage_entrypoint.jsligo
  gitlab-pages/docs/testing/src/testing-tickets/usage_entrypoint.mligo
  gitlab-pages/docs/testing/src/testing-tickets/usage_orig.jsligo
  gitlab-pages/docs/testing/src/testing-tickets/usage_orig.mligo
  gitlab-pages/docs/testing/src/testing-tickets/usage_transfer.jsligo
  gitlab-pages/docs/testing/src/testing-tickets/usage_transfer.mligo
  gitlab-pages/docs/testing/testing-tickets.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[doc] Docs about tickets
  gitlab-pages/docs/data-types/src/tickets/manip_ticket.jsligo
  gitlab-pages/docs/data-types/src/tickets/manip_ticket.mligo
  gitlab-pages/docs/data-types/src/tickets/manip_ticket2.jsligo
  gitlab-pages/docs/data-types/tickets.md
  gitlab-pages/website/sidebars.js
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview
