Repository ligolang/ligo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-generated-highlighting, webide-backend-build-and-push-backend, webide-new-backend-build-and-push-backend, webide-new-frontend-build-and-push, pages, pages-attempt, algolia-crawl, deploy_website_preview, deploy-handoff-feature, deploy-handoff, build-preview-ligo-webide-front-end, build-ligo-webide-front-end

check-generated-highlighting:
  stage: tooling
  dependencies:
  - docker_extract
  script:
  - scripts/diff_dir.sh highlighting/emacs tools/emacs
  - scripts/diff_dir.sh highlighting/vim/ftdetect tools/vim/ligo/start/ligo/ftdetect
  - scripts/diff_dir.sh highlighting/vim/plugin tools/vim/ligo/start/ligo/plugin
  ...

webide-backend-build-and-push-backend:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  - cp -r src/test/examples tools/webide/packages/client/examples
  ...

webide-new-backend-build-and-push-backend:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  needs:
  - job: changelog
    artifacts: false
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  - docker build tools/webide-new/ligo-webide-backend -t ${WEBIDE_NEW_IMAGE_TAG}
  ...

webide-new-frontend-build-and-push:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  needs:
  - job: changelog
    artifacts: false
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  ...

pages:
  stage: push
  tags:
  - docker
  image: node:16.17.0-buster
  needs:
  - job: changelog
    artifacts: true
  script:
  - export DOC_PATH=./gitlab-pages/docs
  - export WEBSITE_PATH=./gitlab-pages/website
  - cp -f ./changelog.md $DOC_PATH/intro/changelog.md
  ...

pages-attempt:
  stage: push
  tags:
  - docker
  image: node:16.17.0-buster
  needs:
  - job: changelog
    artifacts: true
  script:
  - export DOC_PATH=./gitlab-pages/docs
  - export WEBSITE_PATH=./gitlab-pages/website
  - cp -f ./changelog.md $DOC_PATH/intro/changelog.md
  ...

algolia-crawl:
  stage: push
  needs:
  - job: pages
  script:
  - "sleep 10 \ncurl -X post  -H \"Content-Type: application/json\" --user ${ALGOLIA_CRAWLER_ID}:${ALGOLIA_CRAWLER_TOKEN} https://crawler.algolia.com/api/1/crawlers/bb0597ba-5abc-45ba-bdf9-99f8152e87b0/reindex\n"

deploy_website_preview:
  stage: deploy
  image: node:16.17.0-buster
  tags:
  - docker
  needs:
  - job: pages-attempt
    artifacts: true
  script:
  - apt-get update
  - apt-get install -y --no-install-recommends jq
  - npm install netlify-cli
  ...

deploy-handoff-feature:
  stage: deploy
  variables:
    APP_NAME: web-ide-backend
    NEW_VERSION: ${CI_COMMIT_SHORT_SHA}
    ENV: non-prod
  trigger:
    project: ligolang/kubernetes-infrastructure

deploy-handoff:
  stage: deploy
  variables:
    APP_NAME: web-ide-backend
    NEW_VERSION: ${CI_COMMIT_SHORT_SHA}
    ENV: prod
  trigger:
    project: ligolang/kubernetes-infrastructure

Webide image versioned with timestamp
  .ci/.gitlab-ci-webide.yml
Due: none

JsLIGO: add support for module access in type application
  changelog/2299
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/misc_cli_commands.ml
  src/bin/expect_tests/parametric_types.ml
  src/main/scopes/scopes.ml
  src/passes/04-tree_abstraction/cameligo/compiler.ml
  src/passes/04-tree_abstraction/cameligo/decompiler.ml
  src/passes/04-tree_abstraction/jsligo/compiler.ml
  src/passes/04-tree_abstraction/jsligo/decompiler.ml
  src/passes/06-desugaring/compiler.ml
  src/passes/06-desugaring/decompiler.ml
  src/passes/10-checking/checking.ml
  src/passes/10-checking/untyper.ml
  src/stages/2-ast_imperative/PP.ml
  src/stages/2-ast_imperative/combinators.ml
  src/stages/2-ast_imperative/types.ml
  src/stages/4-ast_core/PP.ml
  src/stages/4-ast_core/combinators.ml
  src/stages/4-ast_core/types.ml
  src/stages/ligo_primitive/module_access.ml
  src/stages/ligo_primitive/type_app.ml
  src/test/contracts/parametric_types.jsligo
  src/test/contracts/polymorphism/use_monad.jsligo
Due: pages, pages-attempt, deploy_website_preview

Fix: unused variables pass not taking into account `E_mod_in`
  changelog/2342
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/get_scope.ml
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/bin/expect_tests/warnings.ml
  src/passes/11-self_ast_typed/muchused.ml
  src/passes/11-self_ast_typed/unused.ml
  src/test/contracts/duplicate_ticket_local_module.mligo
  src/test/contracts/used_var_in_local_module.mligo
Due: pages, pages-attempt, deploy_website_preview

[Chore] Format files
  src/main/ligo_lsp/ligo_interface/ligo_interface.ml
  src/main/ligo_lsp/requests/handler.ml
  src/main/ligo_lsp/requests/prepare_rename.ml
  src/main/ligo_lsp/server.ml
  src/test/lsp_test/prepare_rename.ml
Due: none

Add flags to all dune files Problem: We need as much warning as possible to pay attention to them Solution: Add them to dune files except for the most strangest ones
  src/main/ligo_lsp/dune
  src/main/ligo_lsp/ligo_interface/dune
  src/main/ligo_lsp/requests/dune
  src/main/ligo_lsp/utils/dune
Due: none

[Bot] add changelog entry
  changelog/2326
Due: pages, pages-attempt, deploy_website_preview

[#1678] Bump version
  tools/vscode/package.json
Due: none

Image tag tag webide frontend
  .ci/.gitlab-ci-webide.yml
  tools/webide-new/ligo-webide-backend/Dockerfile
  tools/webide-new/ligo-webide-frontend/ligo-ide/Dockerfile
Due: webide-new-backend-build-and-push-backend, webide-new-frontend-build-and-push

[#1678] Warn user about LIGO versions
  tools/vscode/client/src/updateLigo.ts
Due: none

[#1678] Better detection of update version
  tools/vscode/client/src/updateLigo.ts
Due: none

[#1678] Ignore getting the index directory
  tools/vscode/client/src/commands/common.ts
Due: none

[#1678] Improve docs and remove extraneous things
  tools/vscode/README.md
  tools/vscode/docs/project-indexing.md
  tools/vscode/package.json
Due: none

replace : by - to be formatted for push
  .ci/.gitlab-ci-webide.yml
Due: none

[Chore] Move handler implementations to different files
  src/main/ligo_lsp/requests/definition.ml
  src/main/ligo_lsp/requests/formatting.ml
  src/main/ligo_lsp/requests/hover.ml
  src/main/ligo_lsp/requests/on_doc.ml
  src/main/ligo_lsp/requests/prepare_rename.ml
  src/main/ligo_lsp/requests/references.ml
  src/main/ligo_lsp/requests/rename.ml
  src/main/ligo_lsp/requests/requests.ml
  src/main/ligo_lsp/requests/type_definition.ml
  src/main/ligo_lsp/server.ml
  src/main/ligo_lsp/utils/utils.ml
  src/test/lsp_test/definition.ml
  src/test/lsp_test/prepare_rename.ml
Due: none

[#1678] Suggest to download/choose path when we have an unsupported version
  tools/vscode/client/src/updateLigo.ts
Due: none

[#1678] Fix checking of releases by date
  tools/vscode/client/src/updateLigo.ts
Due: none

[Chore] Update GitLab templates for the language server and debugger
  .gitlab/merge_request_templates/debugger.md
  .gitlab/merge_request_templates/lsp.md
Due: none

[#1666] Extract warnings from scopes
  src/main/ligo_lsp/requests/diagnostics.ml
  src/main/ligo_lsp/requests/on_doc.ml
Due: none

[#1666] Add tests for diagnostics
  src/main/ligo_lsp/utils/utils.ml
  src/test/lsp_test.ml
  src/test/lsp_test/common.ml
  src/test/lsp_test/diagnostics.ml
Due: none

fix: semi-colons insertion breaks when a comment appears before an else
  src/passes/01-lexing/jsligo/Self-passes/Tokens/SEMI.ml
  src/test/contracts/if_semi.jsligo
Due: none

[Bot] add changelog entry
  changelog/2329
Due: pages, pages-attempt, deploy_website_preview

Don't add semi-colon after `} // comments` if the statement is not complete
  src/passes/01-lexing/jsligo/Self-passes/Tokens/SEMI.ml
  src/test/contracts/if_semi.jsligo
Due: none

Add changelog
  changelog/2356
Due: pages, pages-attempt, deploy_website_preview

[#1541] Treat values inside `switch` and `match ... with` as statements
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Common.hs
  tools/debugger/ligo-debugger/test/Test/Breakpoints.hs
  tools/debugger/ligo-debugger/test/Test/Navigation.hs
  tools/debugger/ligo-debugger/test/Test/Snapshots.hs
  tools/debugger/ligo-debugger/test/golden/StepIn/checking-for-testcontractsstatementinmatchbranchmligo-contract.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/checking-for-testcontractsstatementsincasebranchjsligo-contract.golden
Due: none

[JsLIGO] Update syntax for generic functions
  changelog/2315
  gitlab-pages/docs/advanced/package-management.md
  gitlab-pages/docs/advanced/polymorphism.md
  gitlab-pages/docs/advanced/src/proxy_ticket.jsligo
  gitlab-pages/docs/advanced/testing.md
  src/bin/expect_tests/polymorphism.ml
  src/main/fuzz/jsligo/helpers.ml
  src/passes/01-lexing/jsligo/Self-passes/Tokens/PreParser.mly
  src/passes/02-parsing/jsligo/Parser.mly
  src/passes/02-parsing/jsligo/errors.msg.in
  src/passes/04-tree_abstraction/jsligo/compiler.ml
  src/passes/04-tree_abstraction/jsligo/decompiler.ml
  src/stages/1-cst/jsligo/CST.ml
  src/stages/1-cst/jsligo/Print.ml
  src/stages/2-ast_imperative/combinators.ml
  src/test/contracts/interpreter_tests/map_map.jsligo
  src/test/contracts/polymorphism/comb.jsligo
  src/test/contracts/polymorphism/identity.jsligo
  src/test/contracts/polymorphism/rec.jsligo
  src/test/contracts/polymorphism/use_monad.jsligo
  src/test/error-recovery/fuzzing/jsligo/results.csv.expected
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Fix condition for disabling colors in CLI output
  changelog/2361
  vendored-dune/ligo-utils/simple-utils/snippet.ml
Due: pages, pages-attempt, deploy_website_preview

Start with clean clone for npm action
  .ci/.gitlab-ci-npm.yml
Due: none

Extend JsLIGO nested update syntax
  changelog/2331
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/passes/04-tree_abstraction/jsligo/compiler.ml
  src/passes/04-tree_abstraction/jsligo/errors.ml
  src/test/contracts/interpreter_tests/record_field_assign.jsligo
  src/test/contracts/negative/interpreter_tests/bad_record_field_assign1.jsligo
  src/test/contracts/negative/interpreter_tests/bad_record_field_assign2.jsligo
Due: pages, pages-attempt, deploy_website_preview

Lexing: match on input and call scan functions accordingly
  src/passes/01-lexing/cameligo/LexerMain.ml
  src/passes/01-lexing/jsligo/LexerMain.ml
  src/passes/01-lexing/pyligo/LexerMain.ml
  src/passes/01-lexing/shared/TopAPI.ml
  vendored-dune/LexerLib/CLI.ml
  vendored-dune/LexerLib/Options.ml
  vendored-dune/LexerLib/Options.mli
Due: none

[#1653] Implement `document link` request
  src/main/ligo_lsp/requests/document_link.ml
  src/main/ligo_lsp/requests/handler.mli
  src/main/ligo_lsp/requests/on_doc.ml
  src/main/ligo_lsp/requests/requests.ml
  src/main/ligo_lsp/server.ml
  src/main/ligo_lsp/utils/utils.ml
  tools/vscode/README.md
Due: none

[#1660] Add functions to test handlers. Add tests for `document link` handler.
  src/main/ligo_lsp/server.ml
  src/test/lsp_test.ml
  src/test/lsp_test/document_link.ml
  src/test/lsp_test/handlers.ml
  src/test/lsp_test/requests.ml
Due: none

[Chore] Add `Utils.get_cst` and `Handler.with_cst` functions
  src/main/helpers/syntax.ml
  src/main/ligo_lsp/ligo_interface/ligo_interface.ml
  src/main/ligo_lsp/requests/definition.ml
  src/main/ligo_lsp/requests/handler.ml
  src/main/ligo_lsp/requests/handler.mli
  src/main/ligo_lsp/requests/hover.ml
  src/main/ligo_lsp/requests/on_doc.ml
  src/main/ligo_lsp/requests/prepare_rename.ml
  src/main/ligo_lsp/requests/references.ml
  src/main/ligo_lsp/requests/rename.ml
  src/main/ligo_lsp/requests/requests.ml
  src/main/ligo_lsp/requests/type_definition.ml
  src/main/ligo_lsp/server.ml
  src/main/ligo_lsp/utils/utils.ml
Due: none

[Bot] add changelog entry
  changelog/2358
Due: pages, pages-attempt, deploy_website_preview

Build: remove warnings 44/70 from LSP folders
  src/main/ligo_lsp/dune
  src/main/ligo_lsp/ligo_interface/dune
  src/main/ligo_lsp/requests/dune
  src/main/ligo_lsp/requests/handler.mli
  src/main/ligo_lsp/utils/dune
Due: none

[LIGO-832] Wallet connection fix
  tools/webide-new/ligo-webide-frontend/README.md
  tools/webide-new/ligo-webide-frontend/ligo-ide/config.json
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/ligo-components/eth-sdk/networks.js
Due: webide-new-frontend-build-and-push

Path conditions:
  check-generated-highlighting: any of: tools/ligo-syntax-highlighting/**/*
  webide-backend-build-and-push-backend: any of: tools/webide/**/*, src/test/examples/**/*
  webide-new-backend-build-and-push-backend: any of: tools/webide-new/ligo-webide-backend/**/*
  webide-new-frontend-build-and-push: any of: tools/webide-new/ligo-webide-frontend/ligo-ide/**/*
  pages: any of: gitlab-pages/**/*, changelog/*
  pages-attempt: any of: gitlab-pages/**/*, changelog/*
  algolia-crawl: any of: gitlab-pages/**/*
  deploy_website_preview: any of: gitlab-pages/**/*, changelog/*
  deploy-handoff-feature: any of: tools/webide/**/*, src/test/examples/**/*
  deploy-handoff: any of: tools/webide/**/*, src/test/examples/**/*
  build-preview-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
  build-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
