Repository ligolang/ligo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-generated-highlighting, pages, pages-attempt, algolia-crawl, deploy_website_preview

Path conditions:
  check-generated-highlighting: any of: tools/ligo-syntax-highlighting/**/*
  pages: any of: gitlab-pages/**/*, changelog/*
  pages-attempt: any of: gitlab-pages/**/*, changelog/*
  algolia-crawl: any of: gitlab-pages/**/*
  deploy_website_preview: any of: gitlab-pages/**/*, changelog/*

Fix typo in errors message
  src/passes/10-checking/errors.ml
Due: none

[JsLIGO] Updating syntax error messages to use record/field instead of object/property
  changelog/2999
  src/bin/expect_tests/module_restrict.ml
  src/bin/expect_tests/switch_jsligo_syntax_error.ml
  src/passes/02-parsing/cameligo/Pretty.ml
  src/passes/02-parsing/jsligo/Parser.mly
  src/passes/02-parsing/jsligo/errors.msg.in
Due: pages, pages-attempt, deploy_website_preview

[#2087] Fix false negative for dynamic entrypoints
  src/main/scopes/types_pass.ml
  src/stages/5-ast_typed/misc.ml
  src/test/lsp_test/diagnostics.ml
  src/test/lsp_test/hover.ml
Due: none

[Bot] add changelog entry
  changelog/3004
Due: pages, pages-attempt, deploy_website_preview

webide-a: Compile in deployModal with module to avoid issue
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/ligo-components/ligo-project/Project/ProjectToolbar/DeployModal.tsx
Due: none

[Chore] Remove ghost_ident from hover Problem: ghost tokens may appear in hover Solution: Replace them with Unresolved
  src/main/ligo_lsp/requests/diagnostics.ml
  src/main/ligo_lsp/requests/hover.ml
  src/passes/02-parsing/cameligo/ParToken.mly
  src/passes/02-parsing/cameligo/Pretty.ml
  src/passes/02-parsing/jsligo/ParToken.mly
  src/passes/02-parsing/jsligo/Pretty.ml
  src/passes/02-parsing/pascaligo/ParToken.mly
  src/passes/02-parsing/pascaligo/Pretty.ml
  src/passes/02-parsing/pyligo/ParToken.mly
  src/passes/02-parsing/shared/Errors.ml
  src/passes/02-parsing/shared/Errors.mli
  src/test/contracts/lsp/hover/missing_module.mligo
  src/test/contracts/lsp/hover/missing_type.mligo
  src/test/contracts/lsp/hover/missing_type_annot.mligo
  src/test/error-recovery/error_recovery.ml
  src/test/error-recovery/fuzzing/cameligo/test.ml
  src/test/error-recovery/fuzzing/jsligo/test.ml
  src/test/error-recovery/fuzzing/pascaligo/test.ml
  src/test/error-recovery/simple/pascaligo/test.ml
  src/test/lsp_test/cst_fold.ml
  src/test/lsp_test/hover.ml
Due: none

[Bot] add changelog entry
  changelog/3000
Due: pages, pages-attempt, deploy_website_preview

Fix: handle tick `'` in CameLIGO's `T_ForAll`
  changelog/3006
  src/bin/expect_tests/polymorphism.ml
  src/passes/03-unification/cameligo/compile.ml
  src/test/contracts/polymorphism/module_type.mligo
Due: pages, pages-attempt, deploy_website_preview

[#2021] Allow user to choose faster implementations for LSP completions
  changelog/2827
  src/main/ligo_lsp/requests/completion.ml
  src/main/ligo_lsp/requests/completion/common.ml
  src/main/ligo_lsp/requests/completion/scope.ml
  src/main/ligo_lsp/requests/folding_range.ml
  src/main/ligo_lsp/requests/handler.ml
  src/main/ligo_lsp/server.ml
  src/test/lsp_test/completion.ml
  src/test/lsp_test/folding_range.ml
  src/test/lsp_test/handlers.ml
  tools/vscode/package.json
Due: pages, pages-attempt, deploy_website_preview

Fix: dynamic entries in top-level module and stdlib
  changelog/2976
  src/bin/expect_tests/dynamic_entrypoints.ml
  src/passes/11-self_ast_typed/dynamic_entrypoints.ml
  src/test/contracts/dynamic_entrypoints_context.mligo
  src/test/contracts/dynamic_entrypoints_top_stdlib.jsligo
Due: pages, pages-attempt, deploy_website_preview

Internal: use %michelson instead of %Michelson in stdlib
  src/main/build/ligo_lib/std_lib.mligo
Due: none

Fix: make monomorphisation descent into E_raw_code for %michelson
  changelog/2982
  src/bin/expect_tests/polymorphism.ml
  src/passes/13-self_ast_aggregated/monomorphisation.ml
  src/stages/6-ast_aggregated/combinators.ml
  src/test/contracts/polymorphism/monomorphisation_raw.mligo
Due: pages, pages-attempt, deploy_website_preview

[Bot] Update release metadata 1.2.0
  .ci/.metadata.yml
Due: none

[Chore] Bump tooling for LIGO 1.2.0 release
  tools/debugger/ligo-debugger/ligo-debugger.cabal
  tools/debugger/ligo-debugger/package.yaml
  tools/debugger/ligo-debugger/src/resources/versions/recommended
  tools/vscode/package.json
Due: none

[Chore] Rename the VSCode extension
  tools/vscode/package.json
Due: none

[Chore] Hotfix 'get_release_ligo_binary'
  .ci/.gitlab-ci-debugger.yml
Due: none

Documentation visual improvements :lipstick:
  gitlab-pages/docs/language-basics/modules.md
  gitlab-pages/website/docusaurus.config.js
  gitlab-pages/website/sidebars.js
  gitlab-pages/website/src/components/Community/styles.module.css
  gitlab-pages/website/src/components/Hero/index.tsx
  gitlab-pages/website/src/components/HomepageFeatures/index.js
  gitlab-pages/website/src/components/ScrollToAnchor.tsx
  gitlab-pages/website/src/css/custom.css
  gitlab-pages/website/src/css/theme-light.css
  gitlab-pages/website/src/plugins/syntax/output/theme/Syntax/SyntaxContext.js
  gitlab-pages/website/src/plugins/syntax/output/theme/Syntax/SyntaxSwitch.js
  gitlab-pages/website/src/plugins/syntax/output/theme/Syntax/styles.module.css
  gitlab-pages/website/src/plugins/syntax/output/theme/SyntaxTitle/index.js
  gitlab-pages/website/src/plugins/syntax/src/theme/Syntax/SyntaxContext.js
  gitlab-pages/website/src/plugins/syntax/src/theme/Syntax/SyntaxSwitch.js
  gitlab-pages/website/src/plugins/syntax/src/theme/Syntax/index.js
  gitlab-pages/website/src/plugins/syntax/src/theme/Syntax/styles.module.css
  gitlab-pages/website/src/plugins/syntax/src/theme/SyntaxTitle/index.js
  gitlab-pages/website/src/theme/DocBreadcrumbs/index.js
  gitlab-pages/website/src/theme/DocBreadcrumbs/styles.module.css
  gitlab-pages/website/src/theme/DocItem/Metadata/index.js
  gitlab-pages/website/src/theme/DocItem/TOC/Desktop/index.js
  gitlab-pages/website/src/theme/DocItem/TOC/Mobile/index.js
  gitlab-pages/website/src/theme/DocItem/TOC/Mobile/styles.module.css
  gitlab-pages/website/src/theme/DocItem/index.js
  gitlab-pages/website/src/theme/DocSidebar/Desktop/index.js
  gitlab-pages/website/src/theme/DocSidebar/Desktop/styles.module.css
  gitlab-pages/website/src/theme/DocSidebarItem/Link/index.js
  gitlab-pages/website/src/theme/DocSidebarItem/Link/styles.module.css
  gitlab-pages/website/src/theme/DocSidebarItem/index.js
  gitlab-pages/website/src/theme/Navbar/MobileSidebar/Layout/index.js
  gitlab-pages/website/src/theme/Navbar/MobileSidebar/Layout/styles.module.css
  gitlab-pages/website/src/theme/Root.js
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Algolia Optimizations
  gitlab-pages/website/src/plugins/syntax/output/theme/SyntaxTitle/index.js
  gitlab-pages/website/src/plugins/syntax/src/theme/SyntaxTitle/index.js
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[Chore] Catch unhandled exceptions in following passes
  src/main/ligo_lsp/lsp_helpers/get_scope.ml
  src/main/ligo_lsp/lsp_helpers/ligo_interface.ml
  src/main/ligo_lsp/requests/on_doc.ml
  src/test/decompiler_tests.ml
Due: none

[#1642] Identify more literals during CST folds
  src/stages/1-cst/pascaligo/CST.ml
Due: none

[#1642] Implement semantic tokens for all dialects
  src/bin/cli.ml
  src/main/ligo_lsp/lsp_helpers/lsp_helpers.ml
  src/main/ligo_lsp/requests/dune
  src/main/ligo_lsp/requests/on_doc.ml
  src/main/ligo_lsp/requests/requests.ml
  src/main/ligo_lsp/requests/semantic_highlight.ml
  src/main/ligo_lsp/server.ml
  src/stages/1-cst/jsligo/Fold.ml
  src/stages/1-cst/jsligo/Print.ml
  src/test/contracts/dynamic_entrypoints.mligo
  src/test/lsp_test.ml
  src/test/lsp_test/dune
  src/test/lsp_test/requests.ml
  src/test/lsp_test/semantic_highlight.ml
  tools/emacs/ligo-mode.el
  tools/vim/ligo/start/ligo/plugin/ligo.vim
  tools/vscode/README.md
  tools/vscode/client/src/lsp/LspExtension.ts
  tools/vscode/client/src/lsp/command.ts
  vendored-dune/syntax-highlighting/Emacs.ml
  vendored-dune/syntax-highlighting/VIM.ml
Due: none

[Bot] add changelog entry
  changelog/2722
Due: pages, pages-attempt, deploy_website_preview

[website] link to bounties platform in footer.
  gitlab-pages/website/docusaurus.config.js
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Distribute ligo arm64 unix binary attached to release
  .ci/.gitlab-ci-release.yml
  .ci/scripts/pipeline_optimization/mr_dockerfile_pre_process.sh
  .gitlab-ci.yml
  Dockerfile
  changelog/3019
Due: pages, pages-attempt, deploy_website_preview

[#2110] Fix complex patterns
  src/main/scopes/PP.ml
  src/main/scopes/dune
  src/main/scopes/env.ml
  src/main/scopes/types_pass.ml
Due: none

[#2110] Add tests
  src/bin/expect_tests/get_scope.ml
  src/test/contracts/get_scope_tests/complex_patterns.mligo
Due: none

[#2110] Add a hover test
  src/test/lsp_test/hover.ml
Due: none

[Bot] add changelog entry
  changelog/3024
Due: pages, pages-attempt, deploy_website_preview

[#2056] Add missing syntax highlighting keyword and fix unbounded type annotations with includes
  tools/emacs/ligo-mode.el
  tools/ligo-syntax-highlighting/CameLIGO.ml
  tools/ligo-syntax-highlighting/JsLIGO.ml
  tools/ligo-syntax-highlighting/textmate/jsligo.tmLanguage.json
  tools/ligo-syntax-highlighting/textmate/mligo.tmLanguage.json
  tools/vim/ligo/start/ligo/syntax/jsligo.vim
  tools/vim/ligo/start/ligo/syntax/mligo.vim
  tools/vscode/syntaxes/jsligo.tmLanguage.json
  tools/vscode/syntaxes/mligo.tmLanguage.json
Due: check-generated-highlighting

[#2056] Support getting implementations of sigs
  src/bin/expect_tests/get_scope.ml
  src/bin/expect_tests/get_scope_regressions.ml
  src/main/ligo_lsp/lsp_helpers/def.ml
  src/main/ligo_lsp/lsp_helpers/graph.ml
  src/main/ligo_lsp/lsp_helpers/helpers_pretty.ml
  src/main/ligo_lsp/lsp_helpers/lsp_helpers.ml
  src/main/ligo_lsp/requests/completion/common.ml
  src/main/ligo_lsp/requests/completion/modules.ml
  src/main/ligo_lsp/requests/completion/scope.ml
  src/main/ligo_lsp/requests/go_to_definition.ml
  src/main/ligo_lsp/server.ml
  src/main/scopes/PP.ml
  src/main/scopes/definitions.ml
  src/main/scopes/dune
  src/main/scopes/env.ml
  src/main/scopes/misc.ml
  src/main/scopes/module_aliases_pass.ml
  src/main/scopes/references.ml
  src/main/scopes/scopes.ml
  src/main/scopes/scopes.mli
  src/main/scopes/types.ml
  src/main/scopes/types_pass.ml
  src/passes/03-unification/cameligo/compile.ml
  src/stages/ligo_primitive/declaration.ml
  src/test/lsp_test/hover.ml
  tools/vscode/README.md
  vendored-dune/ligo-utils/simple-utils/PP_helpers.ml
Due: none

[#2056] Add references tests
  src/test/lsp_test/references.ml
Due: none

[#2056] Use a better representation for module paths
  src/bin/expect_tests/get_scope.ml
  src/bin/expect_tests/get_scope_regressions.ml
  src/main/ligo_lsp/lsp_helpers/helpers_pretty.ml
  src/main/ligo_lsp/requests/completion/modules.ml
  src/main/ligo_lsp/requests/go_to_definition.ml
  src/main/ligo_lsp/requests/references.ml
  src/main/scopes/PP.ml
  src/main/scopes/definitions.ml
  src/main/scopes/misc.ml
  src/main/scopes/module_aliases_pass.ml
  src/main/scopes/types.ml
Due: none

[#2056] Add definition tests
  src/test/contracts/lsp/go_to_implementations/inline.mligo
  src/test/contracts/lsp/go_to_implementations/multiple_definitions.jsligo
  src/test/contracts/lsp/go_to_implementations/ref_from_top_level.mligo
  src/test/contracts/lsp/go_to_implementations/sig_alias.mligo
  src/test/contracts/lsp/go_to_implementations/simple.mligo
  src/test/contracts/lsp/go_to_implementations/two_namespaces.jsligo
  src/test/lsp_test/definition.ml
Due: none

[#2056] Document what is the difference between the req types
  src/main/ligo_lsp/requests/go_to_definition.ml
Due: none

[#2056] Handle references for signature items
  src/main/ligo_lsp/lsp_helpers/def.ml
  src/main/ligo_lsp/lsp_helpers/graph.ml
  src/main/ligo_lsp/requests/go_to_definition.ml
  src/main/ligo_lsp/requests/prepare_rename.ml
  src/main/ligo_lsp/requests/references.ml
  src/main/ligo_lsp/requests/rename.ml
Due: none

[#2056] Find implementers from signature names
  src/main/ligo_lsp/requests/go_to_definition.ml
  src/main/scopes/definitions.ml
  src/main/scopes/types.ml
  src/test/lsp_test/definition.ml
Due: none

[#2056] Handle "go to declaration"
  src/main/ligo_lsp/requests/go_to_definition.ml
  src/main/ligo_lsp/server.ml
  src/test/lsp_test/definition.ml
Due: none

[Bot] add changelog entry
  changelog/2981
Due: pages, pages-attempt, deploy_website_preview
