Repository ligolang/ligo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-generated-highlighting, pages, pages-attempt, algolia-crawl, deploy_website_preview

Path conditions:
  check-generated-highlighting: any of: tools/ligo-syntax-highlighting/**/*
  pages: any of: gitlab-pages/**/*, changelog/*
  pages-attempt: any of: gitlab-pages/**/*, changelog/*
  algolia-crawl: any of: gitlab-pages/**/*
  deploy_website_preview: any of: gitlab-pages/**/*, changelog/*

fix(ci): remove esy dependency
  Dockerfile
Due: none

[Bot] Update release metadata 1.7.0
  .ci/.metadata.yml
Due: none

fix: remove git collisions due to case sensitivity
  gitlab-pages/docs/reference/Big_set.md
  gitlab-pages/docs/reference/Bitwise.md
  gitlab-pages/docs/reference/Bytes.md
  gitlab-pages/docs/reference/Crypto.md
  gitlab-pages/docs/reference/Dynamic_entrypoints.md
  gitlab-pages/docs/reference/List.md
  gitlab-pages/docs/reference/Option.md
  gitlab-pages/docs/reference/Set.md
  gitlab-pages/docs/reference/String.md
  gitlab-pages/docs/reference/Tezos.md
  gitlab-pages/website/versioned_docs/version-1.7.0/reference/Big_set.md
  gitlab-pages/website/versioned_docs/version-1.7.0/reference/Bitwise.md
  gitlab-pages/website/versioned_docs/version-1.7.0/reference/Bytes.md
  gitlab-pages/website/versioned_docs/version-1.7.0/reference/Crypto.md
  gitlab-pages/website/versioned_docs/version-1.7.0/reference/Dynamic_entrypoints.md
  gitlab-pages/website/versioned_docs/version-1.7.0/reference/List.md
  gitlab-pages/website/versioned_docs/version-1.7.0/reference/Option.md
  gitlab-pages/website/versioned_docs/version-1.7.0/reference/Set.md
  gitlab-pages/website/versioned_docs/version-1.7.0/reference/String.md
  gitlab-pages/website/versioned_docs/version-1.7.0/reference/Tezos.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

fix(docs): fix broken link
  gitlab-pages/website/blog/2023-09-20-v1-migration-guide.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

chore: bump release versions for vscode and debugger
  tools/debugger/ligo-debugger/ligo-debugger.cabal
  tools/debugger/ligo-debugger/package.yaml
  tools/vscode/package.json
Due: none

[doc] Update docs on exceptions and eliminate duplication
  changelog-tools/website/3233
  gitlab-pages/docs/imperative/exceptions.md
  gitlab-pages/docs/imperative/failing.md
  gitlab-pages/docs/imperative/src/exceptions/failwith.jsligo
  gitlab-pages/docs/imperative/src/exceptions/failwith.mligo
  gitlab-pages/docs/imperative/src/failing/failwith.jsligo
  gitlab-pages/docs/imperative/src/failing/failwith.mligo
  gitlab-pages/docs/language-basics/exceptions.md
  gitlab-pages/docs/language-basics/src/exceptions/failwith_alt.jsligo
  gitlab-pages/docs/language-basics/src/exceptions/failwith_alt.mligo
  gitlab-pages/docs/language-basics/src/exceptions/failwith_assert_with_error.jsligo
  gitlab-pages/docs/language-basics/src/exceptions/failwith_assert_with_error.mligo
  gitlab-pages/website/sidebars.js
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

fix(ci/vsce): bump node version to 20 in publish job
  .ci/.gitlab-ci-vscode-extension.yml
Due: none

[doc] Update page on views and restore to the TOC
  changelog-tools/website/3230
  gitlab-pages/docs/contract/src/views/callonchainview.jsligo
  gitlab-pages/docs/contract/src/views/callonchainview.mligo
  gitlab-pages/docs/contract/src/views/onchainviews.jsligo
  gitlab-pages/docs/contract/src/views/onchainviews.mligo
  gitlab-pages/docs/contract/views.md
  gitlab-pages/docs/tezos/decorators/src/view/view.jsligo
  gitlab-pages/docs/tezos/decorators/src/view/view.mligo
  gitlab-pages/docs/tezos/decorators/view.md
  gitlab-pages/website/sidebars.js
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[doc] Remove get_chain_id topic
  gitlab-pages/docs/tezos/chain_id.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Import the Test.Next module for easier future upgrade
  gitlab-pages/docs/testing/src/testing/mycontract-failures.jsligo
  gitlab-pages/docs/testing/src/testing/mycontract-failures.mligo
  gitlab-pages/docs/testing/src/testing/mycontract-test.jsligo
  gitlab-pages/docs/testing/src/testing/mycontract-test.mligo
  gitlab-pages/docs/testing/src/testing/reset.jsligo
  gitlab-pages/docs/testing/src/testing/reset.mligo
  gitlab-pages/docs/testing/src/testing/test-accounts.jsligo
  gitlab-pages/docs/testing/src/testing/test-accounts.mligo
  gitlab-pages/docs/testing/src/testing/test_ex.jsligo
  gitlab-pages/docs/testing/src/testing/test_ex.mligo
  gitlab-pages/docs/testing/src/testing/tezos_specific.jsligo
  gitlab-pages/docs/testing/src/testing/unit-remove-balance-complete.jsligo
  gitlab-pages/docs/testing/src/testing/unit-remove-balance-complete.mligo
  gitlab-pages/docs/testing/src/testing/unit-remove-balance-mixed.jsligo
  gitlab-pages/docs/testing/src/testing/unit-remove-balance-mixed.mligo
  gitlab-pages/docs/testing/testing.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[doc] Update and clarify docs about entrypoints
  changelog-tools/website/3232
  gitlab-pages/docs/advanced/attributes-decorators.md
  gitlab-pages/docs/advanced/entrypoints-contracts.md
  gitlab-pages/docs/advanced/img-entrypoint-contracts/webide-jsligo.png
  gitlab-pages/docs/advanced/img-entrypoint-contracts/webide-mligo.png
  gitlab-pages/docs/advanced/src/entrypoints-contracts/test.jsligo
  gitlab-pages/docs/advanced/src/entrypoints-contracts/test.mligo
  gitlab-pages/docs/advanced/src/entrypoints-contracts/ungrouped.jsligo
  gitlab-pages/docs/tezos/contracts/entrypoints.md
  gitlab-pages/docs/tezos/contracts/src/entrypoints/c.jsligo
  gitlab-pages/docs/tezos/contracts/src/entrypoints/c.mligo
  gitlab-pages/docs/tezos/contracts/src/entrypoints/call_entrypoint.jsligo
  gitlab-pages/docs/tezos/contracts/src/entrypoints/call_entrypoint.mligo
  gitlab-pages/docs/tezos/contracts/src/entrypoints/complex_param.jsligo
  gitlab-pages/docs/tezos/contracts/src/entrypoints/complex_param.mligo
  gitlab-pages/docs/tezos/contracts/src/entrypoints/contract_main.jsligo
  gitlab-pages/docs/tezos/contracts/src/entrypoints/contract_main.mligo
  gitlab-pages/docs/tezos/contracts/src/entrypoints/contract_main_proxy.jsligo
  gitlab-pages/docs/tezos/contracts/src/entrypoints/contract_main_proxy.mligo
  gitlab-pages/docs/tezos/contracts/src/entrypoints/d.jsligo
  gitlab-pages/docs/tezos/contracts/src/entrypoints/d.mligo
  gitlab-pages/docs/tezos/contracts/src/entrypoints/incdec.jsligo
  gitlab-pages/docs/tezos/contracts/src/entrypoints/incdec.mligo
  gitlab-pages/docs/tezos/contracts/src/entrypoints/send_tez.jsligo
  gitlab-pages/docs/tezos/contracts/src/entrypoints/send_tez.mligo
  gitlab-pages/website/sidebars.js
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[doc] Use a smart contract address for a better example
  gitlab-pages/docs/tezos/contracts/operation.md
  gitlab-pages/docs/tezos/contracts/src/operation/get_entrypoint.jsligo
  gitlab-pages/docs/tezos/contracts/src/operation/get_entrypoint.mligo
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Imported the first version of the TypeScript AST in OCaml.
  lib/typescript_ast/StaticNodesReader.ml
  lib/typescript_ast/dune
  lib/typescript_ast/node-types.json
  lib/typescript_ast/ts_ast.ml
Due: none

Formatting.
  lib/typescript_ast/StaticNodesReader.ml
  lib/typescript_ast/ts_ast.ml
Due: none

Forgot the type for... a program.
  lib/typescript_ast/ts_ast.ml
Due: none

[#1995] Implement Ligo dep for jsligo
  src/stages/4-ast_core/ast_core.ml
  src/stages/4-ast_core/ligo_dep_jsligo.ml
  src/stages/4-ast_core/ligo_dep_jsligo.mli
Due: none

[#1995] Add test for ligo dep for jsligo
  src/test/ast_production.ml
  src/test/contracts/import_decls.jsligo
Due: none

[Bot] add changelog entry
  changelog/3249
Due: pages, pages-attempt, deploy_website_preview

Use full Discord link
  gitlab-pages/website/docusaurus.config.js
  gitlab-pages/website/src/components/Community/index.tsx
  gitlab-pages/website/src/theme/Footer/Layout/index.js
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Refactoring of tree-sitter-typescript
  lib/tree_sitter/api_funcs_desc.ml
  lib/tree_sitter/api_types_desc.ml
  lib/tree_sitter/dune
  lib/tree_sitter_example/dune
  lib/tree_sitter_example/example.ml
  lib/tree_sitter_typescript/api_funcs_desc.ml
  lib/tree_sitter_typescript/api_types_desc.ml
  lib/tree_sitter_typescript/dune
Due: none

[#1990] Add bin_prot dependency
  dune-project
  ligo.opam
Due: none

[#1990] Make types support serialization
  src/passes/10-checking/type/type_def.ml
  src/stages/ligo_primitive/abstraction.ml
  src/stages/ligo_primitive/arrow.ml
  src/stages/ligo_primitive/binder.ml
  src/stages/ligo_primitive/binder.mli
  src/stages/ligo_primitive/constant.ml
  src/stages/ligo_primitive/declaration.ml
  src/stages/ligo_primitive/dune
  src/stages/ligo_primitive/kind.ml
  src/stages/ligo_primitive/label.ml
  src/stages/ligo_primitive/layout.ml
  src/stages/ligo_primitive/ligo_prim_intf.ml
  src/stages/ligo_primitive/literal_types.ml
  src/stages/ligo_primitive/literal_value.ml
  src/stages/ligo_primitive/row.ml
  src/stages/ligo_primitive/sig_item_attr.ml
  src/stages/ligo_primitive/sig_type_attr.ml
  src/stages/ligo_primitive/signature_attr.ml
  src/stages/ligo_primitive/type_or_module_attr.ml
  src/stages/ligo_primitive/union.ml
  src/stages/ligo_primitive/value_attr.ml
  src/stages/ligo_primitive/var.ml
  src/stages/ligo_primitive/var.mli
  vendored-dune/ligo-utils/simple-utils/Ligo_string.ml
  vendored-dune/ligo-utils/simple-utils/Ligo_string.mli
  vendored-dune/ligo-utils/simple-utils/Ligo_z.ml
  vendored-dune/ligo-utils/simple-utils/Ligo_z.mli
  vendored-dune/ligo-utils/simple-utils/Ne_list.ml
  vendored-dune/ligo-utils/simple-utils/Ne_list.mli
  vendored-dune/ligo-utils/simple-utils/dune
  vendored-dune/ligo-utils/simple-utils/location.ml
  vendored-dune/ligo-utils/simple-utils/pos.ml
  vendored-dune/ligo-utils/simple-utils/pos.mli
  vendored-dune/ligo-utils/simple-utils/region.ml
  vendored-dune/ligo-utils/simple-utils/region.mli
Due: none

[#1990] Support serialization for Ast_typed
  src/stages/5-ast_typed/dune
  src/stages/5-ast_typed/types.ml
Due: none

misc
  lib/tree_sitter_example/example.ml
Due: none

[#1990] Introduce persistent env
  src/passes/10-checking/cmi.ml
  src/passes/10-checking/cmi.mli
  src/passes/10-checking/persistent_env.ml
Due: none

[#1990] Update typechecker to use persistent env
  src/bin/repl.ml
  src/main/api/common/compile.ml
  src/main/api/common/resolve_config.ml
  src/main/api/common/run.ml
  src/main/compile/of_core.ml
  src/main/compile/utils.ml
  src/main/scopes/types_pass.ml
  src/passes/10-checking/checking.ml
  src/passes/10-checking/checking.mli
  src/passes/10-checking/computation.ml
  src/passes/10-checking/computation.mli
  src/passes/10-checking/dune
  src/passes/10-checking/type/dune
  src/test/test_helpers.ml
Due: none

[#1990] Update BuildSystem lib
  lib/ligo_build_system/BuildSystem.ml
  lib/ligo_build_system/dune
Due: none

[#1990] Update build system implementation
  src/main/build/build.ml
  src/main/build/build.mli
  src/main/build/dune
Due: none

[#1990] Add test for serialization
  lib/ligo_build_system/BuildSystem.ml
  src/main/build/build.ml
  src/main/build/build.mli
  src/test/dune
  src/test/serialization_tests.ml
  src/test/test.ml
Due: none

[#1990] Promote package management tests
  src/bin/expect_tests/package_management.ml
Due: none

[#1990] Update .gitignore
  .gitignore
Due: none

[Bot] add changelog entry
  changelog/3248
Due: pages, pages-attempt, deploy_website_preview

[#1991] Remove old import decl
  src/stages/4-ast_core/PP.ml
  src/stages/4-ast_core/types.ml
  src/stages/ligo_primitive/declaration.ml
  src/stages/ligo_primitive/ligo_prim.ml
Due: none

[#1991] Update typechecker
  src/passes/10-checking/checking.ml
  src/passes/10-checking/untyper.ml
Due: none

Added JS blocks in the comments, which are now odoc comments.
  lib/typescript_ast/Static_nodes_reader.ml
  lib/typescript_ast/ts_ast.ml
Due: none

Forgot to add a couple of changes that were requested.
  lib/typescript_ast/Static_nodes_reader.ml
  lib/typescript_ast/dune
Due: none

Changes to the TypeScript AST as requested.
  lib/typescript_ast/ts_ast.ml
Due: none

Renamed root_node into program_node.
  lib/tree_sitter_example/example.ml
Due: none
