Repository ligolang/ligo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-generated-highlighting, webide-backend-build-and-push-backend, webide-new-backend-build-and-push-backend, webide-new-frontend-build-and-push, pages, pages-attempt, algolia-crawl, deploy_website_preview, deploy-handoff-feature, deploy-handoff, build-preview-ligo-webide-front-end, build-ligo-webide-front-end

check-generated-highlighting:
  stage: tooling
  dependencies:
  - docker_extract
  script:
  - scripts/diff_dir.sh highlighting/emacs tools/emacs
  - scripts/diff_dir.sh highlighting/vim/ftdetect tools/vim/ligo/start/ligo/ftdetect
  - scripts/diff_dir.sh highlighting/vim/plugin tools/vim/ligo/start/ligo/plugin
  ...

webide-backend-build-and-push-backend:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  - cp -r src/test/examples tools/webide/packages/client/examples
  ...

webide-new-backend-build-and-push-backend:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  needs:
  - job: changelog
    artifacts: false
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  - docker build tools/webide-new/ligo-webide-backend -t ${WEBIDE_NEW_IMAGE_TAG}
  ...

webide-new-frontend-build-and-push:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  needs:
  - job: changelog
    artifacts: false
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  ...

pages:
  stage: push
  tags:
  - docker
  image: node:16.17.0-buster
  needs:
  - job: changelog
    artifacts: true
  script:
  - export DOC_PATH=./gitlab-pages/docs
  - export WEBSITE_PATH=./gitlab-pages/website
  - cp -f ./changelog.md $DOC_PATH/intro/changelog.md
  ...

pages-attempt:
  stage: push
  tags:
  - docker
  image: node:16.17.0-buster
  needs:
  - job: changelog
    artifacts: true
  script:
  - export DOC_PATH=./gitlab-pages/docs
  - export WEBSITE_PATH=./gitlab-pages/website
  - cp -f ./changelog.md $DOC_PATH/intro/changelog.md
  ...

algolia-crawl:
  stage: push
  needs:
  - job: pages
  script:
  - "sleep 10 \ncurl -X post  -H \"Content-Type: application/json\" --user ${ALGOLIA_CRAWLER_ID}:${ALGOLIA_CRAWLER_TOKEN} https://crawler.algolia.com/api/1/crawlers/bb0597ba-5abc-45ba-bdf9-99f8152e87b0/reindex\n"

deploy_website_preview:
  stage: deploy
  image: node:16.17.0-buster
  tags:
  - docker
  needs:
  - job: pages-attempt
    artifacts: true
  script:
  - apt-get update
  - apt-get install -y --no-install-recommends jq
  - npm install netlify-cli
  ...

deploy-handoff-feature:
  stage: deploy
  variables:
    APP_NAME: web-ide-backend
    NEW_VERSION: ${CI_COMMIT_SHORT_SHA}
    ENV: non-prod
  trigger:
    project: ligolang/kubernetes-infrastructure

deploy-handoff:
  stage: deploy
  variables:
    APP_NAME: web-ide-backend
    NEW_VERSION: ${CI_COMMIT_SHORT_SHA}
    ENV: prod
  trigger:
    project: ligolang/kubernetes-infrastructure

[Chore] Rename `entrypoint` and `michelsonEntrypoint`
  src/main/api/common/resolve_config.ml
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Call.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Types.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Helpers.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Impl.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Types.hs
  tools/debugger/ligo-debugger/test/Test/Breakpoints.hs
  tools/debugger/ligo-debugger/test/Test/DebugInfo.hs
  tools/debugger/ligo-debugger/test/Test/LigoCall.hs
  tools/debugger/ligo-debugger/test/Test/Navigation.hs
  tools/debugger/ligo-debugger/test/Test/Snapshots.hs
  tools/debugger/ligo-debugger/test/Test/Util.hs
  tools/debugger/ligo-debugger/test/configs/full_config.jsligo
  tools/debugger/ligo-debugger/test/configs/full_config.mligo
  tools/debugger/ligo-debugger/test/configs/omitted_fields.jsligo
  tools/debugger/ligo-debugger/test/configs/omitted_fields.mligo
  tools/debugger/ligo-debugger/test/contracts/no-modules.mligo
  tools/debugger/ligo-debugger/test/contracts/two-module-names.mligo
  tools/vscode/README.md
  tools/vscode/client/src/debugger/LigoDebugConfigurationProvider.ts
  tools/vscode/client/src/debugger/LigoDebugContext.ts
  tools/vscode/client/src/debugger/LigoProtocolClient.ts
  tools/vscode/client/src/debugger/base.ts
  tools/vscode/client/src/debugger/messages.ts
  tools/vscode/client/src/debugger/ui.ts
  tools/vscode/package.json
  tools/vscode/resources/config_snippets/config.jsligo
  tools/vscode/resources/config_snippets/config.mligo
Due: none

[Bot] add changelog entry
  changelog-tools/debugger/2843
Due: none

[#2028] Fix region of generated unit pattern
  src/passes/04-nanopasses/passes/array_to_tuple.ml
  src/test/lsp_test/definition.ml
  src/test/lsp_test/hover.ml
Due: none

[#2031] Fix the location of generated unit type
  src/bin/expect_tests/get_scope_full_stdlib.ml
  src/main/interpreter/common/interpreter.ml
  src/main/interpreter/common/tezos_state.ml
  src/passes/04-nanopasses/passes/compute_layout.ml
  src/passes/10-checking/constant_typers.ml
  src/test/contracts/lsp/hovers.mligo
  src/test/lsp_test/hover.ml
Due: none

JsLIGO: fix `function` type ascr.
  changelog/2852
  src/bin/expect_tests/contract_tests.ml
  src/passes/03-unification/jsligo/compile.ml
  src/test/contracts/function_ascr.jsligo
Due: pages, pages-attempt, deploy_website_preview

[#2024] Fix completion tests
  src/main/ligo_lsp/requests/completion.ml
  src/test/contracts/lsp/completion_similar_name.jsligo
  src/test/lsp_test/completion.ml
Due: none

ligo alpha publication
  .gitlab-ci.yml
  gitlab-pages/website/docusaurus.config.js
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Issue in CICD to publish alpha
  .gitlab-ci.yml
Due: none

Laucans/website revamp 1
  gitlab-pages/docs/intro/installation.md
  gitlab-pages/docs/intro/ligo-intro.md
  gitlab-pages/docs/protocol/oxford.md
  gitlab-pages/docs/tutorials/getting-started/getting-started.md
  gitlab-pages/website/sidebars.js
  gitlab-pages/website/src/components/HomepageCodeExamples/cameligo.mligo
  gitlab-pages/website/src/components/HomepageCodeExamples/index.js
  gitlab-pages/website/src/components/HomepageCodeExamples/jsligo.jsligo
  gitlab-pages/website/src/pages/index.js
  gitlab-pages/website/versioned_docs/version-0.71.1/intro/installation.md
  gitlab-pages/website/versioned_docs/version-0.71.1/intro/ligo-intro.md
  gitlab-pages/website/versioned_docs/version-0.71.1/protocol/oxford.md
  gitlab-pages/website/versioned_docs/version-0.71.1/tutorials/getting-started/getting-started.md
  gitlab-pages/website/versioned_docs/version-0.72.0/intro/installation.md
  gitlab-pages/website/versioned_docs/version-0.72.0/intro/ligo-intro.md
  gitlab-pages/website/versioned_docs/version-0.72.0/protocol/oxford.md
  gitlab-pages/website/versioned_docs/version-0.72.0/tutorials/getting-started/getting-started.md
  gitlab-pages/website/versioned_docs/version-0.73.0/intro/installation.md
  gitlab-pages/website/versioned_docs/version-0.73.0/intro/ligo-intro.md
  gitlab-pages/website/versioned_docs/version-0.73.0/protocol/oxford.md
  gitlab-pages/website/versioned_docs/version-0.73.0/tutorials/getting-started/getting-started.md
  gitlab-pages/website/versioned_sidebars/version-0.71.1-sidebars.json
  gitlab-pages/website/versioned_sidebars/version-0.72.0-sidebars.json
  gitlab-pages/website/versioned_sidebars/version-0.73.0-sidebars.json
  src/bin/expect_tests/homepage.ml
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[fix] [website] broken links on intro page
  gitlab-pages/docs/intro/ligo-intro.md
  gitlab-pages/website/versioned_docs/version-0.71.1/intro/ligo-intro.md
  gitlab-pages/website/versioned_docs/version-0.72.0/intro/ligo-intro.md
  gitlab-pages/website/versioned_docs/version-0.73.0/intro/ligo-intro.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

CI: Fix VSCode e2e tests
  .dockerignore
  tools/vscode/Dockerfile
  tools/vscode/package.json
Due: none

Docs: add an explanation on how to compile off-chain views using function-body
  gitlab-pages/docs/contract/views.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[Chore] Fix a bug with one entrypoint
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Helpers.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Impl.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Types.hs
  tools/vscode/client/src/debugger/LigoDebugConfigurationProvider.ts
  tools/vscode/client/src/debugger/LigoProtocolClient.ts
  tools/vscode/client/src/debugger/messages.ts
Due: none

[Bot] add changelog entry
  changelog-tools/debugger/2847
Due: none

[Chore] Fix JsLIGO syntax highlighting
  changelog-tools/vscode-plugin/2863
  src/bin/dune
  src/package-management/alpha.ml
  src/package-management/alpha.mli
  src/test/ligo_install_tests.ml
  src/test/test.ml
  tools/emacs/ligo-mode.el
  tools/ligo-syntax-highlighting/JsLIGO.ml
  tools/ligo-syntax-highlighting/regexp.ml
  tools/ligo-syntax-highlighting/textmate/jsligo.tmLanguage.json
  tools/vim/ligo/start/ligo/syntax/jsligo.vim
  tools/vscode/syntaxes/jsligo.tmLanguage.json
Due: check-generated-highlighting

Laucans/rework taco shop
  gitlab-pages/docs/reference/test.md
  gitlab-pages/docs/tutorials/taco-shop/tezos-taco-shop-payout.md
  gitlab-pages/docs/tutorials/taco-shop/tezos-taco-shop-smart-contract.jsligo
  gitlab-pages/docs/tutorials/taco-shop/tezos-taco-shop-smart-contract.md
  gitlab-pages/docs/tutorials/taco-shop/tezos-taco-shop-smart-contract.mligo
  gitlab-pages/docs/tutorials/taco-shop/tezos-taco-shop-test.jsligo
  gitlab-pages/docs/tutorials/taco-shop/tezos-taco-shop-test.mligo
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[#2024] Fix promoted folding range tests
  changelog/2866
  src/main/ligo_lsp/requests/folding_range.ml
  src/passes/02-parsing/jsligo/Parser.mly
  src/stages/1-cst/shared/Nodes.ml
  src/test/lsp_test/folding_range.ml
Due: pages, pages-attempt, deploy_website_preview

layout faq are now accessible on every ligo versions
  gitlab-pages/website/versioned_sidebars/version-0.71.1-sidebars.json
  gitlab-pages/website/versioned_sidebars/version-0.72.0-sidebars.json
  gitlab-pages/website/versioned_sidebars/version-0.73.0-sidebars.json
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

fix faq section
  gitlab-pages/website/versioned_docs/version-0.71.1/faq/layout-comb-how.md
  gitlab-pages/website/versioned_docs/version-0.71.1/faq/layout-comb-why.md
  gitlab-pages/website/versioned_docs/version-0.72.0/faq/layout-comb-how.md
  gitlab-pages/website/versioned_docs/version-0.72.0/faq/layout-comb-why.md
  gitlab-pages/website/versioned_docs/version-0.73.0/faq/layout-comb-how.md
  gitlab-pages/website/versioned_docs/version-0.73.0/faq/layout-comb-why.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[#1934] Resolve "Doc about annotation @view"
  gitlab-pages/docs/contract/views.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[#1888] Propagate locations for the environment in the source mapper
  src/bin/expect_tests/contract_tests.ml
  src/formatter/dune
  src/formatter/ligo_formatter.ml
  src/passes/16-scoping/scoping.ml
Due: none

[#1888] Fix a bug with disappearing unused variables
  tools/debugger/ligo-debugger/ligo-debugger.cabal
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Call.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Helpers.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Types.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Helpers.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Impl.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Snapshots.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Scope.hs
  tools/debugger/ligo-debugger/test/Test/DebugInfo.hs
  tools/debugger/ligo-debugger/test/Test/Snapshots.hs
  tools/debugger/ligo-debugger/test/Test/Util.hs
  tools/debugger/ligo-debugger/test/golden/Continue/simple-case-with-breakpoints.golden
  tools/debugger/ligo-debugger/test/golden/Next/breakpoint-causes-interrupt-when-we-are-going-over-function-granularity-expression-pre-post.golden
  tools/debugger/ligo-debugger/test/golden/Next/breakpoint-causes-interrupt-when-we-are-going-over-function-granularity-expression.golden
  tools/debugger/ligo-debugger/test/golden/Next/breakpoint-causes-interrupt-when-we-are-going-over-function-granularity-statement.golden
  tools/debugger/ligo-debugger/test/golden/Next/go-from-within-f-granularity-expression-pre-post.golden
  tools/debugger/ligo-debugger/test/golden/Next/go-from-within-f-granularity-expression.golden
  tools/debugger/ligo-debugger/test/golden/Next/go-from-within-f-granularity-statement.golden
  tools/debugger/ligo-debugger/test/golden/Next/go-over-toplevel-granularity-expression-pre-post.golden
  tools/debugger/ligo-debugger/test/golden/Next/go-over-toplevel-granularity-expression.golden
  tools/debugger/ligo-debugger/test/golden/Next/go-over-toplevel-granularity-statement.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/basic-case-caml-expression-granularity.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/basic-case-caml-expression-pre-post-granularity.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/basic-case-caml-statement-granularity.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/basic-case-js-statement-granularity.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/big-tuples-have-correct-evaluated-value.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/checking-for-testcontractsstatementinmatchbranchmligo-contract.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/checking-for-testcontractsstatementsincasebranchjsligo-contract.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/constant-recognized-as-statement.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/local-function-assignments-are-statements.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/module-entrypoint-decrement.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/module-entrypoint-increment.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/module-entrypoint-reset.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/record-update-is-statement.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/seq-nodes-dont-have-expression-locations-in-snapshots.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/toplevel-functions-with-preprocessor-dont-have-expression-locations-in-snapshots.golden
  tools/debugger/ligo-debugger/test/golden/StepOut/exit-f.golden
  tools/debugger/ligo-debugger/test/golden/StepOut/exit-main-function.golden
  tools/debugger/ligo-debugger/test/golden/StepOut/is-not-interfered-by-breakpoints.golden
Due: none

[Bot] add changelog entry
  changelog-tools/debugger/2872
Due: none

Code injection: new code injection for directly using `CREATE_CONTRACT` + `of_file`
  changelog/2860
  src/bin/expect_tests/contract_tests.ml
  src/passes/04-nanopasses/passes/errors.ml
  src/passes/04-nanopasses/passes/of_file.ml
  src/passes/13-self_ast_aggregated/monomorphisation.ml
  src/stages/2-ast_unified/combinators.ml
  src/test/contracts/create_contract_of_file.jsligo
  src/test/contracts/create_contract_of_file.mligo
  src/test/contracts/negative/create_contract_of_file.jsligo
  src/test/contracts/negative/of_file.mligo
Due: pages, pages-attempt, deploy_website_preview

Upgrade syntax for JsLIGO decorators
  changelog/2873
  gitlab-pages/docs/advanced/entrypoints-contracts.md
  gitlab-pages/docs/advanced/inline.md
  gitlab-pages/docs/advanced/interop.md
  gitlab-pages/docs/advanced/testing.md
  gitlab-pages/docs/api/cheat-sheet.md
  gitlab-pages/docs/faq/layout-comb-how.md
  gitlab-pages/docs/language-basics/maps-records.md
  gitlab-pages/docs/reference/test.md
  src/bin/expect_tests/contract_tests.ml
  src/passes/01-lexing/jsligo/Self-passes/Tokens/Attributes.ml
  src/passes/02-parsing/jsligo/Pretty.ml
  src/test/contracts/entry_contract_for_list_declaration.jsligo
  src/test/contracts/formatter/line_comment_on_field.jsligo
  src/test/contracts/formatter/line_comment_on_field_formatted.jsligo
  src/test/contracts/modules.jsligo
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[Chore] Add more keywords to CameLIGO syntax highlighting
  changelog-tools/vscode-plugin/2874
  src/bin/expect_tests/cli_expect.ml
  src/bin/expect_tests/contract_tests.ml
  src/main/build/helpers.ml
  src/passes/10-checking/computation.ml
  src/passes/11-self_ast_typed/errors.ml
  src/passes/11-self_ast_typed/make_entry_point.ml
  src/stages/5-ast_typed/misc.mli
  src/stages/ligo_primitive/row.ml
  tools/emacs/ligo-mode.el
  tools/ligo-syntax-highlighting/CameLIGO.ml
  tools/ligo-syntax-highlighting/regexp.ml
  tools/ligo-syntax-highlighting/textmate/mligo.tmLanguage.json
  tools/vim/ligo/start/ligo/syntax/mligo.vim
  tools/vscode/syntaxes/mligo.tmLanguage.json
Due: check-generated-highlighting

ligo dry-run bug fix
  changelog/2876
  src/bin/expect_tests/contract_tests.ml
  src/main/api/common/run.ml
  src/test/contracts/simple_contract_in_module.jsligo
Due: pages, pages-attempt, deploy_website_preview

[Chore] Refactor syntax highlighting generator tool
  src/bin/expect_tests/contract_tests.ml
  tools/emacs/ligo-mode.el
  tools/ligo-syntax-highlighting/CameLIGO.ml
  tools/ligo-syntax-highlighting/JsLIGO.ml
  tools/ligo-syntax-highlighting/PascaLIGO.ml
  tools/ligo-syntax-highlighting/regexp.ml
  tools/ligo-syntax-highlighting/textmate/jsligo.tmLanguage.json
  tools/ligo-syntax-highlighting/textmate/ligo.tmLanguage.json
  tools/vim/ligo/start/ligo/syntax/jsligo.vim
  tools/vim/ligo/start/ligo/syntax/ligo.vim
  tools/vscode/syntaxes/jsligo.tmLanguage.json
  tools/vscode/syntaxes/ligo.tmLanguage.json
Due: check-generated-highlighting

Prompt user for email in case they lose their password
  changelog/2840
  src/bin/cli.ml
  src/bin/dune
  src/bin/prompt.ml
  src/bin/user.ml
Due: pages, pages-attempt, deploy_website_preview

Run ocamlformat
  src/bin/expect_tests/contract_tests.ml
Due: none

Path conditions:
  check-generated-highlighting: any of: tools/ligo-syntax-highlighting/**/*
  webide-backend-build-and-push-backend: any of: tools/webide/**/*, src/test/examples/**/*
  webide-new-backend-build-and-push-backend: any of: tools/webide-new/ligo-webide-backend/**/*
  webide-new-frontend-build-and-push: any of: tools/webide-new/ligo-webide-frontend/ligo-ide/**/*
  pages: any of: gitlab-pages/**/*, changelog/*
  pages-attempt: any of: gitlab-pages/**/*, changelog/*
  algolia-crawl: any of: gitlab-pages/**/*
  deploy_website_preview: any of: gitlab-pages/**/*, changelog/*
  deploy-handoff-feature: any of: tools/webide/**/*, src/test/examples/**/*
  deploy-handoff: any of: tools/webide/**/*, src/test/examples/**/*
  build-preview-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
  build-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
