Repository ligolang/ligo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-generated-highlighting, webide-backend-build-and-push-backend, webide-new-backend-build-and-push-backend, webide-new-frontend-build-and-push, pages, pages-attempt, algolia-crawl, deploy_website_preview, deploy-handoff-feature, deploy-handoff, build-preview-ligo-webide-front-end, build-ligo-webide-front-end

check-generated-highlighting:
  stage: tooling
  dependencies:
  - docker_extract
  script:
  - scripts/diff_dir.sh highlighting/emacs tools/emacs
  - scripts/diff_dir.sh highlighting/vim/ftdetect tools/vim/ligo/start/ligo/ftdetect
  - scripts/diff_dir.sh highlighting/vim/plugin tools/vim/ligo/start/ligo/plugin
  ...

webide-backend-build-and-push-backend:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  - cp -r src/test/examples tools/webide/packages/client/examples
  ...

webide-new-backend-build-and-push-backend:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  needs:
  - job: changelog
    artifacts: false
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  - docker build tools/webide-new/ligo-webide-backend -t ${WEBIDE_NEW_IMAGE_TAG}
  ...

webide-new-frontend-build-and-push:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  needs:
  - job: changelog
    artifacts: false
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  ...

pages:
  stage: push
  tags:
  - docker
  image: node:16.17.0-buster
  needs:
  - job: changelog
    artifacts: true
  script:
  - export DOC_PATH=./gitlab-pages/docs
  - export WEBSITE_PATH=./gitlab-pages/website
  - cp -f ./changelog.md $DOC_PATH/intro/changelog.md
  ...

pages-attempt:
  stage: push
  tags:
  - docker
  image: node:16.17.0-buster
  needs:
  - job: changelog
    artifacts: true
  script:
  - export DOC_PATH=./gitlab-pages/docs
  - export WEBSITE_PATH=./gitlab-pages/website
  - cp -f ./changelog.md $DOC_PATH/intro/changelog.md
  ...

algolia-crawl:
  stage: push
  needs:
  - job: pages
  script:
  - "sleep 10 \ncurl -X post  -H \"Content-Type: application/json\" --user ${ALGOLIA_CRAWLER_ID}:${ALGOLIA_CRAWLER_TOKEN} https://crawler.algolia.com/api/1/crawlers/bb0597ba-5abc-45ba-bdf9-99f8152e87b0/reindex\n"

deploy_website_preview:
  stage: deploy
  image: node:16.17.0-buster
  tags:
  - docker
  needs:
  - job: pages-attempt
    artifacts: true
  script:
  - apt-get update
  - apt-get install -y --no-install-recommends jq
  - npm install netlify-cli
  ...

deploy-handoff-feature:
  stage: deploy
  variables:
    APP_NAME: web-ide-backend
    NEW_VERSION: ${CI_COMMIT_SHORT_SHA}
    ENV: non-prod
  trigger:
    project: ligolang/kubernetes-infrastructure

deploy-handoff:
  stage: deploy
  variables:
    APP_NAME: web-ide-backend
    NEW_VERSION: ${CI_COMMIT_SHORT_SHA}
    ENV: prod
  trigger:
    project: ligolang/kubernetes-infrastructure

Use Uri.t for registry uri everywhere
  src/bin/cli.ml
  src/bin/install.ml
  src/bin/user.ml
  src/init/ligo_init.ml
  src/main/helpers/constants.ml
  src/main/helpers/ligo_rc.ml
  src/main/helpers/ligo_rc.mli
  src/package-management/external-libs/dune
  src/package-management/external-libs/ligo_uri.ml
  src/package-management/publish.ml
  src/package-management/publish.mli
  src/package-management/registry/response.ml
  src/package-management/unpublish.ml
  src/package-management/unpublish.mli
Due: none

Adds sub command `forgot-user`
  src/bin/cli.ml
  src/bin/dune
  src/bin/forgot_password.ml
  src/bin/prompt.ml
  src/bin/user.ml
  src/main/helpers/ligo_rc.ml
  src/package-management/registry/README.md
  src/package-management/registry/dune
  src/package-management/registry/forgot_password.ml
  src/package-management/registry/forgot_password.mli
  src/package-management/registry/profile.ml
  src/package-management/registry/profile.mli
  src/package-management/registry/whoami.ml
  src/package-management/registry/whoami.mli
Due: none

[webide] update header to match with website one
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/components/LigoHeader.tsx
Due: webide-new-frontend-build-and-push

[Chore] Fix CameLIGO's tuple types in the debugger
  tools/debugger/ligo-debugger/src/Language/LIGO/AST/Pretty.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Impl.hs
  tools/debugger/ligo-debugger/test/golden/Next/breakpoint-causes-interrupt-when-we-are-going-over-function-granularity-expression-pre-post.golden
  tools/debugger/ligo-debugger/test/golden/Next/breakpoint-causes-interrupt-when-we-are-going-over-function-granularity-expression.golden
  tools/debugger/ligo-debugger/test/golden/Next/go-from-within-f-granularity-expression-pre-post.golden
  tools/debugger/ligo-debugger/test/golden/Next/go-from-within-f-granularity-expression.golden
  tools/debugger/ligo-debugger/test/golden/Next/go-over-toplevel-granularity-expression-pre-post.golden
  tools/debugger/ligo-debugger/test/golden/Next/go-over-toplevel-granularity-expression.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/basic-case-caml-expression-granularity.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/basic-case-caml-expression-pre-post-granularity.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/big-tuples-have-correct-evaluated-value.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/local-function-assignments-are-statements.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/module-entrypoint-decrement.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/module-entrypoint-increment.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/module-entrypoint-reset.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/toplevel-functions-with-preprocessor-dont-have-expression-locations-in-snapshots.golden
Due: none

Refactor: factor out prompts
  src/bin/dune
  src/bin/forgot_password.ml
  src/bin/prompt.ml
  src/bin/user.ml
Due: none

[Bot] add changelog entry
  changelog/2875
Due: pages, pages-attempt, deploy_website_preview

Adds documention manpage
  gitlab-pages/docs/manpages/registry forgot-password.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Apply 8 suggestion(s) to 4 file(s)
  src/bin/forgot_password.ml
  src/bin/user.ml
  src/init/ligo_init.ml
  src/main/helpers/ligo_rc.ml
  src/package-management/registry/forgot_password.ml
Due: none

Fix dune runtest
  src/bin/expect_tests/dynamic_entrypoints.ml
  src/bin/expect_tests/misc_cli_commands.ml
  src/bin/prompt.ml
  src/stages/ligo_primitive/var.ml
Due: none

[#2029] FAQ: Guide on migrating existing code to v1
  changelog-tools/website/2857
  gitlab-pages/docs/advanced/entrypoints-contracts.md
  gitlab-pages/docs/faq/v1-migration-guide.md
  gitlab-pages/website/sidebars.js
  gitlab-pages/website/versioned_docs/version-0.71.1/advanced/entrypoints-contracts.md
  gitlab-pages/website/versioned_docs/version-0.72.0/advanced/entrypoints-contracts.md
  gitlab-pages/website/versioned_docs/version-0.73.0/advanced/entrypoints-contracts.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

JsLIGO: added `_` as a parameter in function types.
  changelog/2891
  src/bin/expect_tests/contract_tests.ml
  src/passes/02-parsing/jsligo/Parser.mly
  src/passes/02-parsing/jsligo/errors.msg.in
  src/test/contracts/wildcard_in_type.jsligo
Due: pages, pages-attempt, deploy_website_preview

Xavierm02/dynamic entries doc and tests
  gitlab-pages/docs/advanced/dynamic-entrypoints.md
  gitlab-pages/docs/reference/dynamic_entrypoints.md
  gitlab-pages/website/sidebars.js
  src/bin/expect_tests/dynamic_entrypoints.ml
  src/test/contracts/dynamic_entrypoints.jsligo
  src/test/contracts/dynamic_entrypoints_tests.jsligo
  src/test/contracts/negative/dynamic_entry_wrong_storage.jsligo
  src/test/contracts/negative/opt_out_dynamic_entrypoints.jsligo
  src/test/contracts/opt_out_dynamic_entrypoints.jsligo
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[website] v1 migration guide on every versions
  gitlab-pages/website/versioned_docs/version-0.71.1/faq/v1-migration-guide.md
  gitlab-pages/website/versioned_docs/version-0.72.0/faq/v1-migration-guide.md
  gitlab-pages/website/versioned_docs/version-0.73.0/faq/v1-migration-guide.md
  gitlab-pages/website/versioned_sidebars/version-0.71.1-sidebars.json
  gitlab-pages/website/versioned_sidebars/version-0.72.0-sidebars.json
  gitlab-pages/website/versioned_sidebars/version-0.73.0-sidebars.json
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[CI] Change debugger test to be allowed to fail
  .ci/.gitlab-ci-debugger.yml
Due: none

Re-enable tests in test.ml
  src/test/ligo_init_tests.ml
  src/test/test.ml
Due: none

Fixes package install URIs
  src/bin/install.ml
  src/package-management/alpha.ml
Due: none

test: comment cases rejected by the parser
  src/test/contracts/wildcards.jsligo
Due: none

[JsLIGO] Allow _ as an expression
  changelog/2890
  src/bin/expect_tests/contract_tests.ml
  src/passes/02-parsing/cameligo/ParToken.mly
  src/passes/02-parsing/jsligo/ParToken.mly
  src/passes/02-parsing/jsligo/Parser.mly
  src/passes/02-parsing/jsligo/errors.msg.in
  src/passes/02-parsing/pascaligo/ParToken.mly
  src/passes/02-parsing/pyligo/ParToken.mly
  src/test/contracts/wildcards.jsligo
  src/test/error-recovery/fuzzing/jsligo/test.ml
  src/test/error-recovery/fuzzing/pascaligo/test.ml
  src/test/error-recovery/simple/cameligo/test.ml
  src/test/error-recovery/simple/jsligo/test.ml
  src/test/error-recovery/simple/pascaligo/test.ml
Due: pages, pages-attempt, deploy_website_preview

Fixes endpoint URI for whoami request
  src/package-management/registry/whoami.ml
Due: none

Interfaces: fix extra entries error
  changelog/2897
  src/bin/expect_tests/contract_tests.ml
  src/passes/10-checking/checking.ml
  src/test/contracts/interfaces.extra.jsligo
Due: pages, pages-attempt, deploy_website_preview

[#1642] Prepare the front-end for semantic tokens
  src/main/scopes/types_pass.ml
  src/passes/02-parsing/cameligo/Pretty.ml
  src/passes/02-parsing/jsligo/Parser.mly
  src/passes/02-parsing/jsligo/Pretty.ml
  src/passes/02-parsing/pascaligo/JsLIGO.ml
  src/passes/03-unification/jsligo/compile.ml
  src/passes/03-unification/jsligo/decompile.ml
  src/passes/04-nanopasses/passes/pattern_constructor_application.ml
  src/stages/1-cst/cameligo/CST.ml
  src/stages/1-cst/cameligo/Fold.ml
  src/stages/1-cst/cameligo/Print.ml
  src/stages/1-cst/jsligo/CST.ml
  src/stages/1-cst/jsligo/Fold.ml
  src/stages/1-cst/jsligo/Print.ml
  src/stages/1-cst/pascaligo/CST.ml
  src/stages/1-cst/pascaligo/Fold.ml
  src/test/error-recovery/README.md
  src/test/error-recovery/fuzzing/jsligo/test.ml
  src/test/error-recovery/simple/jsligo/test.ml
  src/test/transpilation/expected/all_the_things.jsligo.expected
Due: none

Replace _esy directory with _ligo directory in package management alpha
  changelog/2883
  src/package-management/alpha.ml
  vendored-dune/Preprocessor/ModRes.ml
  vendored-dune/Preprocessor/dune
Due: pages, pages-attempt, deploy_website_preview

[Chore] Fix pretty printing of nullary constructotrs in JsLIGO
  src/passes/02-parsing/jsligo/Pretty.ml
  src/test/contracts/lsp/format_me.jsligo
  src/test/contracts/lsp/formatted.jsligo
  src/test/error-recovery/simple/jsligo/test.ml
  src/test/transpilation/expected/all_the_things.jsligo.expected
Due: none

Migration guide: uncurried views are deprecated
  changelog-tools/website/2903
  gitlab-pages/docs/faq/v1-migration-guide.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Fixed typo
  gitlab-pages/docs/faq/v1-migration-guide.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

CLI: Package management: Adds ligo install package-name
  changelog/2904
  src/bin/install.ml
  src/package-management/alpha.ml
  src/package-management/alpha.mli
  src/test/ligo_install_tests.ml
Due: pages, pages-attempt, deploy_website_preview

CLI: Detect project root with the help of ligo.json manifest
  src/bin/install.ml
Due: none

Refactor: make prompt.ml a separate library for other CLI libs
  src/bin/dune
  src/bin/prompt.ml
Due: none

CLI: redo CLI messages in ligo install
  src/bin/dune
  src/bin/install.ml
  src/bin/prompt.ml
Due: none

Signatures: preserve them in `ast-typed`
  changelog/2900
  src/bin/expect_tests/signature.ml
  src/bin/repl.ml
  src/main/compile/of_typed.ml
  src/main/scopes/types_pass.ml
  src/passes/04-nanopasses/trivial.ml
  src/passes/10-checking/checking.ml
  src/passes/10-checking/computation.ml
  src/passes/10-checking/computation.mli
  src/passes/10-checking/context.ml
  src/passes/10-checking/context.mli
  src/passes/10-checking/elaboration.ml
  src/passes/10-checking/module_type.ml
  src/passes/10-checking/untyper.ml
  src/passes/11-self_ast_typed/dynamic_entrypoints.ml
  src/passes/11-self_ast_typed/helpers.ml
  src/passes/12-aggregation/compiler.ml
  src/stages/4-ast_core/PP.ml
  src/stages/4-ast_core/types.ml
  src/stages/5-ast_typed/PP.ml
  src/stages/5-ast_typed/helpers.ml
  src/stages/5-ast_typed/misc.ml
  src/stages/5-ast_typed/types.ml
  src/stages/ligo_primitive/declaration.ml
  src/stages/ligo_primitive/ligo_prim.ml
  src/stages/ligo_primitive/signature_attr.ml
  src/test/contracts/signature/FA0.impl.jsligo
  src/test/contracts/signature/FA0.interface.jsligo
  src/test/contracts/signature/FA0.interface.mligo
  src/test/contracts/signature/interface.jsligo
Due: pages, pages-attempt, deploy_website_preview

[Chore] Add missing syntax highlighting tokens
  changelog-tools/vscode-plugin/2902
  tools/emacs/ligo-mode.el
  tools/ligo-syntax-highlighting/CameLIGO.ml
  tools/ligo-syntax-highlighting/JsLIGO.ml
  tools/ligo-syntax-highlighting/textmate/jsligo.tmLanguage.json
  tools/ligo-syntax-highlighting/textmate/mligo.tmLanguage.json
  tools/vim/ligo/start/ligo/syntax/jsligo.vim
  tools/vim/ligo/start/ligo/syntax/mligo.vim
  tools/vscode/syntaxes/jsligo.tmLanguage.json
  tools/vscode/syntaxes/mligo.tmLanguage.json
Due: check-generated-highlighting

[Bot] add changelog entry
  changelog-tools/debugger/2884
Due: none

Package management: fixes package imports when manifest didn't exist
  src/package-management/alpha.ml
Due: none

CLI: Package management: json file validation takes project root
  src/bin/install.ml
  src/package-management/alpha.ml
  src/package-management/alpha.mli
Due: none

CLI: Package management: no manifest cases do not error anymore
  src/bin/install.ml
Due: none

Package management: handles missing package version better
  src/package-management/alpha.ml
  src/package-management/alpha.mli
Due: none

Improved errors for bad views
  src/passes/11-self_ast_typed/make_entry_point.ml
Due: none

Made `@layout` syntax more explicit in v1 migration guide
  gitlab-pages/docs/faq/v1-migration-guide.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Path conditions:
  check-generated-highlighting: any of: tools/ligo-syntax-highlighting/**/*
  webide-backend-build-and-push-backend: any of: tools/webide/**/*, src/test/examples/**/*
  webide-new-backend-build-and-push-backend: any of: tools/webide-new/ligo-webide-backend/**/*
  webide-new-frontend-build-and-push: any of: tools/webide-new/ligo-webide-frontend/ligo-ide/**/*
  pages: any of: gitlab-pages/**/*, changelog/*
  pages-attempt: any of: gitlab-pages/**/*, changelog/*
  algolia-crawl: any of: gitlab-pages/**/*
  deploy_website_preview: any of: gitlab-pages/**/*, changelog/*
  deploy-handoff-feature: any of: tools/webide/**/*, src/test/examples/**/*
  deploy-handoff: any of: tools/webide/**/*, src/test/examples/**/*
  build-preview-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
  build-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
