Repository ligolang/ligo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-generated-highlighting, webide-backend-build-and-push-backend, webide-new-backend-build-and-push-backend, webide-new-frontend-build-and-push, pages, pages-attempt, algolia-crawl, deploy_website_preview, deploy-handoff-feature, deploy-handoff, build-preview-ligo-webide-front-end, build-ligo-webide-front-end

Path conditions:
  check-generated-highlighting: any of: tools/ligo-syntax-highlighting/**/*
  webide-backend-build-and-push-backend: any of: tools/webide/**/*, src/test/examples/**/*
  webide-new-backend-build-and-push-backend: any of: tools/webide-new/ligo-webide-backend/**/*
  webide-new-frontend-build-and-push: any of: tools/webide-new/ligo-webide-frontend/ligo-ide/**/*
  pages: any of: gitlab-pages/**/*, changelog/*
  pages-attempt: any of: gitlab-pages/**/*, changelog/*
  algolia-crawl: any of: gitlab-pages/**/*
  deploy_website_preview: any of: gitlab-pages/**/*, changelog/*
  deploy-handoff-feature: any of: tools/webide/**/*, src/test/examples/**/*
  deploy-handoff: any of: tools/webide/**/*, src/test/examples/**/*
  build-preview-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
  build-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*

[#1920] Prevent diags from other files to be shown
  changelog/2646
  src/main/ligo_lsp/lsp_helpers/def.ml
  src/main/ligo_lsp/lsp_helpers/document_uri.ml
  src/main/ligo_lsp/lsp_helpers/path.ml
  src/main/ligo_lsp/requests/diagnostics.ml
  src/main/ligo_lsp/requests/dune
  src/main/ligo_lsp/requests/handler.ml
  src/main/ligo_lsp/requests/on_doc.ml
  src/main/ligo_lsp/requests/references.ml
  src/main/ligo_lsp/requests/type_definition.ml
  src/main/ligo_lsp/server.ml
  src/test/contracts/lsp/import_warnings.jsligo
  src/test/lsp_test/alcotest_extras/alcotest_extras.ml
  src/test/lsp_test/definition.ml
  src/test/lsp_test/diagnostics.ml
  src/test/lsp_test/handlers.ml
Due: pages, pages-attempt, deploy_website_preview

[Chore] Fix syntax highlighting for CameLIGO attrs
  tools/ligo-syntax-highlighting/Makefile
  tools/ligo-syntax-highlighting/regexp.ml
  tools/ligo-syntax-highlighting/textmate/mligo.tmLanguage.json
  tools/vim/ligo/start/ligo/syntax/mligo.vim
  tools/vscode/syntaxes/mligo.tmLanguage.json
Due: check-generated-highlighting

[Chore] Fix attribute highlighting for JsLIGO
  tools/ligo-syntax-highlighting/JsLIGO.ml
  tools/ligo-syntax-highlighting/textmate/jsligo.tmLanguage.json
  tools/vscode/syntaxes/jsligo.tmLanguage.json
Due: check-generated-highlighting

Apply 1 suggestion(s) to 1 file(s)
  changelog/2470
Due: pages, pages-attempt, deploy_website_preview

[Chore] Write logs to a file
  src/bin/cli.ml
Due: none

[Chore] Write about the log file in README
  tools/vscode/README.md
Due: none

[Chore] Print location to log file
  src/bin/cli.ml
Due: none

introduce tabs in install page
  gitlab-pages/docs/intro/installation.md
  gitlab-pages/website/versioned_docs/version-0.65.0/intro/installation.md
  gitlab-pages/website/versioned_docs/version-0.66.0/intro/installation.md
  gitlab-pages/website/versioned_docs/version-0.67.1/intro/installation.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

webide-a: update webide
  .ci/.gitlab-ci-webide-new.yml
  .ci/scripts/update_distribution_references_with_release.sh
  tools/webide-new/flake.lock
  tools/webide-new/flake.nix
  tools/webide-new/ligo-webide-backend/README.md
  tools/webide-new/ligo-webide-backend/src/Ligo.hs
  tools/webide-new/ligo-webide-backend/test/Main.hs
  tools/webide-new/ligo-webide-backend/test/Test/Method/Compile.hs
  tools/webide-new/ligo-webide-backend/test/Test/Method/GenerateDeployScript.hs
  tools/webide-new/ligo-webide-frontend/ligo-ide/config.json
Due: webide-new-backend-build-and-push-backend, webide-new-frontend-build-and-push

Homepage with link to webide
  gitlab-pages/website/src/components/HomepageCodeExamples/index.js
  gitlab-pages/website/src/components/HomepageCodeExamples/styles.module.css
  gitlab-pages/website/src/css/custom.css
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

review sidebar
  gitlab-pages/docs/protocol/nairobi.md
  gitlab-pages/website/sidebars.js
  gitlab-pages/website/versioned_docs/version-0.67.1/protocol/nairobi.md
  gitlab-pages/website/versioned_sidebars/version-0.65.0-sidebars.json
  gitlab-pages/website/versioned_sidebars/version-0.66.0-sidebars.json
  gitlab-pages/website/versioned_sidebars/version-0.67.1-sidebars.json
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Perf: Implement a new algorithm for pattern matching compilation to reduce code size
  changelog/2655
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/deep_pattern_matching.ml
  src/passes/13.1-expansion/compiler.ml
  src/passes/13.1-expansion/decision_tree.ml
  src/passes/13.1-expansion/dune
  src/passes/13.1-expansion/expansion.ml
  src/passes/13.1-expansion/pattern_matching.ml
  src/passes/13.1-expansion/pattern_simpl.ml
  src/passes/13.1-expansion/substitution.ml
  src/passes/15-self_mini_c/self_mini_c.ml
  src/stages/ligo_primitive/label.ml
  src/stages/ligo_primitive/record.ml
  src/test/contracts/deep_pattern_matching/mini_shifumi.mligo
Due: pages, pages-attempt, deploy_website_preview

[#1840] Support providing custom execution environment
  tools/debugger/ligo-debugger/ligo-debugger.cabal
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Impl.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Types.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Snapshots.hs
  tools/debugger/ligo-debugger/test/Test/Util.hs
  tools/debugger/vscode-plugin/README.md
  tools/debugger/vscode-plugin/package.json
Due: none

[Bot] add changelog entry
  changelog-tools/debugger/2663
Due: none

Fix: definitions lost in case of Michelson injections
  src/bin/expect_tests/get_scope.ml
  src/bin/expect_tests/get_scope_errors_warns.ml
  src/bin/expect_tests/get_scope_full_stdlib.ml
  src/bin/expect_tests/get_scope_regressions.ml
  src/main/scopes/PP.ml
  src/main/scopes/definitions.ml
  src/main/scopes/schema.json
  src/main/scopes/scopes.ml
  src/main/scopes/types.ml
  src/test/contracts/lsp/references_michelson_inj.mligo
  src/test/lsp_test/references.ml
Due: none

[#1679] Fix Evaluate Function and improve Dry Run
  tools/vscode/client/src/commands/ligoCommands.ts
  tools/vscode/client/src/extension.ts
Due: none

[#1679] Prevent Generate Deploy Script from asking for entrypoint twice
  tools/vscode/client/src/commands/tezosCommands.ts
Due: none

[#1679] Fix invalid extension error when using Ext
  tools/vscode/client/src/commands/common.ts
Due: none

[#1679] Update protocol and client path
  tools/vscode/client/src/commands/tezosCommands.ts
Due: none

[#1679] Make code support more networks
  tools/vscode/client/src/commands/tezosCommands.ts
Due: none

[#1679] Add tests for buttons
  tools/vscode/.gitignore
  tools/vscode/.vscodeignore
  tools/vscode/package-lock.json
  tools/vscode/package.json
  tools/vscode/test/common.ts
  tools/vscode/test/contracts/simple.mligo
  tools/vscode/test/driver.ts
  tools/vscode/test/vsc-test/commands.test.ts
  tools/vscode/test/vsc-test/externalLib.test.ts
  tools/vscode/test/vsc-test/index.ts
  tools/vscode/yarn.lock
Due: none

[#1679] Update the way extension tests are run in Docker
  .ci/.gitlab-ci-lsp.yml
  tools/vscode/Dockerfile
  tools/vscode/flake.nix
  tools/vscode/package.json
Due: none

[Bot] add changelog entry
  changelog-tools/vscode-plugin/2586
Due: none

Internal: move `ast-typed` passes to `ast-aggregated`
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/get_scope.ml
  src/bin/expect_tests/get_scope_errors_warns.ml
  src/bin/expect_tests/get_scope_regressions.ml
  src/bin/expect_tests/top_level_binding_pattern_cameligo.ml
  src/bin/expect_tests/top_level_binding_pattern_jsligo.ml
  src/bin/expect_tests/warnings.ml
  src/main/api/common/compile.ml
  src/main/api/common/print.ml
  src/main/compile/of_core.ml
  src/main/compile/of_typed.ml
  src/main/compile/utils.ml
  src/main/interpreter/common/execution_monad.ml
  src/main/interpreter/common/interpreter.ml
  src/main/main_warnings/main_warnings.ml
  src/main/scopes/types_pass.ml
  src/passes/11-self_ast_typed/self_ast_typed.ml
  src/passes/13-self_ast_aggregated/check_metadata.ml
  src/passes/13-self_ast_aggregated/errors.ml
  src/passes/13-self_ast_aggregated/muchused.ml
  src/passes/13-self_ast_aggregated/no_nested_big_map.ml
  src/passes/13-self_ast_aggregated/recursion.ml
  src/passes/13-self_ast_aggregated/self_ast_aggregated.ml
  src/passes/13-self_ast_aggregated/unused.ml
  src/stages/6-ast_aggregated/combinators.ml
  src/test/lsp_test/diagnostics.ml
Due: none

Laucans/release process
  .ci/.gitlab-ci-release.yml
  .ci/scripts/homebrew/replace_bottle_reference.sh
  .ci/scripts/update_distribution_references_with_release.sh
Due: none

[Chore] Highlight 'from' as a keyword in JsLIGO
  tools/ligo-syntax-highlighting/JsLIGO.ml
  tools/ligo-syntax-highlighting/regexp.ml
  tools/ligo-syntax-highlighting/textmate/jsligo.tmLanguage.json
  tools/vscode/syntaxes/jsligo.tmLanguage.json
Due: check-generated-highlighting

regression: cameligo type puning
  changelog/2688
  src/passes/04-nanopasses/passes/compute_layout.ml
Due: pages, pages-attempt, deploy_website_preview

Document special constructions
  gitlab-pages/docs/advanced/testing.md
  gitlab-pages/docs/api/cheat-sheet.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[Chore] Fix document links on Linux
  changelog/2698
  src/main/ligo_lsp/lsp_helpers/lsp_helpers.ml
  src/test/lsp_test/document_link.ml
Due: pages, pages-attempt, deploy_website_preview

[Chore] Remove `ligo daemon`
  changelog/2690
  src/bin/cli.ml
  src/bin/daemon.ml
  src/bin/dune
  src/bin/expect_tests/help_tests.ml
Due: pages, pages-attempt, deploy_website_preview

web-ide: fix protocols info in config.json
  tools/webide-new/ligo-webide-frontend/ligo-ide/config.json
Due: webide-new-frontend-build-and-push

[Chore] Fix bug with wrong `to_point` `to_byte` conversion
  src/test/lsp_test/completion.ml
  src/test/lsp_test/diagnostics.ml
  vendored-dune/ParserLib/LowAPI.ml
Due: none

[Bot] add changelog entry
  changelog/2699
Due: pages, pages-attempt, deploy_website_preview

[#1950] Fix completion stack overflow with shadowed module
  src/main/ligo_lsp/lsp_helpers/helpers_pretty.ml
  src/main/ligo_lsp/requests/completion.ml
  src/main/scopes/PP.ml
  src/main/scopes/definitions.ml
  src/main/scopes/module_aliases_pass.ml
  src/main/scopes/module_aliases_pass.mli
  src/main/scopes/types.ml
  src/test/contracts/lsp/completion_shadowed_module_alias.jsligo
  src/test/contracts/lsp/completion_shadowed_module_alias.mligo
  src/test/contracts/lsp/completion_shadowed_module_alias.pligo
  src/test/lsp_test/completion.ml
Due: none

[#1950] Use a module with opaque type for `uid`
  src/main/ligo_lsp/lsp_helpers/helpers_pretty.ml
  src/main/ligo_lsp/requests/completion.ml
  src/main/scopes/PP.ml
  src/main/scopes/definitions.ml
  src/main/scopes/module_aliases_pass.ml
  src/main/scopes/module_aliases_pass.mli
  src/main/scopes/types.ml
Due: none

[Bot] add changelog entry
  changelog/2697
Due: pages, pages-attempt, deploy_website_preview
