Repository ligolang/ligo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-generated-highlighting, webide-backend-build-and-push-backend, webide-new-backend-build-and-push-backend, webide-new-frontend-build-and-push, pages, pages-attempt, algolia-crawl, deploy_website_preview, deploy-handoff-feature, deploy-handoff, build-preview-ligo-webide-front-end, build-ligo-webide-front-end

check-generated-highlighting:
  stage: tooling
  dependencies:
  - docker_extract
  script:
  - scripts/diff_dir.sh highlighting/emacs tools/emacs
  - scripts/diff_dir.sh highlighting/vim/ftdetect tools/vim/ligo/start/ligo/ftdetect
  - scripts/diff_dir.sh highlighting/vim/plugin tools/vim/ligo/start/ligo/plugin
  ...

webide-backend-build-and-push-backend:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  - cp -r src/test/examples tools/webide/packages/client/examples
  ...

webide-new-backend-build-and-push-backend:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  needs:
  - job: changelog
    artifacts: false
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  - docker build tools/webide-new/ligo-webide-backend -t ${WEBIDE_NEW_IMAGE_TAG}
  ...

webide-new-frontend-build-and-push:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  needs:
  - job: changelog
    artifacts: false
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  ...

pages:
  stage: push
  tags:
  - docker
  image: node:16.17.0-buster
  needs:
  - job: changelog
    artifacts: true
  script:
  - export DOC_PATH=./gitlab-pages/docs
  - export WEBSITE_PATH=./gitlab-pages/website
  - cp -f ./changelog.md $DOC_PATH/intro/changelog.md
  ...

pages-attempt:
  stage: push
  tags:
  - docker
  image: node:16.17.0-buster
  needs:
  - job: changelog
    artifacts: true
  script:
  - export DOC_PATH=./gitlab-pages/docs
  - export WEBSITE_PATH=./gitlab-pages/website
  - cp -f ./changelog.md $DOC_PATH/intro/changelog.md
  ...

algolia-crawl:
  stage: push
  needs:
  - job: pages
  script:
  - "sleep 10 \ncurl -X post  -H \"Content-Type: application/json\" --user ${ALGOLIA_CRAWLER_ID}:${ALGOLIA_CRAWLER_TOKEN} https://crawler.algolia.com/api/1/crawlers/bb0597ba-5abc-45ba-bdf9-99f8152e87b0/reindex\n"

deploy_website_preview:
  stage: deploy
  image: node:16.17.0-buster
  tags:
  - docker
  needs:
  - job: pages-attempt
    artifacts: true
  script:
  - apt-get update
  - apt-get install -y --no-install-recommends jq
  - npm install netlify-cli
  ...

deploy-handoff-feature:
  stage: deploy
  variables:
    APP_NAME: web-ide-backend
    NEW_VERSION: ${CI_COMMIT_SHORT_SHA}
    ENV: non-prod
  trigger:
    project: ligolang/kubernetes-infrastructure

deploy-handoff:
  stage: deploy
  variables:
    APP_NAME: web-ide-backend
    NEW_VERSION: ${CI_COMMIT_SHORT_SHA}
    ENV: prod
  trigger:
    project: ligolang/kubernetes-infrastructure

Add support for bytes-int & bytes-nat conversion
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/get_scope_full_stdlib.ml
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/environment/environment.ml
  src/main/build/ligo_lib/std_lib.mligo
  src/passes/10-checking/checking.ml
  src/passes/10-checking/constant_typers.ml
  src/passes/14-spilling/compiler.ml
  src/stages/ligo_primitive/literal_types.ml
  src/test/contracts/bytes_int_nat_conv.mligo
  src/test/contracts/interpreter_tests/interpret_test.mligo
Due: none

Update test for bitwise operators on bytes
  src/bin/expect_tests/contract_tests.ml
  src/test/contracts/bytes_bitwise.mligo
Due: none

docs: Add section for bytes-int, bytest-nat conversion
  gitlab-pages/docs/language-basics/strings-bytes.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

stupid change to avoid diff
  src/bin/expect_tests/contract_tests.ml
Due: none

Fix typos in docs
  gitlab-pages/docs/language-basics/strings-bytes.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Use `copy_files` to copy the .sexp files to root of ligo workspace_root
  dune
Due: none

docs: Add page for protocol Mumbai
  gitlab-pages/docs/protocol/kathmandu.md
  gitlab-pages/docs/protocol/lima.md
  gitlab-pages/docs/protocol/mumbai.md
  gitlab-pages/website/sidebars.js
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Downgrade dune & js_of_ocaml (To check if CI works)
  ligo.opam.locked
Due: none

Missed this while rebasing
  src/main/compile/of_michelson.ml
Due: none

Testing framework: add support for untranspilation of bls12_381_g1/g2/fr
  changelog/2516
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/main/interpreter/common/michelson_to_value.ml
  src/test/contracts/interpreter_tests/test_untranspile_bls.mligo
Due: pages, pages-attempt, deploy_website_preview

Inline true, false, and unit
  changelog/2514
  src/bin/expect_tests/get_scope_full_stdlib.ml
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/main/build/ligo_lib/std_lib.mligo
Due: pages, pages-attempt, deploy_website_preview

common structure for unification
  src/passes/03-unification/jsligo/compile.ml
  src/passes/03-unification/jsligo/jsligo.ml
  src/passes/03-unification/shared/helpers.ml
Due: none

Testing framework: internal management of views
  changelog/2524
  src/bin/configurator.ml
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/bin/expect_tests/michelson_or_tests.ml
  src/bin/expect_tests/transpilation.ml
  src/bin/expect_tests/vars_consts.ml
  src/bin/expect_tests/warnings.ml
  src/main/build/build.ml
  src/main/interpreter/common/execution_monad.ml
  src/main/interpreter/common/michelson_backend.ml
  src/main/interpreter/common/michelson_to_value.ml
  src/passes/10-checking/context.ml
  src/stages/7-mini_c/combinators.ml
  src/stages/7-mini_c/combinators.mli
  src/stages/ligo_interpreter/types.ml
  src/test/contracts/interpreter_tests/test_originate_single_view.mligo
Due: pages, pages-attempt, deploy_website_preview

Fix: add proper error message for `Tezos.call_view` with non-literal string as name
  changelog/2508
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/get_scope_full_stdlib.ml
  src/main/build/ligo_lib/std_lib.mligo
  src/main/interpreter/common/interpreter.ml
  src/passes/10-checking/constant_typers.ml
  src/passes/13-self_ast_aggregated/contract_passes.ml
  src/passes/13-self_ast_aggregated/errors.ml
  src/passes/13-self_ast_aggregated/self_ast_aggregated.ml
  src/stages/ligo_primitive/constant.ml
  src/test/contracts/negative/call_view_not_litstr.mligo
  src/test/lsp_test/diagnostics.ml
Due: pages, pages-attempt, deploy_website_preview

unification: don't emit sub blocks in test clauses
  changelog/2523
  src/passes/03-unification/jsligo/compile.ml
  src/test/ast_production.ml
  src/test/contracts/clauseblock.jsligo
Due: pages, pages-attempt, deploy_website_preview

Testing framework: add support for mutation of modules
  changelog/2526
  gitlab-pages/docs/reference/test.md
  src/bin/expect_tests/get_scope_full_stdlib.ml
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/main/build/ligo_lib/std_lib.mligo
  src/passes/03-unification/cameligo/decompile.ml
  src/passes/03-unification/jsligo/decompile.ml
  src/passes/03-unification/jsligo/jsligo.ml
  src/passes/03-unification/shared/helpers.ml
  src/test/contracts/interpreter_tests/contract_under_test/module_adder.mligo
  src/test/contracts/interpreter_tests/test_mutate_module.jsligo
  src/test/contracts/interpreter_tests/test_mutate_module.mligo
  src/test/lsp_test/diagnostics.ml
  vendored-dune/ligo-utils/simple-utils/Utils.ml
  vendored-dune/ligo-utils/simple-utils/Utils.mli
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Bugfix: jsligo match
  changelog/2530
  src/bin/expect_tests/pattern_matching_jsligo.ml
  src/passes/04-nanopasses/passes/match_as_function.ml
  src/passes/04-nanopasses/passes/unstate.ml
  src/stages/2-ast_unified/types.ml
  src/test/contracts/match_with_block.jsligo
Due: pages, pages-attempt, deploy_website_preview

CLI: enable `dry-run` to use @entry
  changelog/2496
  gitlab-pages/docs/tutorials/getting-started/getting-started.md
  gitlab-pages/website/src/components/HomepageCodeExamples/cameligo.mligo
  gitlab-pages/website/src/components/HomepageCodeExamples/jsligo.jsligo
  src/bin/expect_tests/homepage.ml
  src/main/api/common/run.ml
  src/main/compile/of_core.ml
  src/passes/11-self_ast_typed/self_ast_typed.ml
  src/test/contracts/starting.jsligo
  src/test/contracts/starting.mligo
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[jsligo] Allow two ignored variable with the same name in scope
  src/passes/04-nanopasses/passes/duplicate_identifier.ml
  src/stages/ligo_primitive/var.ml
  src/stages/ligo_primitive/var.mli
  src/test/ast_production.ml
  src/test/contracts/double_ignored_variable.jsligo
Due: none

change discord channel to target tezos discord
  gitlab-pages/website/docusaurus.config.js
  gitlab-pages/website/src/pages/contact.js
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

More decompilation case
  src/passes/03-unification/cameligo/decompile.ml
  src/passes/03-unification/jsligo/decompile.ml
Due: none

[#1732] Recognize constant as a statement
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Common.hs
  tools/debugger/ligo-debugger/test/Test/Navigation.hs
  tools/debugger/ligo-debugger/test/contracts/constant_as_statement.mligo
  tools/debugger/ligo-debugger/test/golden/StepIn/constant-recognized-as-statement.golden
Due: none

[#1709] Fix use of `Tezos.self "default"`
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Michelson.hs
  tools/debugger/ligo-debugger/test/contracts/self-def-entry-point.mligo
Due: none

Fix debugger environment edge case
  changelog/2509
  src/coq/compiler.v
  src/passes/17-stacking/compiler_program.ml
Due: pages, pages-attempt, deploy_website_preview

[#1694] Disallow looking for defs from stdlib in rename/definition/type definition
  src/main/ligo_lsp/requests/go_to_definition.ml
  src/main/ligo_lsp/requests/prepare_rename.ml
  src/main/ligo_lsp/requests/references.ml
  src/main/ligo_lsp/requests/type_definition.ml
Due: none

[#1694] Add tests for stdlib defs/type defs/rename
  src/test/lsp_test/definition.ml
  src/test/lsp_test/diagnostics.ml
  src/test/lsp_test/prepare_rename.ml
Due: none

[Bot] add changelog entry
  changelog/2543
Due: pages, pages-attempt, deploy_website_preview

[#1532] Bump morley-debugger
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Impl.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Navigate.hs
  tools/debugger/ligo-debugger/stack.yaml
  tools/debugger/ligo-debugger/stack.yaml.lock
  tools/debugger/ligo-debugger/test/Test/Navigation.hs
  tools/debugger/ligo-debugger/test/Test/Snapshots.hs
  tools/debugger/ligo-debugger/test/Test/Util.hs
  tools/debugger/ligo-debugger/test/Test/Util/Golden.hs
Due: none

[#1532] Add delayed variables computation
  tools/debugger/ligo-debugger/ligo-debugger.cabal
  tools/debugger/ligo-debugger/package.yaml
  tools/debugger/ligo-debugger/src/Control/DelayedValues.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/DAP/Variables.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Types.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Helpers.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Impl.hs
  tools/debugger/ligo-debugger/test/Test/DelayedValues.hs
  tools/lsp/squirrel/src/AST/Skeleton.hs
  tools/lsp/squirrel/src/Cli/Json.hs
Due: none

[#1532] Remove `NumDecimals` in modules
  tools/debugger/ligo-debugger/test/Test/Snapshots.hs
Due: none

[#1532] Strip outdated invalidation calls
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Helpers.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Impl.hs
Due: none

[#1532] Deal with the computation threads
  tools/debugger/ligo-debugger/ligo-debugger.cabal
  tools/debugger/ligo-debugger/package.yaml
  tools/debugger/ligo-debugger/src/Control/AbortingThreadPool.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Helpers.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Impl.hs
  tools/debugger/ligo-debugger/test/Test/AbortingThreadPool.hs
Due: none

[#1532] Add `LigoValue` type and necessary instances
  tools/debugger/ligo-debugger/ligo-debugger.cabal
  tools/debugger/ligo-debugger/package.yaml
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Types/LigoValue.hs
  tools/lsp/squirrel/src/Cli/Json.hs
Due: none

[#1532] Show `layout comb` in types and fix sum types creation
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Types/LigoValue.hs
  tools/lsp/squirrel/src/AST/Capabilities/Completion.hs
  tools/lsp/squirrel/src/AST/Parser/Camligo.hs
  tools/lsp/squirrel/src/AST/Parser/Jsligo.hs
  tools/lsp/squirrel/src/AST/Pretty.hs
  tools/lsp/squirrel/src/AST/Scope/Fallback.hs
  tools/lsp/squirrel/src/AST/Scope/ScopedDecl.hs
  tools/lsp/squirrel/src/AST/Scope/ScopedDecl/Parser.hs
  tools/lsp/squirrel/src/AST/Skeleton.hs
  tools/lsp/squirrel/src/Cli/Json.hs
Due: none

[#1532] Fix tuple types creation in `Cli.Json`
  tools/lsp/squirrel/src/AST/Pretty.hs
  tools/lsp/squirrel/src/Cli/Json.hs
Due: none

[#1532] Add code generation of decompiling contracts
  tools/debugger/ligo-debugger/ligo-debugger.cabal
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Call.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Types/LigoValue/Codegen.hs
Due: none

[#1532] Make `Copy as Expression` copy LIGO value in specific dialect
  tools/debugger/ligo-debugger/src/Language/LIGO/DAP/Variables.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Types.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Types/LigoValue.hs
Due: none

[#1532] Add support for LIGO values in the codebase
  tools/debugger/ligo-debugger/src/Language/LIGO/DAP/Variables.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Impl.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Snapshots.hs
Due: none

[#1532] Fix bug with wrong fields ordering in records
  tools/debugger/ligo-debugger/src/Language/LIGO/DAP/Variables.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Types/LigoValue.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Impl.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Snapshots.hs
Due: none

Path conditions:
  check-generated-highlighting: any of: tools/ligo-syntax-highlighting/**/*
  webide-backend-build-and-push-backend: any of: tools/webide/**/*, src/test/examples/**/*
  webide-new-backend-build-and-push-backend: any of: tools/webide-new/ligo-webide-backend/**/*
  webide-new-frontend-build-and-push: any of: tools/webide-new/ligo-webide-frontend/ligo-ide/**/*
  pages: any of: gitlab-pages/**/*, changelog/*
  pages-attempt: any of: gitlab-pages/**/*, changelog/*
  algolia-crawl: any of: gitlab-pages/**/*
  deploy_website_preview: any of: gitlab-pages/**/*, changelog/*
  deploy-handoff-feature: any of: tools/webide/**/*, src/test/examples/**/*
  deploy-handoff: any of: tools/webide/**/*, src/test/examples/**/*
  build-preview-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
  build-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
