Repository ligolang/ligo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-generated-highlighting, webide-backend-build-and-push-backend, webide-new-backend-build-and-push-backend, webide-new-frontend-build-and-push, pages, pages-attempt, algolia-crawl, deploy_website_preview, deploy-handoff-feature, deploy-handoff, build-preview-ligo-webide-front-end, build-ligo-webide-front-end

Path conditions:
  check-generated-highlighting: any of: tools/ligo-syntax-highlighting/**/*
  webide-backend-build-and-push-backend: any of: tools/webide/**/*, src/test/examples/**/*
  webide-new-backend-build-and-push-backend: any of: tools/webide-new/ligo-webide-backend/**/*
  webide-new-frontend-build-and-push: any of: tools/webide-new/ligo-webide-frontend/ligo-ide/**/*
  pages: any of: gitlab-pages/**/*, changelog/*
  pages-attempt: any of: gitlab-pages/**/*, changelog/*
  algolia-crawl: any of: gitlab-pages/**/*
  deploy_website_preview: any of: gitlab-pages/**/*, changelog/*
  deploy-handoff-feature: any of: tools/webide/**/*, src/test/examples/**/*
  deploy-handoff: any of: tools/webide/**/*, src/test/examples/**/*
  build-preview-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
  build-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*

JsLIGO: allow uppercase type parameters
  changelog/2614
  src/bin/expect_tests/contract_tests.ml
  src/passes/02-parsing/jsligo/Parser.mly
  src/passes/02-parsing/jsligo/errors.msg.in
  src/test/contracts/jsligo_uppercase_generic.jsligo
Due: pages, pages-attempt, deploy_website_preview

[JsLIGO] Removal of automatic insertion of vertical bars in type expressions
  changelog/2613
  src/passes/01-lexing/jsligo/Self-passes/Tokens/Self.ml
  src/passes/01-lexing/jsligo/Self-passes/Tokens/VBAR.ml
  src/passes/01-lexing/jsligo/Self-passes/Tokens/VBAR_hook.ml
  src/passes/01-lexing/jsligo/Self-passes/Tokens/dune
  src/passes/02-parsing/jsligo/Parser.mly
  src/passes/02-parsing/jsligo/errors.msg.in
  src/test/error-recovery/fuzzing/jsligo/results.csv.expected
  src/test/error-recovery/simple/jsligo/results.csv.expected
Due: pages, pages-attempt, deploy_website_preview

# This is a combination of 2 commits. # This is the 1st commit message:
  ligo.opam
  ligo.opam.locked
Due: none

Add plompiler explicitly in ligo.opam
  ligo.opam
  ligo.opam.locked
  src/passes/02-parsing/cameligo/Pretty.ml
Due: none

CI: prefix esy commands with env ESY__PREFIX=$HOME/.esy-nairobi
  .ci/.gitlab-ci-npm.yml
Due: none

opam: Add stdint to switch
  ligo.opam
  ligo.opam.locked
Due: none

ci: remove installing esy step from yaml and do it manually
  .ci/.gitlab-ci-npm.yml
Due: none

[Bot] Update release metadata 0.66.0
  .ci/.metadata.yml
Due: none

fix doc for release 0.66.0 following fail in release process
  .ci/.gitlab-ci-release.yml
  HomebrewFormula/ligo.rb
  HomebrewFormula/ligo@0.66.0.rb
  esy.json
Due: none

[#1808] Add a temporary pop-up about braces format changed
  tools/debugger/vscode-plugin/README.md
  tools/debugger/vscode-plugin/src/LigoDebugContext.ts
  tools/debugger/vscode-plugin/src/extension.ts
Due: none

[#1808] Fix a bug with record hardcoding in `launch.json`
  tools/debugger/vscode-plugin/README.md
  tools/debugger/vscode-plugin/package.json
  tools/debugger/vscode-plugin/src/LigoDebugConfigurationProvider.ts
  tools/debugger/vscode-plugin/src/base.ts
Due: none

[Bot] add changelog entry
  changelog-tools/debugger/2602
Due: none

Put 1 as default build number for AUR
  .ci/scripts/AUR/template/template.PKGBUILD
Due: none

fix sidebar by removing mutate CST which has been deleted on this version
  gitlab-pages/website/sidebars.js
  gitlab-pages/website/versioned_sidebars/version-0.66.0-sidebars.json
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Dune @check crashes while building toplevel
  Dockerfile
Due: none

runtest: promote help_tests
  src/bin/expect_tests/help_tests.ml
Due: none

promote get_scope_full_stdlib tests
  src/bin/expect_tests/get_scope_full_stdlib.ml
Due: none

Fix bug in pattern matching compiler
  changelog/2618
  src/bin/expect_tests/deep_pattern_matching.ml
  src/passes/13.1-expansion/pattern_matching.ml
  src/passes/13.1-expansion/pattern_simpl.ml
  src/stages/6.1-ast_expanded/combinators.ml
  src/test/contracts/deep_pattern_matching/bug_report.mligo
Due: pages, pages-attempt, deploy_website_preview

[JsLIGO] Support for a set of TS decorators
  changelog/2619
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/syntax_error_tests.ml
  src/passes/01-lexing/jsligo/Self-passes/Tokens/Attributes.ml
  src/passes/01-lexing/jsligo/Self-passes/Tokens/SEMI.ml
  src/passes/01-lexing/shared/Lexer.mll
  src/passes/02-parsing/jsligo/Parser.mly
  src/test/contracts/attributes.jsligo
  src/test/contracts/contract_of.jsligo
  src/test/contracts/export_attribute.jsligo
  src/test/contracts/export_newline.jsligo
  src/test/contracts/increment_prefix.jsligo
  src/test/contracts/interpreter_tests/test_originate_module.jsligo
  src/test/contracts/layout_comb.jsligo
  src/test/contracts/modules.jsligo
  src/test/contracts/negative/entrypoint_no_type.jsligo
  src/test/contracts/negative/export_attr_const.jsligo
  src/test/contracts/pokeGame.jsligo
  src/test/contracts/starting.jsligo
  src/test/contracts/views_using_view.jsligo
  src/test/contracts/views_using_view_curry.jsligo
Due: pages, pages-attempt, deploy_website_preview

Internal: nanopass decompile for `for` loop
  src/passes/04-nanopasses/passes/for_to_while_loop.ml
  vendored-dune/ligo-utils/simple-utils/x_list.ml
Due: none

tp_environment -> tpe
  vendored-dune/ligo-utils/proto-alpha-utils/init_proto_alpha.ml
  vendored-dune/ligo-utils/proto-pre-alpha-utils/init_proto_alpha.ml
Due: none

Revert bash -c "env ESY__PREFIX=.."
  .ci/.gitlab-ci-npm.yml
Due: none

[Bot] add changelog entry
  changelog/2608
Due: pages, pages-attempt, deploy_website_preview

[internal] remove ASTs recursive inclusion
  src/main/compile/of_core.ml
  src/passes/04-nanopasses/trivial.ml
  src/passes/10-checking/checking.ml
  src/passes/10-checking/computation.ml
  src/passes/10-checking/computation.mli
  src/passes/10-checking/context.ml
  src/passes/10-checking/context.mli
  src/passes/10-checking/elaboration.ml
  src/passes/10-checking/errors.ml
  src/passes/10-checking/type.ml
  src/passes/12-aggregation/decompiler.ml
  src/stages/4-ast_core/PP.ml
  src/stages/4-ast_core/combinators.ml
  src/stages/4-ast_core/dune
  src/stages/4-ast_core/types.ml
  src/stages/5-ast_typed/PP.ml
  src/stages/5-ast_typed/combinators.ml
  src/stages/5-ast_typed/dune
  src/stages/5-ast_typed/types.ml
  src/stages/ligo_primitive/access_label.ml
  src/stages/ligo_primitive/ligo_prim.ml
  src/stages/ligo_primitive/type_or_module_attr.ml
  src/stages/ligo_primitive/value_attr.ml
  src/test/decompiler_tests.ml
Due: none

Removes unnecessary emacs source backups
  src/test/#test.ml#
  src/test/.#test.ml
Due: none

[Chore] Fix definition test path normalization
  src/test/lsp_test/definition.ml
Due: none

Printing trailing comments (attached to EOF)
  changelog/2623
  src/passes/02-parsing/cameligo/Pretty.ml
  src/passes/02-parsing/jsligo/Pretty.ml
  src/test/error-recovery/fuzzing/cameligo/results.csv.expected
  src/test/error-recovery/fuzzing/jsligo/results.csv.expected
  src/test/error-recovery/simple/cameligo/results.csv.expected
  src/test/error-recovery/simple/jsligo/results.csv.expected
  src/test/error-recovery/test.sh
  src/test/transpilation/expected/all_the_things.mligo.expected
Due: pages, pages-attempt, deploy_website_preview

[Chore] Bump debugger version prior to a release
  tools/debugger/vscode-plugin/package.json
Due: none

JsLIGO: allow final uppercase in module path for types
  changelog/2634
  src/bin/expect_tests/contract_tests.ml
  src/passes/02-parsing/jsligo/Parser.mly
  src/passes/02-parsing/jsligo/errors.msg.in
  src/test/contracts/modules.jsligo
Due: pages, pages-attempt, deploy_website_preview

JsLIGO: simple interfaces for namespace contracts
  changelog/2631
  src/bin/expect_tests/signature.ml
  src/passes/01-lexing/jsligo/Self-passes/Tokens/Comments.ml
  src/passes/01-lexing/jsligo/Self-passes/Tokens/PreParser.mly
  src/passes/01-lexing/jsligo/Self-passes/Tokens/Token.ml
  src/passes/01-lexing/jsligo/Self-passes/Units/LineCom.ml
  src/passes/02-parsing/jsligo/ParToken.mly
  src/passes/02-parsing/jsligo/Parser.mly
  src/passes/02-parsing/jsligo/Pretty.ml
  src/passes/02-parsing/jsligo/errors.msg.in
  src/passes/02-parsing/pascaligo/JsLIGO.ml
  src/passes/03-unification/jsligo/compile.ml
  src/stages/1-cst/jsligo/CST.ml
  src/stages/1-cst/jsligo/Fold.ml
  src/stages/1-cst/jsligo/Print.ml
  src/test/contracts/signature/interface.jsligo
Due: pages, pages-attempt, deploy_website_preview

Remove Draft comment in 2608's changelog title
  changelog/2608
Due: pages, pages-attempt, deploy_website_preview

[#1644] Refactor LSP: introduce `Path.t`, use ppx to scrap boilerplate
  src/main/ligo_lsp/lsp_helpers/def.ml
  src/main/ligo_lsp/lsp_helpers/dialect_cst.ml
  src/main/ligo_lsp/lsp_helpers/document_uri.ml
  src/main/ligo_lsp/lsp_helpers/dune
  src/main/ligo_lsp/lsp_helpers/helpers_file.ml
  src/main/ligo_lsp/lsp_helpers/imports.ml
  src/main/ligo_lsp/lsp_helpers/ligo_interface.ml
  src/main/ligo_lsp/lsp_helpers/location.ml
  src/main/ligo_lsp/lsp_helpers/lsp_helpers.ml
  src/main/ligo_lsp/lsp_helpers/path.ml
  src/main/ligo_lsp/lsp_helpers/position.ml
  src/main/ligo_lsp/lsp_helpers/range.ml
  src/main/ligo_lsp/requests/document_link.ml
  src/main/ligo_lsp/requests/folding_range.ml
  src/main/ligo_lsp/requests/formatting.ml
  src/main/ligo_lsp/requests/go_to_definition.ml
  src/main/ligo_lsp/requests/handler.ml
  src/main/ligo_lsp/requests/hover.ml
  src/main/ligo_lsp/requests/on_doc.ml
  src/main/ligo_lsp/requests/prepare_rename.ml
  src/main/ligo_lsp/requests/range_formatting.ml
  src/main/ligo_lsp/requests/references.ml
  src/main/ligo_lsp/requests/rename.ml
  src/main/ligo_lsp/requests/type_definition.ml
  src/main/ligo_lsp/server.ml
  src/test/lsp_test/cst_fold.ml
  src/test/lsp_test/definition.ml
  src/test/lsp_test/diagnostics.ml
  src/test/lsp_test/document_link.ml
  src/test/lsp_test/folding_range.ml
  src/test/lsp_test/formatting.ml
  src/test/lsp_test/handlers.ml
  src/test/lsp_test/prepare_rename.ml
  src/test/lsp_test/range_formatting.ml
  src/test/lsp_test/references.ml
Due: none

Add e2e test for Ligo.js bundle
  Makefile
  jsoo/package-lock.json
  jsoo/package.json
  jsoo/test/pptr.mjs
Due: none

Adds missing Js stubs for Nairobi protocol
  src/bin/bls12-polynomial.js
Due: none

Error recovery tests: Use the same flags for sort (test.sh) on Macos
  src/test/error-recovery/test.sh
Due: none
