Repository ligolang/ligo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-generated-highlighting, webide-backend-build-and-push-backend, webide-new-backend-build-and-push-backend, webide-new-frontend-build-and-push, pages, pages-attempt, algolia-crawl, deploy_website_preview, deploy-handoff-feature, deploy-handoff, build-preview-ligo-webide-front-end, build-ligo-webide-front-end

check-generated-highlighting:
  stage: tooling
  dependencies:
  - docker_extract
  script:
  - scripts/diff_dir.sh highlighting/emacs tools/emacs
  - scripts/diff_dir.sh highlighting/vim/ftdetect tools/vim/ligo/start/ligo/ftdetect
  - scripts/diff_dir.sh highlighting/vim/plugin tools/vim/ligo/start/ligo/plugin
  ...

webide-backend-build-and-push-backend:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  - cp -r src/test/examples tools/webide/packages/client/examples
  ...

webide-new-backend-build-and-push-backend:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  needs:
  - job: changelog
    artifacts: false
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  - docker build tools/webide-new/ligo-webide-backend -t ${WEBIDE_NEW_IMAGE_TAG}
  ...

webide-new-frontend-build-and-push:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  needs:
  - job: changelog
    artifacts: false
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  ...

pages:
  stage: push
  tags:
  - docker
  image: node:16.17.0-buster
  needs:
  - job: changelog
    artifacts: true
  script:
  - export DOC_PATH=./gitlab-pages/docs
  - export WEBSITE_PATH=./gitlab-pages/website
  - cp -f ./changelog.md $DOC_PATH/intro/changelog.md
  ...

pages-attempt:
  stage: push
  tags:
  - docker
  image: node:16.17.0-buster
  needs:
  - job: changelog
    artifacts: true
  script:
  - export DOC_PATH=./gitlab-pages/docs
  - export WEBSITE_PATH=./gitlab-pages/website
  - cp -f ./changelog.md $DOC_PATH/intro/changelog.md
  ...

algolia-crawl:
  stage: push
  needs:
  - job: pages
  script:
  - "sleep 10 \ncurl -X post  -H \"Content-Type: application/json\" --user ${ALGOLIA_CRAWLER_ID}:${ALGOLIA_CRAWLER_TOKEN} https://crawler.algolia.com/api/1/crawlers/bb0597ba-5abc-45ba-bdf9-99f8152e87b0/reindex\n"

deploy_website_preview:
  stage: deploy
  image: node:16.17.0-buster
  tags:
  - docker
  needs:
  - job: pages-attempt
    artifacts: true
  script:
  - apt-get update
  - apt-get install -y --no-install-recommends jq
  - npm install netlify-cli
  ...

deploy-handoff-feature:
  stage: deploy
  variables:
    APP_NAME: web-ide-backend
    NEW_VERSION: ${CI_COMMIT_SHORT_SHA}
    ENV: non-prod
  trigger:
    project: ligolang/kubernetes-infrastructure

deploy-handoff:
  stage: deploy
  variables:
    APP_NAME: web-ide-backend
    NEW_VERSION: ${CI_COMMIT_SHORT_SHA}
    ENV: prod
  trigger:
    project: ligolang/kubernetes-infrastructure

[#1720] Send filetree to backend on WebIDE init
  tools/webide-new/ligo-webide-backend/src/LSP/ReceiveData.hs
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/base-components/code-editor/MonacoEditor/MonacoEditor.js
Due: webide-new-backend-build-and-push-backend, webide-new-frontend-build-and-push

[#1806][#1769] Record evaluated event only for topmost location
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Snapshots.hs
  tools/debugger/ligo-debugger/test/Test/Navigation.hs
  tools/debugger/ligo-debugger/test/Test/Snapshots.hs
  tools/debugger/ligo-debugger/test/contracts/record-evaluated.mligo
  tools/debugger/ligo-debugger/test/contracts/tuple-with-size-five.mligo
  tools/debugger/ligo-debugger/test/golden/StepIn/big-tuples-have-correct-evaluated-value.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/seq-nodes-dont-have-expression-locations-in-snapshots.golden
Due: none

[#1720] Fix cross-file go-to-definition
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/base-components/code-editor/MonacoEditor/MonacoEditor.js
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/base-components/code-editor/MonacoEditor/modelSessionManager/index.js
Due: webide-new-frontend-build-and-push

[#1720] Improve URI normalization
  tools/webide-new/ligo-webide-backend/src/Config.hs
  tools/webide-new/ligo-webide-backend/src/LSP/FilePath.hs
Due: webide-new-backend-build-and-push-backend

[#1720] Add URI prefix for filepaths
  tools/webide-new/ligo-webide-backend/src/LSP/FilePath.hs
Due: webide-new-backend-build-and-push-backend

[LIGO-832] Fix mligo syntax file symlinks
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/ligo-components/ligo-project/Project/languages/syntaxes/mligo.configuration.json
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/ligo-components/ligo-project/Project/languages/syntaxes/mligo.tmLanguage.json
Due: webide-new-frontend-build-and-push

[#1720] Use wss for websocket connection
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/base-components/code-editor/MonacoEditor/MonacoEditor.js
Due: webide-new-frontend-build-and-push

[#1720] Handle large projects
  tools/webide-new/ligo-webide-backend/src/LSP/ReceiveData.hs
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/base-components/code-editor/MonacoEditor/MonacoEditor.js
Due: webide-new-backend-build-and-push-backend, webide-new-frontend-build-and-push

fix npr environment
  .ci/.gitlab-ci-webide.yml
Due: none

[Bot] add changelog entry
  changelog-tools/debugger/2603
Due: none

Clean up: remove support for `mutate cst`
  changelog/2607
  src/bin/cli.ml
  src/bin/expect_tests/help_tests.ml
  src/main/api/common/mutate.mli
  src/main/api/js/mutate.ml
  src/main/api/unix/mutate.ml
  src/main/fuzz/cameligo/dune
  src/main/fuzz/cameligo/fuzz.ml
  src/main/fuzz/cameligo/helpers.ml
  src/main/fuzz/dune
  src/main/fuzz/fuzz.ml
  src/main/fuzz/jsligo/dune
  src/main/fuzz/jsligo/fuzz.ml
  src/main/fuzz/jsligo/helpers.ml
  src/main/fuzz/pascaligo/dune
  src/main/fuzz/pascaligo/fuzz.ml
  src/main/fuzz/pascaligo/helpers.ml
  src/test/analytics_tests.ml
Due: pages, pages-attempt, deploy_website_preview

Preserving comment type (block or line) by pretty-printing.
  changelog/2606
  src/passes/01-lexing/cameligo/Self-passes/Tokens/Comments.ml
  src/passes/01-lexing/jsligo/Self-passes/Tokens/Comments.ml
  src/passes/01-lexing/shared/Wrap.ml
  src/passes/01-lexing/shared/Wrap.mli
  src/passes/02-parsing/cameligo/Pretty.ml
  src/passes/02-parsing/jsligo/Pretty.ml
  src/test/error-recovery/fuzzing/cameligo/results.csv.expected
  src/test/error-recovery/fuzzing/jsligo/results.csv.expected
  src/test/error-recovery/simple/cameligo/results.csv.expected
  src/test/error-recovery/simple/jsligo/results.csv.expected
  src/test/transpilation/expected/all_the_things.jsligo.expected
  src/test/transpilation/expected/all_the_things.mligo.expected
Due: pages, pages-attempt, deploy_website_preview

Migrate to PtNairob
  vendored-dune/ligo-utils/memory-proto-alpha/dune
  vendored-dune/ligo-utils/memory-proto-alpha/memory_proto_alpha.ml
  vendored-dune/ligo-utils/memory-proto-alpha/tezos-memory-proto-alpha.opam
  vendored-dune/ligo-utils/memory-proto-pre-alpha/dune
  vendored-dune/ligo-utils/memory-proto-pre-alpha/memory_proto_pre_alpha.ml
  vendored-dune/ligo-utils/memory-proto-pre-alpha/tezos-memory-proto-pre-alpha.opam
  vendored-dune/ligo-utils/proto-alpha-utils/dune
  vendored-dune/ligo-utils/proto-alpha-utils/init_proto_alpha.ml
  vendored-dune/ligo-utils/proto-alpha-utils/x_memory_proto_alpha.ml
  vendored-dune/ligo-utils/proto-pre-alpha-utils/dune
  vendored-dune/ligo-utils/proto-pre-alpha-utils/init_proto_alpha.ml
  vendored-dune/ligo-utils/proto-pre-alpha-utils/x_memory_proto_pre_alpha.ml
Due: none

Update opam dependencies for PtNairob
  ligo.opam
  ligo.opam.locked
Due: none

Add new protocol vairant Nairobi
  src/environment/protocols.ml
  src/main/build/stdlib.ml
Due: none

Removing lima from stdlib
  src/main/build/ligo_lib/std_lib.mligo
  src/passes/14-spilling/compiler.ml
  src/stages/ligo_primitive/literal_types.ml
  src/test/#test.ml#
  src/test/.#test.ml
Due: none

Promoting expect tests
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/bin/expect_tests/protocol_specific.ml
Due: none

Promote help tests
  src/bin/expect_tests/help_tests.ml
Due: none

Promote get_scope stdlib tests
  src/bin/expect_tests/get_scope_full_stdlib.ml
Due: none

Remove --lima from contract_tests.ml
  src/bin/expect_tests/contract_tests.ml
Due: none

Update tezos submodule branch with Nairobi in it
  .gitmodules
Due: none

Add windows overrides for bls
  esy.lock/index.json
  esy.lock/opam/fix.20230505/opam
  esy.lock/opam/qcheck-alcotest.0.21/opam
  esy.lock/opam/qcheck-core.0.21/opam
  esy.lock/opam/qcheck-ounit.0.21/opam
  esy.lock/opam/qcheck.0.21/opam
  esy.lock/overrides/opam__s__bls12_381_opam__c__6.1.0_opam_override/files/build-blst-windows-only-command.patch
  esy.lock/overrides/opam__s__bls12_381_opam__c__6.1.0_opam_override/files/dune-windows-only-rule.patch
  esy.lock/overrides/opam__s__bls12_381_opam__c__6.1.0_opam_override/package.json
  esy.lock/overrides/opam__s__dune_opam__c__3.7.1_opam_override/files/winpatch-xdg.patch
  esy.lock/overrides/opam__s__dune_opam__c__3.7.1_opam_override/files/winpatch.patch~
  esy.lock/overrides/opam__s__tezos_rust_libs_opam__c__1.5_opam_override/package.json
  esy.lock/overrides/opam__s__tezos_rust_libs_opam__c__1.5_opam_override/package.json~
Due: none

Testing framework: `Rejected` return type
  changelog/2609
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/bin/repl.ml
  src/main/interpreter/common/execution_monad.ml
  src/main/interpreter/common/michelson_backend.ml
  src/main/ligo_lsp/requests/folding_range.ml
  src/main/ligo_lsp/requests/range_formatting.ml
  src/main/scopes/types_pass.ml
  src/passes/01-lexing/cameligo/Self-passes/Tokens/dune
  src/passes/03-unification/cameligo/compile.ml
  src/passes/03-unification/jsligo/compile.ml
  src/passes/10-checking/computation.mli
  src/passes/10-checking/errors.ml
  src/stages/2-ast_unified/combinators.ml
  src/test/contracts/interpreter_tests/test_decompile_failure.mligo
  src/test/id_tests.ml
  src/test/integration_tests.ml
  src/test/lsp_test/folding_range.ml
  src/test/pretty_printer_tests.ml
  src/test/test_helpers.ml
Due: pages, pages-attempt, deploy_website_preview

Introduce Path.equal for path comparison
  src/main/ligo_lsp/lsp_helpers/document_uri.ml
  src/main/ligo_lsp/lsp_helpers/path.ml
Due: none

Update submodule
  .gitmodules
Due: none

printing ast unified with or without locs
  src/bin/cli.ml
  src/main/api/common/print.ml
  src/stages/2-ast_unified/PP.ml
  src/stages/2-ast_unified/formatter.ml
  vendored-dune/ligo-utils/simple-utils/location.ml
  vendored-dune/ligo-utils/simple-utils/region.ml
  vendored-dune/ligo-utils/simple-utils/region.mli
Due: none

Remove lima from checker
  src/passes/10-checking/checking.ml
  src/passes/10-checking/constant_typers.ml
  src/stages/ligo_primitive/literal_types.ml
Due: none

[Chore] Implement decompile for `t_constant` nanopass
  src/passes/04-nanopasses/passes/t_constant.ml
  src/stages/2-ast_unified/types.ml
Due: none

[Chore] Add some docs for type expressions in Ast_unified
  src/stages/2-ast_unified/types.ml
Due: none

[Chore] Fix get_t_bool, use it more often
  src/bin/expect_tests/get_scope_full_stdlib.ml
  src/main/interpreter/common/michelson_to_value.ml
  src/passes/10-checking/type.ml
  src/passes/14-spilling/compiler.ml
  src/stages/4-ast_core/combinators.ml
  src/stages/5-ast_typed/combinators.ml
  src/stages/6-ast_aggregated/combinators.ml
  src/stages/6.1-ast_expanded/combinators.ml
Due: none

[Chore] Implement a backwards nanopass for Named_fun
  src/passes/03-unification/jsligo/compile.ml
  src/passes/04-nanopasses/nanopasses.ml
  src/passes/04-nanopasses/passes/linearity.ml
  src/passes/04-nanopasses/passes/named_fun.ml
  src/stages/1-cst/jsligo/CST.ml
  src/stages/2-ast_unified/nano_prim/named_fun.ml
Due: none

[Chore] Untyper: handle case when T_constant has no params
  src/passes/10-checking/untyper.ml
Due: none

[#1698] Implement decompiler for type expressions
  src/passes/03-unification/cameligo/cameligo.ml
  src/passes/03-unification/cameligo/decompile.ml
  src/passes/03-unification/jsligo/decompile.ml
  src/passes/03-unification/jsligo/jsligo.ml
  src/passes/03-unification/pascaligo/decompile.ml
  src/passes/03-unification/pascaligo/pascaligo.ml
  src/passes/03-unification/shared/helpers.ml
  src/passes/04-nanopasses/passes/disc_union_types.ml
  src/passes/04-nanopasses/passes/named_fun.ml
  src/passes/04-nanopasses/trivial.ml
  src/test/decompiler_tests.ml
  src/test/dune
  src/test/lsp_test/alcotest_extras/alcotest_extras.ml
Due: none

Preserving of placement of line comments preceded by a token (CameLIGO and JsLIGO)
  changelog/2611
  src/passes/01-lexing/cameligo/Self-passes/Tokens/Comments.ml
  src/passes/01-lexing/cameligo/Self-passes/Units/Comments.ml
  src/passes/01-lexing/cameligo/Self-passes/Units/LineCom.ml
  src/passes/01-lexing/cameligo/Self-passes/Units/Self.ml
  src/passes/01-lexing/cameligo/Self-passes/Units/dune
  src/passes/01-lexing/jsligo/Self-passes/Tokens/Comments.ml
  src/passes/01-lexing/jsligo/Self-passes/Units/LineCom.ml
  src/passes/01-lexing/jsligo/Self-passes/Units/Self.ml
  src/passes/01-lexing/jsligo/Self-passes/Units/dune
  src/passes/01-lexing/pascaligo/Self-passes/Tokens/Comments.ml
  src/passes/01-lexing/shared/Wrap.ml
  src/passes/01-lexing/shared/Wrap.mli
  src/passes/02-parsing/cameligo/Pretty.ml
  src/passes/02-parsing/jsligo/Pretty.ml
  src/stages/1-cst/cameligo/Print.ml
  src/test/error-recovery/fuzzing/cameligo/results.csv.expected
  src/test/error-recovery/simple/cameligo/results.csv.expected
  vendored-dune/Preprocessor/Directive.mll
Due: pages, pages-attempt, deploy_website_preview

[#1805] Launch LIGO LSP even when an update is available
  tools/vscode/client/src/command.ts
  tools/vscode/client/src/commands/common.ts
  tools/vscode/client/src/extension.ts
  tools/vscode/client/src/updateLigo.ts
  tools/vscode/package.json
  tools/vscode/yarn.lock
Due: none

[Bot] add changelog entry
  changelog-tools/vscode-plugin/2612
Due: none

[#1805] Do not show download button for non-Linux
  tools/vscode/client/src/updateLigo.ts
Due: none

Attempt busting docker cache
  Dockerfile
Due: none

Update opam lock file
  ligo.opam.locked
Due: none

Path conditions:
  check-generated-highlighting: any of: tools/ligo-syntax-highlighting/**/*
  webide-backend-build-and-push-backend: any of: tools/webide/**/*, src/test/examples/**/*
  webide-new-backend-build-and-push-backend: any of: tools/webide-new/ligo-webide-backend/**/*
  webide-new-frontend-build-and-push: any of: tools/webide-new/ligo-webide-frontend/ligo-ide/**/*
  pages: any of: gitlab-pages/**/*, changelog/*
  pages-attempt: any of: gitlab-pages/**/*, changelog/*
  algolia-crawl: any of: gitlab-pages/**/*
  deploy_website_preview: any of: gitlab-pages/**/*, changelog/*
  deploy-handoff-feature: any of: tools/webide/**/*, src/test/examples/**/*
  deploy-handoff: any of: tools/webide/**/*, src/test/examples/**/*
  build-preview-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
  build-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
