Repository ligolang/ligo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-generated-highlighting, webide-backend-build-and-push-backend, webide-new-backend-build-and-push-backend, webide-new-frontend-build-and-push, pages, pages-attempt, algolia-crawl, deploy_website_preview, deploy-handoff-feature, deploy-handoff, build-preview-ligo-webide-front-end, build-ligo-webide-front-end

check-generated-highlighting:
  stage: tooling
  dependencies:
  - docker_extract
  script:
  - scripts/diff_dir.sh highlighting/emacs tools/emacs
  - scripts/diff_dir.sh highlighting/vim/ftdetect tools/vim/ligo/start/ligo/ftdetect
  - scripts/diff_dir.sh highlighting/vim/plugin tools/vim/ligo/start/ligo/plugin
  ...

webide-backend-build-and-push-backend:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  - cp -r src/test/examples tools/webide/packages/client/examples
  ...

webide-new-backend-build-and-push-backend:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  needs:
  - job: changelog
    artifacts: false
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  - docker build tools/webide-new/ligo-webide-backend -t ${WEBIDE_NEW_IMAGE_TAG}
  ...

webide-new-frontend-build-and-push:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  needs:
  - job: changelog
    artifacts: false
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  ...

pages:
  stage: push
  tags:
  - docker
  image: node:16.17.0-buster
  needs:
  - job: changelog
    artifacts: true
  script:
  - export DOC_PATH=./gitlab-pages/docs
  - export WEBSITE_PATH=./gitlab-pages/website
  - cp -f ./changelog.md $DOC_PATH/intro/changelog.md
  ...

pages-attempt:
  stage: push
  tags:
  - docker
  image: node:16.17.0-buster
  needs:
  - job: changelog
    artifacts: true
  script:
  - export DOC_PATH=./gitlab-pages/docs
  - export WEBSITE_PATH=./gitlab-pages/website
  - cp -f ./changelog.md $DOC_PATH/intro/changelog.md
  ...

algolia-crawl:
  stage: push
  needs:
  - job: pages
  script:
  - "sleep 10 \ncurl -X post  -H \"Content-Type: application/json\" --user ${ALGOLIA_CRAWLER_ID}:${ALGOLIA_CRAWLER_TOKEN} https://crawler.algolia.com/api/1/crawlers/bb0597ba-5abc-45ba-bdf9-99f8152e87b0/reindex\n"

deploy_website_preview:
  stage: deploy
  image: node:16.17.0-buster
  tags:
  - docker
  needs:
  - job: pages-attempt
    artifacts: true
  script:
  - apt-get update
  - apt-get install -y --no-install-recommends jq
  - npm install netlify-cli
  ...

deploy-handoff-feature:
  stage: deploy
  variables:
    APP_NAME: web-ide-backend
    NEW_VERSION: ${CI_COMMIT_SHORT_SHA}
    ENV: non-prod
  trigger:
    project: ligolang/kubernetes-infrastructure

deploy-handoff:
  stage: deploy
  variables:
    APP_NAME: web-ide-backend
    NEW_VERSION: ${CI_COMMIT_SHORT_SHA}
    ENV: prod
  trigger:
    project: ligolang/kubernetes-infrastructure

API tweak: file_name to Source_input.From_file filename
  src/bin/bls12-polynomial.js
  src/bin/cli.ml
  src/bin/digestif.js
  src/bin/dune
  src/bin/js_main.ml
  src/bin/others.js
  src/bin/repl.ml
  src/bin/stdint.js
  src/bin/threads.js
  src/main/api/common/compile.ml
  src/main/api/common/print.ml
  src/main/api/common/run.ml
  src/main/build/build.ml
  src/test/test_helpers.ml
Due: none

Decouple cohttp_lwt_unix from ligo.api
  src/api_helpers/api_helpers.ml
  src/api_helpers/dune
  src/bin/cli.ml
  src/bin/dune
  src/formatter/dune
  src/formatter/ligo_formatter.ml
  src/init/dune
  src/init/ligo_init.ml
  src/main/api/common/compile.ml
  src/main/api/common/dune
  src/main/api/common/info.ml
  src/main/api/common/ligo_api.ml
Due: none

Esy: update lock files
  esy.lock/index.json
  esy.lock/opam/base64.3.5.0/opam
  esy.lock/opam/base64.3.5.1/opam
  esy.lock/opam/conduit-lwt-unix.4.0.1/opam
  esy.lock/opam/cstruct-sexp.6.1.1/opam
  esy.lock/opam/functoria-runtime.4.3.2/opam
  esy.lock/opam/hkdf.1.0.4/opam
  esy.lock/opam/js_of_ocaml-ppx.5.0.1/opam
  esy.lock/opam/mirage-crypto-ec.0.10.7/opam
  esy.lock/opam/mirage-crypto-ec.0.11.0/opam
  esy.lock/opam/mirage-crypto-pk.0.10.7/opam
  esy.lock/opam/mirage-crypto-pk.0.11.0/opam
  esy.lock/opam/mirage-crypto-rng.0.10.7/opam
  esy.lock/opam/mirage-crypto-rng.0.11.0/opam
  esy.lock/opam/mirage-crypto.0.10.7/opam
  esy.lock/opam/mirage-crypto.0.11.0/opam
  esy.lock/opam/mirage-runtime.4.3.2/opam
  esy.lock/opam/ppx_bench.v0.15.0/opam
  esy.lock/opam/ppx_inline_test.v0.15.0/opam
  esy.lock/opam/resto-acl.1.0/opam
  esy.lock/opam/resto-acl.1.1/opam
  esy.lock/opam/resto-cohttp-client.1.0/opam
  esy.lock/opam/resto-cohttp-client.1.1/opam
  esy.lock/opam/resto-cohttp-self-serving-client.1.0/opam
  esy.lock/opam/resto-cohttp-self-serving-client.1.1/opam
  esy.lock/opam/resto-cohttp-server.1.0/opam
  esy.lock/opam/resto-cohttp-server.1.1/opam
  esy.lock/opam/resto-cohttp.1.0/opam
  esy.lock/opam/resto-cohttp.1.1/opam
  esy.lock/opam/resto-directory.1.0/opam
  esy.lock/opam/resto-directory.1.1/opam
  esy.lock/opam/resto.1.0/opam
  esy.lock/opam/resto.1.1/opam
  esy.lock/opam/tezos-rust-libs.1.3/opam
  esy.lock/opam/tezos-rust-libs.1.4/opam
  esy.lock/opam/tls.0.15.4/opam
  esy.lock/opam/topkg.1.0.6/opam
  esy.lock/opam/topkg.1.0.7/opam
  esy.lock/opam/x509.0.16.2/opam
  esy.lock/opam/x509.0.16.4/opam
Due: none

Adds js_of_ocaml target for ligo
  .gitignore
  .gitlab-ci.yml
  Dockerfile
  Makefile
  dune-project
  jsoo/index.template.html
  jsoo/package-lock.json
  jsoo/package.json
  jsoo/src/app.ts
  jsoo/src/editor.js
  jsoo/tsconfig.json
  jsoo/watchman.sh
  jsoo/webpack.config.js
  package-lock.json
  src/bin/dune
  src/bin/js_main.ml
  src/main/api/common/compile.ml
  src/main/api/common/info.ml
  src/main/api/common/mutate.mli
  src/main/api/js/dune
  src/main/api/js/mutate.ml
  src/main/build/build.ml
  src/main/interpreter/common/mutation.mli
  src/main/interpreter/js/dune
  src/main/interpreter/js/mutation.ml
  src/test/dune
  src/test/ligo_init_tests.ml
  src/test/test_helpers.ml
Due: none

Fixes unused `main` in alcotests
  src/test/get_scope_tests.ml
  src/test/lsp_test.ml
Due: none

[LIGO-832] Second round of fixes
  changelog-tools/webide/2364
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/base-components/code-editor/MonacoEditor/MonacoEditor.js
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/base-components/filetree/index.js
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/base-components/keypair/KeypairInputSelector.js
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/base-components/ui-components/buttons/ToolbarButton.js
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/base-components/workspace/components/GistUploadModals.tsx
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/base-components/workspace/components/NewProjectModal.tsx
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/base-components/workspace/components/OpenProjectModal.tsx
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/base-components/workspace/components/RenameProjectModal.js
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/base-components/workspace/components/Workspace.js
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/components/Header.js
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/ligo-components/eth-project/Project/ProjectToolbar/ExpressionManagerModal.tsx
Due: webide-new-frontend-build-and-push

[#1524] Build new ligo vscode extension in CI
  .ci/.gitlab-ci-lsp.yml
  .ci/.gitlab-ci-tools-common.yml
  tools/vscode/.eslintrc.yml
  tools/vscode/default.nix
  tools/vscode/flake.lock
  tools/vscode/flake.nix
  tools/webide-new/flake.nix
Due: none

[#1524] Move 'ligo-bin' to the second layer of 'vscode-extenstion-test-docker-image'
  tools/vscode/flake.nix
Due: none

Move src/api_helpers to src/main/api/helpers
  src/main/api/helpers/api_helpers.ml
  src/main/api/helpers/dune
Due: none

revert let mut
  changelog/2254
  src/bin/expect_tests/misc_cli_commands.ml
  src/bin/expect_tests/typer_error_tests.ml
  src/bin/expect_tests/vars_consts.ml
  src/main/fuzz/cameligo/helpers.ml
  src/main/ligo_lsp/ligo_interface/ligo_interface.ml
  src/main/ligo_lsp/requests/folding_range.ml
  src/passes/01-lexing/cameligo/Self-passes/Tokens/Token.ml
  src/passes/02-parsing/README.md
  src/passes/02-parsing/cameligo/ParToken.mly
  src/passes/02-parsing/cameligo/Parser.mly
  src/passes/02-parsing/cameligo/Pretty.ml
  src/passes/02-parsing/cameligo/errors.msg.in
  src/passes/02-parsing/pascaligo/Parser.mly
  src/passes/04-tree_abstraction/cameligo/compiler.ml
  src/passes/04-tree_abstraction/cameligo/errors.ml
  src/passes/10-checking/checking.ml
  src/passes/10-checking/computation.ml
  src/passes/10-checking/computation.mli
  src/passes/10-checking/context.ml
  src/passes/10-checking/context.mli
  src/stages/1-cst/cameligo/CST.ml
  src/stages/1-cst/cameligo/Print.ml
  src/test/contracts/let_mut.mligo
  src/test/contracts/loop.mligo
  src/test/contracts/loop2.mligo
  src/test/contracts/negative/let_mut.mligo
  src/test/integration_tests.ml
Due: pages, pages-attempt, deploy_website_preview

Laucans/notify christian on frontend
  .ci/.gitlab-ci-notify.yml
  .gitlab-ci.yml
Due: none

[#1691] Support PascaLIGO in LSP and editor extensions
  .gitlab-ci.yml
  src/main/api/info.ml
  src/main/build/build.ml
  src/main/helpers/syntax.ml
  src/main/helpers/syntax.mli
  src/main/ligo_lsp/utils/utils.ml
  tools/emacs/README.md
  tools/emacs/ligo-mode.el
  tools/emacs/tests/configuration-test.el
  tools/ligo-syntax-highlighting/LigoSyntaxHighlighting.ml
  tools/ligo-syntax-highlighting/PascaLIGO.ml
  tools/ligo-syntax-highlighting/README.md
  tools/ligo-syntax-highlighting/dune
  tools/ligo-syntax-highlighting/regexp.ml
  tools/ligo-syntax-highlighting/textmate/ligo.tmLanguage.json
  tools/vim/ligo/start/ligo/ftdetect/ligo.vim
  tools/vim/ligo/start/ligo/plugin/ligo.vim
  tools/vim/ligo/start/ligo/syntax/ligo.vim
  tools/vscode/client/src/commands/common.ts
  tools/vscode/client/src/common.ts
  tools/vscode/client/src/extension.ts
  tools/vscode/package.json
  tools/vscode/syntaxes/ligo.configuration.json
  tools/vscode/syntaxes/ligo.tmLanguage.json
  tools/vscode/test/common.ts
  tools/vscode/test/contracts/bugs/LIGO-425.ligo
  tools/vscode/test/vsc-test/comment.test.ts
Due: check-generated-highlighting

CI: run poc webide extraction during docker_build itself
  .gitlab-ci.yml
Due: none

fix CI
  .gitlab-ci.yml
Due: none

CI: ligo_builder image is not longer saved
  .gitlab-ci.yml
Due: none

CI: get jsoo artifacts out of ligo-builder stage
  .gitlab-ci.yml
Due: none

Uses a more meaningful name for file names used for ligo.js
  src/main/api/common/compile.ml
Due: none

[LIGO-928] Add monaco-languageclient to frontend
  tools/webide-new/ligo-webide-frontend/ligo-ide/config-overrides.js
  tools/webide-new/ligo-webide-frontend/ligo-ide/package.json
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/base-components/code-editor/MonacoEditor/MonacoEditor.js
  tools/webide-new/ligo-webide-frontend/ligo-ide/yarn.lock
Due: webide-new-frontend-build-and-push

[LIGO-933] Restrict monaco-languageclient to LIGO
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/base-components/code-editor/MonacoEditor/MonacoEditor.js
Due: webide-new-frontend-build-and-push

[LIGO-933] Fix Content-Length bug
  tools/webide-new/ligo-webide-backend/ligo-webide-backend.cabal
  tools/webide-new/ligo-webide-backend/package.yaml
  tools/webide-new/ligo-webide-backend/simple-language-server/SendData.hs
Due: webide-new-backend-build-and-push-backend

[LIGO-933] Separate JSON into separate messages
  tools/webide-new/ligo-webide-backend/ligo-webide-backend.cabal
  tools/webide-new/ligo-webide-backend/package.yaml
  tools/webide-new/ligo-webide-backend/simple-language-server/SendData.hs
Due: webide-new-backend-build-and-push-backend

[LIGO-928] Add LSP functionality to backend
  tools/webide-new/ligo-webide-backend/ligo-webide-backend.cabal
  tools/webide-new/ligo-webide-backend/package.yaml
  tools/webide-new/ligo-webide-backend/simple-language-server/Common.hs
  tools/webide-new/ligo-webide-backend/simple-language-server/Config.hs
  tools/webide-new/ligo-webide-backend/simple-language-server/FilePath.hs
  tools/webide-new/ligo-webide-backend/simple-language-server/Main.hs
  tools/webide-new/ligo-webide-backend/simple-language-server/ReceiveData.hs
  tools/webide-new/ligo-webide-backend/simple-language-server/SendData.hs
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/base-components/code-editor/MonacoEditor/MonacoEditor.js
Due: webide-new-backend-build-and-push-backend, webide-new-frontend-build-and-push

[LIGO-933] Normalize Uris
  tools/webide-new/ligo-webide-backend/ligo-webide-backend.cabal
  tools/webide-new/ligo-webide-backend/package.yaml
  tools/webide-new/ligo-webide-backend/simple-language-server/FilePath.hs
  tools/webide-new/ligo-webide-backend/simple-language-server/ReceiveData.hs
  tools/webide-new/ligo-webide-backend/simple-language-server/SendData.hs
Due: webide-new-backend-build-and-push-backend

[LIGO-933] Flush data dir on connection close
  tools/webide-new/ligo-webide-backend/simple-language-server/Main.hs
Due: webide-new-backend-build-and-push-backend

[LIGO-933] Fix verbosity flag
  tools/webide-new/ligo-webide-backend/simple-language-server/Config.hs
  tools/webide-new/ligo-webide-backend/simple-language-server/Main.hs
Due: webide-new-backend-build-and-push-backend

[LIGO-933] Use 'ligo lsp' instead of ligo-squirrel
  tools/webide-new/ligo-webide-backend/simple-language-server/Config.hs
  tools/webide-new/ligo-webide-backend/simple-language-server/Main.hs
Due: webide-new-backend-build-and-push-backend

[Chore] Bump webide's 'nix-npm-buildpackage' input
  tools/webide-new/flake.lock
Due: none

[LIGO-933] Refactor LSP shim into a single binary
  tools/webide-new/ligo-webide-backend/app/Main.hs
  tools/webide-new/ligo-webide-backend/ligo-webide-backend.cabal
  tools/webide-new/ligo-webide-backend/package.yaml
  tools/webide-new/ligo-webide-backend/simple-language-server/Common.hs
  tools/webide-new/ligo-webide-backend/simple-language-server/Config.hs
  tools/webide-new/ligo-webide-backend/src/Common.hs
  tools/webide-new/ligo-webide-backend/src/Config.hs
  tools/webide-new/ligo-webide-backend/src/LSP/FilePath.hs
  tools/webide-new/ligo-webide-backend/src/LSP/ReceiveData.hs
  tools/webide-new/ligo-webide-backend/src/LSP/SendData.hs
  tools/webide-new/ligo-webide-backend/src/LSP/Server.hs
  tools/webide-new/ligo-webide-backend/src/Ligo.hs
  tools/webide-new/ligo-webide-backend/src/Method/CreateGist.hs
  tools/webide-new/ligo-webide-backend/src/Method/GenerateDeployScript.hs
  tools/webide-new/ligo-webide-backend/src/Server.hs
  tools/webide-new/ligo-webide-backend/test/Main.hs
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/base-components/code-editor/MonacoEditor/MonacoEditor.js
Due: webide-new-backend-build-and-push-backend, webide-new-frontend-build-and-push

[LIGO-985] Fix overflow on lsp hover actions
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/base-components/code-editor/CodeEditorCollection.js
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/base-components/navbar/styles.scss
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/base-components/ui-components/SplitPane/styles.css
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/base-components/ui-components/Tabs/Tabs.js
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/base-components/workspace/components/Workspace.js
Due: webide-new-frontend-build-and-push

[LIGO-933] Update README for ligo-webide-backend
  tools/webide-new/ligo-webide-backend/README.md
Due: webide-new-backend-build-and-push-backend

[Bot] add changelog entry
  changelog-tools/webide/2366
Due: none

fix typo in CI to notify christian
  .ci/.gitlab-ci-notify.yml
Due: none

[Chore] Add a changelog documenting the initial write of the LSP
  changelog/2393
  src/main/ligo_lsp/server.ml
Due: pages, pages-attempt, deploy_website_preview

[Chore] Better handling of awaits
  tools/vscode/client/src/updateLigo.ts
Due: none

[Chore] Add a deprecation warning for PascaLIGO
  src/main/ligo_lsp/requests/on_doc.ml
Due: none

[#1524] Remove CI jobs that build and test squirrel
  .ci/.gitlab-ci-lsp.yml
  .ci/.gitlab-ci-tools-common.yml
Due: none

[Bot] add changelog entry
  changelog/2381
Due: pages, pages-attempt, deploy_website_preview

CLI: add `--deprecated` flag
  src/bin/cli.ml
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/help_tests.ml
  src/bin/js_main.ml
  src/bin/repl.ml
  src/main/api/common/compile.ml
  src/main/api/common/info.ml
  src/main/api/common/print.ml
  src/main/api/common/run.ml
  src/main/api/common/transpile.ml
  src/main/api/unix/mutate.ml
  src/main/build/build.ml
  src/main/compiler_options/compiler_options.ml
  src/main/compiler_options/raw_options.ml
  src/main/decompile/of_imperative.ml
  src/main/helpers/ligo_manifest.ml
  src/main/helpers/syntax.ml
  src/main/helpers/syntax.mli
  src/main/interpreter/unix/mutation.ml
  src/main/ligo_lsp/ligo_interface/ligo_interface.ml
  src/main/ligo_lsp/server.ml
  src/main/main_errors/formatter.ml
  src/main/main_errors/types.ml
  src/test/contracts/increment.ligo
  src/test/md_file_tests.ml
Due: none

Path conditions:
  check-generated-highlighting: any of: tools/ligo-syntax-highlighting/**/*
  webide-backend-build-and-push-backend: any of: tools/webide/**/*, src/test/examples/**/*
  webide-new-backend-build-and-push-backend: any of: tools/webide-new/ligo-webide-backend/**/*
  webide-new-frontend-build-and-push: any of: tools/webide-new/ligo-webide-frontend/ligo-ide/**/*
  pages: any of: gitlab-pages/**/*, changelog/*
  pages-attempt: any of: gitlab-pages/**/*, changelog/*
  algolia-crawl: any of: gitlab-pages/**/*
  deploy_website_preview: any of: gitlab-pages/**/*, changelog/*
  deploy-handoff-feature: any of: tools/webide/**/*, src/test/examples/**/*
  deploy-handoff: any of: tools/webide/**/*, src/test/examples/**/*
  build-preview-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
  build-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
