Repository ligolang/ligo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-generated-highlighting, webide-backend-build-and-push-backend, webide-new-backend-build-and-push-backend, webide-new-frontend-build-and-push, pages, pages-attempt, algolia-crawl, deploy_website_preview, deploy-handoff-feature, deploy-handoff, build-preview-ligo-webide-front-end, build-ligo-webide-front-end

Path conditions:
  check-generated-highlighting: any of: tools/ligo-syntax-highlighting/**/*
  webide-backend-build-and-push-backend: any of: tools/webide/**/*, src/test/examples/**/*
  webide-new-backend-build-and-push-backend: any of: tools/webide-new/ligo-webide-backend/**/*
  webide-new-frontend-build-and-push: any of: tools/webide-new/ligo-webide-frontend/ligo-ide/**/*
  pages: any of: gitlab-pages/**/*, changelog/*
  pages-attempt: any of: gitlab-pages/**/*, changelog/*
  algolia-crawl: any of: gitlab-pages/**/*
  deploy_website_preview: any of: gitlab-pages/**/*, changelog/*
  deploy-handoff-feature: any of: tools/webide/**/*, src/test/examples/**/*
  deploy-handoff: any of: tools/webide/**/*, src/test/examples/**/*
  build-preview-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
  build-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*

Fix protocols_str to include nairobi and remove lima
  src/bin/expect_tests/help_tests.ml
  src/bin/js_main.ml
  src/environment/protocols.ml
Due: none

Adds CI job to test jsoo build with puppeteer
  .ci/.gitlab-ci-npm.yml
Due: none

Expose testing framework to jsoo bundle
  src/bin/cli.ml
  src/bin/js_main.ml
  src/main/api/common/run.ml
Due: none

JSOO IDE: Tweak poc ide to run test framework
  jsoo/index.template.html
  jsoo/src/app.ts
  jsoo/src/editor.js
Due: none

Disable michelson typechecking for JSOO testing framework
  src/main/interpreter/common/michelson_backend.ml
Due: none

JSOO IDE: Add ./watchman.sh to npm start
  jsoo/package.json
Due: none

Display commit hash in poc webide
  jsoo/src/app.ts
  jsoo/webpack.config.js
Due: none

Aggregation: revert to an earlier version
  src/passes/12-aggregation/aggregation.ml
  src/passes/12-aggregation/compiler.ml
  src/passes/12-aggregation/deduplicate_module_binders.ml
  src/passes/12-aggregation/dune
  src/passes/12-aggregation/resolve_module_aliases.ml
  src/stages/6-ast_aggregated/types.ml
  src/stages/6.1-ast_expanded/types.ml
  src/stages/ligo_primitive/label.ml
  src/stages/ligo_primitive/pattern.ml
  src/stages/ligo_primitive/var.ml
  src/stages/ligo_primitive/var.mli
Due: none

Makefile: use nairobi gas free patches for JSOO
  0001-Nairobi-JSOO-Gas-free.patch
  0002-JSOO-Use-lib_hacl-compatible-with-hacl-star-0.4.1.patch
  Dockerfile
  Makefile
  src/bin/dune
Due: none

[Bot] add changelog entry
  changelog/2470
Due: pages, pages-attempt, deploy_website_preview

JSOO IDE: improvements
  jsoo/src/app.ts
  jsoo/watchman.sh
  jsoo/webpack.config.js
Due: none

JSOO: cleanup threads.js stub
  src/bin/threads.js
Due: none

Js_of_ocaml has trouble pattern matching ("..." | "...")
  src/main/api/common/run.ml
  src/main/helpers/syntax.ml
Due: none

JSOO IDE: Use @ligolang/hacl-wasm 1.1.0-dev.1
  jsoo/package-lock.json
  jsoo/package.json
Due: none

[#1765] LSP formatting: make max line width configurable
  changelog-tools/vscode-plugin/2616
  src/main/ligo_lsp/lsp_helpers/PP_config.ml
  src/main/ligo_lsp/lsp_helpers/dialect_cst.ml
  src/main/ligo_lsp/lsp_helpers/dune
  src/main/ligo_lsp/lsp_helpers/helpers_pretty.ml
  src/main/ligo_lsp/lsp_helpers/imports.ml
  src/main/ligo_lsp/lsp_helpers/ligo_interface.ml
  src/main/ligo_lsp/lsp_helpers/lsp_helpers.ml
  src/main/ligo_lsp/requests/document_link.ml
  src/main/ligo_lsp/requests/dune
  src/main/ligo_lsp/requests/folding_range.ml
  src/main/ligo_lsp/requests/formatting.ml
  src/main/ligo_lsp/requests/handler.ml
  src/main/ligo_lsp/requests/range_formatting.ml
  src/main/ligo_lsp/server.ml
  src/passes/02-parsing/pascaligo/Pretty.mli
  src/test/contracts/lsp/with_ligopretty/.ligopretty
  src/test/contracts/lsp/with_ligopretty/format_me.jsligo
  src/test/contracts/lsp/with_ligopretty/format_me.mligo
  src/test/contracts/lsp/with_ligopretty/formatted.jsligo
  src/test/contracts/lsp/with_ligopretty/formatted.mligo
  src/test/lsp_test/cst_fold.ml
  src/test/lsp_test/formatting.ml
  src/test/lsp_test/handlers.ml
  src/test/lsp_test/range_formatting.ml
  tools/vscode/README.md
  tools/vscode/package.json
Due: none

Fix regression in aggregation related to lambda
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/passes/12-aggregation/compiler.ml
  src/test/contracts/interpreter_tests/agg_bar.mligo
  src/test/contracts/interpreter_tests/agg_foo.mligo
Due: none

fix brew formulae
  HomebrewFormula/ligo.rb
  HomebrewFormula/ligo@0.62.0.rb
Due: none

fix brew formulae
  HomebrewFormula/ligo.rb
Due: none

doc: replace // @entry with @entry
  gitlab-pages/docs/language-basics/modules.md
  gitlab-pages/docs/language-basics/src/modules/contract.jsligo
  gitlab-pages/docs/tutorials/getting-started/getting-started.md
  gitlab-pages/website/src/components/HomepageCodeExamples/jsligo.jsligo
  gitlab-pages/website/versioned_docs/version-0.65.0/language-basics/modules.md
  gitlab-pages/website/versioned_docs/version-0.65.0/language-basics/src/modules/contract.jsligo
  gitlab-pages/website/versioned_docs/version-0.65.0/tutorials/getting-started/getting-started.md
  gitlab-pages/website/versioned_docs/version-0.66.0/language-basics/modules.md
  gitlab-pages/website/versioned_docs/version-0.66.0/language-basics/src/modules/contract.jsligo
  gitlab-pages/website/versioned_docs/version-0.66.0/tutorials/getting-started/getting-started.md
  gitlab-pages/website/versioned_docs/version-0.67.1/language-basics/modules.md
  gitlab-pages/website/versioned_docs/version-0.67.1/language-basics/src/modules/contract.jsligo
  gitlab-pages/website/versioned_docs/version-0.67.1/tutorials/getting-started/getting-started.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Fixed pretty-printing of for-loops (extra semicolon).
  changelog/2651
  src/passes/02-parsing/jsligo/Pretty.ml
  src/test/contracts/lsp/with_ligopretty/folding_range_for_loop_formatted.jsligo
  src/test/lsp_test/formatting.ml
Due: pages, pages-attempt, deploy_website_preview

Move 'unused variable' pass after aggregation
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/main/api/common/compile.ml
  src/main/api/common/run.ml
  src/main/build/build.ml
  src/main/compile/of_core.ml
  src/passes/11-self_ast_typed/contract_passes.ml
  src/passes/11-self_ast_typed/self_ast_typed.ml
  src/passes/12-aggregation/compiler.ml
  src/passes/13-self_ast_aggregated/remove_unused.ml
  src/passes/13-self_ast_aggregated/self_ast_aggregated.ml
  src/stages/6-ast_aggregated/helpers.ml
  src/test/contracts/interpreter_tests/for_loop/pascal_triangle.jsligo
  src/test/contracts/interpreter_tests/interpret_test_log.mligo
Due: none

Support `[%of_file]` and string code injection in `[%michelson]`
  changelog/2556
  src/bin/expect_tests/contract_tests.ml
  src/main/interpreter/common/interpreter.ml
  src/passes/04-nanopasses/nanopasses.ml
  src/passes/04-nanopasses/passes/dune
  src/passes/04-nanopasses/passes/of_file.ml
  src/passes/16-scoping/scoping.ml
  src/test/contracts/of_file.mligo
Due: pages, pages-attempt, deploy_website_preview

CameLIGO: add support for module access in type application
  changelog/2639
  src/bin/expect_tests/parametric_types.ml
  src/passes/04-nanopasses/passes/module_open_restriction.ml
  src/test/contracts/parametric_types.mligo
  src/test/contracts/polymorphism/use_monad.mligo
Due: pages, pages-attempt, deploy_website_preview

Add changelog for MR 2650
  changelog/2650
Due: pages, pages-attempt, deploy_website_preview

[Chore] Bump VSCode version
  tools/vscode/package.json
Due: none

optimize windows job lifecycle
  .ci/.gitlab-ci-npm.yml
Due: none

Fix (nanopass `LET_SYNTAX`): use location from rhs instead of global one
  changelog/2652
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/get_scope.ml
  src/bin/expect_tests/get_scope_errors_warns.ml
  src/bin/expect_tests/get_scope_full_stdlib.ml
  src/bin/expect_tests/get_scope_regressions.ml
  src/passes/04-nanopasses/passes/let_syntax.ml
  src/passes/12-aggregation/compiler.ml
Due: pages, pages-attempt, deploy_website_preview

[#1744] Fix document link on Windows
  changelog/2640
  src/main/ligo_lsp/lsp_helpers/lsp_helpers.ml
  src/main/ligo_lsp/lsp_helpers/path.ml
  src/test/lsp_test/document_link.ml
Due: pages, pages-attempt, deploy_website_preview

Website, fix link and some titles
  gitlab-pages/website/docusaurus.config.js
  gitlab-pages/website/src/pages/index.js
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Docs: make some examples in mutation doc. be checked
  gitlab-pages/docs/advanced/mutation-testing.md
  src/passes/04-nanopasses/passes/freeze_operators.ml
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

hide sort in sexp
  src/bin/cli.ml
  src/main/api/common/print.ml
  src/stages/2-ast_unified/PP.ml
  src/stages/2-ast_unified/formatter.ml
  src/stages/2-ast_unified/s_exp.ml
Due: none

fix 404 get started link on website
  gitlab-pages/website/src/pages/index.js
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Fix opam lock with the new version of rust
  Dockerfile
  ligo.opam.locked
  scripts/setup_rust.sh
Due: none

Fixed URL to "Built-in types" in doc
  gitlab-pages/docs/language-basics/types.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Contract Metadata - Check storage metadata type
  changelog/2628
  src/bin/cli.ml
  src/bin/expect_tests/contract_metadata.ml
  src/bin/expect_tests/help_tests.ml
  src/main/api/common/compile.ml
  src/main/api/common/run.ml
  src/main/build/build.ml
  src/main/compile/of_core.ml
  src/main/compiler_options/compiler_options.ml
  src/main/compiler_options/raw_options.ml
  src/main/main_warnings/main_warnings.ml
  src/passes/11-self_ast_typed/check_metadata.ml
  src/passes/11-self_ast_typed/self_ast_typed.ml
  src/stages/ligo_primitive/layout.ml
  src/test/contracts/contract_metadata/metadata_tzip16.jsligo
  src/test/contracts/contract_metadata/metadata_tzip16.mligo
  src/test/contracts/contract_metadata/no_metadata.jsligo
  src/test/contracts/contract_metadata/no_metadata.mligo
Due: pages, pages-attempt, deploy_website_preview

LIGO ppx to generate helpers function on sum-types
  src/passes/04-nanopasses/nanopasses.ml
  src/passes/04-nanopasses/passes/dune
  src/passes/04-nanopasses/passes/sum_type_helper_generator.ml
  src/stages/2-ast_unified/nano_prim/let_decl.ml
  src/stages/2-ast_unified/nano_prim/non_linear_rows.ml
  src/test/ast_production.ml
  src/test/contracts/ppx_helpers.mligo
Due: none

[#1809] Run tests with the compiler from `dev`
  .ci/.gitlab-ci-debugger.yml
Due: none
