Repository ligolang/ligo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-generated-highlighting, webide-backend-build-and-push-backend, webide-new-backend-build-and-push-backend, webide-new-frontend-build-and-push, pages, pages-attempt, algolia-crawl, deploy_website_preview, deploy-handoff-feature, deploy-handoff, build-preview-ligo-webide-front-end, build-ligo-webide-front-end

check-generated-highlighting:
  stage: tooling
  dependencies:
  - docker_extract
  script:
  - scripts/diff_dir.sh highlighting/emacs tools/emacs
  - scripts/diff_dir.sh highlighting/vim/ftdetect tools/vim/ligo/start/ligo/ftdetect
  - scripts/diff_dir.sh highlighting/vim/plugin tools/vim/ligo/start/ligo/plugin
  ...

webide-backend-build-and-push-backend:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  - cp -r src/test/examples tools/webide/packages/client/examples
  ...

webide-new-backend-build-and-push-backend:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  needs:
  - job: changelog
    artifacts: false
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  - docker build tools/webide-new/ligo-webide-backend -t ${WEBIDE_NEW_IMAGE_TAG}
  ...

webide-new-frontend-build-and-push:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  needs:
  - job: changelog
    artifacts: false
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  ...

pages:
  stage: push
  tags:
  - docker
  image: node:16.17.0-buster
  needs:
  - job: changelog
    artifacts: true
  script:
  - export DOC_PATH=./gitlab-pages/docs
  - export WEBSITE_PATH=./gitlab-pages/website
  - cp -f ./changelog.md $DOC_PATH/intro/changelog.md
  ...

pages-attempt:
  stage: push
  tags:
  - docker
  image: node:16.17.0-buster
  needs:
  - job: changelog
    artifacts: true
  script:
  - export DOC_PATH=./gitlab-pages/docs
  - export WEBSITE_PATH=./gitlab-pages/website
  - cp -f ./changelog.md $DOC_PATH/intro/changelog.md
  ...

algolia-crawl:
  stage: push
  needs:
  - job: pages
  script:
  - "sleep 10 \ncurl -X post  -H \"Content-Type: application/json\" --user ${ALGOLIA_CRAWLER_ID}:${ALGOLIA_CRAWLER_TOKEN} https://crawler.algolia.com/api/1/crawlers/bb0597ba-5abc-45ba-bdf9-99f8152e87b0/reindex\n"

deploy_website_preview:
  stage: deploy
  image: node:16.17.0-buster
  tags:
  - docker
  needs:
  - job: pages-attempt
    artifacts: true
  script:
  - apt-get update
  - apt-get install -y --no-install-recommends jq
  - npm install netlify-cli
  ...

deploy-handoff-feature:
  stage: deploy
  variables:
    APP_NAME: web-ide-backend
    NEW_VERSION: ${CI_COMMIT_SHORT_SHA}
    ENV: non-prod
  trigger:
    project: ligolang/kubernetes-infrastructure

deploy-handoff:
  stage: deploy
  variables:
    APP_NAME: web-ide-backend
    NEW_VERSION: ${CI_COMMIT_SHORT_SHA}
    ENV: prod
  trigger:
    project: ligolang/kubernetes-infrastructure

[Chore] Format typescript part in the debugger
  tools/debugger/vscode-plugin/src/LigoDebugAdapterDescriptorFactory.ts
  tools/debugger/vscode-plugin/src/LigoDebugConfigurationProvider.ts
  tools/debugger/vscode-plugin/src/LigoDebugContext.ts
  tools/debugger/vscode-plugin/src/LigoProtocolClient.ts
  tools/debugger/vscode-plugin/src/LigoServer.ts
  tools/debugger/vscode-plugin/src/base.ts
  tools/debugger/vscode-plugin/src/extension.ts
  tools/debugger/vscode-plugin/src/messages.ts
  tools/debugger/vscode-plugin/src/ui.ts
Due: none

[Chore] Move ligo-recommended tests into `vscode-production`
  .ci/.gitlab-ci-debugger.yml
Due: none

[Bot] add changelog entry
  changelog-tools/debugger/2800
Due: none

Internal: add missing case `E_let_mut_in` for contextual expressions checking
  changelog/2809
  src/passes/10-checking/checking.ml
  src/test/ast_production.ml
  src/test/contracts/contextual_expressions_typing.jsligo
Due: pages, pages-attempt, deploy_website_preview

[Bot] Update release metadata 0.72.0
  .ci/.metadata.yml
Due: none

File import: make `export` mandatory to export values/types/namespaces when importing modules from other files
  .ci/.gitlab-ci-debugger.yml
  changelog/2796
  src/bin/expect_tests/contract_tests.ml
  src/passes/10-checking/checking.ml
  src/test/contracts/interpreter_tests/originate_from_relative_path/test/c/d/foo.jsligo
  src/test/contracts/interpreter_tests/originate_from_relative_path/test/c/e/g/h/bar.jsligo
  src/test/contracts/negative/modules_export_imported.jsligo
  src/test/contracts/negative/modules_export_importer.jsligo
  tools/debugger/ligo-debugger/test/contracts/module_contracts/imported2.jsligo
Due: pages, pages-attempt, deploy_website_preview

Compilation: add `--function-body` to expression compilation
  changelog/2811
  src/bin/cli.ml
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/help_tests.ml
  src/main/api/common/compile.ml
  src/main/build/build.ml
  src/main/compile/of_mini_c.ml
  src/main/compile/of_typed.ml
  src/main/compiler_options/compiler_options.ml
  src/main/compiler_options/raw_options.ml
  src/stages/6-ast_aggregated/combinators.ml
  src/test/contracts/off_view_expression.mligo
Due: pages, pages-attempt, deploy_website_preview

Style: apply dune fmt
  src/bin/expect_tests/annotated_michelson_record.ml
  src/bin/expect_tests/annotated_michelson_variant.ml
  src/bin/expect_tests/build_module_test.ml
  src/bin/expect_tests/cli_deprecation.ml
  src/bin/expect_tests/contract_metadata.ml
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/package_management.ml
  src/bin/expect_tests/view.ml
  src/main/api/common/dune
  src/main/interpreter/common/execution_monad.ml
  src/main/main_errors/formatter.ml
  src/passes/11-self_ast_typed/self_ast_typed.ml
Due: none

CLI: adds unpublish command to remove a package from registry
  changelog/2794
  gitlab-pages/docs/advanced/package-management.md
  ligo.opam
  ligo.opam.locked
  src/bin/cli.ml
  src/bin/dune
  src/bin/expect_tests/dune
  src/bin/expect_tests/help_tests.ml
  src/bin/expect_tests/package_management.ml
  src/bin/expect_tests/pkg_one_version_v4.ml
  src/bin/expect_tests/pkg_one_version_v5.ml
  src/bin/expect_tests/pkg_two_versions.ml
  src/bin/expect_tests/unpublish_mock_server.ml
  src/bin/publish.ml
  src/bin/unpublish.ml
  src/main/helpers/ligo_manifest.ml
  src/main/helpers/ligo_manifest.mli
  src/main/helpers/repository_url.ml
  src/main/helpers/repository_url.mli
  src/package-management/dune
  src/package-management/package_management.ml
  src/test/projects/.ligorc
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

docs: fix typo create_contract -> create_contract_uncurried
  gitlab-pages/docs/reference/current.md
  gitlab-pages/website/versioned_docs/version-0.70.1/reference/current.md
  gitlab-pages/website/versioned_docs/version-0.71.1/reference/current.md
  gitlab-pages/website/versioned_docs/version-0.72.0/reference/current.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Remove js_main from src/bin
  src/bin/dune
  src/bin/js_main.ml
Due: none

[CameLIGO] Signature annotations in module declarations were not pretty-printed.
  changelog/2826
  src/passes/02-parsing/cameligo/Parser.mly
  src/passes/02-parsing/cameligo/Pretty.ml
  src/passes/03-unification/cameligo/compile.ml
  src/stages/1-cst/cameligo/CST.ml
  src/stages/1-cst/cameligo/Fold.ml
  src/stages/1-cst/cameligo/Print.ml
  src/test/error-recovery/fuzzing/cameligo/test.ml
Due: pages, pages-attempt, deploy_website_preview

Internal: make `import` in JsLIGO exported
  changelog/2815
  src/bin/expect_tests/contract_tests.ml
  src/passes/04-nanopasses/passes/export_declaration.ml
  src/passes/04-nanopasses/passes/import_restriction.ml
  src/test/contracts/import_export/f.jsligo
  src/test/contracts/import_export/g.jsligo
  src/test/contracts/import_export/h.jsligo
Due: pages, pages-attempt, deploy_website_preview

[Chore] Remove silent compile contract
  tools/vscode/client/src/command.ts
  tools/vscode/client/src/commands/ligoCommands.ts
Due: none

[Chore] Replace VSCode bigarray tests
  tools/vscode/client/src/commands/ligoCommands.ts
  tools/vscode/client/src/ui.ts
  tools/vscode/test/contracts/bugs/LIGO-821/1/2/lib2.jsligo
  tools/vscode/test/contracts/bugs/LIGO-821/1/2/lib2.mligo
  tools/vscode/test/contracts/bugs/LIGO-821/1/2/package.json
  tools/vscode/test/contracts/bugs/LIGO-821/1/3/4/lib2.jsligo
  tools/vscode/test/contracts/bugs/LIGO-821/1/3/4/lib2.mligo
  tools/vscode/test/vsc-test/externalLib.test.ts
Due: none

[Bot] add changelog entry
  changelog-tools/vscode-plugin/2828
Due: none

Remove JSOO examples
  examples/ligojs/.gitignore
  examples/ligojs/README.md
  examples/ligojs/app.js
  examples/ligojs/editor.js
  examples/ligojs/index.html
  examples/ligojs/index.template.html
  examples/ligojs/package-lock.json
  examples/ligojs/package.json
  examples/ligojs/rollup.config.mjs
  examples/ligojs/webpack.config.js
Due: none

[Chore] Run formatter on ignored files
  src/bin/cli.ml
  src/bin/expect_tests/contract_metadata.ml
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/deep_pattern_matching.ml
  src/bin/expect_tests/failwith_tests.ml
  src/bin/expect_tests/jsligo_unreachable_code.ml
  src/bin/expect_tests/michelson_or_tests.ml
  src/bin/expect_tests/michelson_pair_test.ml
  src/bin/expect_tests/option_map_tests.ml
  src/bin/expect_tests/top_level_binding_pattern_cameligo.ml
  src/bin/expect_tests/view.ml
  src/main/build/build.ml
  src/main/compile/of_typed.ml
  src/main/compile/utils.ml
  src/passes/04-nanopasses/trivial.ml
  src/passes/11-self_ast_typed/helpers.ml
  src/passes/11-self_ast_typed/view_passes.ml
  src/stages/5-ast_typed/combinators.ml
Due: none

[CI] Remove unused to_dos job from pipeline
  .gitlab-ci.yml
Due: none

[CI][Clean] Remove not useful build-arg for docker build
  .gitlab-ci.yml
Due: none

[CI] Optimization. Avoid touch ligo docker cache when there is no change on compiler.
  .ci/scripts/pipeline_optimization/mr_dockerfile_pre_process.sh
  .gitlab-ci.yml
  Dockerfile
Due: none

[CI][Clean] Remove unused Dockerfile.ubuntu
  Dockerfile.ubuntu
Due: none

[CI] Add cache system to improve changelog generation job
  scripts/changelog-generation.sh
Due: none

[Chore] Fix VSCode tests
  changelog-tools/vscode-plugin/2834
  src/bin/cli.ml
  src/bin/expect_tests/contract_metadata.ml
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/deep_pattern_matching.ml
  src/bin/expect_tests/failwith_tests.ml
  src/bin/expect_tests/jsligo_unreachable_code.ml
  src/bin/expect_tests/michelson_or_tests.ml
  src/bin/expect_tests/michelson_pair_test.ml
  src/bin/expect_tests/option_map_tests.ml
  src/bin/expect_tests/top_level_binding_pattern_cameligo.ml
  src/bin/expect_tests/view.ml
  src/main/api/common/run.ml
  src/main/build/build.ml
  src/main/compile/of_typed.ml
  src/main/compile/utils.ml
  src/passes/04-nanopasses/trivial.ml
  src/passes/11-self_ast_typed/helpers.ml
  src/passes/11-self_ast_typed/view_passes.ml
  src/stages/5-ast_typed/combinators.ml
  tools/vscode/client/src/commands/ligoCommands.ts
  tools/vscode/test/contracts/bugs/LIGO-821/1/2/lib1.jsligo
  tools/vscode/test/contracts/bugs/LIGO-821/1/3/4/lib1.jsligo
  tools/vscode/test/contracts/bugs/LIGO-821/1/package.json
  tools/vscode/test/contracts/simple.mligo
  tools/vscode/test/vsc-test/commands.test.ts
Due: none

[scripts] Pre-commit -- Remove dependency with dune. Execute it through opam
  scripts/pre_commit_hook.sh
Due: none

[#1819] Optimize source mapper's output
  ligo.opam
  ligo.opam.locked
  src/bin/cli.ml
  src/bin/expect_tests/help_tests.ml
  src/formatter/dune
  src/formatter/ligo_formatter.ml
  tools/debugger/ligo-debugger/ligo-debugger.cabal
  tools/debugger/ligo-debugger/package.yaml
  tools/debugger/ligo-debugger/src/Control/MessagePack.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Call.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Helpers.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Types.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Types/LigoValue.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Common.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Michelson.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Range.hs
  tools/debugger/ligo-debugger/src/Util.hs
  tools/debugger/ligo-debugger/stack.yaml
  tools/debugger/ligo-debugger/stack.yaml.lock
Due: none

[#1978] Fix a bug with config creation file manager
  tools/debugger/vscode-plugin/src/LigoDebugConfigurationProvider.ts
Due: none

[Bot] add changelog entry
  changelog-tools/debugger/2839
Due: none

[Bot] add changelog entry
  changelog-tools/debugger/2825
Due: none

[#2014] Fix pretty-printing of comments attached to directives
  src/passes/01-lexing/cameligo/Self-passes/Tokens/Comments.ml
  src/passes/01-lexing/cameligo/Self-passes/Tokens/dune
  src/passes/01-lexing/jsligo/Self-passes/Tokens/Comments.ml
  src/passes/01-lexing/pascaligo/Self-passes/Tokens/Comments.ml
  src/passes/02-parsing/pascaligo/Pretty.ml
  src/test/contracts/lsp/format_me_comments.jsligo
  src/test/contracts/lsp/format_me_comments.mligo
  src/test/contracts/lsp/formatted_comments.jsligo
  src/test/contracts/lsp/formatted_comments.mligo
  src/test/lsp_test/formatting.ml
  vendored-dune/Preprocessor/Directive.mli
  vendored-dune/Preprocessor/Directive.mll
Due: none

Documented @entry attribute
  changelog-tools/website/2775
  gitlab-pages/docs/advanced/entrypoints-contracts.md
  gitlab-pages/docs/advanced/img-entrypoint-contracts/webide-jsligo.png
  gitlab-pages/docs/advanced/img-entrypoint-contracts/webide-mligo.png
  gitlab-pages/docs/advanced/src/entrypoints-contracts/contract_main.jsligo
  gitlab-pages/docs/advanced/src/entrypoints-contracts/contract_main.ligo
  gitlab-pages/docs/advanced/src/entrypoints-contracts/contract_main.mligo
  gitlab-pages/docs/advanced/src/entrypoints-contracts/incdec.jsligo
  gitlab-pages/docs/advanced/src/entrypoints-contracts/incdec.mligo
  gitlab-pages/docs/advanced/src/entrypoints-contracts/test.jsligo
  gitlab-pages/docs/advanced/src/entrypoints-contracts/test.mligo
  gitlab-pages/docs/reference/current.md
  gitlab-pages/website/versioned_docs/version-0.70.1/advanced/entrypoints-contracts.md
  gitlab-pages/website/versioned_docs/version-0.70.1/advanced/img-entrypoint-contracts/webide-jsligo.png
  gitlab-pages/website/versioned_docs/version-0.70.1/advanced/img-entrypoint-contracts/webide-mligo.png
  gitlab-pages/website/versioned_docs/version-0.70.1/reference/current.md
  gitlab-pages/website/versioned_docs/version-0.71.1/advanced/entrypoints-contracts.md
  gitlab-pages/website/versioned_docs/version-0.71.1/advanced/img-entrypoint-contracts/webide-jsligo.png
  gitlab-pages/website/versioned_docs/version-0.71.1/advanced/img-entrypoint-contracts/webide-mligo.png
  gitlab-pages/website/versioned_docs/version-0.71.1/reference/current.md
  gitlab-pages/website/versioned_docs/version-0.72.0/advanced/entrypoints-contracts.md
  gitlab-pages/website/versioned_docs/version-0.72.0/advanced/img-entrypoint-contracts/webide-jsligo.png
  gitlab-pages/website/versioned_docs/version-0.72.0/advanced/img-entrypoint-contracts/webide-mligo.png
  gitlab-pages/website/versioned_docs/version-0.72.0/reference/current.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[#2023] broken links in docs
  gitlab-pages/docs/advanced/package-management.md
  gitlab-pages/website/versioned_docs/version-0.70.1/advanced/package-management.md
  gitlab-pages/website/versioned_docs/version-0.70.1/intro/installation.md
  gitlab-pages/website/versioned_docs/version-0.71.1/advanced/package-management.md
  gitlab-pages/website/versioned_docs/version-0.72.0/advanced/package-management.md
  tools/debugger/README.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Docs: fix `ligo run interpret` call in starting (CameLIGO)
  gitlab-pages/docs/tutorials/getting-started/getting-started.md
  gitlab-pages/website/versioned_docs/version-0.70.1/tutorials/getting-started/getting-started.md
  gitlab-pages/website/versioned_docs/version-0.71.1/tutorials/getting-started/getting-started.md
  gitlab-pages/website/versioned_docs/version-0.72.0/tutorials/getting-started/getting-started.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Path conditions:
  check-generated-highlighting: any of: tools/ligo-syntax-highlighting/**/*
  webide-backend-build-and-push-backend: any of: tools/webide/**/*, src/test/examples/**/*
  webide-new-backend-build-and-push-backend: any of: tools/webide-new/ligo-webide-backend/**/*
  webide-new-frontend-build-and-push: any of: tools/webide-new/ligo-webide-frontend/ligo-ide/**/*
  pages: any of: gitlab-pages/**/*, changelog/*
  pages-attempt: any of: gitlab-pages/**/*, changelog/*
  algolia-crawl: any of: gitlab-pages/**/*
  deploy_website_preview: any of: gitlab-pages/**/*, changelog/*
  deploy-handoff-feature: any of: tools/webide/**/*, src/test/examples/**/*
  deploy-handoff: any of: tools/webide/**/*, src/test/examples/**/*
  build-preview-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
  build-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
