Repository ligolang/ligo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-generated-highlighting, webide-backend-build-and-push-backend, webide-new-backend-build-and-push-backend, webide-new-frontend-build-and-push, pages, pages-attempt, algolia-crawl, deploy_website_preview, deploy-handoff-feature, deploy-handoff, build-preview-ligo-webide-front-end, build-ligo-webide-front-end

check-generated-highlighting:
  stage: tooling
  dependencies:
  - docker_extract
  script:
  - scripts/diff_dir.sh highlighting/emacs tools/emacs
  - scripts/diff_dir.sh highlighting/vim/ftdetect tools/vim/ligo/start/ligo/ftdetect
  - scripts/diff_dir.sh highlighting/vim/plugin tools/vim/ligo/start/ligo/plugin
  ...

webide-backend-build-and-push-backend:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  - cp -r src/test/examples tools/webide/packages/client/examples
  ...

webide-new-backend-build-and-push-backend:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  needs:
  - job: changelog
    artifacts: false
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  - docker build tools/webide-new/ligo-webide-backend -t ${WEBIDE_NEW_IMAGE_TAG}
  ...

webide-new-frontend-build-and-push:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  needs:
  - job: changelog
    artifacts: false
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  ...

pages:
  stage: push
  tags:
  - docker
  image: node:16.17.0-buster
  needs:
  - job: changelog
    artifacts: true
  script:
  - export DOC_PATH=./gitlab-pages/docs
  - export WEBSITE_PATH=./gitlab-pages/website
  - cp -f ./changelog.md $DOC_PATH/intro/changelog.md
  ...

pages-attempt:
  stage: push
  tags:
  - docker
  image: node:16.17.0-buster
  needs:
  - job: changelog
    artifacts: true
  script:
  - export DOC_PATH=./gitlab-pages/docs
  - export WEBSITE_PATH=./gitlab-pages/website
  - cp -f ./changelog.md $DOC_PATH/intro/changelog.md
  ...

algolia-crawl:
  stage: push
  needs:
  - job: pages
  script:
  - "sleep 10 \ncurl -X post  -H \"Content-Type: application/json\" --user ${ALGOLIA_CRAWLER_ID}:${ALGOLIA_CRAWLER_TOKEN} https://crawler.algolia.com/api/1/crawlers/bb0597ba-5abc-45ba-bdf9-99f8152e87b0/reindex\n"

deploy_website_preview:
  stage: deploy
  image: node:16.17.0-buster
  tags:
  - docker
  needs:
  - job: pages-attempt
    artifacts: true
  script:
  - apt-get update
  - apt-get install -y --no-install-recommends jq
  - npm install netlify-cli
  ...

deploy-handoff-feature:
  stage: deploy
  variables:
    APP_NAME: web-ide-backend
    NEW_VERSION: ${CI_COMMIT_SHORT_SHA}
    ENV: non-prod
  trigger:
    project: ligolang/kubernetes-infrastructure

deploy-handoff:
  stage: deploy
  variables:
    APP_NAME: web-ide-backend
    NEW_VERSION: ${CI_COMMIT_SHORT_SHA}
    ENV: prod
  trigger:
    project: ligolang/kubernetes-infrastructure

[#2081] Fix decompiling of byte-like LIGO values
  src/bin/expect_tests/contract_tests.ml
  src/main/build/ligo_lib/std_lib.mligo
  src/main/interpreter/common/interpreter.ml
  src/main/interpreter/common/michelson_to_value.ml
  src/stages/ligo_interpreter/combinators.ml
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Types/LigoValue.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Types/LigoValue/Codegen.hs
  tools/debugger/ligo-debugger/test/Test/LigoCall.hs
  tools/debugger/ligo-debugger/test/Test/Snapshots.hs
  tools/debugger/ligo-debugger/test/Test/Util.hs
Due: none

[Bot] add changelog entry
  changelog-tools/debugger/2941
Due: none

[Chore] Fix bytes printer in `tryDecompilePrimitive`
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Types/LigoValue.hs
Due: none

List-declarations: fix `--only-ep` for non-generated `@entry` marked in
  changelog/2947
  src/bin/expect_tests/misc_cli_commands.ml
  src/main/compile/of_typed.ml
  src/stages/5-ast_typed/misc.ml
  src/stages/5-ast_typed/misc.mli
  tools/debugger/ligo-debugger/test/Test/LigoCall.hs
Due: pages, pages-attempt, deploy_website_preview

Test for metadata with dynamic entrypoints
  src/bin/expect_tests/contract_metadata.ml
  src/test/contracts/contract_metadata/metadata_tzip16.mligo
Due: none

Suppress opt_cond Michelson optimization for debugging
  changelog/2935
  src/main/api/common/compile.ml
  src/main/compile/of_michelson.ml
  src/main/compile/of_mini_c.ml
  src/passes/17-stacking/to_micheline.ml
  src/passes/18-self_michelson/self_michelson.ml
  tools/debugger/ligo-debugger/test/Test/Navigation.hs
  tools/debugger/ligo-debugger/test/contracts/common-things-are-not-extracted.mligo
  tools/debugger/ligo-debugger/test/golden/StepIn/common-things-inner.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/common-things-noop.golden
Due: pages, pages-attempt, deploy_website_preview

[fix]Typo in error message.
  src/passes/11-self_ast_typed/errors.ml
Due: none

[#2007] Documentation for attributes / decorators
  gitlab-pages/docs/advanced/attributes-decorators.md
  gitlab-pages/docs/advanced/entrypoints-contracts.md
  gitlab-pages/docs/advanced/interop.md
  gitlab-pages/docs/advanced/src/attributes-decorators/import-module-with-private.mligo
  gitlab-pages/docs/advanced/src/attributes-decorators/module-with-private.mligo
  gitlab-pages/website/sidebars.js
  gitlab-pages/website/versioned_docs/version-1.0.0/advanced/attributes-decorators.md
  gitlab-pages/website/versioned_docs/version-1.0.0/advanced/interop.md
  gitlab-pages/website/versioned_sidebars/version-1.0.0-sidebars.json
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[#2056] Remove failwith from types pass
  src/main/scopes/types_pass.ml
Due: none

[#2056] Add basic support for sig items in scopes
  src/main/ligo_lsp/lsp_helpers/def.ml
  src/main/ligo_lsp/requests/completion.ml
  src/main/ligo_lsp/requests/hover.ml
  src/main/scopes/PP.ml
  src/main/scopes/definitions.ml
  src/main/scopes/env.ml
  src/main/scopes/module_aliases_pass.ml
  src/main/scopes/references.ml
  src/main/scopes/scopes_pass.ml
  src/main/scopes/types.ml
  src/main/scopes/types_pass.ml
  src/test/decompiler_tests.ml
Due: none

[#2056] Highlight signatures/interfaces properly
  tools/emacs/ligo-mode.el
  tools/ligo-syntax-highlighting/CameLIGO.ml
  tools/ligo-syntax-highlighting/textmate/mligo.tmLanguage.json
  tools/vim/ligo/start/ligo/syntax/mligo.vim
  tools/vscode/syntaxes/mligo.tmLanguage.json
  vendored-dune/syntax-highlighting/regexp.ml
Due: check-generated-highlighting

[Bot] add changelog entry
  changelog/2946
Due: pages, pages-attempt, deploy_website_preview

[#2076] Support entrypoint and view related errors in LSP
  changelog/2927
  src/bin/expect_tests/contract_metadata.ml
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/dynamic_entrypoints.ml
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/main/ligo_lsp/lsp_helpers/get_scope.ml
  src/main/ligo_lsp/lsp_helpers/ligo_interface.ml
  src/main/ligo_lsp/requests/diagnostics.ml
  src/main/ligo_lsp/requests/on_doc.ml
  src/main/run/of_michelson.ml
  src/main/scopes/types_pass.ml
  src/passes/10-checking/checking.ml
  src/passes/10-checking/checking.mli
  src/passes/10-checking/computation.mli
  src/passes/10-checking/elaboration.mli
  src/passes/10-checking/type.ml
  src/passes/11-self_ast_typed/errors.ml
  src/passes/11-self_ast_typed/make_entry_point.ml
  src/passes/11-self_ast_typed/self_ast_typed.ml
  src/test/contracts/ligo.json
  src/test/contracts/lsp/entrypoints_different_storage.mligo
  src/test/contracts/lsp/entrypoints_modules.mligo
  src/test/contracts/lsp/entrypoints_repeated.mligo
  src/test/contracts/lsp/entrypoints_views.mligo
  src/test/contracts/lsp/test_metadata.mligo
  src/test/decompiler_tests.ml
  src/test/lsp_test/diagnostics.ml
  src/test/lsp_test/on_doc.ml
Due: pages, pages-attempt, deploy_website_preview

Error handling: use passes errors instead of failwith in 04-nanopasses' trivial
  changelog/2949
  src/passes/04-nanopasses/nanopasses.ml
  src/passes/04-nanopasses/passes/errors.ml
  src/passes/04-nanopasses/trivial.ml
Due: pages, pages-attempt, deploy_website_preview

CLI: Providing alternative input methods for non-interactive terminal environments
  src/bin/cli.ml
  src/bin/prompt.ml
  src/bin/user.ml
Due: none

[fix] Ensure BLST_PORTABLE is 'y' during build on CI
  Dockerfile
  changelog/2952
Due: pages, pages-attempt, deploy_website_preview

Publish vscode syntaxes
  .ci/.gitlab-ci-release.yml
Due: none

Fix version issue
  .gitlab-ci.yml
  Dockerfile
  scripts/changelog-generation.sh
  tools/webide-new/ligo-webide-frontend/yarn.lock
Due: none

[Bot] Update release metadata 1.1.0
  .ci/.metadata.yml
Due: none

fix update-repository-status
  .ci/.gitlab-ci-release.yml
Due: none

[Chore] Bump tooling version
  tools/debugger/ligo-debugger/ligo-debugger.cabal
  tools/debugger/ligo-debugger/package.yaml
  tools/debugger/ligo-debugger/src/resources/versions/minimal-supported
  tools/debugger/ligo-debugger/src/resources/versions/recommended
  tools/vscode/package.json
Due: none

Fix SHA of bottles
  HomebrewFormula/ligo.rb
Due: none

Fix changelog generation
  .gitlab-ci.yml
  changelog/2959
  scripts/changelog-generation.sh
Due: pages, pages-attempt, deploy_website_preview

[#2000] Nix -> Docker CI migration
  .ci/.gitlab-ci-debugger.yml
  .ci/.gitlab-ci-vscode-extension.yml
  tools/debugger/.dockerignore
  tools/debugger/Dockerfile
  tools/debugger/flake.lock
  tools/debugger/flake.nix
  tools/debugger/ligo-debugger/default.nix
  tools/debugger/ligo-debugger/gcc-wrapper.sh
  tools/debugger/ligo-debugger/test/Test/LigoCall.hs
  tools/debugger/ligo-debugger/test/Test/Util.hs
  tools/scripts/relink-mac-binary.sh
  tools/vsce/flake.lock
  tools/vsce/flake.nix
  tools/vsce/vsce.nix
  tools/vsce/vsix-packaging/package.json
  tools/vsce/vsix-packaging/yarn.lock
  tools/vscode/default.nix
  tools/vscode/flake.lock
  tools/vscode/flake.nix
  tools/vscode/ligo-debugger-platform-dispatcher.sh
  tools/vscode/syntaxes/default.nix
Due: none

Deactivate webide NIX ci
  .ci/.gitlab-ci-debugger.yml
  .gitlab-ci.yml
Due: none

[CI][debugger] fix base image push
  .ci/.gitlab-ci-debugger.yml
Due: none

[CI][debugger] fix deletion of base image
  .ci/.gitlab-ci-debugger.yml
Due: none

[#2000] Hotfix debugger build base image pushing
  .ci/.gitlab-ci-debugger.yml
Due: none

[#1748] Fix mangled module names on hovering
  ligo.opam
  ligo.opam.locked
  src/bin/expect_tests/get_scope.ml
  src/main/api/common/print.ml
  src/main/build/build.ml
  src/main/build/build.mli
  src/main/ligo_lsp/lsp_helpers/def.ml
  src/main/ligo_lsp/lsp_helpers/get_scope.ml
  src/main/ligo_lsp/lsp_helpers/helpers_pretty.ml
  src/main/ligo_lsp/lsp_helpers/lsp_helpers.ml
  src/main/ligo_lsp/requests/completion.ml
  src/main/ligo_lsp/requests/hover.ml
  src/main/scopes/PP.ml
  src/main/scopes/definitions.ml
  src/main/scopes/definitions.mli
  src/main/scopes/dune
  src/main/scopes/module_aliases_pass.ml
  src/main/scopes/references.ml
  src/main/scopes/scopes.ml
  src/main/scopes/scopes.mli
  src/main/scopes/types.ml
  src/main/scopes/types_pass.ml
  src/test/contracts/lsp/hover/imports/A.mligo
  src/test/contracts/lsp/hover/imports/B.mligo
  src/test/contracts/lsp/hover/imports/C.mligo
  src/test/contracts/lsp/hover/imports/inner/inner.mligo
  src/test/contracts/lsp/hover/imports/inner/ligo.json
  src/test/contracts/lsp/hover/imports/ligo.json
  src/test/contracts/lsp/hover/imports/outer.mligo
  src/test/lsp_test/hover.ml
Due: none

[#1748] Adapt new hovers in benchmarks
  tools/lsp-bench/src/Bench/Hovers.hs
Due: none

[Bot] add changelog entry
  changelog/2961
Due: pages, pages-attempt, deploy_website_preview

Print module signature
  changelog/2924
  src/bin/cli.ml
  src/main/api/common/print.ml
  src/passes/01-lexing/cameligo/Self-passes/Tokens/Token.ml
  src/passes/02-parsing/cameligo.mli
  src/passes/02-parsing/cameligo/Pretty.ml
  src/passes/02-parsing/cameligo/Pretty.mli
  src/passes/02-parsing/jsligo.mli
  src/passes/02-parsing/jsligo/Pretty.ml
  src/passes/02-parsing/jsligo/Pretty.mli
  src/passes/02-parsing/pascaligo.ml
  src/passes/02-parsing/pascaligo.mli
  src/passes/02-parsing/shared/Common.ml
  src/passes/02-parsing/shared/Common.mli
  src/passes/03-unification/cameligo/cameligo.ml
  src/passes/03-unification/cameligo/cameligo.mli
  src/passes/03-unification/cameligo/decompile.ml
  src/passes/03-unification/jsligo/compile.ml
  src/passes/03-unification/jsligo/decompile.ml
  src/passes/03-unification/jsligo/jsligo.ml
  src/passes/03-unification/jsligo/jsligo.mli
  src/passes/04-nanopasses/nanopasses.ml
  src/passes/04-nanopasses/nanopasses.mli
  src/passes/04-nanopasses/passes/morphing.ml
  src/passes/04-nanopasses/passes/pass_type.ml
  src/passes/04-nanopasses/passes/pass_type.mli
  src/passes/04-nanopasses/trivial.ml
  src/passes/10-checking/checking.ml
  src/passes/10-checking/checking.mli
  src/passes/10-checking/untyper.ml
  src/stages/1-cst/jsligo/CST.ml
  src/stages/2-ast_unified/PP.ml
  src/stages/2-ast_unified/combinators.ml
  src/stages/5-ast_typed/misc.mli
  vendored-dune/ligo-utils/simple-utils/Utils.ml
  vendored-dune/ligo-utils/simple-utils/Utils.mli
Due: pages, pages-attempt, deploy_website_preview

[#2000] Re-introduce 'LIGO_TEST_FLAGS' to debugger tests in CI
  .ci/.gitlab-ci-debugger.yml
Due: none

Removed faq/transpile-pascaligo-to-jsligo from docs for version 1.1.0 and above
  gitlab-pages/docs/faq/transpile-pascaligo-to-jsligo.md
  gitlab-pages/website/sidebars.js
  gitlab-pages/website/versioned_docs/version-1.1.0/faq/transpile-pascaligo-to-jsligo.md
  gitlab-pages/website/versioned_sidebars/version-1.1.0-sidebars.json
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[#1931] Improved cheat-sheet
  gitlab-pages/docs/api/cheat-sheet.md
  gitlab-pages/website/versioned_docs/version-1.0.0/api/cheat-sheet.md
  gitlab-pages/website/versioned_docs/version-1.1.0/api/cheat-sheet.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Path conditions:
  check-generated-highlighting: any of: tools/ligo-syntax-highlighting/**/*
  webide-backend-build-and-push-backend: any of: tools/webide/**/*, src/test/examples/**/*
  webide-new-backend-build-and-push-backend: any of: tools/webide-new/ligo-webide-backend/**/*
  webide-new-frontend-build-and-push: any of: tools/webide-new/ligo-webide-frontend/ligo-ide/**/*
  pages: any of: gitlab-pages/**/*, changelog/*
  pages-attempt: any of: gitlab-pages/**/*, changelog/*
  algolia-crawl: any of: gitlab-pages/**/*
  deploy_website_preview: any of: gitlab-pages/**/*, changelog/*
  deploy-handoff-feature: any of: tools/webide/**/*, src/test/examples/**/*
  deploy-handoff: any of: tools/webide/**/*, src/test/examples/**/*
  build-preview-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
  build-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
