Repository ligolang/ligo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-generated-highlighting, webide-backend-build-and-push-backend, webide-new-backend-build-and-push-backend, webide-new-frontend-build-and-push, pages, pages-attempt, algolia-crawl, deploy_website_preview, deploy-handoff-feature, deploy-handoff, build-preview-ligo-webide-front-end, build-ligo-webide-front-end

Path conditions:
  check-generated-highlighting: any of: tools/ligo-syntax-highlighting/**/*
  webide-backend-build-and-push-backend: any of: tools/webide/**/*, src/test/examples/**/*
  webide-new-backend-build-and-push-backend: any of: tools/webide-new/ligo-webide-backend/**/*
  webide-new-frontend-build-and-push: any of: tools/webide-new/ligo-webide-frontend/ligo-ide/**/*
  pages: any of: gitlab-pages/**/*, changelog/*
  pages-attempt: any of: gitlab-pages/**/*, changelog/*
  algolia-crawl: any of: gitlab-pages/**/*
  deploy_website_preview: any of: gitlab-pages/**/*, changelog/*
  deploy-handoff-feature: any of: tools/webide/**/*, src/test/examples/**/*
  deploy-handoff: any of: tools/webide/**/*, src/test/examples/**/*
  build-preview-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
  build-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*

Add FAQ entry on transpiling PascaLIGO to JsLIGO
  gitlab-pages/docs/faq/transpile-pascaligo-to-jsligo.md
  gitlab-pages/website/sidebars.js
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Macos needs -framework Security to link in rust libs
  src/bin/configurator.ml
  src/bin/dune
Due: none

Revert "tzp2p-s"
  esy.json
  esy.lock/index.json
  ligo.opam
  ligo.opam.locked
Due: none

tezos-protocol-environment -> tpe
  esy.json
  esy.lock/index.json
  esy.old.json
  ligo.opam
  ligo.opam.locked
  vendored-dune/ligo-utils/memory-proto-alpha/dune
  vendored-dune/ligo-utils/memory-proto-alpha/tezos-memory-proto-alpha.opam
  vendored-dune/ligo-utils/memory-proto-pre-alpha/dune
  vendored-dune/ligo-utils/memory-proto-pre-alpha/tezos-memory-proto-pre-alpha.opam
  vendored-dune/ligo-utils/proto-alpha-utils/proto-alpha-utils.opam
  vendored-dune/ligo-utils/proto-pre-alpha-utils/proto-pre-alpha-utils.opam
Due: none

pin menhir
  esy.json
  esy.lock/index.json
  esy.lock/opam/menhir.20220210/opam
  esy.lock/opam/menhirLib.20220210/opam
  esy.lock/opam/menhirSdk.20220210/opam
Due: none

More module shortening
  esy.json
  esy.lock/index.json
  ligo.opam
  ligo.opam.locked
  vendored-dune/ligo-utils/memory-proto-alpha/dune
  vendored-dune/ligo-utils/memory-proto-alpha/tezos-memory-proto-alpha.opam
  vendored-dune/ligo-utils/memory-proto-pre-alpha/dune
  vendored-dune/ligo-utils/memory-proto-pre-alpha/tezos-memory-proto-pre-alpha.opam
  vendored-dune/ligo-utils/proto-alpha-utils/dune
  vendored-dune/ligo-utils/proto-pre-alpha-utils/dune
Due: none

We need menhir 20211128 because of ocaml-recovery-parser
  esy.json
  esy.lock/index.json
  esy.lock/opam/menhir.20211128/opam
  esy.lock/opam/menhirLib.20211128/opam
  esy.lock/opam/menhirSdk.20211128/opam
Due: none

Update dockerfile
  Dockerfile
Due: none

Adds macos security flags for all exes in the sandbox
  configurator/configurator.ml
  configurator/dune
  src/bin/dune
  src/dune
Due: none

module name shortening: tc_15
  vendored-dune/ligo-utils/memory-proto-pre-alpha/memory_proto_pre_alpha.ml
  vendored-dune/ligo-utils/proto-pre-alpha-utils/x_memory_proto_pre_alpha.ml
Due: none

update metadata
  .ci/.metadata.yml
Due: none

[#1755] Fix Polymorphism errors look strange in LSP
  changelog/2559
  src/passes/10-checking/errors.ml
  src/test/contracts/lsp/poly_type_error.mligo
  src/test/lsp_test/diagnostics.ml
Due: pages, pages-attempt, deploy_website_preview

fix ligo formula
  .ci/.gitlab-ci-release.yml
  .ci/scripts/homebrew/template/homebrew-template.rb
Due: none

update homebrew formula for 0.64.2
  HomebrewFormula/ligo.rb
  HomebrewFormula/ligo@0.63.2.rb
  HomebrewFormula/ligo@0.64.2.rb
Due: none

fix sidebar by removing ast-imperative
  gitlab-pages/website/sidebars.js
  gitlab-pages/website/versioned_sidebars/version-0.64.2-sidebars.json
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

fix dockerfile webide
  tools/webide-new/ligo-webide-backend/Dockerfile
Due: webide-new-backend-build-and-push-backend

JsLIGO: list concatenation helper
  changelog/2560
  src/bin/expect_tests/contract_tests.ml
  src/passes/04-nanopasses/passes/list_as_function.ml
  src/test/contracts/jsligo_list_concat.jsligo
Due: pages, pages-attempt, deploy_website_preview

website fix: update sidebar for missing manpages
  gitlab-pages/website/sidebars.js
  gitlab-pages/website/versioned_sidebars/version-0.64.2-sidebars.json
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Update opam lock files
  ligo.opam.locked
Due: none

Fix tp_environment module name after merge
  vendored-dune/ligo-utils/proto-alpha-utils/init_proto_alpha.ml
Due: none

hacl* must be pinned to 0.4.1
  ligo.opam.locked
Due: none

Invalidate docker and gitlab cache
  .gitlab-ci.yml
  Dockerfile
  ligo.opam
  ligo.opam.locked
Due: none

Adds macos security flags for all exes in the sandbox
  configurator/configurator.ml
  configurator/dune
  src/bin/configurator.ml
  src/bin/dune
  src/dune
Due: none

Promote test snapshots
  src/bin/expect_tests/warnings.ml
  src/test/error-recovery/fuzzing/cameligo/results.csv.expected
  src/test/error-recovery/fuzzing/jsligo/results.csv.expected
  src/test/error-recovery/simple/cameligo/results.csv.expected
Due: none

CI: re-enable npm pipeline
  .gitlab-ci.yml
Due: none

Fixes missing ntdll flags from configurator after origin/dev merge
  configurator/.ocamlformat
  configurator/configurator.ml
  src/dune
Due: none

Fixes linker flags dune rule regression
  src/bin/dune
Due: none

Fixes tp_environment regression
  vendored-dune/ligo-utils/proto-alpha-utils/init_proto_alpha.ml
Due: none
