Repository ligolang/ligo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-generated-highlighting, webide-backend-build-and-push-backend, webide-new-backend-build-and-push-backend, webide-new-frontend-build-and-push, pages, pages-attempt, algolia-crawl, deploy_website_preview, deploy-handoff-feature, deploy-handoff, build-preview-ligo-webide-front-end, build-ligo-webide-front-end

Path conditions:
  check-generated-highlighting: any of: tools/ligo-syntax-highlighting/**/*
  webide-backend-build-and-push-backend: any of: tools/webide/**/*, src/test/examples/**/*
  webide-new-backend-build-and-push-backend: any of: tools/webide-new/ligo-webide-backend/**/*
  webide-new-frontend-build-and-push: any of: tools/webide-new/ligo-webide-frontend/ligo-ide/**/*
  pages: any of: gitlab-pages/**/*, changelog/*
  pages-attempt: any of: gitlab-pages/**/*, changelog/*
  algolia-crawl: any of: gitlab-pages/**/*
  deploy_website_preview: any of: gitlab-pages/**/*, changelog/*
  deploy-handoff-feature: any of: tools/webide/**/*, src/test/examples/**/*
  deploy-handoff: any of: tools/webide/**/*, src/test/examples/**/*
  build-preview-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
  build-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*

Remove generated vars from output of `get-scope`
  src/bin/expect_tests/get_scope_errors_warns.ml
  src/bin/expect_tests/get_scope_full_stdlib.ml
  src/main/scopes/definitions.ml
  src/main/scopes/misc.ml
  src/main/scopes/scopes.ml
  src/test/contracts/get_scope_tests/local_type.mligo
Due: none

[#1684] Strip duplicate locations from typed contract and rethink location recording
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Michelson.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Snapshots.hs
Due: none

[#1541] Ignore more locations from source mapper
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Common.hs
  tools/debugger/ligo-debugger/test/Test/Breakpoints.hs
  tools/debugger/ligo-debugger/test/Test/DebugInfo.hs
  tools/debugger/ligo-debugger/test/Test/Snapshots.hs
  tools/debugger/ligo-debugger/test/golden/Continue/simple-case-with-breakpoints.golden
  tools/debugger/ligo-debugger/test/golden/Next/breakpoint-causes-interrupt-when-we-are-going-over-function-granularity-expression-pre-post.golden
  tools/debugger/ligo-debugger/test/golden/Next/go-from-within-f-granularity-expression-pre-post.golden
  tools/debugger/ligo-debugger/test/golden/Next/go-over-toplevel-granularity-expression-pre-post.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/basic-case-caml-expression-pre-post-granularity.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/basic-case-js-statement-granularity.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/checking-for-testcontractsstatementsincasebranchjsligo-contract.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/local-function-assignments-are-statements.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/seq-nodes-dont-have-expression-locations-in-snapshots.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/toplevel-functions-with-preprocessor-dont-have-expression-locations-in-snapshots.golden
Due: none

[#1684] Rewrite statements recognition mechanism
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Common.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Helpers.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Impl.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Michelson.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Snapshots.hs
  tools/debugger/ligo-debugger/test/Test/DebugInfo.hs
  tools/debugger/ligo-debugger/test/Test/Navigation.hs
  tools/debugger/ligo-debugger/test/Test/Snapshots.hs
  tools/debugger/ligo-debugger/test/Test/Util.hs
  tools/debugger/ligo-debugger/test/golden/StepIn/local-function-assignments-are-statements.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/seq-nodes-dont-have-expression-locations-in-snapshots.golden
Due: none

[Chore] Comment trailing whitespaces check
  danger/instant-checks.rb
Due: none

Fix bugs in `ligo publish`
  changelog/2423
  src/bin/expect_tests/package_management.ml
  src/bin/publish.ml
  src/main/helpers/ligo_ignore.ml
  src/test/projects/publish_contract_slash_in_pkg_name/errors.mligo
  src/test/projects/publish_contract_slash_in_pkg_name/main.mligo
  src/test/projects/publish_contract_slash_in_pkg_name/package.json
  src/test/projects/test_ligoignore_with_empty_lines/.ligoignore
  src/test/projects/test_ligoignore_with_empty_lines/errors.mligo
  src/test/projects/test_ligoignore_with_empty_lines/foo/dummy_lib.mligo
  src/test/projects/test_ligoignore_with_empty_lines/foo/lib.mligo
  src/test/projects/test_ligoignore_with_empty_lines/main.mligo
  src/test/projects/test_ligoignore_with_empty_lines/package.json
Due: pages, pages-attempt, deploy_website_preview

Internal: decorate ast_typed with signatures on module expressions
  src/bin/expect_tests/get_scope.ml
  src/bin/expect_tests/get_scope_full_stdlib.ml
  src/bin/expect_tests/get_scope_regressions.ml
  src/bin/expect_tests/package_management.ml
  src/bin/repl.ml
  src/environment/environment.ml
  src/environment/environment.mli
  src/main/build/build.ml
  src/main/build/build.mli
  src/main/compile/of_core.ml
  src/main/ligo_lsp/ligo_interface/ligo_interface.ml
  src/main/ligo_lsp/requests/handler.ml
  src/main/ligo_lsp/utils/utils.ml
  src/main/scopes/misc.ml
  src/main/scopes/references.mli
  src/passes/10-checking/checking.ml
  src/passes/10-checking/checking.mli
  src/passes/10-checking/computation.ml
  src/passes/10-checking/elaboration.ml
  src/passes/10-checking/elaboration.mli
  src/passes/10-checking/untyper.ml
  src/passes/11-self_ast_typed/contract_passes.ml
  src/passes/11-self_ast_typed/helpers.ml
  src/passes/11-self_ast_typed/make_entry_point.ml
  src/passes/11-self_ast_typed/muchused.ml
  src/passes/11-self_ast_typed/unused.ml
  src/passes/12-aggregation/compiler.ml
  src/passes/12-aggregation/deduplicate_module_binders.ml
  src/passes/12-aggregation/resolve_module_aliases.ml
  src/stages/2-ast_imperative/PP.ml
  src/stages/5-ast_typed/PP.ml
  src/stages/5-ast_typed/helpers.ml
  src/stages/5-ast_typed/types.ml
  src/test/get_scope_tests.ml
Due: none

Setup ligojs npm release scripts on CI
  .ci/.gitlab-ci-npm.yml
  .gitlab-ci.yml
  Dockerfile
  Makefile
  examples/ligojs/.gitignore
  examples/ligojs/README.md
  examples/ligojs/app.js
  examples/ligojs/editor.js
  examples/ligojs/index.html
  examples/ligojs/index.template.html
  examples/ligojs/package-lock.json
  examples/ligojs/package.json
  examples/ligojs/rollup.config.mjs
  examples/ligojs/webpack.config.js
  npm/.gitignore
  npm/README.md
  npm/ligo.js
  npm/package-lock.json
  npm/package.json
  npm/rollup.config.mjs
Due: none

use [@compare.ignore] in compare type expression
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/bin/expect_tests/view.ml
  src/passes/14-spilling/compiler.ml
  src/stages/5-ast_typed/types.ml
  src/test/lsp_test/diagnostics.ml
Due: none

Dev
  gitlab-pages/docs/tutorials/getting-started/getting-started.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[Chore] Update FAQ in `README.md`
  tools/debugger/vscode-plugin/README.md
Due: none

[#1535] Add more tests on LIGO types
  tools/debugger/ligo-debugger/test/Test/Snapshots.hs
  tools/debugger/ligo-debugger/test/contracts/layout-comb-types.mligo
  tools/debugger/ligo-debugger/test/contracts/nested-structure-type.mligo
  tools/debugger/ligo-debugger/test/contracts/never-type.mligo
  tools/debugger/ligo-debugger/test/contracts/polymorphic-function.mligo
  tools/debugger/ligo-debugger/test/contracts/polymorphic-types.mligo
  tools/debugger/ligo-debugger/test/contracts/shadowed-types.mligo
  tools/debugger/ligo-debugger/test/contracts/sum-with-record-type.mligo
  tools/debugger/ligo-debugger/test/contracts/tezos-types.mligo
  tools/debugger/ligo-debugger/test/contracts/types-from-stdlib.mligo
Due: none

Make MR templates automatically close the issues on MR merge
  .gitlab/merge_request_templates/debugger.md
  .gitlab/merge_request_templates/lsp.md
Due: none

[Chore] Update LSP version
  ligo.opam
  ligo.opam.locked
  src/main/ligo_lsp/requests/document_link.ml
  src/main/ligo_lsp/requests/hover.ml
  src/main/ligo_lsp/requests/prepare_rename.ml
  src/main/ligo_lsp/requests/references.ml
  src/main/ligo_lsp/requests/rename.ml
  src/main/ligo_lsp/requests/type_definition.ml
  src/main/ligo_lsp/server.ml
  src/test/lsp_test/document_link.ml
Due: none

Revert "[Chore] Update LSP version"
  .ci/.gitlab-ci-npm.yml
  ligo.opam
  ligo.opam.locked
  src/main/ligo_lsp/requests/document_link.ml
  src/main/ligo_lsp/requests/hover.ml
  src/main/ligo_lsp/requests/prepare_rename.ml
  src/main/ligo_lsp/requests/references.ml
  src/main/ligo_lsp/requests/rename.ml
  src/main/ligo_lsp/requests/type_definition.ml
  src/main/ligo_lsp/server.ml
  src/test/lsp_test/document_link.ml
Due: none

prepare release 0.62.0
  .ci/.gitlab-ci-release.yml
  changelog/2333
Due: pages, pages-attempt, deploy_website_preview

[Bot] Update release metadata 0.62.0
  .ci/.metadata.yml
Due: none

homebrew formula
  HomebrewFormula/ligo.rb
  HomebrewFormula/ligo@0.62.0.rb
Due: none

update distribution references for 0.62.0
  .ci/.metadata.yml
  .ci/scripts/update_distribution_references_with_release.sh
  gitlab-pages/docs/intro/installation.md
  gitlab-pages/docs/tutorials/getting-started/getting-started.md
  gitlab-pages/website/versioned_docs/version-0.60.0/intro/installation.md
  gitlab-pages/website/versioned_docs/version-0.60.0/tutorials/getting-started/getting-started.md
  gitlab-pages/website/versioned_docs/version-0.61.0/intro/installation.md
  gitlab-pages/website/versioned_docs/version-0.61.0/tutorials/getting-started/getting-started.md
  gitlab-pages/website/versioned_docs/version-0.62.0/intro/installation.md
  gitlab-pages/website/versioned_docs/version-0.62.0/tutorials/getting-started/getting-started.md
  tools/webide-new/ligo-webide-backend/Dockerfile
  tools/webide/Dockerfile
Due: webide-backend-build-and-push-backend, webide-new-backend-build-and-push-backend, pages, pages-attempt, algolia-crawl, deploy_website_preview, deploy-handoff-feature, deploy-handoff, build-preview-ligo-webide-front-end, build-ligo-webide-front-end

Fixed a transpilation error
  changelog/2440
  src/passes/02-parsing/pascaligo/JsLIGO.ml
Due: pages, pages-attempt, deploy_website_preview

Transpilation: add ad-hoc typers for map/big_map operations
  changelog/2431
  src/bin/expect_tests/get_scope_full_stdlib.ml
  src/bin/expect_tests/warnings.ml
  src/environment/environment.ml
  src/main/build/ligo_lib/std_lib.mligo
  src/main/fuzz/jsligo/helpers.ml
  src/main/fuzz/pascaligo/helpers.ml
  src/passes/02-parsing/pascaligo/JsLIGO.ml
  src/passes/02-parsing/pascaligo/dune
  src/passes/04-tree_abstraction/cameligo/compiler.ml
  src/passes/04-tree_abstraction/cameligo/decompiler.ml
  src/passes/04-tree_abstraction/jsligo/compiler.ml
  src/passes/04-tree_abstraction/jsligo/decompiler.ml
  src/passes/04-tree_abstraction/pascaligo/compiler.ml
  src/passes/04-tree_abstraction/pascaligo/decompiler.ml
  src/passes/04-tree_abstraction/shared/helpers.ml
  src/passes/10-checking/checking.ml
  src/passes/10-checking/constant_typers.ml
  src/passes/14-spilling/compiler.ml
  src/stages/5-ast_typed/combinators.ml
  src/stages/ligo_primitive/literal_types.ml
  src/test/integration_tests.ml
Due: pages, pages-attempt, deploy_website_preview

Remove old implementation of `references` in `get-scope`
  src/bin/expect_tests/get_scope_full_stdlib.ml
  src/main/scopes/scopes.ml
Due: none

Scopes - New impl of scopes pass
  src/bin/expect_tests/get_scope.ml
  src/bin/expect_tests/get_scope_errors_warns.ml
  src/bin/expect_tests/get_scope_full_stdlib.ml
  src/bin/expect_tests/get_scope_regressions.ml
  src/main/scopes/env.ml
  src/main/scopes/references.ml
  src/main/scopes/scopes.ml
  src/main/scopes/scopes_new.ml
Due: none

fix: wait more before recrawl to avoid network issue
  .gitlab-ci.yml
Due: none

update ligo reference of webide backend image into release process
  .ci/scripts/update_distribution_references_with_release.sh
Due: none

fix: NPM gitlab job
  .ci/.gitlab-ci-npm.yml
Due: none

[#1711] Support singleton types
  tools/debugger/ligo-debugger/test/Test/Snapshots.hs
  tools/debugger/ligo-debugger/test/Test/Util.hs
  tools/debugger/ligo-debugger/test/contracts/tezos-types.mligo
  tools/lsp/squirrel/ligo-squirrel.cabal
  tools/lsp/squirrel/package.yaml
  tools/lsp/squirrel/src/Cli/Json.hs
Due: none

Stdlib: list updating functions
  changelog/2451
  gitlab-pages/docs/reference/list.md
  src/bin/expect_tests/get_scope_full_stdlib.ml
  src/main/build/ligo_lib/std_lib.mligo
  src/test/contracts/list.jsligo
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Add CLi option for PascaLIGO to JsLIGO syntax-level transpilation
  changelog/2453
  src/bin/cli.ml
  src/bin/expect_tests/help_tests.ml
  src/bin/expect_tests/transpilation.ml
  src/main/api/common/ligo_api.ml
  src/main/api/common/transpile.ml
  src/main/api/common/transpile_with_ast.ml
  src/main/main_errors/formatter.ml
  src/main/main_errors/types.ml
  src/passes/02-parsing/pascaligo/ParserMain.ml
  src/passes/02-parsing/pascaligo/dune
  src/test/contracts/example.jsligo
  src/test/contracts/example.ligo
  src/test/contracts/example.mligo
Due: pages, pages-attempt, deploy_website_preview

Fix: better error managing when entrypoint is not annotated
  changelog/2452
  src/bin/expect_tests/contract_tests.ml
  src/main/scopes/env.ml
  src/main/scopes/references.ml
  src/main/scopes/scopes.ml
  src/passes/10-checking/type.ml
  src/stages/4-ast_core/combinators.ml
  src/stages/5-ast_typed/combinators.ml
  src/stages/5-ast_typed/helpers.ml
  src/test/contracts/negative/entrypoint_no_type.jsligo
Due: pages, pages-attempt, deploy_website_preview

New implementation of resolving types in get-scope
  src/bin/expect_tests/get_scope_errors_warns.ml
  src/bin/expect_tests/get_scope_regressions.ml
  src/main/scopes/misc.ml
  src/main/scopes/scopes.ml
  src/main/scopes/scopes_pass.ml
  src/main/scopes/scopes_pass.mli
  src/main/scopes/types.ml
  src/main/scopes/types_pass.ml
  src/main/scopes/types_pass.mli
  src/test/contracts/get_scope_tests/regressions/missing_stdlib.mligo
Due: none

New `uid`'s for `definitions` in `get-scope`
  src/bin/expect_tests/get_scope.ml
  src/bin/expect_tests/get_scope_errors_warns.ml
  src/bin/expect_tests/get_scope_full_stdlib.ml
  src/bin/expect_tests/get_scope_regressions.ml
  src/main/scopes/definitions.ml
  src/main/scopes/scopes.ml
  src/main/scopes/types.ml
Due: none

Temporarily run old implementation of scope in tests
  src/bin/expect_tests/get_scope.ml
  src/bin/expect_tests/get_scope_errors_warns.ml
  src/bin/expect_tests/get_scope_full_stdlib.ml
  src/bin/expect_tests/get_scope_regressions.ml
  src/main/scopes/misc.ml
  src/main/scopes/scopes.ml
  src/main/scopes/types.ml
  src/test/get_scope_tests.ml
  src/test/lsp_test.ml
Due: none

E2E tests for multiplat tarballs
  .ci/.gitlab-ci-npm.yml
  .gitlab-ci.yml
  e2e/aggregation.out
  e2e/using_scope_pkg_project.out
  scripts/esy-multiplat-e2e-ci.sh
  src/test/projects/using_scope_pkg_project/_esy/default/installation.json
Due: none

Docs: update bug in documentation (`List.update_with` signature)
  gitlab-pages/docs/reference/list.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[LIGO-832] Comment out LSP
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/base-components/code-editor/MonacoEditor/MonacoEditor.js
Due: webide-new-frontend-build-and-push

[LIGO-832] Bump LIGO version in WebIDE to 0.62.0.
  .ci/.gitlab-ci-webide-new.yml
  tools/webide-new/flake.nix
Due: none

Prepare new workflow for webide
  .ci/.gitlab-ci-webide.yml
Due: none
