Repository ligolang/ligo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-generated-highlighting, webide-backend-build-and-push-backend, webide-new-backend-build-and-push-backend, webide-new-frontend-build-and-push, pages, pages-attempt, algolia-crawl, deploy_website_preview, deploy-handoff-feature, deploy-handoff, build-preview-ligo-webide-front-end, build-ligo-webide-front-end

Path conditions:
  check-generated-highlighting: any of: tools/ligo-syntax-highlighting/**/*
  webide-backend-build-and-push-backend: any of: tools/webide/**/*, src/test/examples/**/*
  webide-new-backend-build-and-push-backend: any of: tools/webide-new/ligo-webide-backend/**/*
  webide-new-frontend-build-and-push: any of: tools/webide-new/ligo-webide-frontend/ligo-ide/**/*
  pages: any of: gitlab-pages/**/*, changelog/*
  pages-attempt: any of: gitlab-pages/**/*, changelog/*
  algolia-crawl: any of: gitlab-pages/**/*
  deploy_website_preview: any of: gitlab-pages/**/*, changelog/*
  deploy-handoff-feature: any of: tools/webide/**/*, src/test/examples/**/*
  deploy-handoff: any of: tools/webide/**/*, src/test/examples/**/*
  build-preview-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
  build-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*

[Chore] Handle --deprecated in VS Code
  tools/vscode/client/src/commands/ligoCommands.ts
  tools/vscode/package.json
Due: none

[Chore] Fix unindentified version prompt
  tools/vscode/client/src/updateLigo.ts
Due: none

Fix CI: Use version `1.1` of `tezos-rust-libs`
  .ci/.gitlab-ci-npm.yml
  001-tezos-deps-via-esy.patch
  esy.json
  esy.lock/index.json
  esy.lock/opam/alcotest-lwt.1.7.0/opam
  esy.lock/opam/alcotest.1.7.0/opam
  esy.lock/opam/checkseum.0.5.0/opam
  esy.lock/opam/cstruct-sexp.6.1.1/opam
  esy.lock/opam/hkdf.1.0.4/opam
  esy.lock/opam/tezos-rust-libs.1.1/opam
  esy.lock/opam/tezos-rust-libs.1.4/opam
  esy.lock/opam/tls.0.16.0/opam
  esy.lock/overrides/opam__s__tezos_rust_libs_opam__c__1.1_opam_override/files/winpatch.patch
  esy.lock/overrides/opam__s__tezos_rust_libs_opam__c__1.1_opam_override/package.json
Due: none

CLI: new `-m` parameter for module selection
  changelog/2386
  src/bin/cli.ml
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/help_tests.ml
  src/main/api/common/compile.ml
  src/main/api/common/info.ml
  src/main/api/common/run.ml
  src/main/build/build.ml
  src/main/compile/of_core.ml
  src/main/compile/of_typed.ml
  src/main/compile/utils.ml
  src/main/compiler_options/compiler_options.ml
  src/main/compiler_options/raw_options.ml
  src/passes/11-self_ast_typed/contract_passes.ml
  src/passes/11-self_ast_typed/helpers.ml
  src/passes/11-self_ast_typed/self_ast_typed.ml
  src/test/contracts/entrypoint_in_module.jsligo
  src/test/contracts/entrypoint_in_module.mligo
  src/test/contracts/increment_module.jsligo
  src/test/test_helpers.ml
Due: pages, pages-attempt, deploy_website_preview

[#1680] Make changes to Vim and Emacs prior to new LIGO LSP release
  tools/emacs/README.md
  tools/emacs/ligo-mode.el
  tools/emacs/tests/configuration-test.el
  tools/ligo-syntax-highlighting/regexp.ml
  tools/vim/ligo/start/ligo/README.md
  tools/vim/ligo/start/ligo/plugin/ligo.vim
  vendored-dune/syntax-highlighting/Emacs.ml
  vendored-dune/syntax-highlighting/VIM.ml
Due: check-generated-highlighting

[#1660] Use `test_run_handler` in existing tests
  src/test/contracts/lsp/local_module.mligo
  src/test/contracts/lsp/simple.mligo
  src/test/contracts/lsp/syntax_error.mligo
  src/test/contracts/lsp/syntax_plus_type_errors.jsligo
  src/test/contracts/lsp/warnings.jsligo
  src/test/lsp_test.ml
  src/test/lsp_test/common.ml
  src/test/lsp_test/definition.ml
  src/test/lsp_test/diagnostics.ml
  src/test/lsp_test/document_link.ml
  src/test/lsp_test/prepare_rename.ml
Due: none

remove execution of pascaligo test in doc
  src/test/md_file_tests.ml
Due: none

Ligo is distributed through AUR for Arch linux
  changelog/2410
  gitlab-pages/docs/intro/installation.md
  gitlab-pages/website/versioned_docs/version-0.59.0/intro/installation.md
  gitlab-pages/website/versioned_docs/version-0.60.0/intro/installation.md
  gitlab-pages/website/versioned_docs/version-0.61.0/intro/installation.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[LIGO-832] Make the websocket URL configurable
  tools/webide-new/ligo-webide-frontend/README.md
  tools/webide-new/ligo-webide-frontend/ligo-ide/Dockerfile
  tools/webide-new/ligo-webide-frontend/ligo-ide/config-overrides.js
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/base-components/code-editor/MonacoEditor/MonacoEditor.js
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/components/api/api.ts
Due: webide-new-frontend-build-and-push

clean changelog entry 2386
  changelog/2386
Due: pages, pages-attempt, deploy_website_preview

Add CI job for testing emacs LSP client
  .ci/.gitlab-ci-lsp.yml
Due: none

distribute 0.61.0 through homebrew
  HomebrewFormula/ligo.rb
  HomebrewFormula/ligo@0.61.0.rb
Due: none

[webide-frontend] distinct docker image for release and stg
  .ci/.gitlab-ci-webide.yml
  tools/webide-new/ligo-webide-frontend/ligo-ide/Dockerfile
Due: webide-new-frontend-build-and-push

bottle reference for default homebrew formula
  HomebrewFormula/ligo.rb
Due: none

[CI][webide] fix and retrigger docker image generation
  .ci/.gitlab-ci-webide.yml
  tools/webide-new/ligo-webide-frontend/README.md
Due: none

[CI][webide] new backend url for npr and retrigger docker image generation
  .ci/.gitlab-ci-webide.yml
  tools/webide-new/ligo-webide-frontend/README.md
Due: none

[Webide][CI] Add http or https onto environment variable and fix docker img
  .ci/.gitlab-ci-webide.yml
  tools/webide-new/ligo-webide-frontend/README.md
  tools/webide-new/ligo-webide-frontend/ligo-ide/Dockerfile
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/components/api/api.ts
Due: webide-new-frontend-build-and-push

[Webide]fix HTTP_PROTOCOL environment variable
  tools/webide-new/ligo-webide-frontend/ligo-ide/config-overrides.js
Due: webide-new-frontend-build-and-push

[#1699] Restore PascaLIGO to WebIDE
  tools/webide-new/ligo-webide-backend/src/Method/CompileExpression.hs
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/base-components/workspace/ProjectManager/examples.ts
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/base-components/workspace/components/NewProjectModal.tsx
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/ligo-components/eth-project/Project/index.js
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/ligo-components/eth-project/Project/languages/addLigoLanguages.ts
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/ligo-components/eth-project/Project/languages/syntaxes/ligo.configuration.json
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/ligo-components/eth-project/Project/languages/syntaxes/ligo.tmLanguage.json
Due: webide-new-backend-build-and-push-backend, webide-new-frontend-build-and-push

[#1699] Use --deprecated flag
  tools/webide-new/ligo-webide-backend/src/Method/Compile.hs
  tools/webide-new/ligo-webide-backend/src/Method/CompileExpression.hs
  tools/webide-new/ligo-webide-backend/src/Method/DryRun.hs
  tools/webide-new/ligo-webide-backend/src/Method/ListDeclarations.hs
Due: webide-new-backend-build-and-push-backend

[#1699] Update syntax highlighting symlinks
  .ci/.gitlab-ci-webide.yml
  tools/webide-new/flake.nix
  tools/webide-new/ligo-webide-frontend/ligo-ide/Dockerfile
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/ligo-components/eth-project/Project/languages/syntaxes/jsligo.configuration.json
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/ligo-components/eth-project/Project/languages/syntaxes/jsligo.tmLanguage.json
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/ligo-components/eth-project/Project/languages/syntaxes/ligo.configuration.json
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/ligo-components/eth-project/Project/languages/syntaxes/ligo.tmLanguage.json
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/ligo-components/eth-project/Project/languages/syntaxes/mligo.tmLanguage.json
Due: webide-new-frontend-build-and-push

[#1699] Add pascaligoext as a valid document
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/base-components/code-editor/MonacoEditor/MonacoEditor.js
Due: webide-new-frontend-build-and-push

[#1699] Use ligo-0.61.0 in CI
  .ci/.gitlab-ci-webide-new.yml
  tools/webide-new/flake.nix
Due: none

[Homebrew] fix typo in formulae
  HomebrewFormula/ligo.rb
Due: none

[Webide] Update ligo used by webide to 0.61.0
  tools/webide-new/ligo-webide-backend/Dockerfile
Due: webide-new-backend-build-and-push-backend

[#1655] Fix and enable LSP formatting
  changelog/2404
  src/bin/cli.ml
  src/main/ligo_lsp/ligo_interface/dune
  src/main/ligo_lsp/ligo_interface/ligo_interface.ml
  src/main/ligo_lsp/requests/formatting.ml
  src/main/ligo_lsp/requests/handler.ml
  src/main/ligo_lsp/requests/handler.mli
  src/main/ligo_lsp/requests/requests.ml
  src/main/ligo_lsp/server.ml
  src/main/ligo_lsp/utils/utils.ml
  src/test/contracts/lsp/format_me.jsligo
  src/test/contracts/lsp/format_me.mligo
  src/test/contracts/lsp/formatted.jsligo
  src/test/contracts/lsp/formatted.mligo
  src/test/lsp_test.ml
  src/test/lsp_test/definition.ml
  src/test/lsp_test/diagnostics.ml
  src/test/lsp_test/document_link.ml
  src/test/lsp_test/folding_range.ml
  src/test/lsp_test/formatting.ml
  src/test/lsp_test/handlers.ml
  src/test/lsp_test/prepare_rename.ml
Due: pages, pages-attempt, deploy_website_preview

[#1658] Support getting configuration from VSCode
  src/main/ligo_lsp/requests/diagnostics.ml
  src/main/ligo_lsp/requests/folding_range.ml
  src/main/ligo_lsp/requests/handler.ml
  src/main/ligo_lsp/requests/handler.mli
  src/main/ligo_lsp/requests/on_doc.ml
  src/main/ligo_lsp/server.ml
  src/main/ligo_lsp/utils/utils.ml
  src/test/lsp_test/handlers.ml
Due: none

[#1658] Respect logging verbosity
  src/main/ligo_lsp/dune
  src/main/ligo_lsp/requests/handler.ml
  src/main/ligo_lsp/requests/handler.mli
  src/main/ligo_lsp/server.ml
  src/test/lsp_test/handlers.ml
  tools/vscode/package.json
Due: none

[#1658] Test maximum number of problems
  src/main/ligo_lsp/requests/diagnostics.ml
  src/main/ligo_lsp/requests/handler.ml
  src/test/lsp_test/diagnostics.ml
  src/test/lsp_test/handlers.ml
Due: none

[#1658] Add some more FIXMEs and remove a comment
  src/main/ligo_lsp/server.ml
Due: none

[#1658] Improve the description of maximum number of problems.
  tools/vscode/package.json
Due: none

[Bot] add changelog entry
  changelog/2406
Due: pages, pages-attempt, deploy_website_preview

Use js_of_ocaml's --enable=effects flag to fix stackoverflows
  changelog/2417
  dune
  jsoo/src/app.ts
Due: pages, pages-attempt, deploy_website_preview

Make linearity checking apply inside modules
  changelog/2314
  src/bin/expect_tests/top_level_binding_pattern_cameligo.ml
  src/passes/05-self_ast_imperative/expression_soundness.ml
  src/passes/05-self_ast_imperative/helpers.ml
  src/passes/05-self_ast_imperative/self_ast_imperative.ml
  src/stages/2-ast_imperative/PP.ml
  src/test/contracts/top_level_patterns/negative/cameligo/inside_mod_in.mligo
  src/test/contracts/top_level_patterns/negative/cameligo/inside_module.mligo
Due: pages, pages-attempt, deploy_website_preview

Definition retrieving pass for get-scope
  src/bin/expect_tests/colour.ml
  src/bin/expect_tests/get_scope.ml
  src/bin/expect_tests/get_scope_errors_warns.ml
  src/bin/expect_tests/get_scope_full_stdlib.ml
  src/bin/expect_tests/get_scope_regressions.ml
  src/bin/expect_tests/package_management.ml
  src/main/scopes/definitions.ml
  src/main/scopes/definitions.mli
  src/main/scopes/misc.ml
  src/main/scopes/scopes.ml
  src/test/get_scope_tests.ml
  src/test/lsp_test.ml
Due: none

Pass for finding `references` in get-scope
  src/bin/expect_tests/get_scope_full_stdlib.ml
  src/main/scopes/references.ml
  src/main/scopes/references.mli
  src/main/scopes/scopes.ml
Due: none
