Repository ligolang/ligo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-generated-highlighting, webide-backend-build-and-push-backend, webide-new-backend-build-and-push-backend, webide-new-frontend-build-and-push, pages, pages-attempt, algolia-crawl, deploy_website_preview, deploy-handoff-feature, deploy-handoff, build-preview-ligo-webide-front-end, build-ligo-webide-front-end

check-generated-highlighting:
  stage: tooling
  dependencies:
  - docker_extract
  script:
  - scripts/diff_dir.sh highlighting/emacs tools/emacs
  - scripts/diff_dir.sh highlighting/vim/ftdetect tools/vim/ligo/start/ligo/ftdetect
  - scripts/diff_dir.sh highlighting/vim/plugin tools/vim/ligo/start/ligo/plugin
  ...

webide-backend-build-and-push-backend:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  - cp -r src/test/examples tools/webide/packages/client/examples
  ...

webide-new-backend-build-and-push-backend:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  needs:
  - job: changelog
    artifacts: false
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  - docker build tools/webide-new/ligo-webide-backend -t ${WEBIDE_NEW_IMAGE_TAG}
  ...

webide-new-frontend-build-and-push:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  needs:
  - job: changelog
    artifacts: false
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  ...

pages:
  stage: push
  tags:
  - docker
  image: node:16.17.0-buster
  needs:
  - job: changelog
    artifacts: true
  script:
  - export DOC_PATH=./gitlab-pages/docs
  - export WEBSITE_PATH=./gitlab-pages/website
  - cp -f ./changelog.md $DOC_PATH/intro/changelog.md
  ...

pages-attempt:
  stage: push
  tags:
  - docker
  image: node:16.17.0-buster
  needs:
  - job: changelog
    artifacts: true
  script:
  - export DOC_PATH=./gitlab-pages/docs
  - export WEBSITE_PATH=./gitlab-pages/website
  - cp -f ./changelog.md $DOC_PATH/intro/changelog.md
  ...

algolia-crawl:
  stage: push
  needs:
  - job: pages
  script:
  - "sleep 10 \ncurl -X post  -H \"Content-Type: application/json\" --user ${ALGOLIA_CRAWLER_ID}:${ALGOLIA_CRAWLER_TOKEN} https://crawler.algolia.com/api/1/crawlers/bb0597ba-5abc-45ba-bdf9-99f8152e87b0/reindex\n"

deploy_website_preview:
  stage: deploy
  image: node:16.17.0-buster
  tags:
  - docker
  needs:
  - job: pages-attempt
    artifacts: true
  script:
  - apt-get update
  - apt-get install -y --no-install-recommends jq
  - npm install netlify-cli
  ...

deploy-handoff-feature:
  stage: deploy
  variables:
    APP_NAME: web-ide-backend
    NEW_VERSION: ${CI_COMMIT_SHORT_SHA}
    ENV: non-prod
  trigger:
    project: ligolang/kubernetes-infrastructure

deploy-handoff:
  stage: deploy
  variables:
    APP_NAME: web-ide-backend
    NEW_VERSION: ${CI_COMMIT_SHORT_SHA}
    ENV: prod
  trigger:
    project: ligolang/kubernetes-infrastructure

Update index.js
  gitlab-pages/website/src/pages/index.js
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Publish ligolang package into npm automatically, manage it through release process
  .ci/.gitlab-ci-npm.yml
  .ci/.gitlab-ci-release.yml
  .ci/scripts/versioning/determine_esy_version.sh
  .ci/scripts/versioning/update_esy_version.sh
  esy.json
Due: none

fix deployment of npm packages
  .ci/.gitlab-ci-npm.yml
  .ci/scripts/versioning/determine_esy_version.sh
  .ci/scripts/versioning/update_esy_version.sh
Due: none

fix publication of windows npm package
  .ci/.gitlab-ci-npm.yml
  .gitlab-ci.yml
Due: none

change format of package version to be able to push it
  .ci/scripts/versioning/determine_esy_version.sh
Due: none

use rules to avoid weird issue which run docker-push on release branch which is not wished
  .gitlab-ci.yml
Due: none

fix AUR script location
  .ci/.gitlab-ci-release.yml
Due: none

increase npm payload size
  .ci/.gitlab-ci-npm.yml
Due: none

fix AUR
  .ci/scripts/AUR/create_new_pkgbuild_version.sh
Due: none

[Bot] Update release metadata 0.60.0
  .ci/.gitlab-ci-release.yml
  .ci/.metadata.yml
  .ci/scripts/AUR/create_new_pkgbuild_version.sh
Due: none

fix
  .ci/.gitlab-ci-release.yml
Due: none

fix
  .ci/.gitlab-ci-release.yml
  .gitlab-ci.yml
Due: none

format
  .ci/.gitlab-ci-npm.yml
Due: none

fix rules
  .ci/.gitlab-ci-npm.yml
Due: none

fix pipeline
  .ci/scripts/AUR/template/template.PKGBUILD
  .gitlab-ci.yml
Due: none

update metadata and remove job to make 0.60.0 release work
  .ci/.metadata.yml
  .gitlab-ci.yml
Due: none

manual fix homebrew
  HomebrewFormula/ligo.rb
  HomebrewFormula/ligo@0.60.0.rb
Due: none

Small syntactic fixes to JsLIGO grammar to get closer to TS
  changelog/2272
  src/bin/expect_tests/contract_tests.ml
  src/passes/02-parsing/jsligo/Parser.mly
  src/passes/02-parsing/jsligo/errors.msg.in
  src/test/contracts/disc_union_vbar.jsligo
  src/test/error-recovery/fuzzing/jsligo/results.csv.expected
  src/test/error-recovery/simple/jsligo/results.csv.expected
Due: pages, pages-attempt, deploy_website_preview

force xz compression to be compatible with large number of distro version
  scripts/create-package-deb-file.sh
Due: none

Fix WebIDE build
  .ci/.gitlab-ci-webide.yml
  .gitlab-ci.yml
  tools/webide-new/ligo-webide-frontend/ligo-ide/Dockerfile
Due: webide-new-frontend-build-and-push

update esy version to 0.60.0
  esy.json
Due: none

distribute ligo_installer.exe(windows) on release
  .ci/.gitlab-ci-npm.yml
  .ci/.gitlab-ci-release.yml
Due: none

Fix: Missing definitions from imported modules in `get-scope`
  changelog/2253
  src/bin/cli.ml
  src/bin/expect_tests/get_scope.ml
  src/bin/expect_tests/get_scope_full_stdlib.ml
  src/bin/expect_tests/get_scope_regressions.ml
  src/main/api/info.ml
  src/main/build/stdlib.ml
  src/main/compiler_options/compiler_options.ml
  src/main/scopes/dune
  src/main/scopes/scopes.ml
  src/main/scopes/scopes.mli
  src/main/scopes/types.ml
  src/test/contracts/get_scope_tests/import_x.mligo
  src/test/contracts/get_scope_tests/x.mligo
Due: pages, pages-attempt, deploy_website_preview

website: change faucet link to use marigold faucet website
  gitlab-pages/docs/tutorials/getting-started/getting-started.md
  gitlab-pages/website/versioned_docs/version-0.58.0/tutorials/getting-started/getting-started.md
  gitlab-pages/website/versioned_docs/version-0.59.0/tutorials/getting-started/getting-started.md
  gitlab-pages/website/versioned_docs/version-0.60.0/tutorials/getting-started/getting-started.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

website: add serokell in ligo partner
  gitlab-pages/website/src/components/HomepagePartners/index.js
  gitlab-pages/website/static/img/partners/serokell-dark-logo.svg
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

remove build of old webide which is now deprecated
  .ci/.gitlab-ci-webide.yml
  .gitlab-ci.yml
Due: none

use serokell logo in white instead of black
  gitlab-pages/website/src/components/HomepagePartners/index.js
  gitlab-pages/website/static/img/partners/serokell-dark-logo.svg
  gitlab-pages/website/static/img/partners/serokell-white-logo.svg
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Website fix doc to add templates section in every versions and external link
  gitlab-pages/docs/tutorials/getting-started/getting-started.md
  gitlab-pages/docs/tutorials/template.md
  gitlab-pages/website/versioned_docs/version-0.58.0/tutorials/getting-started/getting-started.md
  gitlab-pages/website/versioned_docs/version-0.59.0/tutorials/getting-started/getting-started.md
  gitlab-pages/website/versioned_docs/version-0.59.0/tutorials/template.md
  gitlab-pages/website/versioned_docs/version-0.60.0/tutorials/getting-started/getting-started.md
  gitlab-pages/website/versioned_docs/version-0.60.0/tutorials/template.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

temporarly update webide URI
  gitlab-pages/website/docusaurus.config.js
  gitlab-pages/website/src/pages/index.js
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

CameLIGO: use `params` field when abstracting local types
  changelog/2289
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/get_scope.ml
  src/bin/expect_tests/parametric_types.ml
  src/bin/expect_tests/typer_error_tests.ml
  src/passes/04-tree_abstraction/cameligo/compiler.ml
  src/test/contracts/parametric_types.mligo
Due: pages, pages-attempt, deploy_website_preview

Fix: Propagate Errors & Warnings in `get-scope`
  src/bin/expect_tests/get_scope.ml
  src/bin/expect_tests/get_scope_errors_warns.ml
  src/bin/expect_tests/get_scope_regressions.ml
  src/main/api/info.ml
  src/main/scopes/PP.ml
  src/main/scopes/formatter.ml
  src/main/scopes/scopes.ml
  src/main/scopes/scopes.mli
  src/test/contracts/get_scope_tests/errors/syntax_error.mligo
  src/test/contracts/get_scope_tests/errors/type_error.mligo
Due: none

Testing framework: make `run test --display-format json` output the same JSON as `Test.to_json`
  changelog/2287
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/main/interpreter/interpreter.ml
  src/main/interpreter/interpreter.mli
  src/stages/ligo_interpreter/formatter.ml
  src/stages/ligo_interpreter/types.ml
  src/test/contracts/interpreter_tests/display_format_json.mligo
Due: pages, pages-attempt, deploy_website_preview

Release process fix stuff
  .ci/.gitlab-ci-release.yml
  .ci/scripts/homebrew/replace_bottle_reference.sh
Due: none

Webide: use new CI for webide and update images
  .ci/.gitlab-ci-webide.yml
  .gitlab-ci.yml
  tools/webide-new/ligo-webide-backend/Dockerfile
  tools/webide-new/ligo-webide-frontend/ligo-ide/Dockerfile
Due: webide-new-backend-build-and-push-backend, webide-new-frontend-build-and-push

fixing `ligo info list-declarations`
  changelog/2297
  src/bin/expect_tests/misc_cli_commands.ml
  src/main/compile/of_typed.ml
  src/test/contracts/list_declaration.jsligo
Due: pages, pages-attempt, deploy_website_preview

Temporar url for webide v2 du to certificate issues
  gitlab-pages/website/docusaurus.config.js
  gitlab-pages/website/src/pages/index.js
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Contracts: Abstractor & Desugaring
  src/main/build/helpers.ml
  src/main/compile/of_core.ml
  src/main/fuzz/helpers_ast_imperative.ml
  src/main/scopes/scopes.ml
  src/passes/02-parsing/pascaligo/Tests/b1.ligo
  src/passes/02-parsing/pascaligo/Tests/b2.ligo
  src/passes/02-parsing/pascaligo/Tests/b3.ligo
  src/passes/02-parsing/pascaligo/Tests/root.ligo
  src/passes/04-tree_abstraction/cameligo/decompiler.ml
  src/passes/04-tree_abstraction/jsligo/decompiler.ml
  src/passes/05-self_ast_imperative/expression_soundness.ml
  src/passes/05-self_ast_imperative/helpers.ml
  src/passes/05-self_ast_imperative/no_shadowing.ml
  src/passes/06-desugaring/compiler.ml
  src/passes/06-desugaring/decompiler.ml
  src/passes/10-checking/checking.ml
  src/stages/2-ast_imperative/PP.ml
  src/stages/2-ast_imperative/helpers.ml
  src/stages/2-ast_imperative/types.ml
  src/stages/4-ast_core/PP.ml
  src/stages/4-ast_core/misc.ml
  src/stages/4-ast_core/types.ml
  src/stages/ligo_primitive/contract_call.ml
  src/stages/ligo_primitive/contract_expr.ml
  src/stages/ligo_primitive/declaration.ml
  src/stages/ligo_primitive/ligo_prim.ml
  src/stages/ligo_primitive/originate.ml
  src/stages/ligo_primitive/var.ml
  src/stages/ligo_primitive/var.mli
Due: none

Path conditions:
  check-generated-highlighting: any of: tools/ligo-syntax-highlighting/**/*
  webide-backend-build-and-push-backend: any of: tools/webide/**/*, src/test/examples/**/*
  webide-new-backend-build-and-push-backend: any of: tools/webide-new/ligo-webide-backend/**/*
  webide-new-frontend-build-and-push: any of: tools/webide-new/ligo-webide-frontend/ligo-ide/**/*
  pages: any of: gitlab-pages/**/*, changelog/*
  pages-attempt: any of: gitlab-pages/**/*, changelog/*
  algolia-crawl: any of: gitlab-pages/**/*
  deploy_website_preview: any of: gitlab-pages/**/*, changelog/*
  deploy-handoff-feature: any of: tools/webide/**/*, src/test/examples/**/*
  deploy-handoff: any of: tools/webide/**/*, src/test/examples/**/*
  build-preview-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
  build-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
