Repository ligolang/ligo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-generated-highlighting, pages, pages-attempt, algolia-crawl, deploy_website_preview

check-generated-highlighting:
  stage: tooling
  dependencies:
  - docker_extract
  script:
  - scripts/diff_dir.sh highlighting/emacs tools/emacs
  - scripts/diff_dir.sh highlighting/vim/ftdetect tools/vim/ligo/start/ligo/ftdetect
  - scripts/diff_dir.sh highlighting/vim/plugin tools/vim/ligo/start/ligo/plugin
  ...

pages:
  stage: push
  tags:
  - docker
  image: node:20.2.0-buster
  needs:
  - job: changelog
    artifacts: true
  script:
  - export DOC_PATH=./gitlab-pages/docs
  - export WEBSITE_PATH=./gitlab-pages/website
  - cp -f ./changelog.md $DOC_PATH/intro/changelog.md
  ...

pages-attempt:
  stage: push
  tags:
  - docker
  image: node:20.2.0-buster
  needs:
  - job: changelog
    artifacts: true
  script:
  - export DOC_PATH=./gitlab-pages/docs
  - export WEBSITE_PATH=./gitlab-pages/website
  - cp -f ./changelog.md $DOC_PATH/intro/changelog.md
  ...

algolia-crawl:
  stage: push
  needs:
  - job: pages
  script:
  - 'sleep 20
  
    curl -X POST  -H "Content-Type: application/json" --user ${ALGOLIA_CRAWLER_ID}:${ALGOLIA_CRAWLER_TOKEN} https://crawler.algolia.com/api/1/crawlers/bb0597ba-5abc-45ba-bdf9-99f8152e87b0/reindex
  
    '

deploy_website_preview:
  stage: deploy
  image: node:20.2.0-buster
  tags:
  - docker
  needs:
  - job: pages-attempt
    artifacts: true
  script:
  - apt-get update
  - apt-get install -y --no-install-recommends jq
  - npm install netlify-cli
  ...

chore: move `ligo_unix` to lib/ligo_unix
  Dockerfile
  dune
  lib/ligo_unix/dune
  lib/ligo_unix/ligo_unix.ml
Due: none

[#2143] Run aggregation pass only once in following passes
  src/main/compile/of_typed.ml
  src/main/ligo_lsp/lsp_helpers/get_scope.ml
  src/stages/ligo_primitive/magic_vars.ml
Due: none

[Bot] add changelog entry
  changelog/3137
Due: pages, pages-attempt, deploy_website_preview

Fix `Text.Next.Account.new`
  changelog/3136
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/main/build/ligo_lib/std_lib.mligo
  src/test/contracts/interpreter_tests/test_accounts.mligo
Due: pages, pages-attempt, deploy_website_preview

[Fix][Doc] Typo on literal declaration of big-map and map)
  gitlab-pages/docs/reference/big_map.md
  gitlab-pages/docs/reference/map.md
  gitlab-pages/website/versioned_docs/version-1.4.0/reference/big_map.md
  gitlab-pages/website/versioned_docs/version-1.4.0/reference/map.md
  gitlab-pages/website/versioned_docs/version-1.5.0/reference/big_map.md
  gitlab-pages/website/versioned_docs/version-1.5.0/reference/map.md
  src/main/build/ligo_lib/std_lib.mligo
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[chore] Fix uppercase file issue.
  gitlab-pages/docs/reference/Big_map.md
  gitlab-pages/docs/reference/Map.md
  gitlab-pages/website/versioned_docs/version-1.4.0/reference/Big_map.md
  gitlab-pages/website/versioned_docs/version-1.4.0/reference/Map.md
  gitlab-pages/website/versioned_docs/version-1.4.0/reference/map.md
  gitlab-pages/website/versioned_docs/version-1.5.0/reference/Big_map.md
  gitlab-pages/website/versioned_docs/version-1.5.0/reference/Map.md
  gitlab-pages/website/versioned_docs/version-1.5.0/reference/big_map.md
  gitlab-pages/website/versioned_docs/version-1.5.0/reference/map.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

chore: remove pyligo dead code
  src/passes/00-preprocessing/pyligo/Config.ml
  src/passes/00-preprocessing/pyligo/PreprocMain.ml
  src/passes/00-preprocessing/pyligo/dune
  src/passes/01-lexing/pyligo/LexerMain.ml
  src/passes/01-lexing/pyligo/Self-passes/Tokens/Self.ml
  src/passes/01-lexing/pyligo/Self-passes/Tokens/Token.ml
  src/passes/01-lexing/pyligo/Self-passes/Tokens/dune
  src/passes/01-lexing/pyligo/Self-passes/Units/Indent.ml
  src/passes/01-lexing/pyligo/Self-passes/Units/Multiline.ml
  src/passes/01-lexing/pyligo/Self-passes/Units/Self.ml
  src/passes/01-lexing/pyligo/Self-passes/Units/ZWSP.ml
  src/passes/01-lexing/pyligo/Self-passes/Units/dune
  src/passes/01-lexing/pyligo/Token.ml
  src/passes/01-lexing/pyligo/dune
  src/passes/01-lexing/shared/Lexer.mll
  src/passes/02-parsing/pyligo/.Parser.mly.tag
  src/passes/02-parsing/pyligo/.ParserMain.tag
  src/passes/02-parsing/pyligo/.gitignore
  src/passes/02-parsing/pyligo/ParToken.mly
  src/passes/02-parsing/pyligo/Parser.mly
  src/passes/02-parsing/pyligo/ParserMain.ml
  src/passes/02-parsing/pyligo/Pretty.ml
  src/passes/02-parsing/pyligo/Pretty.mli
  src/passes/02-parsing/pyligo/dune
  src/passes/02-parsing/pyligo/errors.msg.in
  src/stages/1-cst/pyligo/CST.ml
  src/stages/1-cst/pyligo/Print.ml
  src/stages/1-cst/pyligo/Print.mli
  src/stages/1-cst/pyligo/dune
  vendored-dune/LexerLib/Core.mll
Due: none

[fix] Analytics id files management
  changelog/3147
  src/main/analytics/analytics.ml
Due: pages, pages-attempt, deploy_website_preview

[Chore] Document `lsp_helpers` and refactor some stuff.
  dune
  src/main/ligo_lsp/lsp_helpers/PP_config.ml
  src/main/ligo_lsp/lsp_helpers/def.ml
  src/main/ligo_lsp/lsp_helpers/directive.ml
  src/main/ligo_lsp/lsp_helpers/document_uri.ml
  src/main/ligo_lsp/lsp_helpers/files.ml
  src/main/ligo_lsp/lsp_helpers/get_scope.ml
  src/main/ligo_lsp/lsp_helpers/helpers_file.ml
  src/main/ligo_lsp/lsp_helpers/ligo_interface.ml
  src/main/ligo_lsp/lsp_helpers/location.ml
  src/main/ligo_lsp/lsp_helpers/path.ml
  src/main/ligo_lsp/lsp_helpers/path.mli
  src/main/ligo_lsp/lsp_helpers/position.ml
  src/main/ligo_lsp/lsp_helpers/pretty.ml
  src/main/ligo_lsp/lsp_helpers/project_root.ml
  src/main/ligo_lsp/lsp_helpers/range.ml
  src/main/ligo_lsp/requests/handler.ml
  src/test/dune
Due: none

[Chore] Document language server requests
  src/main/ligo_lsp/lsp_helpers/project_root.ml
  src/main/ligo_lsp/requests/code_lens.ml
  src/main/ligo_lsp/requests/commands.ml
  src/main/ligo_lsp/requests/completion.ml
  src/main/ligo_lsp/requests/completion/common.ml
  src/main/ligo_lsp/requests/completion/fields.ml
  src/main/ligo_lsp/requests/completion/files.ml
  src/main/ligo_lsp/requests/completion/keywords.ml
  src/main/ligo_lsp/requests/completion/modules.ml
  src/main/ligo_lsp/requests/completion/records.ml
  src/main/ligo_lsp/requests/completion/scope.ml
  src/main/ligo_lsp/requests/diagnostics.ml
  src/main/ligo_lsp/requests/document_link.ml
  src/main/ligo_lsp/requests/document_symbol.ml
  src/main/ligo_lsp/requests/folding_range.ml
  src/main/ligo_lsp/requests/formatting.ml
  src/main/ligo_lsp/requests/go_to_definition.ml
  src/main/ligo_lsp/requests/highlight.ml
  src/main/ligo_lsp/requests/hover.ml
  src/main/ligo_lsp/requests/inlay_hint.ml
  src/main/ligo_lsp/requests/on_doc.ml
  src/main/ligo_lsp/requests/prepare_rename.ml
  src/main/ligo_lsp/requests/range_formatting.ml
  src/main/ligo_lsp/requests/references.ml
  src/main/ligo_lsp/requests/rename.ml
  src/main/ligo_lsp/requests/semantic_highlight.ml
Due: none

[Chore] Document lsp_server
  src/main/ligo_lsp/server.ml
Due: none

[Chore] Better documentation for `normalize`
  src/main/analytics/analytics.ml
  src/main/ligo_lsp/lsp_helpers/def.ml
  src/main/ligo_lsp/lsp_helpers/directive.ml
  src/main/ligo_lsp/lsp_helpers/document_uri.ml
  src/main/ligo_lsp/lsp_helpers/files.ml
  src/main/ligo_lsp/lsp_helpers/path.ml
  src/main/ligo_lsp/lsp_helpers/path.mli
  src/main/ligo_lsp/requests/commands.ml
  src/main/ligo_lsp/requests/completion/common.ml
  src/main/ligo_lsp/requests/completion/fields.ml
  src/main/ligo_lsp/requests/completion/files.ml
  src/main/ligo_lsp/requests/completion/modules.ml
  src/main/ligo_lsp/requests/completion/records.ml
  src/main/ligo_lsp/requests/completion/scope.ml
  src/main/ligo_lsp/requests/diagnostics.ml
  src/main/ligo_lsp/requests/document_link.ml
  src/main/ligo_lsp/requests/highlight.ml
  src/main/ligo_lsp/requests/hover.ml
  src/main/ligo_lsp/requests/inlay_hint.ml
  src/main/ligo_lsp/requests/prepare_rename.ml
  src/main/ligo_lsp/requests/references.ml
  src/test/lsp_test/helpers/common.ml
Due: none

[Bot] Update release metadata 1.6.0
  .ci/.metadata.yml
Due: none

[Chore] Add documentation to scopes
  src/main/scopes/PP.ml
  src/main/scopes/api_helper.ml
  src/main/scopes/definitions.ml
  src/main/scopes/definitions.mli
  src/main/scopes/env.ml
  src/main/scopes/formatter.ml
  src/main/scopes/inline_mangled_modules_pass.ml
  src/main/scopes/inline_mangled_modules_pass.mli
  src/main/scopes/misc.ml
  src/main/scopes/module_aliases_pass.ml
  src/main/scopes/module_aliases_pass.mli
  src/main/scopes/references.ml
  src/main/scopes/references.mli
  src/main/scopes/scopes.ml
  src/main/scopes/scopes.mli
  src/main/scopes/scopes_pass.ml
  src/main/scopes/scopes_pass.mli
  src/main/scopes/types.ml
  src/main/scopes/types_pass.mli
Due: none

remove submodule update inside release process + revert the update
  .ci/.gitlab-ci-release.yml
Due: none

chore: remove jsoo and windows related code
  .gitignore
  Makefile
  configurator/configurator.ml
  dune
  lib/ligo_unix/ligo_unix.ml
  src/bin/bls12-polynomial.js
  src/bin/digestif.js
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/bin/others.js
  src/bin/stdint.js
  src/bin/threads.js
  src/dune
  src/main/analytics/analytics.ml
  src/main/compile/of_michelson.ml
  src/main/helpers/commands.ml
  src/main/helpers/constants.ml
  src/main/helpers/constants.mli
  src/main/ligo_lsp/lsp_helpers/path.ml
  src/main/main_warnings/dune
  src/package-management/publish.ml
Due: none

chore: move ppxs to `lib/`
  dune
  lib/ppx_is/dune
  lib/ppx_is/ppx_is.ml
  lib/ppx_map/dune
  lib/ppx_map/ppx_map.ml
  lib/ppx_poly_constructor/dune
  lib/ppx_poly_constructor/ppx_poly_constructor.ml
  lib/ppx_print_constant/dune
  lib/ppx_print_constant/ppx_print_constant.ml
  lib/ppx_read_constant/dune
  lib/ppx_read_constant/ppx_read_constant.ml
  lib/ppx_woo/dune
  lib/ppx_woo/ppx_woo.ml
  lib/ppx_woo/woo_cases.ml
  lib/ppx_woo/woo_constructors.ml
  lib/ppx_woo/woo_helpers.ml
  lib/ppx_woo/woo_matching.ml
  lib/ppx_woo/woo_parse.ml
  lib/ppx_woo/woo_properties.ml
  lib/ppx_woo/woo_record.ml
  lib/ppx_woo/woo_types.ml
  lib/ppx_woo/woo_variant.ml
  src/stages/ppx/dune
  src/test/dune
Due: none

[Chore] Bump tooling version
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/main/compile/of_michelson.ml
  src/main/main_warnings/dune
  tools/debugger/ligo-debugger/ligo-debugger.cabal
  tools/debugger/ligo-debugger/package.yaml
  tools/debugger/ligo-debugger/src/resources/versions/minimal-supported
  tools/debugger/ligo-debugger/src/resources/versions/recommended
  tools/vscode/package.json
Due: none

doc collision issue
  gitlab-pages/docs/reference/big_set.md
  gitlab-pages/docs/reference/bitwise.md
  gitlab-pages/docs/reference/bytes.md
  gitlab-pages/docs/reference/crypto.md
  gitlab-pages/docs/reference/dynamic_entrypoints.md
  gitlab-pages/docs/reference/list.md
  gitlab-pages/docs/reference/option.md
  gitlab-pages/docs/reference/set.md
  gitlab-pages/docs/reference/string.md
  gitlab-pages/docs/reference/test.next.md
  gitlab-pages/docs/reference/tezos.md
  gitlab-pages/website/versioned_docs/version-1.6.0/reference/big_set.md
  gitlab-pages/website/versioned_docs/version-1.6.0/reference/bitwise.md
  gitlab-pages/website/versioned_docs/version-1.6.0/reference/bytes.md
  gitlab-pages/website/versioned_docs/version-1.6.0/reference/crypto.md
  gitlab-pages/website/versioned_docs/version-1.6.0/reference/dynamic_entrypoints.md
  gitlab-pages/website/versioned_docs/version-1.6.0/reference/list.md
  gitlab-pages/website/versioned_docs/version-1.6.0/reference/option.md
  gitlab-pages/website/versioned_docs/version-1.6.0/reference/set.md
  gitlab-pages/website/versioned_docs/version-1.6.0/reference/string.md
  gitlab-pages/website/versioned_docs/version-1.6.0/reference/test.next.md
  gitlab-pages/website/versioned_docs/version-1.6.0/reference/tezos.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[Chore] Add documentation to ligo-vscode.
  tools/vscode/client/src/common/LigoContext.ts
  tools/vscode/client/src/common/LigoProtocolClient.ts
  tools/vscode/client/src/common/base.ts
  tools/vscode/client/src/common/config.ts
  tools/vscode/client/src/common/exceptions.ts
  tools/vscode/client/src/common/ui.ts
  tools/vscode/client/src/debugger/DebuggerExtension.ts
  tools/vscode/client/src/debugger/LigoDebugAdapterDescriptorFactory.ts
  tools/vscode/client/src/debugger/LigoDebugAdapterTrackerFactory.ts
  tools/vscode/client/src/debugger/LigoDebugConfigurationProvider.ts
  tools/vscode/client/src/debugger/LigoServer.ts
  tools/vscode/client/src/debugger/base.ts
  tools/vscode/client/src/debugger/messages.ts
  tools/vscode/client/src/debugger/ui.ts
  tools/vscode/client/src/extension.ts
  tools/vscode/client/src/lsp/LspExtension.ts
  tools/vscode/client/src/lsp/command.ts
  tools/vscode/client/src/lsp/commands/common.ts
  tools/vscode/client/src/lsp/commands/ligoCommands.ts
  tools/vscode/client/src/lsp/commands/tezosCommands.ts
  tools/vscode/client/src/lsp/common.ts
  tools/vscode/client/src/lsp/ui.ts
  tools/vscode/client/src/lsp/updateExtension.ts
  tools/vscode/client/src/lsp/updateLigo.ts
Due: none

[Chore] Remove notification about changed syntax
  tools/vscode/client/src/common/LigoContext.ts
  tools/vscode/client/src/debugger/DebuggerExtension.ts
Due: none

[#2611] Avoid inlay hints for signature items
  src/main/ligo_lsp/requests/inlay_hint.ml
Due: none

[#2166] Add tests for inlay hints ban
  src/test/contracts/lsp/inlay_hints/inlay_hints.jsligo
  src/test/contracts/lsp/inlay_hints/inlay_hints.mligo
Due: none

[Bot] add changelog entry
  changelog/3153
Due: pages, pages-attempt, deploy_website_preview

[Chore] Strip version check in the debugger
  .ci/.gitlab-ci-debugger.yml
  tools/debugger/ligo-debugger/ligo-debugger.cabal
  tools/debugger/ligo-debugger/package.yaml
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Call.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Helpers.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Impl.hs
  tools/debugger/ligo-debugger/src/Util.hs
  tools/debugger/ligo-debugger/src/resources/versions/minimal-supported
  tools/debugger/ligo-debugger/src/resources/versions/recommended
  tools/debugger/ligo-debugger/stack.yaml
  tools/debugger/ligo-debugger/stack.yaml.lock
  tools/debugger/ligo-debugger/test/Test/LigoCall.hs
  tools/vscode/client/src/common/LigoProtocolClient.ts
Due: none

[Chore] Strip redundant LSP modules in the debugger
  tools/debugger/ligo-debugger/ligo-debugger.cabal
  tools/debugger/ligo-debugger/src/Language/LIGO/AST/Pretty.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/AST/Skeleton.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Types.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Diagnostic.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Extension.hs
Due: none

[Chore] Strip events in `Functions` module
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Functions.hs
  tools/debugger/ligo-debugger/test/Test/Functions.hs
Due: none

[Chore] Add missing docs to the debugger.
  tools/debugger/ligo-debugger/src/Control/AbortingThreadPool.hs
  tools/debugger/ligo-debugger/src/Control/MessagePack.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/AST/Parser.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/AST/Parser/CameLigoCST.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/AST/Parser/Common.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/AST/Parser/JsLigoCST.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/AST/Pretty.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/AST/Skeleton.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/DAP/Variables.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Call.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Exception.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Helpers.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Types.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Types/LigoValue.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Types/LigoValue/Codegen.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Common.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Functions.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Helpers.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Impl.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Types.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Michelson.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Snapshots.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Extension.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Range.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Scope.hs
  tools/debugger/ligo-debugger/src/Util.hs
Due: none

[#2069] Distinguish between tez and mutez at CST level
  changelog/3125
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/main/interpreter/common/dune
  src/main/interpreter/common/interpreter.ml
  src/passes/01-lexing/cameligo/Self-passes/Tokens/Comments.ml
  src/passes/01-lexing/cameligo/Self-passes/Tokens/Token.ml
  src/passes/01-lexing/cameligo/Self-passes/Units/LineCom.ml
  src/passes/01-lexing/jsligo/Self-passes/Tokens/Comments.ml
  src/passes/01-lexing/jsligo/Self-passes/Tokens/Token.ml
  src/passes/01-lexing/jsligo/Self-passes/Units/LineCom.ml
  src/passes/01-lexing/shared/Lexer.mll
  src/passes/01-lexing/shared/Token.mli
  src/passes/02-parsing/cameligo/ParToken.mly
  src/passes/02-parsing/cameligo/Parser.mly
  src/passes/02-parsing/cameligo/Pretty.ml
  src/passes/02-parsing/jsligo/ParToken.mly
  src/passes/02-parsing/jsligo/Parser.mly
  src/passes/02-parsing/jsligo/Pretty.ml
  src/passes/03-unification/cameligo/compile.ml
  src/passes/03-unification/jsligo/compile.ml
  src/stages/1-cst/cameligo/CST.ml
  src/stages/1-cst/cameligo/Fold.ml
  src/stages/1-cst/cameligo/Print.ml
  src/stages/1-cst/jsligo/CST.ml
  src/stages/1-cst/jsligo/Fold.ml
  src/stages/1-cst/jsligo/Print.ml
  src/stages/1-cst/shared/Tree.ml
  src/stages/1-cst/shared/Tree.mli
  src/test/transpilation/expected/all_the_things.mligo.expected
  tools/debugger/ligo-debugger/src/Language/LIGO/AST/Parser/CameLigoCST.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/AST/Parser/JsLigoCST.hs
  tools/ligo-syntax-highlighting/dune
  tools/ligo-syntax-highlighting/dune-project
Due: check-generated-highlighting, pages, pages-attempt, deploy_website_preview

Remove need for parentheses in object updates
  changelog/3154
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/passes/02-parsing/jsligo/Parser.mly
  src/passes/02-parsing/jsligo/errors.msg.in
  src/test/contracts/interpreter_tests/test_record_update.jsligo
Due: pages, pages-attempt, deploy_website_preview

fix: remove detect-installer dependency
  changelog-tools/vscode-plugin/3155
  tools/vscode/client/src/common/exceptions.ts
  tools/vscode/client/src/lsp/updateLigo.ts
  tools/vscode/package.json
  tools/vscode/yarn.lock
Due: none

chore: switch `Ligo_lsp.Handler` to use Core's `Monad` interface with ppx_let
  changelog-tools/vscode-plugin/3156
  src/main/ligo_lsp/dune
  src/main/ligo_lsp/requests/code_lens.ml
  src/main/ligo_lsp/requests/commands.ml
  src/main/ligo_lsp/requests/completion.ml
  src/main/ligo_lsp/requests/document_link.ml
  src/main/ligo_lsp/requests/document_symbol.ml
  src/main/ligo_lsp/requests/formatting.ml
  src/main/ligo_lsp/requests/go_to_definition.ml
  src/main/ligo_lsp/requests/handler.ml
  src/main/ligo_lsp/requests/highlight.ml
  src/main/ligo_lsp/requests/hover.ml
  src/main/ligo_lsp/requests/inlay_hint.ml
  src/main/ligo_lsp/requests/on_doc.ml
  src/main/ligo_lsp/requests/prepare_rename.ml
  src/main/ligo_lsp/requests/range_formatting.ml
  src/main/ligo_lsp/requests/references.ml
  src/main/ligo_lsp/requests/rename.ml
  src/main/ligo_lsp/requests/semantic_highlight.ml
  src/main/ligo_lsp/requests/type_definition.ml
  src/main/ligo_lsp/server.ml
  src/test/lsp_test/completion.ml
  src/test/lsp_test/definition.ml
  src/test/lsp_test/document_link.ml
  src/test/lsp_test/document_symbol.ml
  src/test/lsp_test/dune
  src/test/lsp_test/folding_range.ml
  src/test/lsp_test/formatting/dune
  src/test/lsp_test/formatting/formatting_test.ml
  src/test/lsp_test/helpers/dune
  src/test/lsp_test/helpers/handlers.ml
  src/test/lsp_test/hover.ml
  src/test/lsp_test/inlay_hint.ml
  src/test/lsp_test/on_doc.ml
  src/test/lsp_test/on_highlight.ml
  src/test/lsp_test/prepare_rename.ml
  src/test/lsp_test/range_formatting.ml
  src/test/lsp_test/references.ml
  src/test/lsp_test/semantic_highlight.ml
  src/test/lsp_test/tzip16_code_lens.ml
Due: none

webide-a: fix(webide): support parisb
  changelog-tools/webide/3158
  tools/webide-new/ligo-webide-backend/test/Test/Method/Compile.hs
  tools/webide-new/ligo-webide-backend/test/Test/Method/GenerateDeployScript.hs
  tools/webide-new/ligo-webide-frontend/ligo-ide/config.json
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/ligo-components/ligo-compiler/compilerManager.ts
Due: none

Path conditions:
  check-generated-highlighting: any of: tools/ligo-syntax-highlighting/**/*
  pages: any of: gitlab-pages/**/*, changelog/*
  pages-attempt: any of: gitlab-pages/**/*, changelog/*
  algolia-crawl: any of: gitlab-pages/**/*
  deploy_website_preview: any of: gitlab-pages/**/*, changelog/*
