Repository ligolang/ligo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-generated-highlighting, webide-backend-build-and-push-backend, webide-new-backend-build-and-push-backend, webide-new-frontend-build-and-push, pages, pages-attempt, algolia-crawl, deploy_website_preview, deploy-handoff-feature, deploy-handoff, build-preview-ligo-webide-front-end, build-ligo-webide-front-end

check-generated-highlighting:
  stage: tooling
  dependencies:
  - docker_extract
  script:
  - scripts/diff_dir.sh highlighting/emacs tools/emacs
  - scripts/diff_dir.sh highlighting/vim/ftdetect tools/vim/ligo/start/ligo/ftdetect
  - scripts/diff_dir.sh highlighting/vim/plugin tools/vim/ligo/start/ligo/plugin
  ...

webide-backend-build-and-push-backend:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  - cp -r src/test/examples tools/webide/packages/client/examples
  ...

webide-new-backend-build-and-push-backend:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  needs:
  - job: changelog
    artifacts: false
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  - docker build tools/webide-new/ligo-webide-backend -t ${WEBIDE_NEW_IMAGE_TAG}
  ...

webide-new-frontend-build-and-push:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  needs:
  - job: changelog
    artifacts: false
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  ...

pages:
  stage: push
  tags:
  - docker
  image: node:16.17.0-buster
  needs:
  - job: changelog
    artifacts: true
  script:
  - export DOC_PATH=./gitlab-pages/docs
  - export WEBSITE_PATH=./gitlab-pages/website
  - cp -f ./changelog.md $DOC_PATH/intro/changelog.md
  ...

pages-attempt:
  stage: push
  tags:
  - docker
  image: node:16.17.0-buster
  needs:
  - job: changelog
    artifacts: true
  script:
  - export DOC_PATH=./gitlab-pages/docs
  - export WEBSITE_PATH=./gitlab-pages/website
  - cp -f ./changelog.md $DOC_PATH/intro/changelog.md
  ...

algolia-crawl:
  stage: push
  needs:
  - job: pages
  script:
  - "sleep 10 \ncurl -X post  -H \"Content-Type: application/json\" --user ${ALGOLIA_CRAWLER_ID}:${ALGOLIA_CRAWLER_TOKEN} https://crawler.algolia.com/api/1/crawlers/bb0597ba-5abc-45ba-bdf9-99f8152e87b0/reindex\n"

deploy_website_preview:
  stage: deploy
  image: node:16.17.0-buster
  tags:
  - docker
  needs:
  - job: pages-attempt
    artifacts: true
  script:
  - apt-get update
  - apt-get install -y --no-install-recommends jq
  - npm install netlify-cli
  ...

deploy-handoff-feature:
  stage: deploy
  variables:
    APP_NAME: web-ide-backend
    NEW_VERSION: ${CI_COMMIT_SHORT_SHA}
    ENV: non-prod
  trigger:
    project: ligolang/kubernetes-infrastructure

deploy-handoff:
  stage: deploy
  variables:
    APP_NAME: web-ide-backend
    NEW_VERSION: ${CI_COMMIT_SHORT_SHA}
    ENV: prod
  trigger:
    project: ligolang/kubernetes-infrastructure

Errors: improve comparable error by showing the context type
  changelog/2454
  src/bin/cli.ml
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/transpilation.ml
  src/main/scopes/types_pass.ml
  src/passes/15-self_mini_c/errors.ml
  src/passes/15-self_mini_c/michelson_restrictions.ml
Due: pages, pages-attempt, deploy_website_preview

fix CI release version for webide
  .ci/.gitlab-ci-webide.yml
Due: none

Refactor: Move `get-scope` completely to new implementation
  src/bin/expect_tests/get_scope.ml
  src/bin/expect_tests/get_scope_errors_warns.ml
  src/bin/expect_tests/get_scope_full_stdlib.ml
  src/bin/expect_tests/get_scope_regressions.ml
  src/bin/expect_tests/package_management.ml
  src/main/scopes/definitions.ml
  src/main/scopes/definitions.mli
  src/main/scopes/misc.ml
  src/main/scopes/module_aliases_pass.ml
  src/main/scopes/module_aliases_pass.mli
  src/main/scopes/references.ml
  src/main/scopes/references.mli
  src/main/scopes/scopes.ml
  src/main/scopes/types.ml
  src/main/scopes/types_pass.ml
  src/main/scopes/types_pass.mli
  src/test/get_scope_tests.ml
  src/test/lsp_test.ml
Due: none

Webide-b:Differentiate backend on frontend npr package
  .ci/.gitlab-ci-webide.yml
Due: none

Stdlib: filter_map function for Set
  changelog/2463
  gitlab-pages/docs/reference/set.md
  src/bin/expect_tests/get_scope_full_stdlib.ml
  src/main/build/ligo_lib/std_lib.mligo
  src/test/contracts/set_arithmetic.jsligo
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Docs: fixes in `originate_module` reference
  gitlab-pages/docs/reference/test.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

CI: Automatically update nixpkgs in release process
  .ci/.gitlab-ci-release.yml
  .ci/scripts/nix/generate_nixpkgs_branch_name.sh
  .ci/scripts/nix/generate_pr.sh
  .ci/scripts/nix/pr_description.md
  .ci/scripts/nix/retrieve_version.sh
  .ci/scripts/nix/update_ligo_default_nix_file.sh
  .ci/scripts/update_distribution_references_with_release.sh
Due: none

[#1718][JsLIGO]: Fix automatic semicolon insertion for if-else statements
  changelog/2472
  src/bin/expect_tests/jsligo_unreachable_code.ml
  src/passes/01-lexing/jsligo/Self-passes/Tokens/SEMI.ml
  src/test/contracts/if_semi.jsligo
  src/test/contracts/jsligo_unreachable_code.jsligo
  src/test/error-recovery/fuzzing/jsligo/results.csv.expected
Due: pages, pages-attempt, deploy_website_preview

deprecation of mutate_ast
  changelog/2455
  src/bin/cli.ml
  src/main/api/common/mutate.mli
  src/main/api/js/mutate.ml
  src/main/api/unix/mutate.ml
  src/main/fuzz/fuzz.ml
  src/main/fuzz/fuzz_ast_imperative.ml
Due: pages, pages-attempt, deploy_website_preview

Add HTTP uri support to BuildSystem
  src/main/api/common/info.ml
  src/main/build/build.ml
  vendored-dune/BuildSystem/BuildSystem.ml
  vendored-dune/BuildSystem/BuildSystem.opam
  vendored-dune/BuildSystem/dune
Due: none

Use Simple_utils.File in Preprocessor
  vendored-dune/Preprocessor/LowAPI.mll
  vendored-dune/Preprocessor/ModRes.ml
Due: none

Dune fmt
  dune
Due: none

Update jsoo example to with HTTP Uri imports
  jsoo/foo.jsligo
  jsoo/package.json
  jsoo/src/editor.js
Due: none

Pin js_of_ocaml* to 5.0.1
  esy.lock/index.json
  esy.lock/opam/js_of_ocaml-lwt.5.0.1/opam
Due: none

Sort `scope` uids before printing to minimize the diffs
  src/bin/expect_tests/get_scope.ml
  src/bin/expect_tests/get_scope_errors_warns.ml
  src/bin/expect_tests/get_scope_full_stdlib.ml
  src/bin/expect_tests/get_scope_regressions.ml
  src/main/scopes/PP.ml
Due: none

[Chore] move `get-scope` to LSP
  src/bin/cli.ml
  src/main/api/common/info.ml
  src/main/ligo_lsp/ligo_interface/get_scope.ml
  src/main/ligo_lsp/ligo_interface/ligo_interface.ml
  src/main/ligo_lsp/requests/on_doc.ml
  src/main/ligo_lsp/requests/requests.ml
  src/main/ligo_lsp/server.ml
  src/test/get_scope_tests.ml
  src/test/lsp_test/definition.ml
  src/test/lsp_test/diagnostics.ml
  src/test/lsp_test/document_link.ml
  src/test/lsp_test/folding_range.ml
  src/test/lsp_test/formatting.ml
  src/test/lsp_test/handlers.ml
  src/test/lsp_test/prepare_rename.ml
Due: none

[#1533] Add command for using last granularity
  tools/debugger/vscode-plugin/package.json
  tools/debugger/vscode-plugin/src/ui.ts
Due: none

[#1533] Add keybinding for "use last granularity"
  tools/debugger/vscode-plugin/README.md
  tools/debugger/vscode-plugin/package.json
Due: none

Fix: duplicate warnings in `get-scope`
  src/bin/expect_tests/get_scope.ml
  src/bin/expect_tests/get_scope_regressions.ml
  src/main/scopes/types_pass.ml
  src/test/contracts/get_scope_tests/regressions/duplicate_unused_warnings.mligo
Due: none

Add support for attributes before `namespace` in jsligo parser
  changelog/2487
  src/bin/expect_tests/syntax_error_tests.ml
  src/passes/01-lexing/jsligo/Self-passes/Tokens/SEMI.ml
  src/passes/02-parsing/jsligo/Parser.mly
  src/passes/02-parsing/jsligo/errors.msg.in
  src/test/ast_production.ml
  src/test/contracts/export_newline.jsligo
  src/test/contracts/negative/export_attr_const.jsligo
Due: pages, pages-attempt, deploy_website_preview

Entrypoints `parameter_of`: new keyword for obtaining contract's (from module) parameter
  changelog/2476
  gitlab-pages/docs/language-basics/modules.md
  src/main/api/unix/mutate.ml
  src/main/fuzz/cameligo/helpers.ml
  src/main/fuzz/jsligo/helpers.ml
  src/main/ligo_lsp/requests/folding_range.ml
  src/passes/01-lexing/cameligo/Self-passes/Tokens/Token.ml
  src/passes/01-lexing/jsligo/Self-passes/Tokens/PreParser.mly
  src/passes/01-lexing/jsligo/Self-passes/Tokens/Token.ml
  src/passes/02-parsing/cameligo/ParToken.mly
  src/passes/02-parsing/cameligo/Parser.mly
  src/passes/02-parsing/cameligo/Pretty.ml
  src/passes/02-parsing/cameligo/errors.msg.in
  src/passes/02-parsing/jsligo/ParToken.mly
  src/passes/02-parsing/jsligo/Parser.mly
  src/passes/02-parsing/jsligo/Pretty.ml
  src/passes/02-parsing/jsligo/errors.msg.in
  src/passes/04-tree_abstraction/cameligo/compiler.ml
  src/passes/04-tree_abstraction/jsligo/compiler.ml
  src/passes/10-checking/generator.ml
  src/passes/11-self_ast_typed/make_entry_point.ml
  src/stages/1-cst/cameligo/CST.ml
  src/stages/1-cst/cameligo/Print.ml
  src/stages/1-cst/jsligo/CST.ml
  src/stages/1-cst/jsligo/Print.ml
  src/test/contracts/interpreter_tests/test_originate_module.jsligo
  src/test/contracts/interpreter_tests/test_originate_module.mligo
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

edit NPM CI trigger condition
  .ci/.gitlab-ci-npm.yml
Due: none

Disable declaration-shadowing warning on transpiled JsLIGO contracts
  changelog/2460
  src/bin/cli.ml
  src/bin/expect_tests/help_tests.ml
  src/bin/expect_tests/transpilation.ml
  src/main/compile/helpers.ml
  src/main/compile/of_c_unit.ml
  src/main/compile/utils.ml
  src/main/compiler_options/compiler_options.ml
  src/main/compiler_options/raw_options.ml
  src/test/contracts/transpile_warn_shadowing.jsligo
Due: pages, pages-attempt, deploy_website_preview

Resolve "Ligo 0.59.0+ breaks MR 2048 (Make [@annot:] mean no annotation)."
  changelog/2475
  src/bin/expect_tests/annotated_michelson_variant.ml
  src/passes/06-desugaring/compiler.ml
  src/test/contracts/annot_ignored.mligo
Due: pages, pages-attempt, deploy_website_preview

website : add banner and fix
  gitlab-pages/docs/reference/current.md
  gitlab-pages/website/versioned_docs/version-0.61.0/reference/current.md
  gitlab-pages/website/versioned_docs/version-0.62.0/reference/current.md
  gitlab-pages/website/versioned_docs/version-0.63.2/reference/current.md
  scripts/changelog.md.mustache
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Enable attributes after keyword "export" for declarations
  changelog/2489
  src/bin/expect_tests/syntax_error_tests.ml
  src/passes/02-parsing/jsligo/Parser.mly
  src/passes/02-parsing/jsligo/errors.msg.in
Due: pages, pages-attempt, deploy_website_preview

Laucans/release process nix fix hash
  .ci/.gitlab-ci-release.yml
  .ci/scripts/nix/update_ligo_default_nix_file.sh
Due: none

Handle HTTP uri after the origin/dev merge
  src/main/ligo_lsp/ligo_interface/get_scope.ml
Due: none

[#1537] Add clarification for bad `jsligo` run
  tools/debugger/vscode-plugin/src/ui.ts
Due: none

Evergreening: clean
  static.esy.json
Due: none

Fix: improve support for view uncurried functions
  changelog/2499
  src/bin/cli.ml
  src/bin/expect_tests/view.ml
  src/main/build/build.ml
  src/main/ligo_lsp/ligo_interface/ligo_interface.ml
  src/passes/04-tree_abstraction/cameligo/cameligo.ml
  src/passes/04-tree_abstraction/cameligo/errors.ml
  src/passes/04-tree_abstraction/jsligo/errors.ml
  src/passes/04-tree_abstraction/jsligo/jsligo.ml
  src/passes/04-tree_abstraction/pascaligo/pascaligo.ml
  src/passes/11-self_ast_typed/errors.ml
  src/passes/11-self_ast_typed/helpers.ml
  src/passes/11-self_ast_typed/make_entry_point.ml
  src/passes/11-self_ast_typed/view_passes.ml
  src/stages/5-ast_typed/helpers.ml
  src/stages/5-ast_typed/misc.ml
  src/stages/5-ast_typed/misc.mli
  src/test/get_scope_tests.ml
Due: pages, pages-attempt, deploy_website_preview

[Chore] Update LSP version
  esy.json
  esy.lock/index.json
  esy.lock/opam/dyn.3.5.0/opam
  esy.lock/opam/ipaddr-sexp.5.5.0/opam
  esy.lock/opam/ipaddr.5.5.0/opam
  esy.lock/opam/jsonrpc.1.14.2/opam
  esy.lock/opam/lsp.1.14.2/opam
  esy.lock/opam/macaddr.5.5.0/opam
  esy.lock/opam/ocamlfind.1.9.5/files/0001-Fix-bug-when-installing-with-a-system-compiler.patch
  esy.lock/opam/ocamlfind.1.9.5/opam
  esy.lock/opam/ocamlfind.1.9.6/files/0001-Harden-test-for-OCaml-5.patch
  esy.lock/opam/ordering.3.5.0/opam
  esy.lock/opam/pp.1.1.2/opam
  esy.lock/overrides/opam__s__ocamlfind_opam__c__1.9.5_opam_override/files/findlib.patch
  esy.lock/overrides/opam__s__ocamlfind_opam__c__1.9.5_opam_override/package.json
  esy.lock/overrides/opam__s__ocamlfind_opam__c__1.9.6_opam_override/files/findlib.patch
  ligo.opam
  ligo.opam.locked
  src/main/ligo_lsp/requests/document_link.ml
  src/main/ligo_lsp/requests/go_to_definition.ml
  src/main/ligo_lsp/requests/hover.ml
  src/main/ligo_lsp/requests/prepare_rename.ml
  src/main/ligo_lsp/requests/references.ml
  src/main/ligo_lsp/requests/rename.ml
  src/main/ligo_lsp/requests/requests.ml
  src/main/ligo_lsp/requests/type_definition.ml
  src/main/ligo_lsp/server.ml
  src/test/lsp_test/document_link.ml
Due: none

fix pipeline for npm ligojs
  .ci/.gitlab-ci-npm.yml
  .ci/scripts/versioning/determine_esy_version.sh
  src/bin/cli.ml
Due: none

Deprecate katmandu
  changelog/2500
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/help_tests.ml
  src/bin/expect_tests/protocol_specific.ml
  src/bin/expect_tests/timelock.ml
  src/environment/environment.ml
  src/environment/protocols.ml
  src/main/build/stdlib.ml
  src/main/compile/dune
  src/main/compile/of_michelson.ml
  src/main/main_errors/dune
  src/main/main_errors/formatter.ml
  src/test/contracts/open_chest_result.mligo
  src/test/contracts/timelock.mligo
  src/test/contracts/warning_duplicate3.mligo
  vendored-dune/ligo-utils/memory-proto-pre-alpha/dune
  vendored-dune/ligo-utils/memory-proto-pre-alpha/dune-project
  vendored-dune/ligo-utils/memory-proto-pre-alpha/memory_proto_pre_alpha.ml
  vendored-dune/ligo-utils/memory-proto-pre-alpha/tezos-memory-proto-pre-alpha.opam
  vendored-dune/ligo-utils/proto-pre-alpha-utils/dune
  vendored-dune/ligo-utils/proto-pre-alpha-utils/dune-project
  vendored-dune/ligo-utils/proto-pre-alpha-utils/init_proto_alpha.ml
  vendored-dune/ligo-utils/proto-pre-alpha-utils/measure.ml
  vendored-dune/ligo-utils/proto-pre-alpha-utils/memory_proto_alpha.ml
  vendored-dune/ligo-utils/proto-pre-alpha-utils/proto-pre-alpha-utils.opam
  vendored-dune/ligo-utils/proto-pre-alpha-utils/proto_pre_alpha_utils.ml
  vendored-dune/ligo-utils/proto-pre-alpha-utils/trace.ml
  vendored-dune/ligo-utils/proto-pre-alpha-utils/x_error_monad.ml
  vendored-dune/ligo-utils/proto-pre-alpha-utils/x_memory_proto_pre_alpha.ml
Due: pages, pages-attempt, deploy_website_preview

Rework transpilation syntax CLI options
  changelog/2501
  src/bin/cli.ml
  src/bin/expect_tests/transpilation.ml
  src/main/api/common/transpile.ml
  src/main/main_errors/formatter.ml
  src/main/main_errors/types.ml
Due: pages, pages-attempt, deploy_website_preview

Transpilation from PascaLIGO to JsLIGO
  changelog/2497
  src/passes/02-parsing/pascaligo/JsLIGO.ml
Due: pages, pages-attempt, deploy_website_preview

Path conditions:
  check-generated-highlighting: any of: tools/ligo-syntax-highlighting/**/*
  webide-backend-build-and-push-backend: any of: tools/webide/**/*, src/test/examples/**/*
  webide-new-backend-build-and-push-backend: any of: tools/webide-new/ligo-webide-backend/**/*
  webide-new-frontend-build-and-push: any of: tools/webide-new/ligo-webide-frontend/ligo-ide/**/*
  pages: any of: gitlab-pages/**/*, changelog/*
  pages-attempt: any of: gitlab-pages/**/*, changelog/*
  algolia-crawl: any of: gitlab-pages/**/*
  deploy_website_preview: any of: gitlab-pages/**/*, changelog/*
  deploy-handoff-feature: any of: tools/webide/**/*, src/test/examples/**/*
  deploy-handoff: any of: tools/webide/**/*, src/test/examples/**/*
  build-preview-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
  build-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
