Repository ligolang/ligo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-generated-highlighting, webide-backend-build-and-push-backend, webide-new-backend-build-and-push-backend, webide-new-frontend-build-and-push, pages, pages-attempt, algolia-crawl, deploy_website_preview, deploy-handoff-feature, deploy-handoff, build-preview-ligo-webide-front-end, build-ligo-webide-front-end

check-generated-highlighting:
  stage: tooling
  dependencies:
  - docker_extract
  script:
  - scripts/diff_dir.sh highlighting/emacs tools/emacs
  - scripts/diff_dir.sh highlighting/vim/ftdetect tools/vim/ligo/start/ligo/ftdetect
  - scripts/diff_dir.sh highlighting/vim/plugin tools/vim/ligo/start/ligo/plugin
  ...

webide-backend-build-and-push-backend:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  - cp -r src/test/examples tools/webide/packages/client/examples
  ...

webide-new-backend-build-and-push-backend:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  needs:
  - job: changelog
    artifacts: false
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  - docker build tools/webide-new/ligo-webide-backend -t ${WEBIDE_NEW_IMAGE_TAG}
  ...

webide-new-frontend-build-and-push:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  needs:
  - job: changelog
    artifacts: false
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  ...

pages:
  stage: push
  tags:
  - docker
  image: node:16.17.0-buster
  needs:
  - job: changelog
    artifacts: true
  script:
  - export DOC_PATH=./gitlab-pages/docs
  - export WEBSITE_PATH=./gitlab-pages/website
  - cp -f ./changelog.md $DOC_PATH/intro/changelog.md
  ...

pages-attempt:
  stage: push
  tags:
  - docker
  image: node:16.17.0-buster
  needs:
  - job: changelog
    artifacts: true
  script:
  - export DOC_PATH=./gitlab-pages/docs
  - export WEBSITE_PATH=./gitlab-pages/website
  - cp -f ./changelog.md $DOC_PATH/intro/changelog.md
  ...

algolia-crawl:
  stage: push
  needs:
  - job: pages
  script:
  - "sleep 10 \ncurl -X post  -H \"Content-Type: application/json\" --user ${ALGOLIA_CRAWLER_ID}:${ALGOLIA_CRAWLER_TOKEN} https://crawler.algolia.com/api/1/crawlers/bb0597ba-5abc-45ba-bdf9-99f8152e87b0/reindex\n"

deploy_website_preview:
  stage: deploy
  image: node:16.17.0-buster
  tags:
  - docker
  needs:
  - job: pages-attempt
    artifacts: true
  script:
  - apt-get update
  - apt-get install -y --no-install-recommends jq
  - npm install netlify-cli
  ...

deploy-handoff-feature:
  stage: deploy
  variables:
    APP_NAME: web-ide-backend
    NEW_VERSION: ${CI_COMMIT_SHORT_SHA}
    ENV: non-prod
  trigger:
    project: ligolang/kubernetes-infrastructure

deploy-handoff:
  stage: deploy
  variables:
    APP_NAME: web-ide-backend
    NEW_VERSION: ${CI_COMMIT_SHORT_SHA}
    ENV: prod
  trigger:
    project: ligolang/kubernetes-infrastructure

Revert change in `error-recover/test.sh`
  src/test/error-recovery/fuzzing/cameligo/results.csv.expected
  src/test/error-recovery/fuzzing/jsligo/results.csv.expected
  src/test/error-recovery/simple/cameligo/results.csv.expected
  src/test/error-recovery/simple/jsligo/results.csv.expected
  src/test/error-recovery/test.sh
Due: none

Stdlib: add `is_none`, `is_some`, `value` and `value_exn` in module `Option`
  changelog/2300
  gitlab-pages/docs/reference/option.md
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/get_scope_full_stdlib.ml
  src/main/build/ligo_lib/std_lib.mligo
  src/test/contracts/option.jsligo
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Fix: JsLigo attributes not propagated in the pipeline
  changelog/2304
  src/bin/expect_tests/contract_tests.ml
  src/passes/02-parsing/jsligo/Parser.mly
  src/passes/02-parsing/jsligo/Pretty.ml
  src/passes/04-tree_abstraction/jsligo/compiler.ml
  src/passes/04-tree_abstraction/jsligo/decompiler.ml
  src/passes/04-tree_abstraction/jsligo/dune
  src/stages/1-cst/jsligo/CST.ml
  src/stages/1-cst/jsligo/Print.ml
  src/test/contracts/layout_comb.jsligo
  src/test/error-recovery/fuzzing/jsligo/results.csv.expected
  src/test/error-recovery/simple/jsligo/results.csv.expected
Due: pages, pages-attempt, deploy_website_preview

Internal: apply dune fmt
  src/bin/cli.ml
  src/bin/expect_tests/get_scope_errors_warns.ml
  src/bin/expect_tests/let_destructuring.ml
  src/bin/expect_tests/lexer_tests.ml
  src/bin/expect_tests/typer_error_tests.ml
  src/main/build/stdlib.ml
  src/main/fuzz/dune
  src/main/helpers/ligo_manifest.ml
  src/main/main_errors/formatter.ml
  src/passes/04-tree_abstraction/tree_abstraction.ml
  src/test/ast_production.ml
  src/test/contract_test.ml
  src/test/get_scope_tests.ml
  src/test/integration_tests.ml
Due: none

Internal: remove `Uncurry_lib`
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/get_scope_full_stdlib.ml
  src/main/build/ligo_lib/std_lib.mligo
  src/main/build/stdlib.ml
Due: none

Webside: remove ide beta links
  gitlab-pages/website/docusaurus.config.js
  gitlab-pages/website/src/pages/index.js
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

add tag to discriminate dev version and release version
  .ci/.gitlab-ci-npm.yml
Due: none

[#1584] Remove old Serokell's pipeline configuration
  tools/debugger/.gitlab-ci.yml
  tools/lsp/.gitlab-ci-serokell.yml
  tools/webide-new/.gitlab-ci.yml
Due: none

[#1584] Migrate CI for 'tools' projects
  .ci/.gitlab-ci-debugger.yml
  .ci/.gitlab-ci-lsp.yml
  .ci/.gitlab-ci-tools-common.yml
  .ci/.gitlab-ci-webide-new.yml
  .gitlab-ci.yml
  tools/debugger/flake.lock
  tools/debugger/flake.nix
Due: none

[#1584] Use 'ligolang-bot' token for jobs that use GitLab API
  tools/lsp/flake.nix
  tools/lsp/squirrel/scripts/validate-cabal-files.sh
  tools/lsp/squirrel/snapshot-stack2cabal.yaml
Due: none

[Chore] Fix failing CI tests for LSP
  tools/lsp/squirrel/test/test-common/Test/Common/Diagnostics.hs
Due: none

[Chore] Remove trailing whitespaces from '.gitlab-ci.yml'
  .gitlab-ci.yml
Due: none

[#1584] Fix failing tests
  tools/lsp/squirrel/test/ligo-contracts-test/Test/Parsers.hs
Due: none

Fix failing CI on `dev` due to missing packages in `esy.json`
  esy.json
  esy.lock/index.json
  esy.lock/opam/bls12-381.5.0.0/opam
  esy.lock/opam/ctypes.0.20.1/opam
  esy.lock/opam/decompress.1.5.2/opam
  esy.lock/opam/dyn.3.5.0/opam
  esy.lock/opam/functoria-runtime.4.3.2/opam
  esy.lock/opam/index.1.6.1/opam
  esy.lock/opam/irmin-pack.3.4.3/opam
  esy.lock/opam/irmin.3.4.3/opam
  esy.lock/opam/js_of_ocaml-compiler.5.0.1/opam
  esy.lock/opam/js_of_ocaml.5.0.1/opam
  esy.lock/opam/jsonrpc.1.11.6/opam
  esy.lock/opam/lsp.1.11.6/opam
  esy.lock/opam/mirage-runtime.4.3.2/opam
  esy.lock/opam/num.1.4/opam
  esy.lock/opam/odoc-parser.2.0.0/opam
  esy.lock/opam/odoc.2.2.0/opam
  esy.lock/opam/optint.0.3.0/opam
  esy.lock/opam/ordering.3.5.0/opam
  esy.lock/opam/pp.1.1.2/opam
  esy.lock/opam/ppx_deriving.5.2.1/opam
  esy.lock/opam/progress.0.2.1/opam
  esy.lock/opam/psq.0.2.1/opam
  esy.lock/opam/simple-diff.0.3/opam
  esy.lock/opam/tezos-rust-libs.1.3/opam
Due: none

Enable shorter JsLIGO syntax for nested record updates
  changelog/2309
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/passes/04-tree_abstraction/jsligo/compiler.ml
  src/test/contracts/interpreter_tests/record_field_assign.jsligo
  src/test/contracts/negative/interpreter_tests/bad_record_field_assign1.jsligo
  src/test/contracts/negative/interpreter_tests/bad_record_field_assign2.jsligo
Due: pages, pages-attempt, deploy_website_preview

Internal: remove usage of preludes in std_lib
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/bin/expect_tests/package_management.ml
  src/bin/expect_tests/typer_error_tests.ml
  src/main/build/build.ml
  src/main/build/helpers.ml
  src/main/build/stdlib.ml
Due: none

[#1660] Add first test suite for the new LSP
  src/main/api/ligo_lsp_server.ml
  src/main/ligo_lsp/requests/definition.ml
  src/main/ligo_lsp/server.ml
  src/main/ligo_lsp/utils/utils.ml
  src/main/scopes/scopes.ml
  src/main/scopes/scopes.mli
  src/test/dune
  src/test/lsp_test.ml
  src/test/lsp_test/definition.ml
  src/test/lsp_test/dune
  src/test/lsp_test/requests.ml
Due: none

[LIGO-359] Bump VSCode version
  tools/lsp/vscode-plugin/package.json
Due: none

Restore PascaLIGO docs
  gitlab-pages/website/src/pages/index.js
  gitlab-pages/website/src/plugins/syntax/output/theme/Syntax/SyntaxContext.js
  gitlab-pages/website/src/plugins/syntax/output/theme/Syntax/SyntaxSwitch.js
  gitlab-pages/website/src/plugins/syntax/output/theme/SyntaxTitle/index.js
  gitlab-pages/website/src/plugins/syntax/src/theme/Syntax/SyntaxContext.js
  gitlab-pages/website/src/plugins/syntax/src/theme/Syntax/SyntaxSwitch.js
  gitlab-pages/website/src/plugins/syntax/src/theme/SyntaxTitle/index.js
  gitlab-pages/website/src/theme/Root.js
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[#1659] Introduce `Handler` monad in LSP
  src/main/ligo_lsp/requests/handler.ml
  src/main/ligo_lsp/requests/handler.mli
  src/main/ligo_lsp/requests/references.ml
  src/main/ligo_lsp/requests/requests.ml
  src/main/ligo_lsp/server.ml
  src/main/ligo_lsp/utils/maybe.ml
  src/main/ligo_lsp/utils/utils.ml
  src/test/lsp_test/dune
Due: none

[#1652] Implement prepare rename request
  Makefile
  changelog/2317
  src/main/ligo_lsp/requests/prepare_rename.ml
  src/main/ligo_lsp/requests/requests.ml
  src/main/ligo_lsp/server.ml
  src/test/lsp_test.ml
  src/test/lsp_test/definition.ml
  src/test/lsp_test/prepare_rename.ml
  src/test/lsp_test/requests.ml
  tools/vscode/.gitignore
  tools/vscode/.vscodeignore
  tools/vscode/package-lock.json
  tools/vscode/yarn-error.log
Due: pages, pages-attempt, deploy_website_preview

[CameLIGO] Fix type variable binding in expressions
  changelog/2330
  src/bin/expect_tests/contract_tests.ml
  src/passes/04-tree_abstraction/cameligo/compiler.ml
  src/test/ast_production.ml
  src/test/contracts/contract_type_vars_let_fun.mligo
  src/test/contracts/core_abstraction/fun_type_var.mligo
  src/test/contracts/type_vars_let_fun.mligo
  src/test/test_helpers.ml
Due: pages, pages-attempt, deploy_website_preview

uppercase delete
  src/passes/02-parsing/pascaligo/Tests/B1.ligo
  src/passes/02-parsing/pascaligo/Tests/B2.ligo
  src/passes/02-parsing/pascaligo/Tests/B3.ligo
  src/passes/02-parsing/pascaligo/Tests/Root.ligo
Due: none

Fix: get-scopes ignores some warnings (and possibly errors)
  src/bin/expect_tests/get_scope.ml
  src/bin/expect_tests/get_scope_errors_warns.ml
  src/bin/expect_tests/get_scope_regressions.ml
  src/main/scopes/scopes.ml
  src/test/contracts/get_scope_tests/module3.mligo
  src/test/contracts/get_scope_tests/rec.mligo
Due: none

[#1541] Ignore expression locations for `Seq` nodes
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Common.hs
  tools/debugger/ligo-debugger/test/Test/Navigation.hs
  tools/debugger/ligo-debugger/test/contracts/seq-nodes-without-locations.mligo
  tools/debugger/ligo-debugger/test/golden/StepIn/seq-nodes-dont-have-expression-locations-in-snapshots.golden
Due: none

[#1541] Use `parsePreprocessed` instead of `parse`
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Common.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Helpers.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Snapshots.hs
  tools/debugger/ligo-debugger/test/Test/DebugInfo.hs
  tools/debugger/ligo-debugger/test/Test/Navigation.hs
  tools/debugger/ligo-debugger/test/contracts/contract-with-preprocessor.mligo
  tools/debugger/ligo-debugger/test/golden/StepIn/toplevel-functions-with-preprocessor-dont-have-expression-locations-in-snapshots.golden
Due: none

update comment instead of creating one when preview is deployed
  .ci/scripts/publish_preview_as_MR_comment.sh
  .gitlab-ci.yml
Due: none

[#1541] Stop at function calls on `StepIn` with `statement` granularity
  danger/instant-checks.rb
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Common.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Impl.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Navigate.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Snapshots.hs
  tools/debugger/ligo-debugger/test/Test/Breakpoints.hs
  tools/debugger/ligo-debugger/test/Test/Navigation.hs
  tools/debugger/ligo-debugger/test/Test/Snapshots.hs
  tools/debugger/ligo-debugger/test/contracts/functions-visiting.religo
  tools/debugger/ligo-debugger/test/golden/Continue/simple-case-with-breakpoints.golden
  tools/debugger/ligo-debugger/test/golden/Next/breakpoint-causes-interrupt-when-we-are-going-over-function-granularity-expression-pre-post.golden
  tools/debugger/ligo-debugger/test/golden/Next/breakpoint-causes-interrupt-when-we-are-going-over-function-granularity-expression.golden
  tools/debugger/ligo-debugger/test/golden/Next/go-from-within-f-granularity-expression-pre-post.golden
  tools/debugger/ligo-debugger/test/golden/Next/go-from-within-f-granularity-expression.golden
  tools/debugger/ligo-debugger/test/golden/Next/go-over-toplevel-granularity-expression-pre-post.golden
  tools/debugger/ligo-debugger/test/golden/Next/go-over-toplevel-granularity-expression.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/basic-case-caml-expression-granularity.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/basic-case-caml-expression-pre-post-granularity.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/basic-case-caml-statement-granularity.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/basic-case-js-statement-granularity.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/toplevel-functions-with-preprocessor-dont-have-expression-locations-in-snapshots.golden
Due: none

[#1591] Use the recent `morley-debugger`
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Common.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Functions.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Impl.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Navigate.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Snapshots.hs
  tools/debugger/ligo-debugger/stack.yaml
  tools/debugger/ligo-debugger/stack.yaml.lock
  tools/debugger/ligo-debugger/test/Test/Breakpoints.hs
  tools/debugger/ligo-debugger/test/Test/DebugInfo.hs
  tools/debugger/ligo-debugger/test/Test/Navigation.hs
  tools/debugger/ligo-debugger/test/Test/Snapshots.hs
  tools/debugger/ligo-debugger/test/Test/Util.hs
  tools/debugger/ligo-debugger/test/Test/Util/Golden.hs
Due: none

[#1591] Fix stepping behaviour at end
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Impl.hs
Due: none

[Chore] Improve stop reason on reaching start
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Impl.hs
Due: none

[#1592] Avoid debug session termination on reaching end
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Impl.hs
  tools/debugger/ligo-debugger/stack.yaml
  tools/debugger/ligo-debugger/stack.yaml.lock
Due: none

[Chore] Restore trailing whitespace check
  danger/instant-checks.rb
Due: none

[Chore] Fix support for local modules
  src/main/ligo_lsp/ligo_interface/ligo_interface.ml
  src/main/ligo_lsp/server.ml
  src/main/scopes/scopes.ml
Due: none

Add pretty-printer for types Problem: We need a pretty-printer for types to show types on hover request Solution: Add a pretty-printer for types
  src/passes/04-tree_abstraction/cameligo/cameligo.ml
  src/passes/04-tree_abstraction/cameligo/cameligo.mli
  src/passes/04-tree_abstraction/jsligo/jsligo.ml
  src/passes/04-tree_abstraction/jsligo/jsligo.mli
  src/passes/06-desugaring/decompiler.ml
Due: none

Path conditions:
  check-generated-highlighting: any of: tools/ligo-syntax-highlighting/**/*
  webide-backend-build-and-push-backend: any of: tools/webide/**/*, src/test/examples/**/*
  webide-new-backend-build-and-push-backend: any of: tools/webide-new/ligo-webide-backend/**/*
  webide-new-frontend-build-and-push: any of: tools/webide-new/ligo-webide-frontend/ligo-ide/**/*
  pages: any of: gitlab-pages/**/*, changelog/*
  pages-attempt: any of: gitlab-pages/**/*, changelog/*
  algolia-crawl: any of: gitlab-pages/**/*
  deploy_website_preview: any of: gitlab-pages/**/*, changelog/*
  deploy-handoff-feature: any of: tools/webide/**/*, src/test/examples/**/*
  deploy-handoff: any of: tools/webide/**/*, src/test/examples/**/*
  build-preview-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
  build-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
