Repository ligolang/ligo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-generated-highlighting, webide-backend-build-and-push-backend, webide-new-backend-build-and-push-backend, webide-new-frontend-build-and-push, pages, pages-attempt, algolia-crawl, deploy_website_preview, deploy-handoff-feature, deploy-handoff, build-preview-ligo-webide-front-end, build-ligo-webide-front-end

check-generated-highlighting:
  stage: tooling
  dependencies:
  - docker_extract
  script:
  - scripts/diff_dir.sh highlighting/emacs tools/emacs
  - scripts/diff_dir.sh highlighting/vim/ftdetect tools/vim/ligo/start/ligo/ftdetect
  - scripts/diff_dir.sh highlighting/vim/plugin tools/vim/ligo/start/ligo/plugin
  ...

webide-backend-build-and-push-backend:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  - cp -r src/test/examples tools/webide/packages/client/examples
  ...

webide-new-backend-build-and-push-backend:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  needs:
  - job: changelog
    artifacts: false
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  - docker build tools/webide-new/ligo-webide-backend -t ${WEBIDE_NEW_IMAGE_TAG}
  ...

webide-new-frontend-build-and-push:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  needs:
  - job: changelog
    artifacts: false
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  ...

pages:
  stage: push
  tags:
  - docker
  image: node:16.17.0-buster
  needs:
  - job: changelog
    artifacts: true
  script:
  - export DOC_PATH=./gitlab-pages/docs
  - export WEBSITE_PATH=./gitlab-pages/website
  - cp -f ./changelog.md $DOC_PATH/intro/changelog.md
  ...

pages-attempt:
  stage: push
  tags:
  - docker
  image: node:16.17.0-buster
  needs:
  - job: changelog
    artifacts: true
  script:
  - export DOC_PATH=./gitlab-pages/docs
  - export WEBSITE_PATH=./gitlab-pages/website
  - cp -f ./changelog.md $DOC_PATH/intro/changelog.md
  ...

algolia-crawl:
  stage: push
  needs:
  - job: pages
  script:
  - "sleep 10 \ncurl -X post  -H \"Content-Type: application/json\" --user ${ALGOLIA_CRAWLER_ID}:${ALGOLIA_CRAWLER_TOKEN} https://crawler.algolia.com/api/1/crawlers/bb0597ba-5abc-45ba-bdf9-99f8152e87b0/reindex\n"

deploy_website_preview:
  stage: deploy
  image: node:16.17.0-buster
  tags:
  - docker
  needs:
  - job: pages-attempt
    artifacts: true
  script:
  - apt-get update
  - apt-get install -y --no-install-recommends jq
  - npm install netlify-cli
  ...

deploy-handoff-feature:
  stage: deploy
  variables:
    APP_NAME: web-ide-backend
    NEW_VERSION: ${CI_COMMIT_SHORT_SHA}
    ENV: non-prod
  trigger:
    project: ligolang/kubernetes-infrastructure

deploy-handoff:
  stage: deploy
  variables:
    APP_NAME: web-ide-backend
    NEW_VERSION: ${CI_COMMIT_SHORT_SHA}
    ENV: prod
  trigger:
    project: ligolang/kubernetes-infrastructure

[Chore] LSP: Make tests output prettier
  src/test/lsp_test/common.ml
  src/test/lsp_test/definition.ml
  src/test/lsp_test/document_link.ml
  src/test/lsp_test/folding_range.ml
  src/test/lsp_test/formatting.ml
  src/test/lsp_test/prepare_rename.ml
Due: none

[#1655] LSP: Implement range formatting for toplevel statements
  src/bin/expect_tests/pattern_matching_anomalies.ml
  src/bin/expect_tests/pattern_matching_jsligo.ml
  src/main/ligo_lsp/ligo_interface/ligo_interface.ml
  src/main/ligo_lsp/requests/formatting.ml
  src/main/ligo_lsp/requests/range_formatting.ml
  src/main/ligo_lsp/requests/requests.ml
  src/main/ligo_lsp/server.ml
  src/main/ligo_lsp/utils/utils.ml
  src/passes/02-parsing/cameligo/Pretty.ml
  src/passes/02-parsing/cameligo/Pretty.mli
  src/passes/02-parsing/jsligo/Pretty.ml
  src/passes/02-parsing/jsligo/Pretty.mli
  src/passes/02-parsing/pascaligo/Pretty.ml
  src/passes/02-parsing/pascaligo/Pretty.mli
  src/stages/1-cst/cameligo/CST.ml
  src/stages/1-cst/jsligo/CST.ml
  src/test/contracts/lsp/format_me.jsligo
  src/test/contracts/lsp/formatted.jsligo
  src/test/lsp_test.ml
  src/test/lsp_test/document_link.ml
  src/test/lsp_test/folding_range.ml
  src/test/lsp_test/formatting.ml
  src/test/lsp_test/range_formatting.ml
  tools/vscode/README.md
  vendored-dune/ligo-utils/simple-utils/region.ml
Due: none

[Bot] add changelog entry
  changelog/2502
Due: pages, pages-attempt, deploy_website_preview

[#1658] Support disabled features
  src/main/ligo_lsp/requests/handler.ml
  src/main/ligo_lsp/requests/handler.mli
  src/main/ligo_lsp/server.ml
  src/test/lsp_test/handlers.ml
  tools/vscode/README.md
  tools/vscode/package.json
Due: none

[#1658] Support `deprecated` in the configurations
  src/main/ligo_lsp/ligo_interface/ligo_interface.ml
  src/main/ligo_lsp/requests/handler.ml
  src/main/ligo_lsp/requests/handler.mli
  src/main/ligo_lsp/requests/on_doc.ml
  src/main/ligo_lsp/server.ml
  src/test/lsp_test/handlers.ml
Due: none

[#1658] Fix configuration in Emacs
  src/main/ligo_lsp/server.ml
Due: none

[#1658] Send a dynamic configuration registration to the client
  src/main/ligo_lsp/server.ml
Due: none

[#1658] Update LSP MR template
  .gitlab/merge_request_templates/lsp.md
Due: none

[#1658] Print warning in case we have not exactly 1 config
  src/main/ligo_lsp/server.ml
Due: none

[#1658] Send support capabilities based on enabled or disabled features
  src/main/ligo_lsp/server.ml
  tools/vscode/README.md
Due: none

[Bot] add changelog entry
  changelog/2503
Due: pages, pages-attempt, deploy_website_preview

[Chore] Bump debugger's version
  tools/debugger/vscode-plugin/package.json
Due: none

[Chore] Hotfix static debugger binary build
  tools/debugger/flake.nix
Due: none

[Chore] Add CI job to test statically linked debugger binary
  .ci/.gitlab-ci-debugger.yml
Due: none

[Chore] Bump debugger plugin version (minor)
  tools/debugger/vscode-plugin/package.json
Due: none

Fix bcrypt linker error on Windows and long path issue with pyligo libs
  esy.json
  src/bin/configurator.ml
  src/passes/01-lexing/pyligo/LexerMain.ml
  src/passes/01-lexing/pyligo/Self-passes/Tokens/Token.ml
  src/passes/01-lexing/pyligo/Self-passes/Tokens/dune
  src/passes/01-lexing/pyligo/Self-passes/Units/Indent.ml
  src/passes/01-lexing/pyligo/Self-passes/Units/Multiline.ml
  src/passes/01-lexing/pyligo/Self-passes/Units/Self.ml
  src/passes/01-lexing/pyligo/Self-passes/Units/ZWSP.ml
  src/passes/01-lexing/pyligo/Self-passes/Units/dune
  src/passes/01-lexing/pyligo/Token.ml
  src/passes/01-lexing/pyligo/dune
  src/passes/02-parsing/pyligo/ParserMain.ml
Due: none

Fix some source_type propagation regressions
  changelog/2507
  src/bin/expect_tests/contract_tests.ml
  src/passes/14-spilling/compiler.ml
  src/passes/14-spilling/layout.ml
  src/stages/7-mini_c/combinators.ml
  src/stages/7-mini_c/combinators.mli
Due: pages, pages-attempt, deploy_website_preview

Performance: changes in build paths and typer's application
  changelog/2512
  src/main/build/build.ml
  src/passes/10-checking/context.ml
  vendored-dune/BuildSystem/BuildSystem.ml
  vendored-dune/Preprocessor/LowAPI.mll
Due: pages, pages-attempt, deploy_website_preview

disable data collection for dev version to avoid collect test of core team
  src/main/analytics/analytics.ml
Due: none

Fix mistake in lockfile
  ligo.opam.locked
Due: none

Fix protocol handling code
  src/bin/expect_tests/get_scope_full_stdlib.ml
  src/bin/expect_tests/help_tests.ml
  src/environment/protocols.ml
  src/init/dune
  src/main/build/ligo_lib/std_lib.mligo
  src/main/build/stdlib.ml
Due: none

Fix initial balance in tezos_state & added protocol mumbai
  ligo.opam.locked
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/bin/expect_tests/protocol_specific.ml
  src/environment/environment.ml
  src/environment/protocols.ml
  src/main/build/stdlib.ml
  src/main/interpreter/common/tezos_state.ml
  src/test/contracts/interpreter_tests/test_example.mligo
  src/test/contracts/interpreter_tests/test_hashlock.mligo
  src/test/contracts/rollup.mligo
Due: none

Remove `tx_rollup_l2_address` from docs & test
  gitlab-pages/docs/reference/toplevel.md
  src/bin/expect_tests/package_management.ml
  src/bin/expect_tests/protocol_specific.ml
  src/test/contracts/rollup.mligo
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Fix timestamp in block header
  vendored-dune/ligo-utils/proto-alpha-utils/init_proto_alpha.ml
  vendored-dune/ligo-utils/proto-alpha-utils/x_memory_proto_alpha.ml
Due: none

Make mumbai protocol current
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/help_tests.ml
  src/environment/protocols.ml
  src/init/dune
Due: none

Move to tezos-ligo v16.1
  .gitmodules
  Dockerfile
  ligo.opam
  ligo.opam.locked
  src/main/compile/dune
  src/main/compile/of_michelson.ml
  src/main/interpreter/common/execution_monad.ml
  src/main/interpreter/common/interpreter.ml
  src/main/interpreter/common/michelson_backend.ml
  src/main/interpreter/common/michelson_to_value.ml
  src/main/interpreter/common/tezos_state.ml
  src/main/main_errors/dune
  src/main/main_errors/formatter.ml
  src/stages/ligo_interpreter/types.ml
  src/test/basic_multisig_tests.ml
  vendored-dune/ligo-utils/memory-proto-alpha/dune
  vendored-dune/ligo-utils/memory-proto-alpha/memory_proto_alpha.ml
  vendored-dune/ligo-utils/memory-proto-pre-alpha/dune
  vendored-dune/ligo-utils/memory-proto-pre-alpha/dune-project
  vendored-dune/ligo-utils/memory-proto-pre-alpha/memory_proto_pre_alpha.ml
  vendored-dune/ligo-utils/memory-proto-pre-alpha/tezos-memory-proto-pre-alpha.opam
  vendored-dune/ligo-utils/proto-alpha-utils/dune
  vendored-dune/ligo-utils/proto-pre-alpha-utils/dune
  vendored-dune/ligo-utils/proto-pre-alpha-utils/dune-project
  vendored-dune/ligo-utils/proto-pre-alpha-utils/init_proto_alpha.ml
  vendored-dune/ligo-utils/proto-pre-alpha-utils/measure.ml
  vendored-dune/ligo-utils/proto-pre-alpha-utils/proto-pre-alpha-utils.opam
  vendored-dune/ligo-utils/proto-pre-alpha-utils/proto_pre_alpha_utils.ml
  vendored-dune/ligo-utils/proto-pre-alpha-utils/trace.ml
  vendored-dune/ligo-utils/proto-pre-alpha-utils/x_error_monad.ml
  vendored-dune/ligo-utils/proto-pre-alpha-utils/x_memory_proto_pre_alpha.ml
Due: none

Fix `initial_timestamp` related issue
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/main/interpreter/common/execution_monad.ml
  src/main/interpreter/common/tezos_state.ml
  src/test/contracts/interpreter_tests/test_hashlock.mligo
Due: none

Update lockfile
  ligo.opam.locked
Due: none

Revert "Update lockfile"
  ligo.opam.locked
Due: none

Formatting
  src/bin/expect_tests/contract_tests.ml
Due: none

Remove chest & related stuffs
  gitlab-pages/docs/reference/test.md
  src/bin/expect_tests/get_scope_full_stdlib.ml
  src/environment/environment.ml
  src/main/build/ligo_lib/std_lib.mligo
  src/main/interpreter/common/interpreter.ml
  src/main/interpreter/common/michelson_backend.ml
  src/main/interpreter/common/michelson_to_value.ml
  src/main/interpreter/common/tezos_state.ml
  src/passes/10-checking/checking.ml
  src/passes/10-checking/constant_typers.ml
  src/passes/10-checking/type.ml
  src/passes/11-self_ast_typed/muchused.ml
  src/passes/14-spilling/compiler.ml
  src/passes/14-spilling/decompiler.ml
  src/passes/16-scoping/scoping.ml
  src/passes/17-stacking/to_micheline.ml
  src/stages/4-ast_core/combinators.ml
  src/stages/5-ast_typed/combinators.ml
  src/stages/5-ast_typed/misc.ml
  src/stages/6-ast_aggregated/combinators.ml
  src/stages/6.1-ast_expanded/combinators.ml
  src/stages/7-mini_c/PP.ml
  src/stages/7-mini_c/types.ml
  src/stages/ligo_primitive/constant.ml
  src/stages/ligo_primitive/literal_types.ml
  src/stages/ligo_primitive/literal_value.ml
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Disable `tx_rollup_l2_address` for Mumbai
  src/bin/expect_tests/protocol_specific.ml
  src/environment/environment.ml
Due: none

Add support for bitwise operators on bytes
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/get_scope_full_stdlib.ml
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/environment/environment.ml
  src/main/build/ligo_lib/std_lib.mligo
  src/main/interpreter/common/interpreter.ml
  src/passes/10-checking/checking.ml
  src/passes/10-checking/constant_typers.ml
  src/passes/14-spilling/compiler.ml
  src/stages/ligo_primitive/literal_types.ml
  src/test/contracts/bytes_bitwise.mligo
  src/test/contracts/interpreter_tests/interpret_test.mligo
Due: none

Fix version of conduit
  ligo.opam
  ligo.opam.locked
Due: none

docs: Add section for bitwise operator on `bytes`
  gitlab-pages/docs/language-basics/strings-bytes.md
  gitlab-pages/docs/protocol/mumbai.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[Bot] add changelog entry
  changelog/2505
Due: pages, pages-attempt, deploy_website_preview

Add test for sr1 address
  src/bin/expect_tests/protocol_specific.ml
  src/test/contracts/rollup_address.mligo
Due: none

Path conditions:
  check-generated-highlighting: any of: tools/ligo-syntax-highlighting/**/*
  webide-backend-build-and-push-backend: any of: tools/webide/**/*, src/test/examples/**/*
  webide-new-backend-build-and-push-backend: any of: tools/webide-new/ligo-webide-backend/**/*
  webide-new-frontend-build-and-push: any of: tools/webide-new/ligo-webide-frontend/ligo-ide/**/*
  pages: any of: gitlab-pages/**/*, changelog/*
  pages-attempt: any of: gitlab-pages/**/*, changelog/*
  algolia-crawl: any of: gitlab-pages/**/*
  deploy_website_preview: any of: gitlab-pages/**/*, changelog/*
  deploy-handoff-feature: any of: tools/webide/**/*, src/test/examples/**/*
  deploy-handoff: any of: tools/webide/**/*, src/test/examples/**/*
  build-preview-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
  build-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
