Repository ligolang/ligo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-generated-highlighting, pages, pages-attempt, algolia-crawl, deploy_website_preview

Path conditions:
  check-generated-highlighting: any of: tools/ligo-syntax-highlighting/**/*
  pages: any of: gitlab-pages/**/*, changelog/*
  pages-attempt: any of: gitlab-pages/**/*, changelog/*
  algolia-crawl: any of: gitlab-pages/**/*
  deploy_website_preview: any of: gitlab-pages/**/*, changelog/*

Limit concurrency with LIGO_JOBS env var in build scripts
  scripts/build_ligo_local.sh
  scripts/install_vendors_deps.sh
  scripts/test_ligo.sh
Due: none

Module name mangling for #import
  changelog/2965
  src/bin/expect_tests/get_scope.ml
  vendored-dune/Preprocessor/LowAPI.mll
Due: pages, pages-attempt, deploy_website_preview

[#1675] Add module signatures on hover
  src/main/ligo_lsp/lsp_helpers/helpers_pretty.ml
  src/main/ligo_lsp/lsp_helpers/pretty.ml
  src/main/ligo_lsp/requests/hover.ml
  src/main/scopes/PP.ml
  src/main/scopes/definitions.ml
  src/main/scopes/module_aliases_pass.ml
  src/main/scopes/module_aliases_pass.mli
  src/main/scopes/scopes.ml
  src/main/scopes/types.ml
  src/main/scopes/types_pass.ml
  src/main/scopes/types_pass.mli
  src/test/contracts/lsp/hover/hover_module.jsligo
  src/test/contracts/lsp/hover/hover_module.mligo
  src/test/lsp_test/hover.ml
Due: none

[Bot] add changelog entry
  changelog/2953
Due: pages, pages-attempt, deploy_website_preview

[#1962] Fix broken links to library files
  changelog/2967
  src/main/ligo_lsp/requests/document_link.ml
  src/main/ligo_lsp/requests/handler.ml
  src/main/ligo_lsp/requests/on_doc.ml
  src/main/ligo_lsp/server.ml
  src/test/contracts/lsp/registry_include.jsligo
  src/test/lsp_test/document_link.ml
  src/test/lsp_test/handlers.ml
  src/test/md_file_tests.ml
Due: pages, pages-attempt, deploy_website_preview

[Chore] Refactor completions
  src/main/ligo_lsp/lsp_helpers/def.ml
  src/main/ligo_lsp/requests/completion.ml
  src/main/ligo_lsp/requests/completion/common.ml
  src/main/ligo_lsp/requests/completion/dune
  src/main/ligo_lsp/requests/completion/fields.ml
  src/main/ligo_lsp/requests/completion/files.ml
  src/main/ligo_lsp/requests/completion/keywords.ml
  src/main/ligo_lsp/requests/completion/modules.ml
  src/main/ligo_lsp/requests/completion/records.ml
  src/main/ligo_lsp/requests/completion/scope.ml
  src/main/ligo_lsp/requests/document_link.ml
  src/main/ligo_lsp/requests/dune
  src/main/ligo_lsp/requests/folding_range.ml
  src/main/ligo_lsp/requests/formatting.ml
  src/main/ligo_lsp/requests/go_to_definition.ml
  src/main/ligo_lsp/requests/handler.ml
  src/main/ligo_lsp/requests/hover.ml
  src/main/ligo_lsp/requests/on_doc.ml
  src/main/ligo_lsp/requests/prepare_rename.ml
  src/main/ligo_lsp/requests/range_formatting.ml
  src/main/ligo_lsp/requests/references.ml
  src/main/ligo_lsp/requests/rename.ml
  src/main/ligo_lsp/requests/type_definition.ml
Due: none

webide-a: Fix the way ton call dry-run endpoint with ligo post v1.
  tools/webide-new/ligo-webide-backend/src/Method/DryRun.hs
  tools/webide-new/ligo-webide-backend/src/Schema/DryRunRequest.hs
  tools/webide-new/ligo-webide-backend/test/Test/Method/DryRun.hs
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/components/api/generated/api.ts
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/ligo-components/ligo-project/Project/ProjectToolbar/ExpressionManagerModal.tsx
Due: none

[website] Initiate _redirects
  .ci/_redirects
  .gitlab-ci.yml
Due: none

Accepting arrays as lhs of assignments
  src/passes/02-parsing/jsligo/Parser.mly
  src/passes/02-parsing/jsligo/errors.msg.in
Due: none

[Bot] add changelog entry
  changelog/2971
Due: pages, pages-attempt, deploy_website_preview

webide-a:Update Increment template in WebIDE to latest version
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/base-components/workspace/ProjectManager/examples.ts
Due: none

Resolve "Bring FAQ to multi language"
  gitlab-pages/docs/faq/layout-comb-how.md
  gitlab-pages/docs/faq/layout-comb-why.md
  gitlab-pages/docs/faq/polymorphic-comparison.md
  gitlab-pages/docs/faq/src/polymorphic-comparison/ungrouped.jsligo
  gitlab-pages/website/versioned_docs/version-0.73.0/faq/layout-comb-how.md
  gitlab-pages/website/versioned_docs/version-0.73.0/faq/layout-comb-why.md
  gitlab-pages/website/versioned_docs/version-0.73.0/faq/polymorphic-comparison.md.orig
  gitlab-pages/website/versioned_docs/version-0.73.0/faq/src/polymorphic-comparison/ungrouped.jsligo
  gitlab-pages/website/versioned_docs/version-0.73.0/faq/src/polymorphic-comparison/ungrouped.mligo
  gitlab-pages/website/versioned_docs/version-0.73.0/faq/tezos-now-advance-time.md
  gitlab-pages/website/versioned_docs/version-0.73.0/faq/tezos-now-advance-time.md.orig
  gitlab-pages/website/versioned_docs/version-1.0.0/faq/layout-comb-how.md
  gitlab-pages/website/versioned_docs/version-1.0.0/faq/layout-comb-why.md
  gitlab-pages/website/versioned_docs/version-1.0.0/faq/polymorphic-comparison.md
  gitlab-pages/website/versioned_docs/version-1.0.0/faq/src/polymorphic-comparison/ungrouped.jsligo
  gitlab-pages/website/versioned_docs/version-1.0.0/faq/src/polymorphic-comparison/ungrouped.mligo
  gitlab-pages/website/versioned_docs/version-1.0.0/faq/tezos-now-advance-time.md
  gitlab-pages/website/versioned_docs/version-1.1.0/faq/layout-comb-how.md
  gitlab-pages/website/versioned_docs/version-1.1.0/faq/layout-comb-why.md
  gitlab-pages/website/versioned_docs/version-1.1.0/faq/polymorphic-comparison.md
  gitlab-pages/website/versioned_docs/version-1.1.0/faq/src/polymorphic-comparison/ungrouped.jsligo
  gitlab-pages/website/versioned_docs/version-1.1.0/faq/src/polymorphic-comparison/ungrouped.mligo
  gitlab-pages/website/versioned_docs/version-1.1.0/faq/tezos-now-advance-time.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[CI] Clean alpha and redirect in pipeline
  .ci/_redirects
  .gitlab-ci.yml
Due: none

Cleanup get-scope definitions pass
  src/main/scopes/definitions.ml
  src/main/scopes/definitions.mli
  src/main/scopes/scopes.ml
Due: none

[#1740] Add extended comparator functions to the `Test` module
  src/bin/expect_tests/contract_tests.ml
  src/main/build/ligo_lib/std_lib.mligo
  src/main/interpreter/common/interpreter.ml
  src/passes/10-checking/constant_typers.ml
  src/passes/10-checking/errors.ml
  src/stages/ligo_primitive/constant.ml
  src/test/contracts/lsp/diagnostics_equal.mligo
  src/test/lsp_test/diagnostics.ml
Due: none

[#1740] Show a "wrong test primitive usage" diagnostic in LSP
  src/main/compile/of_typed.ml
  src/main/ligo_lsp/lsp_helpers/get_scope.ml
  src/main/ligo_lsp/requests/diagnostics.ml
  src/main/ligo_lsp/requests/on_doc.ml
  src/test/contracts/lsp/diagnostics_wrong_usage_of_test_primitives.mligo
  src/test/lsp_test/diagnostics.ml
Due: none

[Bot] add changelog entry
  changelog/2972
Due: pages, pages-attempt, deploy_website_preview

Print attribute values between quotes in CameLIGO + remove blank line after comments
  changelog/2978
  src/passes/02-parsing/cameligo/Pretty.ml
  src/passes/02-parsing/jsligo/Pretty.ml
  src/test/contracts/lsp/formatted_comments.jsligo
  src/test/contracts/lsp/formatted_comments.mligo
  src/test/error-recovery/fuzzing/cameligo/test.ml
  src/test/error-recovery/fuzzing/jsligo/test.ml
  src/test/error-recovery/simple/cameligo/test.ml
  src/test/error-recovery/simple/jsligo/test.ml
  src/test/transpilation/expected/all_the_things.jsligo.expected
  src/test/transpilation/expected/all_the_things.mligo.expected
Due: pages, pages-attempt, deploy_website_preview

[#2108] Resolve "Explain how to write an entry point named "default""
  gitlab-pages/docs/advanced/entrypoints-contracts.md
  gitlab-pages/docs/advanced/src/entrypoints-contracts/incdec.jsligo
  gitlab-pages/website/versioned_docs/version-0.73.0/advanced/entrypoints-contracts.md
  gitlab-pages/website/versioned_docs/version-0.73.0/advanced/src/entrypoints-contracts/incdec.mligo
  gitlab-pages/website/versioned_docs/version-1.0.0/advanced/entrypoints-contracts.md
  gitlab-pages/website/versioned_docs/version-1.0.0/advanced/src/entrypoints-contracts/incdec.mligo
  gitlab-pages/website/versioned_docs/version-1.1.0/advanced/entrypoints-contracts.md
  gitlab-pages/website/versioned_docs/version-1.1.0/advanced/src/entrypoints-contracts/incdec.mligo
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[Bot] add changelog entry
  changelog/2980
Due: pages, pages-attempt, deploy_website_preview

Fixed pretty-printing of top-level declarations, structures and signatures.
  src/passes/02-parsing/cameligo/Pretty.ml
  src/test/contracts/lsp/formatted.mligo
  src/test/contracts/lsp/formatted_comments.mligo
  src/test/contracts/lsp/with_ligopretty/formatted.mligo
  src/test/error-recovery/fuzzing/cameligo/test.ml
  src/test/error-recovery/simple/cameligo/test.ml
  src/test/lsp_test/hover.ml
  src/test/lsp_test/range_formatting.ml
  src/test/transpilation/expected/all_the_things.mligo.expected
Due: none

retrigger website deployment
  gitlab-pages/docs/advanced/code-injection.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[Chore] Fix cameligo pretty printer for empty modules/signatures
  src/passes/02-parsing/cameligo/Pretty.ml
  src/test/lsp_test/hover.ml
Due: none

[#2068] Share UI primitives between debugger and LSP
  .ci/.gitlab-ci-vscode-extension.yml
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Types.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Helpers.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Impl.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Types.hs
  tools/debugger/ligo-debugger/test/Test/DebugInfo.hs
  tools/debugger/ligo-debugger/test/Test/LigoCall.hs
  tools/debugger/ligo-debugger/test/Test/Snapshots.hs
  tools/vscode/Dockerfile
  tools/vscode/client/src/LigoExtension.ts
  tools/vscode/client/src/common/LigoContext.ts
  tools/vscode/client/src/common/LigoProtocolClient.ts
  tools/vscode/client/src/common/base.ts
  tools/vscode/client/src/common/ui.ts
  tools/vscode/client/src/debugger/DebuggerExtension.ts
  tools/vscode/client/src/debugger/LigoDebugAdapterTrackerFactory.ts
  tools/vscode/client/src/debugger/LigoDebugConfigurationProvider.ts
  tools/vscode/client/src/debugger/LigoServer.ts
  tools/vscode/client/src/debugger/base.ts
  tools/vscode/client/src/debugger/messages.ts
  tools/vscode/client/src/debugger/ui.ts
  tools/vscode/client/src/extension.ts
  tools/vscode/client/src/lsp/LspExtension.ts
  tools/vscode/client/src/lsp/command.ts
  tools/vscode/client/src/lsp/commands/common.ts
  tools/vscode/client/src/lsp/commands/ligoCommands.ts
  tools/vscode/client/src/lsp/commands/tezosCommands.ts
  tools/vscode/client/src/lsp/common.ts
  tools/vscode/client/src/lsp/ui.ts
  tools/vscode/client/src/lsp/updateLigo.ts
  tools/vscode/test/commands-common.ts
  tools/vscode/test/contracts/two-entrypoints.mligo
  tools/vscode/test/vsc-test/commands-deploy.test.ts
  tools/vscode/test/vsc-test/commands.test.ts
Due: none

[Bot] add changelog entry
  changelog-tools/vscode-plugin/2985
Due: none

Reworking parametric types in CameLIGO and JsLIGO (concrete syntax, CST, pretty-printing)
  .gitlab-ci.yml
  changelog/2968
  src/passes/02-parsing/cameligo/Parser.mly
  src/passes/02-parsing/cameligo/Pretty.ml
  src/passes/02-parsing/cameligo/errors.msg.in
  src/passes/02-parsing/jsligo/Parser.mly
  src/passes/02-parsing/jsligo/Pretty.ml
  src/passes/02-parsing/jsligo/errors.msg.in
  src/passes/03-unification/cameligo/compile.ml
  src/passes/03-unification/cameligo/decompile.ml
  src/passes/03-unification/jsligo/compile.ml
  src/passes/03-unification/jsligo/decompile.ml
  src/passes/04-nanopasses/nanopasses.ml
  src/passes/04-nanopasses/passes/dune
  src/passes/04-nanopasses/passes/errors.ml
  src/passes/04-nanopasses/passes/linear_signature.ml
  src/passes/04-nanopasses/passes/t_for_alls.ml
  src/passes/04-nanopasses/trivial.ml
  src/passes/10-checking/checking.ml
  src/passes/10-checking/computation.ml
  src/passes/10-checking/computation.mli
  src/stages/1-cst/cameligo/CST.ml
  src/stages/1-cst/cameligo/Fold.ml
  src/stages/1-cst/cameligo/Print.ml
  src/stages/1-cst/jsligo/CST.ml
  src/stages/1-cst/jsligo/Fold.ml
  src/stages/1-cst/jsligo/Print.ml
  src/stages/2-ast_unified/types.ml
  src/stages/ligo_primitive/abstractions.ml
  src/stages/ligo_primitive/ligo_prim.ml
  src/test/decompiler_tests.ml
  src/test/lsp_test/hover.ml
  tools/debugger/ligo-debugger/src/Language/LIGO/AST/Parser/CameLigoCST.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/AST/Parser/JsLigoCST.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/AST/Pretty.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/AST/Skeleton.hs
Due: pages, pages-attempt, deploy_website_preview

Fixed some optional semicolons. Added making attributes from @comment.
  changelog/2996
  src/passes/01-lexing/jsligo/Self-passes/Tokens/Attributes.ml
  src/passes/02-parsing/jsligo/Parser.mly
  src/passes/02-parsing/jsligo/errors.msg.in
  src/test/error-recovery/fuzzing/jsligo/test.ml
Due: pages, pages-attempt, deploy_website_preview

Enable multiple decorators of statements not separated by semicolons
  changelog/2997
  src/passes/02-parsing/jsligo/Parser.mly
  src/passes/02-parsing/jsligo/errors.msg.in
  src/test/error-recovery/fuzzing/jsligo/test.ml
  src/test/error-recovery/simple/jsligo/test.ml
Due: pages, pages-attempt, deploy_website_preview

[Website] Improve homepage
  gitlab-pages/website/package-lock.json
  gitlab-pages/website/package.json
  gitlab-pages/website/src/components/Community/styles.module.css
  gitlab-pages/website/src/components/Hero/index.tsx
  gitlab-pages/website/src/components/Hero/styles.module.scss
  gitlab-pages/website/src/components/News/index.tsx
  gitlab-pages/website/src/components/News/styles.module.scss
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

fix: add tag manager
  gitlab-pages/website/package-lock.json
  gitlab-pages/website/package.json
  gitlab-pages/website/src/utils/analytics.ts
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Fix: interpreter case for loops
  changelog/2983
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/main/interpreter/common/interpreter.ml
  src/test/contracts/interpreter_tests/for_loop/for_map.jsligo
Due: pages, pages-attempt, deploy_website_preview

[JsLIGO] For-of loops with patterns instead of a variable ranging over the collection.
  changelog/2994
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/passes/02-parsing/jsligo/Parser.mly
  src/passes/02-parsing/jsligo/Pretty.ml
  src/passes/02-parsing/jsligo/errors.msg.in
  src/passes/03-unification/jsligo/compile.ml
  src/passes/04-nanopasses/passes/errors.ml
  src/passes/04-nanopasses/passes/loop_variable.ml
  src/stages/1-cst/jsligo/CST.ml
  src/stages/1-cst/jsligo/Fold.ml
  src/stages/1-cst/jsligo/Print.ml
  src/stages/2-ast_unified/combinators.ml
  src/stages/2-ast_unified/dune
  src/stages/2-ast_unified/nano_prim/for_of.ml
  src/stages/2-ast_unified/types.ml
  src/test/contracts/interpreter_tests/test_loop_map.jsligo
  src/test/contracts/loop.jsligo
  src/test/contracts/negative/loop.jsligo
  src/test/contracts/negative/loop2.jsligo
  tools/debugger/ligo-debugger/src/Language/LIGO/AST/Parser/JsLigoCST.hs
Due: pages, pages-attempt, deploy_website_preview

[#2094] Translate `Ast_typed` into TypeScript for docs generation
  src/bin/cli.ml
  src/bin/expect_tests/cli_expect.ml
  src/bin/expect_tests/type_doc.ml
  src/main/api/common/dune
  src/main/api/common/print.ml
  src/main/api/common/type_doc.ml
  src/test/contracts/type_doc.jsligo
Due: none

[#2094] Add `ligo doc` command
  src/bin/cli.ml
  src/bin/expect_tests/help_tests.ml
  src/bin/expect_tests/type_doc.ml
  src/bin/install.ml
  src/init/dune
  src/init/ligo_init.ml
  src/main/api/common/api_helpers.ml
  src/main/api/common/doc.ml
  src/main/api/common/dune
  src/main/api/common/ligo_api.ml
  src/main/helpers/cli_helpers.ml
  src/main/helpers/cli_helpers.mli
  src/main/helpers/commands.ml
  src/main/helpers/commands.mli
  src/main/helpers/constants.ml
  src/main/helpers/constants.mli
  src/main/helpers/dune
  src/main/ligo_lsp/lsp_helpers/files.ml
  src/main/ligo_lsp/lsp_helpers/helpers_file.ml
  src/main/main_errors/formatter.ml
  src/main/main_errors/types.ml
  src/test/contracts/type_doc.jsligo
  src/test/ligo_init_tests.ml
Due: none

[Bot] add changelog entry
  changelog/2993
Due: pages, pages-attempt, deploy_website_preview

website: add Tezos.implicit_account jsligo signature in doc
  gitlab-pages/docs/reference/current.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview
