Repository ligolang/ligo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-generated-highlighting, webide-backend-build-and-push-backend, webide-new-backend-build-and-push-backend, webide-new-frontend-build-and-push, pages, pages-attempt, algolia-crawl, deploy_website_preview, deploy-handoff-feature, deploy-handoff, build-preview-ligo-webide-front-end, build-ligo-webide-front-end

Path conditions:
  check-generated-highlighting: any of: tools/ligo-syntax-highlighting/**/*
  webide-backend-build-and-push-backend: any of: tools/webide/**/*, src/test/examples/**/*
  webide-new-backend-build-and-push-backend: any of: tools/webide-new/ligo-webide-backend/**/*
  webide-new-frontend-build-and-push: any of: tools/webide-new/ligo-webide-frontend/ligo-ide/**/*
  pages: any of: gitlab-pages/**/*, changelog/*
  pages-attempt: any of: gitlab-pages/**/*, changelog/*
  algolia-crawl: any of: gitlab-pages/**/*
  deploy_website_preview: any of: gitlab-pages/**/*, changelog/*
  deploy-handoff-feature: any of: tools/webide/**/*, src/test/examples/**/*
  deploy-handoff: any of: tools/webide/**/*, src/test/examples/**/*
  build-preview-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
  build-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*

[#1532] Decompile primitive values on the debugger's side
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Types/LigoValue.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Types/LigoValue/Codegen.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Snapshots.hs
Due: none

[#1532] Adapt delayed computations for LIGO values decompilation
  tools/debugger/ligo-debugger/src/Control/DelayedValues.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/DAP/Variables.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Types/LigoValue.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Types/LigoValue/Codegen.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Helpers.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Impl.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Snapshots.hs
  tools/lsp/squirrel/src/Cli/Json.hs
Due: none

[#1532] Add tests for LIGO values
  tools/debugger/ligo-debugger/test/Test/LigoCall.hs
  tools/debugger/ligo-debugger/test/Test/Snapshots.hs
  tools/debugger/ligo-debugger/test/Test/Util.hs
  tools/debugger/ligo-debugger/test/Test/Variables.hs
  tools/debugger/ligo-debugger/test/contracts/complex_value_decompilation.mligo
  tools/debugger/ligo-debugger/test/golden/StepIn/basic-case-js-statement-granularity.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/checking-for-testcontractsstatementinmatchbranchmligo-contract.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/checking-for-testcontractsstatementsincasebranchjsligo-contract.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/constant-recognized-as-statement.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/local-function-assignments-are-statements.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/toplevel-functions-with-preprocessor-dont-have-expression-locations-in-snapshots.golden
Due: none

Emit `E_inline_michelson` directly from `%michelson`
  changelog/2238
  src/bin/expect_tests/get_scope_full_stdlib.ml
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/main/build/ligo_lib/std_lib.mligo
  src/main/interpreter/common/execution_monad.ml
  src/main/interpreter/common/interpreter.ml
  src/main/interpreter/common/michelson_backend.ml
  src/passes/04-nanopasses/passes/literalize_annotated.ml
  src/passes/10-checking/checking.ml
  src/passes/10-checking/type.ml
  src/passes/14-spilling/compiler.ml
  src/passes/15-self_mini_c/helpers.ml
  src/passes/15-self_mini_c/michelson_restrictions.ml
  src/passes/15-self_mini_c/self_mini_c.ml
  src/passes/15-self_mini_c/subst.ml
  src/passes/15-self_mini_c/uncurry.ml
  src/passes/16-scoping/scoping.ml
  src/stages/4-ast_core/combinators.ml
  src/stages/5-ast_typed/combinators.ml
  src/stages/6-ast_aggregated/combinators.ml
  src/stages/6.1-ast_expanded/combinators.ml
  src/stages/7-mini_c/PP.ml
  src/stages/7-mini_c/misc.ml
  src/stages/7-mini_c/types.ml
  vendored-dune/ligo-utils/simple-utils/x_string.ml
  vendored-dune/ligo-utils/simple-utils/x_string.mli
Due: pages, pages-attempt, deploy_website_preview

remove nix dependency from docker extract to avoid lock issue
  scripts/create-package-deb-file.sh
Due: none

Bug: mixing `export` with attributes
  changelog/2540
  scripts/create-package-deb-file.sh
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/pattern_matching_jsligo.ml
  src/main/api/common/run.ml
  src/passes/03-unification/jsligo/compile.ml
  src/passes/04-nanopasses/passes/export_declaration.ml
  src/passes/04-nanopasses/trivial.ml
  src/test/contracts/export_attribute.jsligo
Due: pages, pages-attempt, deploy_website_preview

Scopes - Add Location_ordered
  src/bin/expect_tests/get_scope.ml
  src/bin/expect_tests/get_scope_errors_warns.ml
  src/bin/expect_tests/get_scope_full_stdlib.ml
  src/bin/expect_tests/get_scope_regressions.ml
  src/main/ligo_lsp/requests/go_to_definition.ml
  src/main/ligo_lsp/requests/references.ml
  src/main/ligo_lsp/requests/type_definition.ml
  src/main/ligo_lsp/server.ml
  src/main/ligo_lsp/utils/utils.ml
  src/main/scopes/PP.ml
  src/main/scopes/env.ml
  src/main/scopes/module_aliases_pass.ml
  src/main/scopes/references.ml
  src/main/scopes/scopes_pass.ml
  src/main/scopes/types.ml
  src/main/scopes/types_pass.ml
  src/test/contracts/get_scope_tests/min_repr_2532/main.mligo
  src/test/contracts/get_scope_tests/min_repr_2532/parameter.mligo
  vendored-dune/ligo-utils/simple-utils/location_ordered.ml
  vendored-dune/ligo-utils/simple-utils/simple_utils.ml
Due: none

Resolve "Typo in warning message"
  changelog/2544
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/get_scope_regressions.ml
  src/bin/expect_tests/michelson_pair_test.ml
  src/bin/expect_tests/tail_rec_warning.ml
  src/bin/expect_tests/typer_error_tests.ml
  src/main/main_warnings/main_warnings.ml
  src/test/lsp_test/diagnostics.ml
Due: pages, pages-attempt, deploy_website_preview

Add `Proxy_ticket` to std_lib
  changelog/2528
  gitlab-pages/docs/advanced/foo.jsligo
  gitlab-pages/docs/advanced/src/usage_transfer.jsligo
  gitlab-pages/docs/advanced/testing.md
  gitlab-pages/docs/reference/proxy_ticket.md
  gitlab-pages/docs/reference/test.md
  gitlab-pages/website/sidebars.js
  gitlab-pages/website/versioned_docs/version-0.61.0/advanced/foo.jsligo
  gitlab-pages/website/versioned_docs/version-0.62.0/advanced/foo.jsligo
  gitlab-pages/website/versioned_docs/version-0.63.2/advanced/foo.jsligo
  src/bin/expect_tests/get_scope_full_stdlib.ml
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/bin/expect_tests/warnings.ml
  src/main/build/ligo_lib/std_lib.mligo
  src/main/scopes/references.ml
  src/test/contracts/interpreter_tests/contract_with_ticket_param.mligo
  src/test/contracts/interpreter_tests/contract_with_ticket_storage.mligo
  src/test/contracts/interpreter_tests/uncurried_contract_with_ticket_param.mligo
  src/test/contracts/interpreter_tests/uncurried_contract_with_ticket_storage.mligo
  src/test/lsp_test/diagnostics.ml
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Fix initial balance in tezos_state & added protocol mumbai
  ligo.opam.locked
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/bin/expect_tests/protocol_specific.ml
  src/environment/environment.ml
  src/environment/protocols.ml
  src/main/build/stdlib.ml
  src/main/compile/of_michelson.ml
  src/main/interpreter/common/tezos_state.ml
  src/test/contracts/interpreter_tests/test_example.mligo
  src/test/contracts/interpreter_tests/test_hashlock.mligo
  src/test/contracts/rollup.mligo
Due: none

Fix timestamp in block header
  vendored-dune/ligo-utils/proto-alpha-utils/init_proto_alpha.ml
  vendored-dune/ligo-utils/proto-alpha-utils/x_memory_proto_alpha.ml
Due: none

Remove `tx_rollup_l2_address` from docs & test
  gitlab-pages/docs/reference/toplevel.md
  src/bin/expect_tests/package_management.ml
  src/bin/expect_tests/protocol_specific.ml
  src/test/contracts/rollup.mligo
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Fix `initial_timestamp` related issue
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/main/interpreter/common/execution_monad.ml
  src/main/interpreter/common/tezos_state.ml
Due: none

Move to tezos-ligo v16.1
  .gitmodules
  Dockerfile
  ligo.opam
  ligo.opam.locked
  src/main/compile/dune
  src/main/compile/of_michelson.ml
  src/main/interpreter/common/execution_monad.ml
  src/main/interpreter/common/interpreter.ml
  src/main/interpreter/common/michelson_backend.ml
  src/main/interpreter/common/michelson_to_value.ml
  src/main/interpreter/common/tezos_state.ml
  src/main/main_errors/dune
  src/main/main_errors/formatter.ml
  src/stages/ligo_interpreter/types.ml
  src/test/basic_multisig_tests.ml
  vendored-dune/ligo-utils/memory-proto-alpha/dune
  vendored-dune/ligo-utils/memory-proto-alpha/memory_proto_alpha.ml
  vendored-dune/ligo-utils/memory-proto-pre-alpha/dune
  vendored-dune/ligo-utils/memory-proto-pre-alpha/dune-project
  vendored-dune/ligo-utils/memory-proto-pre-alpha/memory_proto_pre_alpha.ml
  vendored-dune/ligo-utils/memory-proto-pre-alpha/tezos-memory-proto-pre-alpha.opam
  vendored-dune/ligo-utils/proto-alpha-utils/dune
  vendored-dune/ligo-utils/proto-pre-alpha-utils/dune
  vendored-dune/ligo-utils/proto-pre-alpha-utils/dune-project
  vendored-dune/ligo-utils/proto-pre-alpha-utils/init_proto_alpha.ml
  vendored-dune/ligo-utils/proto-pre-alpha-utils/measure.ml
  vendored-dune/ligo-utils/proto-pre-alpha-utils/proto-pre-alpha-utils.opam
  vendored-dune/ligo-utils/proto-pre-alpha-utils/proto_pre_alpha_utils.ml
  vendored-dune/ligo-utils/proto-pre-alpha-utils/trace.ml
  vendored-dune/ligo-utils/proto-pre-alpha-utils/x_error_monad.ml
  vendored-dune/ligo-utils/proto-pre-alpha-utils/x_memory_proto_pre_alpha.ml
Due: none

Make mumbai protocol current
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/help_tests.ml
  src/environment/protocols.ml
  src/init/dune
Due: none

Fix protocol handling code
  src/bin/expect_tests/get_scope_full_stdlib.ml
  src/bin/expect_tests/help_tests.ml
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/environment/protocols.ml
  src/init/dune
  src/main/build/ligo_lib/std_lib.mligo
  src/main/build/stdlib.ml
Due: none

Fix mistake in lockfile
  ligo.opam.locked
Due: none

[Chore] Remove handler.mli
  src/main/ligo_lsp/requests/handler.ml
  src/main/ligo_lsp/requests/handler.mli
Due: none

[Chore] Remove `Option` from `Simple_utils.Utils`
  vendored-dune/ligo-utils/simple-utils/Utils.ml
  vendored-dune/ligo-utils/simple-utils/Utils.mli
Due: none

Disable `tx_rollup_l2_address` for Mumbai
  src/bin/expect_tests/protocol_specific.ml
  src/environment/environment.ml
Due: none

Update lockfile
  ligo.opam.locked
Due: none

Remove chest & related stuffs
  gitlab-pages/docs/reference/test.md
  src/bin/expect_tests/get_scope_full_stdlib.ml
  src/environment/environment.ml
  src/main/build/ligo_lib/std_lib.mligo
  src/main/interpreter/common/interpreter.ml
  src/main/interpreter/common/michelson_backend.ml
  src/main/interpreter/common/michelson_to_value.ml
  src/main/interpreter/common/tezos_state.ml
  src/passes/10-checking/checking.ml
  src/passes/10-checking/constant_typers.ml
  src/passes/10-checking/type.ml
  src/passes/11-self_ast_typed/muchused.ml
  src/passes/14-spilling/compiler.ml
  src/passes/14-spilling/decompiler.ml
  src/passes/16-scoping/scoping.ml
  src/passes/17-stacking/to_micheline.ml
  src/stages/4-ast_core/combinators.ml
  src/stages/5-ast_typed/combinators.ml
  src/stages/5-ast_typed/misc.ml
  src/stages/6-ast_aggregated/combinators.ml
  src/stages/6.1-ast_expanded/combinators.ml
  src/stages/7-mini_c/PP.ml
  src/stages/7-mini_c/types.ml
  src/stages/ligo_primitive/constant.ml
  src/stages/ligo_primitive/literal_types.ml
  src/stages/ligo_primitive/literal_value.ml
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Revert "Update lockfile"
  ligo.opam.locked
Due: none

Add support for bitwise operators on bytes
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/get_scope_full_stdlib.ml
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/bin/expect_tests/protocol_specific.ml
  src/environment/environment.ml
  src/main/build/ligo_lib/std_lib.mligo
  src/main/interpreter/common/interpreter.ml
  src/passes/10-checking/checking.ml
  src/passes/10-checking/constant_typers.ml
  src/passes/14-spilling/compiler.ml
  src/stages/ligo_primitive/literal_types.ml
  src/test/contracts/bytes_bitwise.mligo
  src/test/contracts/interpreter_tests/interpret_test.mligo
Due: none

stupid change to avoid diff
  src/bin/expect_tests/contract_tests.ml
Due: none

Add test for sr1 address
  src/bin/expect_tests/protocol_specific.ml
  src/test/contracts/rollup_address.mligo
Due: none

Add support for bytes-int & bytes-nat conversion
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/get_scope_full_stdlib.ml
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/environment/environment.ml
  src/main/build/ligo_lib/std_lib.mligo
  src/passes/10-checking/checking.ml
  src/passes/10-checking/constant_typers.ml
  src/passes/14-spilling/compiler.ml
  src/stages/ligo_primitive/literal_types.ml
  src/test/contracts/bytes_int_nat_conv.mligo
  src/test/contracts/interpreter_tests/interpret_test.mligo
Due: none

Fix version of conduit
  ligo.opam
  ligo.opam.locked
Due: none

Downgrade dune & js_of_ocaml (To check if CI works)
  ligo.opam.locked
Due: none

docs: Add page for protocol Mumbai
  gitlab-pages/docs/protocol/kathmandu.md
  gitlab-pages/docs/protocol/lima.md
  gitlab-pages/docs/protocol/mumbai.md
  gitlab-pages/website/sidebars.js
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Update test for bitwise operators on bytes
  src/bin/expect_tests/contract_tests.ml
  src/test/contracts/bytes_bitwise.mligo
Due: none

Missed this while rebasing
  ligo.opam
  src/main/compile/of_michelson.ml
Due: none

[Bot] add changelog entry
  changelog/2505
Due: pages, pages-attempt, deploy_website_preview

Add `checkseum` to ligo.opam
  ligo.opam
  ligo.opam.locked
Due: none

Use `copy_files` to copy the .sexp files to root of ligo workspace_root
  dune
Due: none

docs: Add section for bitwise operator on `bytes`
  gitlab-pages/docs/language-basics/strings-bytes.md
  gitlab-pages/docs/protocol/mumbai.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

docs: Add section for bytes-int, bytest-nat conversion
  gitlab-pages/docs/language-basics/strings-bytes.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Fix typos in docs
  gitlab-pages/docs/language-basics/strings-bytes.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview
