Repository ligolang/ligo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-generated-highlighting, pages, pages-attempt, algolia-crawl, deploy_website_preview

Path conditions:
  check-generated-highlighting: any of: tools/ligo-syntax-highlighting/**/*
  pages: any of: gitlab-pages/**/*, changelog/*
  pages-attempt: any of: gitlab-pages/**/*, changelog/*
  algolia-crawl: any of: gitlab-pages/**/*
  deploy_website_preview: any of: gitlab-pages/**/*, changelog/*

Fix "Not en entrypoint" errors pointing to the wrong entrypoint
  Dockerfile
  changelog/3072
  src/passes/10-checking/type.ml
Due: pages, pages-attempt, deploy_website_preview

[#2148] Fix comparison for regions
  src/main/ligo_lsp/requests/go_to_definition.ml
  src/main/scopes/PP.ml
  src/main/scopes/module_aliases_pass.ml
  src/main/scopes/types.ml
  vendored-dune/ligo-utils/simple-utils/location_ordered.ml
  vendored-dune/ligo-utils/simple-utils/pos.ml
  vendored-dune/ligo-utils/simple-utils/pos.mli
  vendored-dune/ligo-utils/simple-utils/region.ml
  vendored-dune/ligo-utils/simple-utils/region.mli
Due: none

[Bot] add changelog entry
  changelog/3074
Due: pages, pages-attempt, deploy_website_preview

`ligo compile` command now infer compilation target in some cases
  changelog/3075
  src/bin/cli.ml
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/help_tests.ml
  src/main/build/build.ml
  src/stages/5-ast_typed/misc.ml
  src/stages/5-ast_typed/misc.mli
  src/test/contracts/single_contract_module_compile.mligo
Due: pages, pages-attempt, deploy_website_preview

preprocessor define option
  changelog/3070
  src/bin/cli.ml
  src/bin/expect_tests/help_tests.ml
  src/bin/expect_tests/preprocessor_options.ml
  src/main/api/common/dialect_cst.ml
  src/main/api/common/info.ml
  src/main/api/common/print.ml
  src/main/api/common/run.ml
  src/main/api/common/transpile_with_ast.ml
  src/main/compile/helpers.ml
  src/main/compile/of_c_unit.ml
  src/main/compile/utils.ml
  src/main/compiler_options/compiler_options.ml
  src/main/compiler_options/raw_options.ml
  src/main/ligo_lsp/requests/handler.ml
  src/passes/00-preprocessing/shared/Common.ml
  src/passes/00-preprocessing/shared/Common.mli
  src/passes/02-parsing/cameligo.ml
  src/passes/02-parsing/cameligo.mli
  src/passes/02-parsing/jsligo.ml
  src/passes/02-parsing/jsligo.mli
  src/passes/02-parsing/pascaligo.ml
  src/passes/02-parsing/pascaligo.mli
  src/passes/02-parsing/shared/Common.ml
  src/passes/02-parsing/shared/Common.mli
  src/test/contracts/preprocessor_define.mligo
  src/test/lsp_test/cst_fold.ml
  src/test/pretty_printer_tests.ml
Due: pages, pages-attempt, deploy_website_preview

Added syntax for typed object expressions.
  changelog/3076
  src/bin/expect_tests/contract_tests.ml
  src/passes/02-parsing/jsligo/Parser.mly
  src/passes/02-parsing/jsligo/errors.msg.in
Due: pages, pages-attempt, deploy_website_preview

Added escaping of strings when pretty-printing
  changelog/3078
  src/bin/expect_tests/preprocessor_options.ml
  src/passes/02-parsing/cameligo/Pretty.ml
  src/passes/02-parsing/jsligo/Pretty.ml
  src/test/contracts/lsp/format_two_backslashes.jsligo
  src/test/contracts/lsp/format_two_backslashes.mligo
  src/test/contracts/lsp/formatted_backslashes.jsligo
  src/test/contracts/lsp/formatted_backslashes.mligo
  src/test/lsp_test/formatting/dune
Due: pages, pages-attempt, deploy_website_preview

Deprecation attribute: unique identifiers and module support
  changelog/3073
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/main/api/common/type_doc.ml
  src/passes/04-nanopasses/trivial.ml
  src/passes/10-checking/untyper.ml
  src/passes/11-self_ast_typed/deprecated_module.ml
  src/passes/11-self_ast_typed/self_ast_typed.ml
  src/passes/13-self_ast_aggregated/deprecated.ml
  src/passes/13-self_ast_aggregated/dune
  src/stages/ligo_primitive/type_or_module_attr.ml
  src/test/contracts/deprecated.mligo
Due: pages, pages-attempt, deploy_website_preview

fix some changelog entries
  changelog/2893
  changelog/3070
  changelog/3075
Due: pages, pages-attempt, deploy_website_preview

Internal: use bigger params. in `memo_rec`
  changelog/3081
  src/passes/12-aggregation/compiler.ml
Due: pages, pages-attempt, deploy_website_preview

Stdlib: add `deprecated` messages on `Test` (for `Test.Next`)
  changelog/3082
  src/bin/expect_tests/colour.ml
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/dynamic_entrypoints.ml
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/bin/expect_tests/option_map_tests.ml
  src/bin/expect_tests/package_management.ml
  src/bin/expect_tests/polymorphism.ml
  src/bin/expect_tests/top_level_binding_pattern_cameligo.ml
  src/bin/expect_tests/top_level_binding_pattern_jsligo.ml
  src/bin/expect_tests/view.ml
  src/main/build/ligo_lib/std_lib.mligo
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Call.hs
Due: pages, pages-attempt, deploy_website_preview

[#1965] Show polymorphic types in LSP + replace generated type variables
  src/bin/expect_tests/get_scope_regressions.ml
  src/bin/expect_tests/type_doc.ml
  src/formatter/ligo_formatter.ml
  src/main/api/common/type_doc.ml
  src/main/ligo_lsp/lsp_helpers/def.ml
  src/main/scopes/inline_mangled_modules_pass.ml
  src/main/scopes/misc.ml
  src/main/scopes/types_pass.ml
  src/passes/04-nanopasses/trivial.ml
  src/passes/10-checking/checking.ml
  src/passes/10-checking/checking.mli
  src/passes/10-checking/computation.ml
  src/passes/10-checking/context.ml
  src/passes/10-checking/dune
  src/passes/10-checking/elaboration.ml
  src/passes/10-checking/type/dune
  src/passes/10-checking/type/type.ml
  src/passes/10-checking/type/type_def.ml
  src/passes/10-checking/untyper.ml
  src/passes/11-self_ast_typed/make_entry_point.ml
  src/passes/12-aggregation/compiler.ml
  src/passes/12-aggregation/decompiler.ml
  src/stages/5-ast_typed/PP.ml
  src/stages/5-ast_typed/combinators.ml
  src/stages/5-ast_typed/helpers.ml
  src/stages/5-ast_typed/types.ml
  src/test/contracts/lsp/hover/poly_types.jsligo
  src/test/contracts/lsp/hover/poly_types.mligo
  src/test/contracts/lsp/hover/poly_types_common.mligo
  src/test/lsp_test/hover.ml
Due: none

[Bot] add changelog entry
  changelog/3079
Due: pages, pages-attempt, deploy_website_preview

big set literal fix
  changelog/3083
  src/main/interpreter/common/interpreter.ml
  src/stages/ligo_primitive/constant.ml
Due: pages, pages-attempt, deploy_website_preview

Stdlib: add extra functions in `Test.Next`
  changelog/3085
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/dynamic_entrypoints.ml
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/bin/expect_tests/option_map_tests.ml
  src/bin/expect_tests/view.ml
  src/main/build/ligo_lib/std_lib.mligo
  src/main/interpreter/common/tezos_state.ml
Due: pages, pages-attempt, deploy_website_preview

[#1697] Reduce number of get-scope calls by LSP
  changelog-tools/vscode-plugin/3084
  src/main/ligo_lsp/lsp_helpers/ligo_interface.ml
  src/main/ligo_lsp/requests/completion.ml
  src/main/ligo_lsp/requests/document_link.ml
  src/main/ligo_lsp/requests/document_symbol.ml
  src/main/ligo_lsp/requests/go_to_definition.ml
  src/main/ligo_lsp/requests/handler.ml
  src/main/ligo_lsp/requests/highlight.ml
  src/main/ligo_lsp/requests/hover.ml
  src/main/ligo_lsp/requests/on_doc.ml
  src/main/ligo_lsp/requests/prepare_rename.ml
  src/main/ligo_lsp/requests/references.ml
  src/main/ligo_lsp/requests/rename.ml
  src/main/ligo_lsp/requests/type_definition.ml
  src/main/ligo_lsp/server.ml
  src/test/lsp_test/helpers/handlers.ml
  tools/vscode/package.json
Due: none

Refactoring of scanning of verbatim strings
  src/passes/01-lexing/shared/Lexer.mll
  vendored-dune/LexerLib/Client.mli
  vendored-dune/LexerLib/Core.mll
  vendored-dune/Preprocessor/LowAPI.mll
Due: none

[Chore] Bump `linol` version to `0.5`
  ligo.opam
  ligo.opam.locked
  src/main/ligo_lsp/lsp_helpers/lsp_helpers.ml
  src/test/lsp_test/document_link.ml
Due: none

[Chore] LSP: fix "on save" diagnostics pull mode
  src/main/ligo_lsp/server.ml
Due: none

[Chore] Bump tooling version
  tools/debugger/ligo-debugger/ligo-debugger.cabal
  tools/debugger/ligo-debugger/package.yaml
  tools/debugger/ligo-debugger/src/resources/versions/minimal-supported
  tools/debugger/ligo-debugger/src/resources/versions/recommended
  tools/vscode/package.json
Due: none

Rewrite of the standard library
  changelog/3064
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/bin/expect_tests/option_map_tests.ml
  src/bin/expect_tests/package_management.ml
  src/bin/expect_tests/top_level_binding_pattern_cameligo.ml
  src/bin/expect_tests/top_level_binding_pattern_jsligo.ml
  src/bin/expect_tests/view.ml
  src/bin/expect_tests/warnings.ml
  src/main/build/ligo_lib/std_lib.mligo
  src/main/ligo_lsp/requests/semantic_highlight.ml
  src/passes/10-checking/constant_typers.ml
  src/passes/13-self_ast_aggregated/literal_replace.ml
  src/stages/1-cst/cameligo/CST.ml
  src/stages/1-cst/cameligo/Fold.ml
  src/test/contracts/interpreter_tests/interpret_test.mligo
  src/test/contracts/interpreter_tests/test_create.mligo
  src/test/contracts/interpreter_tests/test_create2.mligo
  src/test/contracts/interpreter_tests/test_print.mligo
  src/test/contracts/interpreter_tests/test_tickets_and_bigmaps.mligo
  src/test/contracts/ticket_builder.mligo
  src/test/lsp_test/document_symbol.ml
  src/test/lsp_test/hover.ml
Due: pages, pages-attempt, deploy_website_preview

Beta: ligo doc --mdx
  src/bin/cli.ml
  src/bin/dune
  src/bin/expect_tests/help_tests.ml
  src/main/api/common/doc.ml
  src/main/api/common/ligo_api.ml
  src/main/api/common/print.ml
  src/main/docs/comments.ml
  src/main/docs/doc.ml
  src/main/docs/docs_utils.ml
  src/main/docs/dune
  src/main/docs/mdx.ml
  src/main/docs/type_doc.ml
  src/main/helpers/constants.ml
  src/main/helpers/constants.mli
  src/main/ligo_lsp/requests/dune
  src/main/ligo_lsp/requests/hover.ml
  src/main/main_errors/formatter.ml
  src/main/main_errors/types.ml
  src/passes/04-nanopasses/passes/t_arg.ml
  src/test/lsp_test/hover.ml
  tools/ligo-mdx-to-html/.gitignore
  tools/ligo-mdx-to-html/LICENSE
  tools/ligo-mdx-to-html/Makefile
  tools/ligo-mdx-to-html/package-lock.json
  tools/ligo-mdx-to-html/package.json
  tools/ligo-mdx-to-html/src/cli.ts
  tools/ligo-mdx-to-html/src/components.tsx
  tools/ligo-mdx-to-html/src/convert.tsx
  tools/ligo-mdx-to-html/src/css.ts
  tools/ligo-mdx-to-html/src/nav.tsx
  tools/ligo-mdx-to-html/src/util.ts
  tools/ligo-mdx-to-html/tsconfig.json
Due: none

Backend: add a new opt. for simplyfing `GET_AND_UPDATE ; DROP` to `UPDATE`
  changelog/3092
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/bin/expect_tests/package_management.ml
  src/passes/18-self_michelson/self_michelson.ml
Due: pages, pages-attempt, deploy_website_preview

[CI] fix ligo path in website reference release
  .ci/.gitlab-ci-release.yml
  .ci/scripts/build_website_references_from_stdlib/main.sh
Due: none

[Bot] Update release metadata 1.4.0
  .ci/.metadata.yml
Due: none

Webide Move to oxford2, remove nairobinet
  tools/vscode/client/src/lsp/commands/tezosCommands.ts
  tools/vscode/test/vsc-test/commands-deploy.test.ts
  tools/webide-new/ligo-webide-backend/test/Test/Method/Compile.hs
  tools/webide-new/ligo-webide-backend/test/Test/Method/GenerateDeployScript.hs
  tools/webide-new/ligo-webide-frontend/ligo-ide/config.json
Due: none

Adding top-level definition of type 'a big_set.
  changelog/3096
  src/main/build/ligo_lib/std_lib.mligo
Due: pages, pages-attempt, deploy_website_preview

Testing framework: add primitive for timelock verification
  changelog/3087
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/main/build/ligo_lib/std_lib.mligo
  src/main/interpreter/common/interpreter.ml
  src/main/interpreter/common/michelson_backend.ml
  src/passes/10-checking/constant_typers.ml
  src/stages/ligo_primitive/constant.ml
  src/test/contracts/interpreter_tests/test_timelock.mligo
Due: pages, pages-attempt, deploy_website_preview

[#2084] Add attribute for TZIP-16 compatibility
  changelog/3086
  gitlab-pages/docs/advanced/attributes-decorators.md
  src/bin/expect_tests/contract_tests.ml
  src/passes/01-lexing/jsligo/Self-passes/Tokens/Decorators.ml
  src/passes/04-nanopasses/trivial.ml
  src/passes/14-spilling/compiler.ml
  src/stages/5-ast_typed/PP.ml
  src/stages/5-ast_typed/misc.ml
  src/stages/ligo_primitive/value_attr.ml
  src/test/contracts/tzip16-compatible.jsligo
  src/test/contracts/tzip16-compatible.mligo
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Allowing expressions {...}.x
  changelog/3102
  src/passes/02-parsing/cameligo/Parser.mly
  src/passes/02-parsing/cameligo/errors.msg.in
Due: pages, pages-attempt, deploy_website_preview

optimize aggregation
  changelog/3100
  src/passes/12-aggregation/compiler.ml
Due: pages, pages-attempt, deploy_website_preview

[#2084] Implement code lens that suggests inserting TZIP-16 attribute
  changelog-tools/vscode-plugin/3099
  src/main/ligo_lsp/lsp_helpers/get_scope.ml
  src/main/ligo_lsp/lsp_helpers/ligo_interface.ml
  src/main/ligo_lsp/lsp_helpers/lsp_helpers.ml
  src/main/ligo_lsp/lsp_helpers/tzip16_storage.ml
  src/main/ligo_lsp/requests/code_lens.ml
  src/main/ligo_lsp/requests/commands.ml
  src/main/ligo_lsp/requests/completion.ml
  src/main/ligo_lsp/requests/diagnostics.ml
  src/main/ligo_lsp/requests/document_symbol.ml
  src/main/ligo_lsp/requests/handler.ml
  src/main/ligo_lsp/requests/on_doc.ml
  src/main/ligo_lsp/requests/requests.ml
  src/main/ligo_lsp/server.ml
  src/stages/5-ast_typed/dune
  src/stages/5-ast_typed/types.ml
  src/test/contracts/contract_metadata/metadata_tzip16_detection.jsligo
  src/test/contracts/contract_metadata/metadata_tzip16_detection.mligo
  src/test/lsp_test/helpers/handlers.ml
  src/test/lsp_test/tzip16_code_lens.ml
Due: none

Made singleton types inhabitable, and subtypes of the type of the value
  changelog/3103
  src/bin/expect_tests/singleton.ml
  src/passes/02-parsing/cameligo/Pretty.ml
  src/passes/02-parsing/jsligo/Parser.mly
  src/passes/02-parsing/jsligo/Pretty.ml
  src/passes/02-parsing/jsligo/errors.msg.in
  src/passes/03-unification/cameligo/compile.ml
  src/passes/03-unification/cameligo/decompile.ml
  src/passes/03-unification/jsligo/compile.ml
  src/passes/03-unification/jsligo/decompile.ml
  src/passes/04-nanopasses/trivial.ml
  src/passes/10-checking/checking.ml
  src/passes/10-checking/computation.ml
  src/passes/14-spilling/compiler.ml
  src/stages/1-cst/cameligo/CST.ml
  src/stages/1-cst/cameligo/Fold.ml
  src/stages/1-cst/cameligo/Print.ml
  src/stages/1-cst/jsligo/CST.ml
  src/stages/1-cst/jsligo/Fold.ml
  src/stages/1-cst/jsligo/Print.ml
  src/stages/2-ast_unified/types.ml
  src/stages/ligo_primitive/literal_value.ml
Due: pages, pages-attempt, deploy_website_preview

[Chore] Fix test build failure
  src/passes/12-aggregation/compiler.ml
  src/test/decompiler_tests.ml
Due: none

Avoid to use cache for runtest onto dev branch
  Dockerfile
Due: none

[#2098] Implement inlay hints for inferred types
  src/main/ligo_lsp/lsp_helpers/get_scope.ml
  src/main/ligo_lsp/lsp_helpers/helpers_pretty.ml
  src/main/ligo_lsp/lsp_helpers/ligo_interface.ml
  src/main/ligo_lsp/lsp_helpers/lsp_helpers.ml
  src/main/ligo_lsp/lsp_helpers/pretty.ml
  src/main/ligo_lsp/requests/commands.ml
  src/main/ligo_lsp/requests/completion.ml
  src/main/ligo_lsp/requests/completion/common.ml
  src/main/ligo_lsp/requests/diagnostics.ml
  src/main/ligo_lsp/requests/document_symbol.ml
  src/main/ligo_lsp/requests/dune
  src/main/ligo_lsp/requests/handler.ml
  src/main/ligo_lsp/requests/inlay_hint.ml
  src/main/ligo_lsp/requests/on_doc.ml
  src/main/ligo_lsp/requests/requests.ml
  src/main/ligo_lsp/server.ml
  src/main/scopes/scopes.ml
  src/main/scopes/scopes.mli
  src/main/scopes/types_pass.ml
  src/main/scopes/types_pass.mli
  src/passes/10-checking/checking.ml
  src/test/contracts/lsp/inlay_hints/inlay_hints.jsligo
  src/test/contracts/lsp/inlay_hints/inlay_hints.mligo
  src/test/decompiler_tests.ml
  src/test/lsp_test/inlay_hint.ml
Due: none

[#2098] Promote debugger tests
  tools/debugger/ligo-debugger/test/Test/LigoCall.hs
  tools/debugger/ligo-debugger/test/Test/Snapshots.hs
  tools/debugger/ligo-debugger/test/golden/StepIn/module-entrypoint-decrement.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/module-entrypoint-increment.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/module-entrypoint-reset.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/toplevel-functions-with-preprocessor-dont-have-expression-locations-in-snapshots.golden
Due: none

[Bot] add changelog entry
  changelog/3104
Due: pages, pages-attempt, deploy_website_preview
