Repository ligolang/ligo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-generated-highlighting, webide-backend-build-and-push-backend, webide-new-backend-build-and-push-backend, webide-new-frontend-build-and-push, pages, pages-attempt, algolia-crawl, deploy_website_preview, deploy-handoff-feature, deploy-handoff, build-preview-ligo-webide-front-end, build-ligo-webide-front-end

Path conditions:
  check-generated-highlighting: any of: tools/ligo-syntax-highlighting/**/*
  webide-backend-build-and-push-backend: any of: tools/webide/**/*, src/test/examples/**/*
  webide-new-backend-build-and-push-backend: any of: tools/webide-new/ligo-webide-backend/**/*
  webide-new-frontend-build-and-push: any of: tools/webide-new/ligo-webide-frontend/ligo-ide/**/*
  pages: any of: gitlab-pages/**/*, changelog/*
  pages-attempt: any of: gitlab-pages/**/*, changelog/*
  algolia-crawl: any of: gitlab-pages/**/*
  deploy_website_preview: any of: gitlab-pages/**/*, changelog/*
  deploy-handoff-feature: any of: tools/webide/**/*, src/test/examples/**/*
  deploy-handoff: any of: tools/webide/**/*, src/test/examples/**/*
  build-preview-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
  build-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*

[#1825] Implement copying error messages
  tools/debugger/flake.lock
  tools/debugger/vscode-plugin/package.json
  tools/debugger/vscode-plugin/src/LigoProtocolClient.ts
  tools/debugger/vscode-plugin/src/extension.ts
  tools/debugger/vscode-plugin/yarn.lock
Due: none

[Bot] add changelog entry
  changelog-tools/debugger/2735
Due: none

[Chore] Menhir version upgrade
  esy.json
  ligo.opam
  ligo.opam.locked
  src/passes/02-parsing/cameligo/dune
  src/passes/02-parsing/jsligo/dune
  src/passes/02-parsing/pascaligo/dune
  src/passes/02-parsing/pyligo/dune
Due: none

[Chore] esy: constrain other tezos-* libs to 17.0
  esy.json
  esy.lock/index.json
  esy.lock/opam/js_of_ocaml-compiler.5.3.0/opam
  esy.lock/opam/js_of_ocaml-ppx.5.3.0/opam
  esy.lock/opam/js_of_ocaml.5.3.0/opam
  esy.lock/opam/menhir.20230608/opam
  esy.lock/opam/menhirLib.20230608/opam
  esy.lock/opam/menhirSdk.20230608/opam
  esy.lock/opam/tar-unix.2.5.1/opam
  esy.lock/opam/tar.2.5.1/opam
  esy.lock/opam/zed.3.2.2/opam
  esy.lock/overrides/opam__s__tar_opam__c__2.5.1_opam_override/package.json
  esy.lock/overrides/opam__s__tar_unix_opam__c__2.5.1_opam_override/package.json
Due: none

[Bot] add changelog entry
  changelog/2706
Due: pages, pages-attempt, deploy_website_preview

[Chore] Add `|>` to CameLIGO syntax highlight
  tools/emacs/ligo-mode.el
  tools/ligo-syntax-highlighting/CameLIGO.ml
  tools/ligo-syntax-highlighting/regexp.ml
  tools/ligo-syntax-highlighting/textmate/mligo.tmLanguage.json
  tools/vim/ligo/start/ligo/syntax/mligo.vim
  tools/vscode/syntaxes/mligo.tmLanguage.json
Due: check-generated-highlighting

CI: Sign Ligo windows installer with a test developer certificate
  .ci/.gitlab-ci-npm.yml
  scripts/signInstallerWithTestCertificates.ps1
Due: none

[Chore] Dialect config bugfix
  changelog/2741
  src/main/compile/helpers.ml
Due: pages, pages-attempt, deploy_website_preview

[Chore] Update VSCode extension network and API
  changelog-tools/vscode-plugin/2739
  tools/vscode/client/src/commands/tezosCommands.ts
  tools/vscode/package.json
  tools/vscode/test/vsc-test/commands.test.ts
  tools/vscode/yarn.lock
Due: none

webide-a: pass module entity if non empty
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/ligo-components/ligo-compiler/compilerManager.ts
Due: webide-new-frontend-build-and-push

New sub-command: `compile view` for off-chain view compilation
  changelog/2737
  gitlab-pages/docs/advanced/src/counter.mligo
  gitlab-pages/docs/api/cli-commands.md
  src/bin/cli.ml
  src/bin/expect_tests/contract_tests.ml
  src/formatter/ligo_formatter.ml
  src/main/api/common/compile.ml
  src/main/build/build.ml
  src/main/build/build.mli
  src/main/compile/of_michelson.ml
  src/test/contracts/off_view.mligo
  vendored-dune/ligo-utils/tezos-utils/x_michelson.ml
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

CLI: add `--skip-generated` in `list-declarations` sub-command
  changelog/2747
  src/bin/cli.ml
  src/bin/expect_tests/help_tests.ml
  src/bin/repl.ml
  src/main/api/common/info.ml
  src/main/compile/of_typed.ml
  src/main/compiler_options/raw_options.ml
Due: pages, pages-attempt, deploy_website_preview

Small IDE fixes
  changelog-tools/webide/2730
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/base-components/notification/manager.js
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/components/LigoHeader.tsx
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/ligo-components/ligo-project/Project/ProjectToolbar/CompileModal.tsx
Due: webide-new-frontend-build-and-push

[#1977] Split deploy tests into a new job
  .ci/.gitlab-ci-lsp.yml
  tools/vscode/package.json
  tools/vscode/test/commands-common.ts
  tools/vscode/test/vsc-test/commands-deploy.test.ts
  tools/vscode/test/vsc-test/commands.test.ts
  tools/vscode/test/vsc-test/index.ts
  tools/vscode/yarn.lock
Due: none

Fixed pretty-printing of JsLIGO annotations (attributes) when they have no arguments.
  changelog/2748
  src/passes/02-parsing/jsligo/Pretty.ml
Due: pages, pages-attempt, deploy_website_preview

[Bot] Update release metadata 0.70.0
  .ci/.metadata.yml
Due: none

Fix location propagation in unstate nanopass
  changelog-tools/debugger/2682
  src/bin/expect_tests/get_scope.ml
  src/bin/expect_tests/get_scope_errors_warns.ml
  src/bin/expect_tests/get_scope_regressions.ml
  src/passes/04-nanopasses/passes/compute_layout.ml
  src/passes/04-nanopasses/passes/curry.ml
  src/passes/04-nanopasses/passes/unstate.ml
  src/passes/12-aggregation/compiler.ml
  src/passes/13.1-expansion/compiler.ml
  src/stages/2-ast_unified/combinators.ml
  src/stages/ligo_primitive/var.ml
  src/stages/ligo_primitive/var.mli
Due: none

fix esy.json version and CI to automate update
  .ci/scripts/versioning/update_esy_version.sh
  esy.json
Due: none

webide: skip generated value in listDeclaration endpoint
  tools/webide-new/flake.nix
  tools/webide-new/ligo-webide-backend/src/Method/ListDeclarations.hs
Due: webide-new-backend-build-and-push-backend

[Chore] Fix the bug with not clearing the lexer
  vendored-dune/ParserLib/LowAPI.ml
Due: none

fix website links
  gitlab-pages/docs/intro/installation.md
  gitlab-pages/docs/tutorials/taco-shop/tezos-taco-shop-smart-contract.md
  gitlab-pages/website/docusaurus.config.js
  gitlab-pages/website/versioned_docs/version-0.68.0/intro/installation.md
  gitlab-pages/website/versioned_docs/version-0.68.0/tutorials/taco-shop/tezos-taco-shop-smart-contract.md
  gitlab-pages/website/versioned_docs/version-0.69.0/intro/installation.md
  gitlab-pages/website/versioned_docs/version-0.69.0/tutorials/taco-shop/tezos-taco-shop-smart-contract.md
  gitlab-pages/website/versioned_docs/version-0.70.0/intro/installation.md
  gitlab-pages/website/versioned_docs/version-0.70.0/tutorials/taco-shop/tezos-taco-shop-smart-contract.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[release process] Fix version in AUR description when publishing ligo version
  .ci/.gitlab-ci-release.yml
Due: none

fix module open in module_open_restriction
  changelog/2723
  src/passes/04-nanopasses/passes/module_open_restriction.ml
Due: pages, pages-attempt, deploy_website_preview

update docs to represent logical comparators and bitwise operators support for bytes
  gitlab-pages/docs/language-basics/boolean-if-else.md
  gitlab-pages/docs/reference/bitwise.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[#1979] Allow user to specify a path to the main contract file
  tools/debugger/vscode-plugin/package.json
  tools/debugger/vscode-plugin/src/LigoDebugConfigurationProvider.ts
Due: none

[Bot] add changelog entry
  changelog-tools/debugger/2759
Due: none

Preserve bound vars in match compiler (using lets)
  changelog/2756
  src/passes/13.1-expansion/compiler.ml
  src/passes/13.1-expansion/decision_tree.ml
  src/passes/13.1-expansion/substitution.ml
  src/passes/14-spilling/compiler.ml
Due: pages, pages-attempt, deploy_website_preview

[#1810] Suggest LIGO upgrade based on install method
  Makefile
  changelog-tools/vscode-plugin/2742
  tools/vscode/Makefile
  tools/vscode/client/src/commands/common.ts
  tools/vscode/client/src/commands/ligoCommands.ts
  tools/vscode/client/src/common.ts
  tools/vscode/client/src/exceptions.ts
  tools/vscode/client/src/extension.ts
  tools/vscode/client/src/ui.ts
  tools/vscode/client/src/updateLigo.ts
  tools/vscode/package-lock.json
  tools/vscode/package.json
  tools/vscode/yarn.lock
Due: none

[Chore] Format code
  src/bin/expect_tests/bitwise_operators.ml
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/protocol_specific.ml
  src/main/api/common/compile.ml
  src/main/build/build.ml
  src/main/compile/helpers.ml
  src/main/compile/of_typed.ml
  src/main/fuzz/shared/dune
  src/main/interpreter/common/interpreter.ml
  src/main/ligo_lsp/dune
  src/main/ligo_lsp/lsp_helpers/dialect_cst.ml
  src/main/ligo_lsp/requests/type_definition.ml
  src/passes/02-parsing/cameligo/dune
  src/passes/02-parsing/jsligo/dune
  src/passes/02-parsing/pascaligo/dune
  src/passes/02-parsing/pyligo/dune
  src/passes/04-nanopasses/passes/curry.ml
  src/passes/04-nanopasses/passes/if_as_pattern_match.ml
  src/passes/04-nanopasses/passes/module_open_restriction.ml
  src/passes/04-nanopasses/passes/unstate.ml
  src/passes/10-checking/checking.ml
  src/passes/10-checking/computation.ml
  src/passes/10-checking/constant_typers.ml
  src/passes/11-self_ast_typed/helpers.ml
  src/passes/13-self_ast_aggregated/coerce_replace.ml
  src/passes/13-self_ast_aggregated/deduplicate_binders.ml
  src/passes/13-self_ast_aggregated/errors.ml
  src/passes/13-self_ast_aggregated/muchused.ml
  src/passes/13-self_ast_aggregated/unused.ml
  src/passes/13.1-expansion/compiler.ml
  src/passes/13.1-expansion/decision_tree.ml
  src/stages/2-ast_unified/combinators.ml
  src/stages/6-ast_aggregated/combinators.ml
  src/stages/6-ast_aggregated/helpers.ml
  src/stages/ligo_primitive/ascription.ml
  src/test/decompiler_tests.ml
  src/test/lsp_test/completion.ml
Due: none

Closes #1892: docs for recursive functions
  gitlab-pages/docs/language-basics/functions.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[Chore] Remove `allow_failure` for `debugger-tests-latest` job
  .ci/.gitlab-ci-debugger.yml
Due: none

[0.71.0] update metadata
  .ci/.metadata.yml
Due: none

[Chore] Prepare the debugger for a release
  tools/debugger/README.md
  tools/debugger/ligo-debugger/Makefile
  tools/debugger/vscode-plugin/Makefile
  tools/debugger/vscode-plugin/README.md
  tools/debugger/vscode-plugin/package.json
Due: none

[#1974] Get-scope: split `Scopes.scopes` to two functions
  src/bin/cli.ml
  src/main/compiler_options/raw_options.ml
  src/main/ligo_lsp/lsp_helpers/get_scope.ml
  src/main/ligo_lsp/lsp_helpers/ligo_interface.ml
  src/main/ligo_lsp/requests/completion.ml
  src/main/ligo_lsp/requests/diagnostics.ml
  src/main/ligo_lsp/requests/go_to_definition.ml
  src/main/ligo_lsp/requests/handler.ml
  src/main/ligo_lsp/requests/hover.ml
  src/main/ligo_lsp/requests/on_doc.ml
  src/main/ligo_lsp/requests/prepare_rename.ml
  src/main/ligo_lsp/requests/references.ml
  src/main/ligo_lsp/requests/rename.ml
  src/main/ligo_lsp/requests/type_definition.ml
  src/main/scopes/scopes.ml
  src/main/scopes/scopes.mli
  src/test/decompiler_tests.ml
  src/test/get_scope_tests.ml
Due: none

[#1739] JsLIGO syntax highlighting for Vim
  changelog-tools/vscode-plugin/2766
  tools/emacs/README.md
  tools/emacs/ligo-mode.el
  tools/ligo-syntax-highlighting/JsLIGO.ml
  tools/ligo-syntax-highlighting/LigoSyntaxHighlighting.ml
  tools/ligo-syntax-highlighting/regexp.ml
  tools/ligo-syntax-highlighting/textmate/jsligo.tmLanguage.json
  tools/ligo-syntax-highlighting/textmate/ligo.tmLanguage.json
  tools/vim/ligo/start/ligo/README.md
  tools/vim/ligo/start/ligo/ftdetect/ligo.vim
  tools/vim/ligo/start/ligo/plugin/ligo.vim
  tools/vim/ligo/start/ligo/syntax/jsligo.vim
  tools/vim/ligo/start/ligo/syntax/ligo.vim
  tools/vscode/syntaxes/jsligo.tmLanguage.json
  tools/vscode/syntaxes/ligo.tmLanguage.json
Due: check-generated-highlighting

webide-a: fix webide dry-run
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/ligo-components/ligo-project/Project/ProjectToolbar/ExpressionManagerModal.tsx
Due: webide-new-frontend-build-and-push

Metadata TZIP-16: add warning on metadata URI/JSON when compiling storage (Michelson)
  changelog/2718
  src/bin/cli.ml
  src/bin/expect_tests/contract_metadata.ml
  src/bin/expect_tests/help_tests.ml
  src/main/api/common/compile.ml
  src/main/compiler_options/compiler_options.ml
  src/main/compiler_options/raw_options.ml
  src/main/main_warnings/main_warnings.ml
  src/main/run/dune
  src/main/run/of_michelson.ml
  src/test/contracts/contract_metadata/metadata_tzip16.mligo
  vendored-dune/ligo-utils/proto-alpha-utils/x_memory_proto_alpha.ml
Due: pages, pages-attempt, deploy_website_preview
