Repository ligolang/ligo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-generated-highlighting, webide-backend-build-and-push-backend, webide-new-backend-build-and-push-backend, webide-new-frontend-build-and-push, pages, pages-attempt, algolia-crawl, deploy_website_preview, deploy-handoff-feature, deploy-handoff, build-preview-ligo-webide-front-end, build-ligo-webide-front-end

check-generated-highlighting:
  stage: tooling
  dependencies:
  - docker_extract
  script:
  - scripts/diff_dir.sh highlighting/emacs tools/emacs
  - scripts/diff_dir.sh highlighting/vim/ftdetect tools/vim/ligo/start/ligo/ftdetect
  - scripts/diff_dir.sh highlighting/vim/plugin tools/vim/ligo/start/ligo/plugin
  ...

webide-backend-build-and-push-backend:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  - cp -r src/test/examples tools/webide/packages/client/examples
  ...

webide-new-backend-build-and-push-backend:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  needs:
  - job: changelog
    artifacts: false
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  - docker build tools/webide-new/ligo-webide-backend -t ${WEBIDE_NEW_IMAGE_TAG}
  ...

webide-new-frontend-build-and-push:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  needs:
  - job: changelog
    artifacts: false
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  ...

pages:
  stage: push
  tags:
  - docker
  image: node:16.17.0-buster
  needs:
  - job: changelog
    artifacts: true
  script:
  - export DOC_PATH=./gitlab-pages/docs
  - export WEBSITE_PATH=./gitlab-pages/website
  - cp -f ./changelog.md $DOC_PATH/intro/changelog.md
  ...

pages-attempt:
  stage: push
  tags:
  - docker
  image: node:16.17.0-buster
  needs:
  - job: changelog
    artifacts: true
  script:
  - export DOC_PATH=./gitlab-pages/docs
  - export WEBSITE_PATH=./gitlab-pages/website
  - cp -f ./changelog.md $DOC_PATH/intro/changelog.md
  ...

algolia-crawl:
  stage: push
  needs:
  - job: pages
  script:
  - "sleep 10 \ncurl -X post  -H \"Content-Type: application/json\" --user ${ALGOLIA_CRAWLER_ID}:${ALGOLIA_CRAWLER_TOKEN} https://crawler.algolia.com/api/1/crawlers/bb0597ba-5abc-45ba-bdf9-99f8152e87b0/reindex\n"

deploy_website_preview:
  stage: deploy
  image: node:16.17.0-buster
  tags:
  - docker
  needs:
  - job: pages-attempt
    artifacts: true
  script:
  - apt-get update
  - apt-get install -y --no-install-recommends jq
  - npm install netlify-cli
  ...

deploy-handoff-feature:
  stage: deploy
  variables:
    APP_NAME: web-ide-backend
    NEW_VERSION: ${CI_COMMIT_SHORT_SHA}
    ENV: non-prod
  trigger:
    project: ligolang/kubernetes-infrastructure

deploy-handoff:
  stage: deploy
  variables:
    APP_NAME: web-ide-backend
    NEW_VERSION: ${CI_COMMIT_SHORT_SHA}
    ENV: prod
  trigger:
    project: ligolang/kubernetes-infrastructure

Compile parameter: alternative handling of single `@entry` contracts
  changelog/2898
  gitlab-pages/docs/advanced/entrypoints-contracts.md
  src/bin/expect_tests/build_module_test.ml
  src/bin/expect_tests/contract_tests.ml
  src/main/api/common/compile.ml
  src/test/analytics_tests.ml
  src/test/contracts/single.contract.jsligo
  src/test/contracts/single.parameter.jsligo
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Make in-house package management the default package management backend
  changelog/2909
  gitlab-pages/docs/advanced/package-management.md
  src/bin/cli.ml
  src/bin/install.ml
  src/package-management/alpha.ml
  src/package-management/alpha.mli
  src/test/ligo_install_slow_tests.ml
  src/test/ligo_install_tests.ml
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Make view non-removed even if not exported
  changelog/2912
  src/bin/expect_tests/view.ml
  src/passes/10-checking/checking.ml
  src/test/contracts/view_exported.jsligo
Due: pages, pages-attempt, deploy_website_preview

V1.0.0: Update debugger minimal version
  tools/debugger/ligo-debugger/src/resources/versions/minimal-supported
  tools/debugger/ligo-debugger/src/resources/versions/recommended
Due: none

V1.0.0: Update plugin version
  tools/vscode/package.json
Due: none

[Chore] Add message announcing LIGO v1
  tools/vscode/client/src/lsp/updateLigo.ts
Due: none

[Bot] Update release metadata 1.0.0
  .ci/.metadata.yml
Due: none

update announce bar on website
  gitlab-pages/website/docusaurus.config.js
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

remove pascaligo from v1
  gitlab-pages/website/src/plugins/syntax/output/index.js
  gitlab-pages/website/src/plugins/syntax/output/theme/Syntax/SyntaxSwitch.js
  gitlab-pages/website/src/plugins/syntax/output/theme/Syntax/index.js
  gitlab-pages/website/src/plugins/syntax/output/theme/SyntaxTitle/index.js
  gitlab-pages/website/src/plugins/syntax/src/theme/Syntax/SyntaxSwitch.js
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Comment ligo install VSCode tests
  tools/vscode/test/vsc-test/externalLib.test.ts
Due: none

[Chore] Fix VSCode extension release
  .ci/.gitlab-ci-debugger.yml
  .ci/.gitlab-ci-vscode-extension.yml
Due: none

[#2065] V1 migration guide: nested namespaces need to be exported
  gitlab-pages/docs/faq/v1-migration-guide.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Don't build coq in native mode
  src/coq/dune
Due: none

Replace protocol list with Oxford
  changelog/2921
  src/bin/expect_tests/help_tests.ml
  src/bin/expect_tests/protocol_specific.ml
  src/environment/protocols.ml
  src/main/build/stdlib.ml
Due: pages, pages-attempt, deploy_website_preview

[#1762] Implement dumping CST in the compiler
  src/bin/cli.ml
  src/bin/expect_tests/pattern_matching_jsligo.ml
  src/main/api/common/api_helpers.ml
  src/main/api/common/dialect_cst.ml
  src/main/api/common/dump_cst.ml
  src/main/api/common/dune
  src/main/api/common/info.ml
  src/main/api/common/ligo_api.ml
  src/main/helpers/cli_helpers.ml
  src/main/helpers/cli_helpers.mli
  src/main/ligo_lsp/lsp_helpers/lsp_helpers.ml
  src/main/ligo_lsp/lsp_helpers/pretty.ml
  src/main/ligo_lsp/requests/handler.ml
  src/passes/02-parsing/cameligo/Parser.mly
  src/passes/02-parsing/cameligo/Pretty.ml
  src/passes/02-parsing/jsligo/Parser.mly
  src/passes/03-unification/cameligo/compile.ml
  src/stages/1-cst/cameligo/CST.ml
  src/stages/1-cst/cameligo/Fold.ml
  src/stages/1-cst/cameligo/Print.ml
  src/stages/1-cst/cameligo/dune
  src/stages/1-cst/jsligo/CST.ml
  src/stages/1-cst/jsligo/dune
  src/stages/1-cst/pascaligo/CST.ml
  src/stages/1-cst/pyligo/CST.ml
  src/stages/1-cst/shared/Types.ml
  src/stages/1-cst/shared/dune
  src/test/lsp_test/cst_fold.ml
  src/test/lsp_test/folding_range.ml
Due: none

[Bot] add changelog entry
  changelog/2620
Due: pages, pages-attempt, deploy_website_preview

[#1889] Add LSP benchmarks
  src/bin/cli.ml
  src/main/ligo_lsp/server.ml
  tools/lsp-bench/.gitignore
  tools/lsp-bench/.hlint.yaml
  tools/lsp-bench/.ligo/repository_id
  tools/lsp-bench/.stylish-haskell.yaml
  tools/lsp-bench/Makefile
  tools/lsp-bench/README.md
  tools/lsp-bench/Setup.hs
  tools/lsp-bench/app/Main.hs
  tools/lsp-bench/lsp-bench.cabal
  tools/lsp-bench/package.yaml
  tools/lsp-bench/projects/one_big_file/one_big_file.mligo
  tools/lsp-bench/projects/one_small_file/one_small_file.mligo
  tools/lsp-bench/src/Bench.hs
  tools/lsp-bench/src/Bench/Completion.hs
  tools/lsp-bench/src/Bench/Complex.hs
  tools/lsp-bench/src/Bench/Diagnostics.hs
  tools/lsp-bench/src/Bench/Hovers.hs
  tools/lsp-bench/src/Bench/References.hs
  tools/lsp-bench/src/Bench/Util.hs
  tools/lsp-bench/stack.yaml
  tools/lsp-bench/stack.yaml.lock
Due: none

Internal: add new `@deprecated` attribute to CameLIGO
  changelog/2926
  src/bin/expect_tests/contract_tests.ml
  src/main/interpreter/common/michelson_backend.ml
  src/main/ligo_lsp/lsp_helpers/get_scope.ml
  src/main/main_warnings/main_warnings.ml
  src/passes/04-nanopasses/trivial.ml
  src/passes/13-self_ast_aggregated/deprecated.ml
  src/passes/13-self_ast_aggregated/self_ast_aggregated.ml
  src/passes/13-self_ast_aggregated/uncurry.ml
  src/passes/13.1-expansion/decision_tree.ml
  src/passes/14-spilling/compiler.ml
  src/stages/5-ast_typed/PP.ml
  src/stages/5-ast_typed/misc.ml
  src/stages/ligo_primitive/value_attr.ml
  src/test/contracts/deprecated.mligo
Due: pages, pages-attempt, deploy_website_preview

Fixes link-dev version parsing
  changelog/2931
  src/bin/expect_tests/package_management.ml
  src/package-management/alpha-shared/name_version.ml
  src/test/projects/complex_project_with_one_dependency/_ligo/ligo/installation.json
  src/test/projects/complex_project_with_one_dependency/ligo.esy.lock/index.json
  src/test/projects/complex_project_with_one_dependency/ligo.json
Due: pages, pages-attempt, deploy_website_preview

Typo fix: at prompt notifying auto acceptance while in Docker
  src/main/analytics/analytics.ml
Due: none

Make ocamlformat version explicit in `.ocamlformat`
  .ocamlformat
Due: none

[#1969] Implement showing arguments for partially applied functions
  tools/debugger/ligo-debugger/src/Language/LIGO/DAP/Variables.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Types.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Functions.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Helpers.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Impl.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Michelson.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Snapshots.hs
  tools/debugger/ligo-debugger/test/Test/DebugInfo.hs
  tools/debugger/ligo-debugger/test/Test/Functions.hs
  tools/debugger/ligo-debugger/test/Test/Navigation.hs
  tools/debugger/ligo-debugger/test/Test/Snapshots.hs
  tools/debugger/ligo-debugger/test/Test/Util.hs
  tools/debugger/ligo-debugger/test/Test/Util/Golden.hs
  tools/debugger/ligo-debugger/test/Test/Variables.hs
  tools/debugger/ligo-debugger/test/contracts/partially-applied-cases.jsligo
  tools/debugger/ligo-debugger/test/contracts/partially-applied-cases.mligo
  tools/debugger/ligo-debugger/test/golden/Functions/partially-applied-jsligo.golden
  tools/debugger/ligo-debugger/test/golden/Functions/partially-applied-mligo.golden
Due: none

[#1969] Provide a meta for partially applied function
  src/formatter/ligo_formatter.ml
  src/main/compile/of_michelson.ml
  src/main/compile/of_mini_c.ml
  src/passes/16-scoping/scoping.ml
  src/stages/7-mini_c/environment.ml
  src/stages/7-mini_c/environment.mli
  src/stages/7-mini_c/types.ml
Due: none

[Bot] add changelog entry
  changelog-tools/debugger/2932
Due: none

[#1741] Update README
  tools/vscode/README.md
Due: none

[#1741] Resolve FIXME in the VSCode extension
  tools/vscode/client/src/lsp/command.ts
  tools/vscode/client/src/lsp/commands/common.ts
  tools/vscode/client/src/lsp/commands/ligoCommands.ts
  tools/vscode/client/src/lsp/commands/tezosCommands.ts
Due: none

[#1741] Add project root support
  .ligoproject
  ligo.opam
  ligo.opam.locked
  src/main/api/common/dialect_cst.ml
  src/main/api/common/info.ml
  src/main/ligo_lsp/lsp_helpers/PP_config.ml
  src/main/ligo_lsp/lsp_helpers/ligo_interface.ml
  src/main/ligo_lsp/lsp_helpers/lsp_helpers.ml
  src/main/ligo_lsp/lsp_helpers/path.ml
  src/main/ligo_lsp/lsp_helpers/project_root.ml
  src/main/ligo_lsp/requests/completion.ml
  src/main/ligo_lsp/requests/handler.ml
  src/main/ligo_lsp/requests/on_doc.ml
  src/main/ligo_lsp/server.ml
  src/test/contracts/.ligoproject
  src/test/contracts/lsp/ligo.json
  src/test/lsp_test/handlers.ml
  tools/emacs/tests/sample-project/.ligoproject
  tools/vscode/test/contracts/.ligoproject
  tools/vscode/test/contracts/bugs/.ligoproject
  tools/vscode/test/contracts/bugs/LIGO-821/1/.ligoproject
  tools/vscode/test/contracts/bugs/LIGO-821/1/2/.ligoproject
  tools/vscode/test/contracts/rename-directory/.ligoproject
Due: none

[Bot] add changelog entry
  changelog/2830
Due: pages, pages-attempt, deploy_website_preview

[#2044] Handle `forall` types in `resolve-config`
  src/main/api/common/resolve_config.ml
  src/main/main_errors/formatter.ml
  src/main/main_errors/types.ml
  tools/vscode/README.md
  tools/vscode/resources/config_snippets/config.jsligo
  tools/vscode/resources/config_snippets/config.mligo
Due: none

[#2044] Handle the config type in `resolve_config`
  src/main/api/common/resolve_config.ml
  src/main/main_errors/formatter.ml
  src/main/main_errors/types.ml
Due: none

[Bot] add changelog entry
  changelog-tools/debugger/2938
Due: none

Package management: fixes wrong error message when package is not found
  changelog/2939
  src/package-management/alpha.ml
  src/package-management/alpha.mli
Due: pages, pages-attempt, deploy_website_preview

Revert "Replace protocol list with Oxford"
  src/bin/expect_tests/help_tests.ml
  src/bin/expect_tests/homepage.ml
  src/bin/expect_tests/protocol_specific.ml
  src/environment/protocols.ml
  src/main/build/stdlib.ml
Due: none

Path conditions:
  check-generated-highlighting: any of: tools/ligo-syntax-highlighting/**/*
  webide-backend-build-and-push-backend: any of: tools/webide/**/*, src/test/examples/**/*
  webide-new-backend-build-and-push-backend: any of: tools/webide-new/ligo-webide-backend/**/*
  webide-new-frontend-build-and-push: any of: tools/webide-new/ligo-webide-frontend/ligo-ide/**/*
  pages: any of: gitlab-pages/**/*, changelog/*
  pages-attempt: any of: gitlab-pages/**/*, changelog/*
  algolia-crawl: any of: gitlab-pages/**/*
  deploy_website_preview: any of: gitlab-pages/**/*, changelog/*
  deploy-handoff-feature: any of: tools/webide/**/*, src/test/examples/**/*
  deploy-handoff: any of: tools/webide/**/*, src/test/examples/**/*
  build-preview-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
  build-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
