Repository ligolang/ligo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-generated-highlighting, webide-backend-build-and-push-backend, webide-new-backend-build-and-push-backend, webide-new-frontend-build-and-push, pages, pages-attempt, algolia-crawl, deploy_website_preview, deploy-handoff-feature, deploy-handoff, build-preview-ligo-webide-front-end, build-ligo-webide-front-end

Path conditions:
  check-generated-highlighting: any of: tools/ligo-syntax-highlighting/**/*
  webide-backend-build-and-push-backend: any of: tools/webide/**/*, src/test/examples/**/*
  webide-new-backend-build-and-push-backend: any of: tools/webide-new/ligo-webide-backend/**/*
  webide-new-frontend-build-and-push: any of: tools/webide-new/ligo-webide-frontend/ligo-ide/**/*
  pages: any of: gitlab-pages/**/*, changelog/*
  pages-attempt: any of: gitlab-pages/**/*, changelog/*
  algolia-crawl: any of: gitlab-pages/**/*
  deploy_website_preview: any of: gitlab-pages/**/*, changelog/*
  deploy-handoff-feature: any of: tools/webide/**/*, src/test/examples/**/*
  deploy-handoff: any of: tools/webide/**/*, src/test/examples/**/*
  build-preview-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
  build-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*

setup pre-commit hook running dune fmt
  scripts/pre_commit_hook.sh
  scripts/setup_pre_commit_hook.sh
Due: none

[Chore] Fix the debugger on MacOS
  tools/debugger/vscode-plugin/src/LigoServer.ts
  tools/debugger/vscode-plugin/src/extension.ts
Due: none

[Chore] Bump `ligo-debugger` plugin version
  tools/debugger/vscode-plugin/package.json
Due: none

[Bot] add changelog entry
  changelog-tools/debugger/2778
Due: none

[Chore] Bump LSP VSCode plugin version
  tools/vscode/package.json
Due: none

[Chore] Use new DAP interface from Morley Debugger
  tools/debugger/.weeder.yaml
  tools/debugger/ligo-debugger/app/ligo-debugger/Main.hs
  tools/debugger/ligo-debugger/ligo-debugger.cabal
  tools/debugger/ligo-debugger/package.yaml
  tools/debugger/ligo-debugger/src/Language/LIGO/DAP/Variables.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Call.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Exception.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Helpers.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Types.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Error.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Helpers.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Impl.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Types.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Snapshots.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Range.hs
  tools/debugger/ligo-debugger/stack.yaml
  tools/debugger/ligo-debugger/stack.yaml.lock
  tools/debugger/ligo-debugger/test/Test/DebugInfo.hs
  tools/debugger/ligo-debugger/test/Test/Handlers.hs
  tools/debugger/ligo-debugger/test/Test/Snapshots.hs
  tools/debugger/ligo-debugger/test/Test/Util.hs
  tools/debugger/ligo-debugger/test/Test/Util/Golden.hs
  tools/debugger/ligo-debugger/test/Test/Variables.hs
  tools/debugger/vscode-plugin/src/LigoDebugConfigurationProvider.ts
  tools/debugger/vscode-plugin/src/messages.ts
Due: none

Fix: changelog for 2718
  changelog/2718
Due: pages, pages-attempt, deploy_website_preview

Added --no-layout and --no-regions to ParserMain.exe
  changelog/2783
  src/passes/02-parsing/cameligo.ml
  src/passes/02-parsing/jsligo.ml
  src/passes/02-parsing/pascaligo.ml
  src/passes/02-parsing/shared/TopAPI.ml
  src/passes/02-parsing/shared/TopAPI.mli
  src/stages/1-cst/shared/Tree.ml
  src/stages/1-cst/shared/Tree.mli
  vendored-dune/ParserLib/CLI.ml
  vendored-dune/ParserLib/Options.ml
  vendored-dune/ParserLib/Options.mli
Due: pages, pages-attempt, deploy_website_preview

[#1980] Support module entrypoints in the debugger
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Call.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Helpers.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Types.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Impl.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Types.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Snapshots.hs
  tools/debugger/ligo-debugger/test/Test/DebugInfo.hs
  tools/debugger/ligo-debugger/test/Test/Navigation.hs
  tools/debugger/ligo-debugger/test/Test/Snapshots.hs
  tools/debugger/ligo-debugger/test/Test/Util.hs
  tools/debugger/ligo-debugger/test/contracts/module-entrypoints.mligo
  tools/debugger/ligo-debugger/test/golden/StepIn/module-entrypoint-decrement.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/module-entrypoint-increment.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/module-entrypoint-reset.golden
  tools/debugger/vscode-plugin/src/LigoDebugConfigurationProvider.ts
  tools/debugger/vscode-plugin/src/messages.ts
  tools/debugger/vscode-plugin/src/ui.ts
Due: none

[Bot] add changelog entry
  changelog-tools/debugger/2781
Due: none

Monomorphisation: add commutation with `let`
  changelog/2763
  src/bin/expect_tests/polymorphism.ml
  src/passes/13-self_ast_aggregated/monomorphisation.ml
  src/test/contracts/polymorphism/monomorphisation_let.mligo
Due: pages, pages-attempt, deploy_website_preview

Use fix for breakpoints
  changelog-tools/debugger/2736
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Impl.hs
  tools/debugger/ligo-debugger/test/Test/Breakpoints.hs
  tools/debugger/ligo-debugger/test/Test/Snapshots.hs
  tools/debugger/ligo-debugger/test/Test/Util.hs
Due: none

Style: apply dune fmt
  src/test/error-recovery/diff.ml
  src/test/error-recovery/dune
  src/test/error-recovery/error_recovery.ml
  src/test/error-recovery/file.ml
  src/test/error-recovery/fuzzing/cameligo/dune
  src/test/error-recovery/fuzzing/cameligo/test.ml
  src/test/error-recovery/fuzzing/jsligo/dune
  src/test/error-recovery/fuzzing/jsligo/test.ml
  src/test/error-recovery/fuzzing/pascaligo/dune
  src/test/error-recovery/fuzzing/pascaligo/test.ml
  src/test/error-recovery/simple/cameligo/dune
  src/test/error-recovery/simple/cameligo/test.ml
  src/test/error-recovery/simple/jsligo/dune
  src/test/error-recovery/simple/jsligo/test.ml
  src/test/error-recovery/simple/pascaligo/dune
  src/test/error-recovery/simple/pascaligo/test.ml
Due: none

[Bot] Update release metadata 0.71.0
  .ci/.metadata.yml
Due: none

Fix left-over trailing slash in the release ci script
  .ci/.gitlab-ci-release.yml
Due: none

[Chore] Handle shutdown and exit requests properly
  ligo.opam
  ligo.opam.locked
  src/bin/cli.ml
  src/main/ligo_lsp/server.ml
Due: none

[Chore] Bump LIGO version
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Call.hs
Due: none

[Chore] Fix updating the newest version of LIGO
  changelog/2790
  tools/vscode/client/src/updateLigo.ts
  tools/vscode/package.json
Due: pages, pages-attempt, deploy_website_preview

Mutation: complete `E_application` decompilation case for multisig
  changelog/2789
  src/main/interpreter/common/mutation.ml
  src/passes/03-unification/cameligo/decompile.ml
  src/passes/03-unification/jsligo/decompile.ml
  src/passes/04-nanopasses/trivial.ml
Due: pages, pages-attempt, deploy_website_preview

[Chore] Fix JsLIGO ASI + attribute on type decl
  changelog-tools/vscode-plugin/2793
  tools/ligo-syntax-highlighting/regexp.ml
  tools/ligo-syntax-highlighting/textmate/jsligo.tmLanguage.json
  tools/vim/ligo/start/ligo/syntax/jsligo.vim
  tools/vscode/syntaxes/jsligo.tmLanguage.json
Due: check-generated-highlighting

Get back esy from Docker image
  Dockerfile
  changelog/2797
Due: pages, pages-attempt, deploy_website_preview

[Compiler] Fix changelog by limiting size
  changelog/2254
  scripts/changelog-json.sh
  scripts/changelog.md.mustache
Due: pages, pages-attempt, deploy_website_preview

update metadata
  .ci/.metadata.yml
  gitlab-pages/website/versions.json
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

fix algolia recrawl command (case sensitive)
  .gitlab-ci.yml
Due: none

Docs: add type signature for `get_and_update` in `Big_map` reference (JsLIGO)
  gitlab-pages/docs/reference/big_map.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[Chore] Undo changes to 0.0.20230804
  changelog-tools/vscode-plugin/2802
  tools/debugger/ligo-debugger/ligo-debugger.cabal
  tools/debugger/ligo-debugger/package.yaml
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Call.hs
  tools/debugger/ligo-debugger/src/resources/versions/recommended
  tools/debugger/vscode-plugin/package.json
  tools/vscode/client/src/updateLigo.ts
  tools/vscode/package.json
Due: none

webide-a: webide manage runTest
  tools/webide-new/flake.nix
  tools/webide-new/ligo-webide-backend/ligo-webide-backend.cabal
  tools/webide-new/ligo-webide-backend/src/Api.hs
  tools/webide-new/ligo-webide-backend/src/Method/RunTest.hs
  tools/webide-new/ligo-webide-backend/src/Schema/RunTestRequest.hs
  tools/webide-new/ligo-webide-backend/src/Server.hs
  tools/webide-new/ligo-webide-frontend/ligo-ide/default.nix
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/base-components/workspace/ProjectManager/ProjectManager.ts
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/components/api/api.ts
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/components/api/generated/.openapi-generator/VERSION
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/components/api/generated/api.ts
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/components/api/generated/base.ts
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/components/api/generated/common.ts
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/ligo-components/ligo-compiler/compilerManager.ts
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/ligo-components/ligo-project/Project/ProjectToolbar/RunTestModal.tsx
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/ligo-components/ligo-project/Project/ProjectToolbar/index.js
Due: webide-new-backend-build-and-push-backend, webide-new-frontend-build-and-push

Docs: fix order in `Test` reference
  gitlab-pages/docs/reference/test.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Fixed pretty-printing of line comments in JsLIGO and local module definitions in CameLIGO
  changelog/2803
  src/passes/01-lexing/jsligo/Self-passes/Tokens/Token.ml
  src/passes/02-parsing/cameligo/Pretty.ml
  src/passes/02-parsing/jsligo/Pretty.ml
Due: pages, pages-attempt, deploy_website_preview

new checking rules on contextual expressions
  changelog/2795
  src/bin/expect_tests/layout.ml
  src/bin/expect_tests/regressions.ml
  src/passes/10-checking/checking.ml
  src/test/ast_production.ml
  src/test/contracts/contextual_expressions_typing.mligo
Due: pages, pages-attempt, deploy_website_preview

Missing entries in sidebar
  changelog-tools/website/2765
  gitlab-pages/website/sidebars.js
  gitlab-pages/website/versioned_sidebars/version-0.69.0-sidebars.json
  gitlab-pages/website/versioned_sidebars/version-0.70.1-sidebars.json
  gitlab-pages/website/versioned_sidebars/version-0.71.1-sidebars.json
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[#1978] Implement `resolve-config` command in the compiler
  src/bin/cli.ml
  src/main/api/common/dune
  src/main/api/common/info.ml
  src/main/api/common/ligo_api.ml
  src/main/api/common/resolve_config.ml
  src/main/main_errors/formatter.ml
  src/main/main_errors/types.ml
Due: none

[#1978] Adapt `resolve-config` in the debugger's backend
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Call.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Exception.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Helpers.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Types.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Error.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Helpers.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Impl.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Types.hs
  tools/debugger/ligo-debugger/test/Test/LigoCall.hs
  tools/debugger/ligo-debugger/test/configs/common.mligo
  tools/debugger/ligo-debugger/test/configs/config_with_computations.jsligo
  tools/debugger/ligo-debugger/test/configs/config_with_computations.mligo
  tools/debugger/ligo-debugger/test/configs/full_config.jsligo
  tools/debugger/ligo-debugger/test/configs/full_config.mligo
  tools/debugger/ligo-debugger/test/configs/malformed_config.jsligo
  tools/debugger/ligo-debugger/test/configs/malformed_config.mligo
  tools/debugger/ligo-debugger/test/configs/omitted_fields.jsligo
  tools/debugger/ligo-debugger/test/configs/omitted_fields.mligo
Due: none

[#1978] Adapt `resolve-config` on the frontend part
  tools/debugger/vscode-plugin/README.md
  tools/debugger/vscode-plugin/package.json
  tools/debugger/vscode-plugin/resources/config_snippets/config.jsligo
  tools/debugger/vscode-plugin/resources/config_snippets/config.mligo
  tools/debugger/vscode-plugin/src/LigoDebugConfigurationProvider.ts
  tools/debugger/vscode-plugin/src/LigoDebugContext.ts
  tools/debugger/vscode-plugin/src/LigoProtocolClient.ts
  tools/debugger/vscode-plugin/src/LigoServer.ts
  tools/debugger/vscode-plugin/src/base.ts
  tools/debugger/vscode-plugin/src/extension.ts
  tools/debugger/vscode-plugin/src/messages.ts
  tools/debugger/vscode-plugin/src/ui.ts
  tools/debugger/vscode-plugin/yarn.lock
Due: none
