Repository ligolang/ligo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-generated-highlighting, pages, pages-attempt, algolia-crawl, deploy_website_preview

Path conditions:
  check-generated-highlighting: any of: tools/ligo-syntax-highlighting/**/*
  pages: any of: gitlab-pages/**/*, changelog/*
  pages-attempt: any of: gitlab-pages/**/*, changelog/*
  algolia-crawl: any of: gitlab-pages/**/*
  deploy_website_preview: any of: gitlab-pages/**/*, changelog/*

webide-a: Updated backend_url for frontend. Now referencing trili tech domain
  .ci/.gitlab-ci-webide.yml
Due: none

[Chore] Create a .mli file for pattern anomalies
  src/passes/10-checking/pattern_anomalies.ml
  src/passes/10-checking/pattern_anomalies.mli
Due: none

[#2185] Handle pattern anomalies errors
  lib/ligo_lsp/requests/diagnostics.ml
  src/passes/10-checking/checking.ml
  src/passes/10-checking/computation.ml
  src/passes/10-checking/computation.mli
  src/passes/10-checking/elaboration.ml
  src/passes/10-checking/elaboration.mli
  src/passes/10-checking/errors.ml
  src/passes/10-checking/pattern_anomalies.ml
Due: none

[#2185] Use reader monad in pattern anomalies
  src/passes/10-checking/pattern_anomalies.ml
Due: none

[#2185] Add tests for pattern matches failures
  src/test/contracts/lsp/pattern_match_fail.mligo
  src/test/lsp_test/diagnostics.ml
Due: none

[Bot] add changelog entry
  changelog/3179
Due: pages, pages-attempt, deploy_website_preview

[JsLIGO] Allow parenthesised type expressions as summands of sum types ("discriminated union")
  changelog/3194
  lib/ligo_lsp/requests/semantic_highlight.ml
  lib/ligo_preprocessor/LowAPI.mll
  src/passes/01-lexing/cameligo/Self-passes/Tokens/Attributes.ml
  src/passes/01-lexing/jsligo/Self-passes/Tokens/Attributes.ml
  src/passes/02-parsing/cameligo/Parser.mly
  src/passes/02-parsing/cameligo/Pretty.ml
  src/passes/02-parsing/cameligo/errors.msg.in
  src/passes/02-parsing/jsligo/Parser.mly
  src/passes/02-parsing/jsligo/Pretty.ml
  src/passes/02-parsing/jsligo/errors.msg.in
  src/passes/03-unification/cameligo/compile.ml
  src/passes/03-unification/cameligo/decompile.ml
  src/passes/03-unification/jsligo/compile.ml
  src/passes/03-unification/jsligo/decompile.ml
  src/stages/1-cst/cameligo/CST.ml
  src/stages/1-cst/cameligo/Fold.ml
  src/stages/1-cst/cameligo/Print.ml
  src/stages/1-cst/jsligo/CST.ml
  src/stages/1-cst/jsligo/Fold.ml
  src/stages/1-cst/jsligo/Print.ml
  src/stages/1-cst/shared/Fold.ml
  src/stages/1-cst/shared/Nodes.ml
  src/stages/1-cst/shared/Tree.ml
  src/test/contracts/lsp/completion_ctors.jsligo
  src/test/contracts/lsp/hover/ctors_and_fields.jsligo
  src/test/contracts/lsp/hover/poly_types.jsligo
  src/test/contracts/lsp/inlay_hints/inlay_hints.jsligo
  src/test/contracts/type_doc.jsligo
  src/test/error-recovery/fuzzing/jsligo/test.ml
  src/test/error-recovery/simple/jsligo/test.ml
  src/test/lsp_test/diagnostics.ml
  tools/debugger/ligo-debugger/src/Language/LIGO/AST/Parser/CameLigoCST.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/AST/Parser/JsLigoCST.hs
  vendored-dune/ligo-utils/proto-alpha-utils/x_memory_proto_alpha.ml
  vendored-dune/ligo-utils/simple-utils/Utils.ml
Due: pages, pages-attempt, deploy_website_preview

doc: More complex examples of dry-run
  changelog-tools/website/3187
  gitlab-pages/docs/advanced/first-contract.md
  gitlab-pages/docs/advanced/src/testing/dry-run-complex.jsligo
  gitlab-pages/docs/advanced/src/testing/dry-run-complex.mligo
  gitlab-pages/docs/advanced/src/testing/dry-run-simple.jsligo
  gitlab-pages/docs/advanced/src/testing/dry-run-simple.mligo
  gitlab-pages/docs/advanced/testing.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[doc] Update first-contract page to use separate entrypoints
  changelog-tools/website/3188
  gitlab-pages/docs/advanced/first-contract.md
  gitlab-pages/docs/advanced/src/first-contract/counter.jsligo
  gitlab-pages/docs/advanced/src/first-contract/counter.mligo
  gitlab-pages/docs/advanced/src/first-contract/first-contract.jsligo
  gitlab-pages/docs/advanced/src/first-contract/first-contract.mligo
  gitlab-pages/docs/advanced/src/first-contract/ungrouped.jsligo
  gitlab-pages/docs/advanced/src/first-contract/ungrouped.mligo
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[#1683] Handle case user tries to include directory
  lib/ligo_preprocessor/LowAPI.mll
Due: none

[#1683] Add test for attempt to include a dir
  src/test/contracts/lsp/include_directory_fail.mligo
  src/test/lsp_test/diagnostics.ml
Due: none

[Bot] add changelog entry
  changelog/3202
Due: pages, pages-attempt, deploy_website_preview

[doc] Update getting started tutorial as a quickstart
  changelog-tools/website/3191
  gitlab-pages/docs/advanced/first-contract.md
  gitlab-pages/docs/advanced/src/first-contract/counter.jsligo
  gitlab-pages/docs/advanced/src/first-contract/counter.mligo
  gitlab-pages/docs/tutorials/getting-started/getting-started.md
  gitlab-pages/docs/tutorials/getting-started/src/getting-started/a.jsligo
  gitlab-pages/docs/tutorials/getting-started/src/getting-started/a.mligo
  gitlab-pages/docs/tutorials/getting-started/src/getting-started/b.jsligo
  gitlab-pages/docs/tutorials/getting-started/src/getting-started/b.mligo
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Clarify emitting events and add an example
  changelog-tools/website/3213
  gitlab-pages/docs/contract/events.md
  gitlab-pages/docs/contract/src/events/events.jsligo
  gitlab-pages/docs/contract/src/events/events.mligo
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[#2171] Hide ghost idents with approprite comment
  lib/ligo_lsp/requests/inlay_hint.ml
Due: none

[#2171] Add test for ghost ident hide
  src/test/contracts/lsp/inlay_hints/ghost_identifiers_unresolved.mligo
  src/test/lsp_test/inlay_hint.ml
Due: none

[Bot] add changelog entry
  changelog/3206
Due: pages, pages-attempt, deploy_website_preview

[doc] Consolidate and clarify pages on variables and constants
  gitlab-pages/docs/syntax/src/variables/constants.jsligo
  gitlab-pages/docs/syntax/src/variables/constants.mligo
  gitlab-pages/docs/syntax/src/variables/mutating.jsligo
  gitlab-pages/docs/syntax/src/variables/mutating.mligo
  gitlab-pages/docs/syntax/src/variables/silent_variables.jsligo
  gitlab-pages/docs/syntax/src/variables/silent_variables.mligo
  gitlab-pages/docs/syntax/variables.md
  gitlab-pages/docs/variables/constants.md
  gitlab-pages/docs/variables/silent_vars.md
  gitlab-pages/docs/variables/src/silent_vars/silent_variables.jsligo
  gitlab-pages/docs/variables/src/silent_vars/silent_variables.mligo
  gitlab-pages/docs/variables/variables.md
  gitlab-pages/website/sidebars.js
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Feat/update gitlab runners
  .ci/.gitlab-ci-changelog.yml
  .ci/.gitlab-ci-debugger.yml
  .ci/.gitlab-ci-notify.yml
  .ci/.gitlab-ci-release.yml
  .ci/.gitlab-ci-vscode-extension.yml
  .ci/.gitlab-ci-webide-new.yml
  .ci/.gitlab-ci-webide.yml
  .ci/scripts/homebrew/replace_bottle_reference.sh
  .gitlab-ci.yml
Due: none

chore(nix): add nix derivation and shell for the debugger
  flake.lock
  flake.nix
  nix/debugger.nix
  tools/debugger/ligo-debugger/stack.yaml
  tools/debugger/ligo-debugger/stack.yaml.lock
Due: none

Updated infra bot email and reference to ventura
  .ci/.gitlab-ci-release.yml
  .ci/scripts/AUR/template/template.PKGBUILD
  .ci/scripts/homebrew/template/homebrew-template.rb
  HomebrewFormula/ligo.rb
  tools/webide-new/ligo-webide-backend/Dockerfile
  tools/webide-new/ligo-webide-frontend/ligo-ide/Dockerfile
Due: none

Nix unstable + remove opam-nix-integration
  flake.lock
  flake.nix
  lib/prometheus_push/prometheus_push.ml
  nix/ligo.nix
  nix/overlay.nix
  src/bin/user.ml
  src/package-management/publish.ml
  src/package-management/unpublish.ml
  tools/webide-new/flake.nix
Due: none

chore: update prometheus and package registry endpoints to use TT prod infra
  .ci/.gitlab-ci-debugger.yml
  .ci/.gitlab-ci-release.yml
  src/main/analytics/analytics.ml
  src/main/helpers/constants.ml
  src/test/ligo_install_slow_tests.ml
  src/test/ligo_install_tests.ml
  tools/debugger/ligo-debugger/src/Language/LIGO/Analytics.hs
Due: none

[#2173] Fix inlay hints for functions
  lib/ligo_lsp/requests/inlay_hint.ml
Due: none

[#2173] Add tests for function inlay hints
  src/test/contracts/lsp/inlay_hints/inlay_hints_fun_defs.mligo
  src/test/lsp_test/inlay_hint.ml
Due: none

[Bot] add changelog entry
  changelog/3214
Due: pages, pages-attempt, deploy_website_preview

shellHook in the Ligo shell
  flake.nix
Due: none

[#2187] Support `import` decls up to Ast_core
  src/main/build/build.ml
  src/main/compile/of_core.ml
  src/main/scopes/definitions.ml
  src/main/scopes/module_aliases_pass.ml
  src/main/scopes/scopes_pass.ml
  src/passes/04-nanopasses/passes/import_restriction.ml
  src/passes/04-nanopasses/trivial.ml
  src/passes/10-checking/checking.ml
  src/passes/10-checking/errors.ml
  src/passes/10-checking/untyper.ml
  src/stages/4-ast_core/PP.ml
  src/stages/4-ast_core/types.ml
  src/stages/ligo_primitive/declaration.ml
  src/stages/ligo_primitive/ligo_prim.ml
Due: none

[#2187] Add TODO items
  src/main/build/build.ml
  src/main/compile/of_core.ml
  src/main/scopes/definitions.ml
  src/main/scopes/module_aliases_pass.ml
  src/main/scopes/scopes_pass.ml
Due: none

[#2187] Add test for import decls comp to ast core
  src/test/ast_production.ml
  src/test/contracts/import_decls.jsligo
Due: none

[Bot] add changelog entry
  changelog/3227
Due: pages, pages-attempt, deploy_website_preview

fix(interpreter): allow performing operations on tickets in tests
  changelog/3237
  flake.lock
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/main/interpreter/common/michelson_backend.ml
  src/stages/6-ast_aggregated/combinators.ml
  src/test/contracts/interpreter_tests/tickets.mligo
Due: pages, pages-attempt, deploy_website_preview

fix: disable flakey slow install tests
  src/test/ligo_install_slow_tests.ml
  src/test/ligo_install_tests.ml
Due: none

chore: update package registry and prometheus metrics URLs
  src/main/analytics/analytics.ml
  src/main/helpers/constants.ml
  src/test/ligo_install_slow_tests.ml
  src/test/ligo_install_tests.ml
  tools/debugger/ligo-debugger/src/Language/LIGO/Analytics.hs
Due: none

tree sitter foreign function interface
  changelog/3238
  dune-project
  flake.nix
  lib/tree_sitter/api_funcs_desc.ml
  lib/tree_sitter/api_types_desc.ml
  lib/tree_sitter/dune
  lib/tree_sitter_example/dune
  lib/tree_sitter_example/example.ml
  lib/tree_sitter_typescript/api_funcs_desc.ml
  lib/tree_sitter_typescript/api_types_desc.ml
  lib/tree_sitter_typescript/dune
  nix/ligo.nix
  nix/tree-sitter-typescript.nix
Due: pages, pages-attempt, deploy_website_preview
