Repository ligolang/ligo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-generated-highlighting, webide-backend-build-and-push-backend, webide-new-backend-build-and-push-backend, webide-new-frontend-build-and-push, pages, pages-attempt, algolia-crawl, deploy_website_preview, deploy-handoff-feature, deploy-handoff, build-preview-ligo-webide-front-end, build-ligo-webide-front-end

Path conditions:
  check-generated-highlighting: any of: tools/ligo-syntax-highlighting/**/*
  webide-backend-build-and-push-backend: any of: tools/webide/**/*, src/test/examples/**/*
  webide-new-backend-build-and-push-backend: any of: tools/webide-new/ligo-webide-backend/**/*
  webide-new-frontend-build-and-push: any of: tools/webide-new/ligo-webide-frontend/ligo-ide/**/*
  pages: any of: gitlab-pages/**/*, changelog/*
  pages-attempt: any of: gitlab-pages/**/*, changelog/*
  algolia-crawl: any of: gitlab-pages/**/*
  deploy_website_preview: any of: gitlab-pages/**/*, changelog/*
  deploy-handoff-feature: any of: tools/webide/**/*, src/test/examples/**/*
  deploy-handoff: any of: tools/webide/**/*, src/test/examples/**/*
  build-preview-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
  build-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*

docs: Fixed formatting issue for macos install
  gitlab-pages/docs/intro/installation.md
  gitlab-pages/docs/tutorials/getting-started/getting-started.md
  gitlab-pages/website/versioned_docs/version-0.66.0/intro/installation.md
  gitlab-pages/website/versioned_docs/version-0.66.0/tutorials/getting-started/getting-started.md
  gitlab-pages/website/versioned_docs/version-0.67.1/intro/installation.md
  gitlab-pages/website/versioned_docs/version-0.67.1/tutorials/getting-started/getting-started.md
  gitlab-pages/website/versioned_docs/version-0.68.0/intro/installation.md
  gitlab-pages/website/versioned_docs/version-0.68.0/tutorials/getting-started/getting-started.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Fix pattern get binders function
  src/stages/2-ast_unified/combinators.ml
Due: none

Resolve "Functional record update is broken for nested records"
  changelog/2707
  src/bin/expect_tests/get_scope.ml
  src/bin/expect_tests/get_scope_errors_warns.ml
  src/bin/expect_tests/nested_record_update.ml
  src/passes/04-nanopasses/passes/structural_updates.ml
  src/test/contracts/nested_record_update.mligo
  src/test/contracts/nested_record_update_ticket.mligo
Due: pages, pages-attempt, deploy_website_preview

JsLIGO: enforce `export` keyword
  changelog/2684
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/transpilation.ml
  src/passes/04-nanopasses/passes/export_declaration.ml
  src/passes/04-nanopasses/trivial.ml
  src/passes/10-checking/checking.ml
  src/passes/10-checking/computation.ml
  src/passes/10-checking/computation.mli
  src/passes/10-checking/context.ml
  src/passes/10-checking/context.mli
  src/passes/10-checking/elaboration.ml
  src/passes/10-checking/generator.ml
  src/stages/2-ast_unified/PP.ml
  src/test/contracts/lsp/warnings.jsligo
  src/test/contracts/modules.jsligo
  src/test/contracts/negative/modules_export_type.jsligo
  src/test/contracts/signature/interface.jsligo
  src/test/decompiler_tests.ml
  src/test/lsp_test/diagnostics.ml
Due: pages, pages-attempt, deploy_website_preview

Internal: rename `main` to `check` in non-contract tests
  gitlab-pages/docs/language-basics/exceptions.md
  gitlab-pages/docs/reference/current.md
  gitlab-pages/docs/reference/toplevel.md
  gitlab-pages/docs/tutorials/optimisation/optimisation.md
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/get_scope.ml
  src/bin/expect_tests/get_scope_regressions.ml
  src/test/contracts/address.jsligo
  src/test/contracts/address.mligo
  src/test/contracts/curry.mligo
  src/test/contracts/disc_union.jsligo
  src/test/contracts/empty_case.jsligo
  src/test/contracts/empty_case.mligo
  src/test/contracts/eq_bool.jsligo
  src/test/contracts/eq_bool.mligo
  src/test/contracts/get_scope_tests/nominal_types.mligo
  src/test/contracts/get_scope_tests/regressions/missing_stdlib.mligo
  src/test/contracts/implicit_account.jsligo
  src/test/contracts/implicit_account.mligo
  src/test/contracts/is_nat.jsligo
  src/test/contracts/is_nat.mligo
  src/test/contracts/lambda.jsligo
  src/test/contracts/lambda.mligo
  src/test/contracts/lambda2.jsligo
  src/test/contracts/lambda2.mligo
  src/test/contracts/let_multiple.jsligo
  src/test/contracts/let_multiple.mligo
  src/test/contracts/self_address.jsligo
  src/test/contracts/self_address.mligo
  src/test/contracts/set_delegate.jsligo
  src/test/contracts/set_delegate.mligo
  src/test/contracts/shadowing.mligo
  src/test/contracts/switch_return.jsligo
  src/test/integration_tests.ml
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Fix: timestamp in intial_environment for `mumbai` (proto-pre-alpha)
  src/bin/expect_tests/protocol_specific.ml
  src/test/contracts/unit.mligo
  vendored-dune/ligo-utils/proto-pre-alpha-utils/init_proto_alpha.ml
Due: none

Fixed reset_cnum method of pos.ml, and shift_one_uchar.
  vendored-dune/ligo-utils/simple-utils/pos.ml
Due: none

[Chore] Fix wrong expectations about `byte` `pos` in tests
  src/bin/expect_tests/get_scope.ml
Due: none

[Bot] add changelog entry
  changelog/2711
Due: pages, pages-attempt, deploy_website_preview

web-ide: Add module (`-m`) option to webide frontend & backend
  changelog-tools/webide/2701
  tools/webide-new/ligo-webide-backend/src/Ligo.hs
  tools/webide-new/ligo-webide-backend/src/Method/Compile.hs
  tools/webide-new/ligo-webide-backend/src/Method/CompileExpression.hs
  tools/webide-new/ligo-webide-backend/src/Method/DryRun.hs
  tools/webide-new/ligo-webide-backend/src/Method/ListDeclarations.hs
  tools/webide-new/ligo-webide-backend/src/Source.hs
  tools/webide-new/ligo-webide-backend/test/Test/Method/Compile.hs
  tools/webide-new/ligo-webide-backend/test/Test/Method/CompileExpression.hs
  tools/webide-new/ligo-webide-backend/test/Test/Method/DryRun.hs
  tools/webide-new/ligo-webide-backend/test/Test/Method/GenerateDeployScript.hs
  tools/webide-new/ligo-webide-backend/test/Test/Method/ListDeclarations.hs
  tools/webide-new/ligo-webide-backend/test/contracts/module_contract/main.mligo
  tools/webide-new/ligo-webide-backend/test/contracts/module_contract/output.tz
  tools/webide-new/ligo-webide-frontend/ligo-ide/config.json
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/base-components/workspace/ProjectSettings.js
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/components/api/generated/api.ts
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/ligo-components/ligo-compiler/compilerManager.ts
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/ligo-components/ligo-project/Project/ProjectSettingsTab/index.js
Due: webide-new-backend-build-and-push-backend, webide-new-frontend-build-and-push

[Chore] Fix pretty printing of CameLIGO parametric types
  changelog/2710
  src/passes/02-parsing/cameligo/Pretty.ml
Due: pages, pages-attempt, deploy_website_preview

`ligo.js` : Linking with `Fuzz` module
  src/bin/dune
  src/bin/expect_tests/dune
  src/bin/others.js
  src/main/api/common/dune
  src/main/api/common/ligo_api.ml
  src/main/api/common/mutate.mli
  src/main/api/js/dune
  src/main/api/js/mutate.ml
  src/main/api/unix/dune
  src/main/api/unix/mutate.ml
  src/main/fuzz/shared/dune
  src/main/helpers/dune
  src/main/interpreter/common/dune
  src/main/interpreter/common/mutation.ml
  src/main/interpreter/js/dune
  src/main/interpreter/js/mutation.ml
  src/main/interpreter/unix/dune
  src/main/ligo_lsp/dune
  src/main/ligo_lsp/lsp_helpers/dune
  src/passes/04-nanopasses/dune
  src/passes/04-nanopasses/passes/dune
  src/test/dune
Due: none

[JsLIGO][Formatter] Force hardline after each field of a compound structure, so a possible line comment does not absorb the next component
  changelog/2714
  src/passes/02-parsing/cameligo/ParserMain.ml
  src/passes/02-parsing/jsligo/ParserMain.ml
  src/passes/02-parsing/jsligo/Pretty.ml
  src/passes/02-parsing/jsligo/Pretty.ml.new
  src/passes/02-parsing/pascaligo/ParserMain.ml
  src/passes/02-parsing/pyligo/ParserMain.ml
  src/passes/02-parsing/shared/Common.mli
  src/passes/02-parsing/shared/TopAPI.ml
  src/passes/02-parsing/shared/TopAPI.mli
  src/test/contracts/formatter/line_comment_on_field.jsligo
  src/test/contracts/formatter/line_comment_on_field_formatted.jsligo
  src/test/contracts/formatter/non_flat_disc_formatted.jsligo
  src/test/error-recovery/simple/jsligo/results.csv.expected
  src/test/lsp_test/completion.ml
  src/test/pretty_printer_tests.ml
  src/test/transpilation/expected/all_the_things.jsligo.expected
  vendored-dune/ParserLib/CLI.ml
  vendored-dune/ParserLib/Options.ml
  vendored-dune/ParserLib/Options.mli
  vendored-dune/Preprocessor/Options.mli
Due: pages, pages-attempt, deploy_website_preview

[Chore] Remove outdated comment
  src/test/decompiler_tests.ml
Due: none

[Chore] Format `test/contracts/lsp/registry.jsligo`
  src/test/contracts/lsp/registry.jsligo
  src/test/lsp_test/definition.ml
Due: none

[Chore] Add `use_orig_var` param to `untype_type_expression`
  src/passes/10-checking/checking.mli
  src/passes/10-checking/untyper.ml
Due: none

[Chore] Decompiler: emit quantifiers
  src/main/ligo_lsp/lsp_helpers/ligo_interface.ml
  src/passes/03-unification/cameligo/decompile.ml
  src/passes/03-unification/jsligo/decompile.ml
  src/test/decompiler_tests.ml
  src/test/lsp_test/completion.ml
Due: none

[#1744] Make hovers prettier and using modern format
  src/main/ligo_lsp/lsp_helpers/dialect_cst.ml
  src/main/ligo_lsp/lsp_helpers/helpers_pretty.ml
  src/main/ligo_lsp/lsp_helpers/ligo_interface.ml
  src/main/ligo_lsp/lsp_helpers/lsp_helpers.ml
  src/main/ligo_lsp/requests/completion.ml
  src/main/ligo_lsp/requests/handler.ml
  src/main/ligo_lsp/requests/hover.ml
  src/main/ligo_lsp/requests/type_definition.ml
  src/passes/03-unification/cameligo/decompile.ml
  src/test/contracts/lsp/hovers.jsligo
  src/test/contracts/lsp/hovers.mligo
  src/test/contracts/lsp/registry.jsligo
  src/test/decompiler_tests.ml
  src/test/lsp_test.ml
  src/test/lsp_test/hover.ml
Due: none

[#1819] Replace `syb` with pattern matches in the preprocess
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Impl.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Michelson.hs
  tools/debugger/ligo-debugger/test/Test/DebugInfo.hs
  tools/debugger/ligo-debugger/test/Test/Snapshots.hs
  tools/debugger/ligo-debugger/test/Test/Util.hs
Due: none

[#1819] Use `LigoTypeRef` instead of `LigoType` in metas
  tools/debugger/ligo-debugger/ligo-debugger.cabal
  tools/debugger/ligo-debugger/package.yaml
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Types.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Functions.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Helpers.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Impl.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Michelson.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Snapshots.hs
  tools/debugger/ligo-debugger/test/Test/DebugInfo.hs
  tools/debugger/ligo-debugger/test/Test/LigoCall.hs
  tools/debugger/ligo-debugger/test/Test/Navigation.hs
  tools/debugger/ligo-debugger/test/Test/Snapshots.hs
  tools/debugger/ligo-debugger/test/Test/Util.hs
  tools/debugger/ligo-debugger/test/Test/Util/Golden.hs
  tools/debugger/ligo-debugger/test/golden/Continue/simple-case-with-breakpoints.golden
  tools/debugger/ligo-debugger/test/golden/Next/breakpoint-causes-interrupt-when-we-are-going-over-function-granularity-expression-pre-post.golden
  tools/debugger/ligo-debugger/test/golden/Next/breakpoint-causes-interrupt-when-we-are-going-over-function-granularity-expression.golden
  tools/debugger/ligo-debugger/test/golden/Next/breakpoint-causes-interrupt-when-we-are-going-over-function-granularity-statement.golden
  tools/debugger/ligo-debugger/test/golden/Next/go-from-within-f-granularity-expression-pre-post.golden
  tools/debugger/ligo-debugger/test/golden/Next/go-from-within-f-granularity-expression.golden
  tools/debugger/ligo-debugger/test/golden/Next/go-from-within-f-granularity-statement.golden
  tools/debugger/ligo-debugger/test/golden/Next/go-over-toplevel-granularity-expression-pre-post.golden
  tools/debugger/ligo-debugger/test/golden/Next/go-over-toplevel-granularity-expression.golden
  tools/debugger/ligo-debugger/test/golden/Next/go-over-toplevel-granularity-statement.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/basic-case-caml-expression-granularity.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/basic-case-caml-expression-pre-post-granularity.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/basic-case-caml-statement-granularity.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/basic-case-js-statement-granularity.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/big-tuples-have-correct-evaluated-value.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/checking-for-testcontractsstatementinmatchbranchmligo-contract.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/checking-for-testcontractsstatementsincasebranchjsligo-contract.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/constant-recognized-as-statement.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/local-function-assignments-are-statements.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/record-update-is-statement.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/seq-nodes-dont-have-expression-locations-in-snapshots.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/toplevel-functions-with-preprocessor-dont-have-expression-locations-in-snapshots.golden
  tools/debugger/ligo-debugger/test/golden/StepOut/exit-f.golden
  tools/debugger/ligo-debugger/test/golden/StepOut/exit-main-function.golden
Due: none

[#1819] Use `checkCompilation` in entrypoint validation
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Call.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Impl.hs
Due: none

[Bot] add changelog entry
  changelog-tools/debugger/2709
Due: none

[Bot] add changelog entry
  changelog/2465
Due: pages, pages-attempt, deploy_website_preview

add deletion of docker image post builded. Save space on runner
  .gitlab-ci.yml
Due: none

[Chore] Fix bug when we create a T_app with no params
  src/main/ligo_lsp/requests/hover.ml
Due: none

Fixed transpilation of "True", "False" and "Unit".
  changelog/2717
  src/passes/02-parsing/pascaligo/JsLIGO.ml
Due: pages, pages-attempt, deploy_website_preview

Refactoring prior bringing render of partial applications
  tools/debugger/ligo-debugger/ligo-debugger.cabal
  tools/debugger/ligo-debugger/package.yaml
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Types.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Common.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Functions.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Snapshots.hs
  tools/debugger/ligo-debugger/src/Util.hs
  tools/debugger/ligo-debugger/test/Test/Functions.hs
  tools/debugger/ligo-debugger/test/Test/Util.hs
  tools/debugger/ligo-debugger/test/Test/Variables.hs
Due: none

CI: Disable dune runtest on Windows till its fixed
  .ci/.gitlab-ci-npm.yml
Due: none

[Bot] Update release metadata 0.69.0
  .ci/.metadata.yml
Due: none

list-declaration also lists entries with attributes
  changelog/2635
  src/bin/expect_tests/misc_cli_commands.ml
  src/main/api/common/info.ml
  src/main/compile/of_typed.ml
  src/test/contracts/entry_contract_for_list_declaration.jsligo
Due: pages, pages-attempt, deploy_website_preview

CameLIGO: add modules inclusion directive
  changelog/2629
  src/bin/repl.ml
  src/main/build/helpers.ml
  src/main/compile/of_core.ml
  src/main/compile/of_typed.ml
  src/main/scopes/definitions.ml
  src/main/scopes/module_aliases_pass.ml
  src/main/scopes/references.ml
  src/main/scopes/scopes_pass.ml
  src/main/scopes/types_pass.ml
  src/passes/01-lexing/cameligo/Self-passes/Tokens/Comments.ml
  src/passes/01-lexing/cameligo/Self-passes/Tokens/Token.ml
  src/passes/01-lexing/cameligo/Self-passes/Units/LineCom.ml
  src/passes/02-parsing/cameligo/ParToken.mly
  src/passes/02-parsing/cameligo/Parser.mly
  src/passes/02-parsing/cameligo/Pretty.ml
  src/passes/02-parsing/cameligo/errors.msg.in
  src/passes/03-unification/cameligo/compile.ml
  src/passes/04-nanopasses/passes/unstate.ml
  src/passes/04-nanopasses/trivial.ml
  src/passes/10-checking/checking.ml
  src/passes/10-checking/untyper.ml
  src/passes/11-self_ast_typed/helpers.ml
  src/passes/11-self_ast_typed/make_entry_point.ml
  src/passes/12-aggregation/aggregation.ml
  src/passes/12-aggregation/compiler.ml
  src/stages/1-cst/cameligo/CST.ml
  src/stages/1-cst/cameligo/Fold.ml
  src/stages/1-cst/cameligo/Print.ml
  src/stages/2-ast_unified/types.ml
  src/stages/4-ast_core/PP.ml
  src/stages/4-ast_core/types.ml
  src/stages/5-ast_typed/PP.ml
  src/stages/5-ast_typed/helpers.ml
  src/stages/5-ast_typed/misc.ml
  src/stages/5-ast_typed/types.ml
  src/stages/6-ast_aggregated/PP.ml
  src/stages/ligo_primitive/var.mli
  src/test/contracts/signature/contract.mligo
  src/test/error-recovery/fuzzing/cameligo/results.csv.expected
Due: pages, pages-attempt, deploy_website_preview

[#1878] Handle wrong LIGO executable path
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Call.hs
Due: none

[Bot] add changelog entry
  changelog-tools/debugger/2720
Due: none

Laucans/npm referencement
  .ci/.gitlab-ci-npm.yml
Due: none

[JsLIGO] Bug fix: The Attributes self-pass used Make instead of MakeDefault,...
  changelog/2733
  src/passes/01-lexing/jsligo/Self-passes/Tokens/Attributes.ml
Due: pages, pages-attempt, deploy_website_preview

Use test on `Step back` from Morley debugger
  tools/debugger/ligo-debugger/stack.yaml
  tools/debugger/ligo-debugger/stack.yaml.lock
  tools/debugger/ligo-debugger/test/Test/Navigation.hs
Due: none
