Repository ligolang/ligo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-generated-highlighting, webide-backend-build-and-push-backend, webide-new-backend-build-and-push-backend, webide-new-frontend-build-and-push, pages, pages-attempt, algolia-crawl, deploy_website_preview, deploy-handoff-feature, deploy-handoff, build-preview-ligo-webide-front-end, build-ligo-webide-front-end

check-generated-highlighting:
  stage: tooling
  dependencies:
  - docker_extract
  script:
  - scripts/diff_dir.sh highlighting/emacs tools/emacs
  - scripts/diff_dir.sh highlighting/vim/ftdetect tools/vim/ligo/start/ligo/ftdetect
  - scripts/diff_dir.sh highlighting/vim/plugin tools/vim/ligo/start/ligo/plugin
  ...

webide-backend-build-and-push-backend:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  - cp -r src/test/examples tools/webide/packages/client/examples
  ...

webide-new-backend-build-and-push-backend:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  needs:
  - job: changelog
    artifacts: false
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  - docker build tools/webide-new/ligo-webide-backend -t ${WEBIDE_NEW_IMAGE_TAG}
  ...

webide-new-frontend-build-and-push:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  needs:
  - job: changelog
    artifacts: false
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  ...

pages:
  stage: push
  tags:
  - docker
  image: node:16.17.0-buster
  needs:
  - job: changelog
    artifacts: true
  script:
  - export DOC_PATH=./gitlab-pages/docs
  - export WEBSITE_PATH=./gitlab-pages/website
  - cp -f ./changelog.md $DOC_PATH/intro/changelog.md
  ...

pages-attempt:
  stage: push
  tags:
  - docker
  image: node:16.17.0-buster
  needs:
  - job: changelog
    artifacts: true
  script:
  - export DOC_PATH=./gitlab-pages/docs
  - export WEBSITE_PATH=./gitlab-pages/website
  - cp -f ./changelog.md $DOC_PATH/intro/changelog.md
  ...

algolia-crawl:
  stage: push
  needs:
  - job: pages
  script:
  - "sleep 10 \ncurl -X post  -H \"Content-Type: application/json\" --user ${ALGOLIA_CRAWLER_ID}:${ALGOLIA_CRAWLER_TOKEN} https://crawler.algolia.com/api/1/crawlers/bb0597ba-5abc-45ba-bdf9-99f8152e87b0/reindex\n"

deploy_website_preview:
  stage: deploy
  image: node:16.17.0-buster
  tags:
  - docker
  needs:
  - job: pages-attempt
    artifacts: true
  script:
  - apt-get update
  - apt-get install -y --no-install-recommends jq
  - npm install netlify-cli
  ...

deploy-handoff-feature:
  stage: deploy
  variables:
    APP_NAME: web-ide-backend
    NEW_VERSION: ${CI_COMMIT_SHORT_SHA}
    ENV: non-prod
  trigger:
    project: ligolang/kubernetes-infrastructure

deploy-handoff:
  stage: deploy
  variables:
    APP_NAME: web-ide-backend
    NEW_VERSION: ${CI_COMMIT_SHORT_SHA}
    ENV: prod
  trigger:
    project: ligolang/kubernetes-infrastructure

🐛 Fix: Type Variable Shadowing Error
  changelog/2221
  src/main/api/info.ml
  src/passes/00-preprocessing/pyligo/dune
  src/passes/01-lexing/pyligo/Self-passes/Tokens/dune
  src/passes/01-lexing/pyligo/Self-passes/Units/dune
  src/passes/01-lexing/pyligo/dune
  src/passes/02-parsing/cameligo/dune
  src/passes/02-parsing/jsligo/dune
  src/passes/02-parsing/pascaligo/dune
  src/passes/02-parsing/pyligo/dune
  src/passes/02-parsing/reasonligo/dune
  src/passes/10-checking/checking.ml
  src/passes/10-checking/computation.ml
  src/passes/10-checking/computation.mli
  src/passes/10-checking/context.ml
  src/passes/10-checking/context.mli
  src/stages/1-cst/.ocamlformat
  src/stages/1-cst/dune
  src/stages/1-cst/pyligo/dune
  src/test/ast_production.ml
  src/test/contracts/type_shadowing.mligo
  src/test/dune
Due: pages, pages-attempt, deploy_website_preview

Set `current` protocol to Lima
  changelog/2223
  gitlab-pages/docs/reference/current.md
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/help_tests.ml
  src/bin/expect_tests/timelock.ml
  src/bin/expect_tests/top_level_binding_pattern_cameligo.ml
  src/bin/expect_tests/top_level_binding_pattern_jsligo.ml
  src/bin/expect_tests/top_level_binding_pattern_pascaligo.ml
  src/bin/expect_tests/top_level_binding_pattern_reasonligo.ml
  src/bin/expect_tests/warnings.ml
  src/environment/protocols.ml
  src/test/contracts/top_level_patterns/contracts/cameligo/ticket_record.mligo
  src/test/contracts/top_level_patterns/contracts/cameligo/ticket_tuple.mligo
  src/test/contracts/top_level_patterns/contracts/jsligo/ticket_record.jsligo
  src/test/contracts/top_level_patterns/contracts/jsligo/ticket_tuple.jsligo
  src/test/contracts/top_level_patterns/contracts/pascaligo/ticket_record.ligo
  src/test/contracts/top_level_patterns/contracts/pascaligo/ticket_tuple.ligo
  src/test/contracts/top_level_patterns/contracts/reasonligo/ticket_record.religo
  src/test/contracts/top_level_patterns/contracts/reasonligo/ticket_tuple.religo
  src/test/contracts/top_level_patterns/negative/cameligo/ticket_record.mligo
  src/test/contracts/top_level_patterns/negative/cameligo/ticket_tuple.mligo
  src/test/contracts/top_level_patterns/negative/jsligo/ticket_record.jsligo
  src/test/contracts/top_level_patterns/negative/jsligo/ticket_tuple.jsligo
  src/test/contracts/top_level_patterns/negative/pascaligo/ticket_record.ligo
  src/test/contracts/top_level_patterns/negative/pascaligo/ticket_tuple.ligo
  src/test/contracts/top_level_patterns/negative/reasonligo/ticket_record.religo
  src/test/contracts/top_level_patterns/negative/reasonligo/ticket_tuple.religo
  src/test/contracts/warning_duplicate.mligo
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Testing framework: issue with long tuples in matching
  changelog/2227
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/main/interpreter/interpreter.ml
  src/test/contracts/interpreter_tests/tuple_long.mligo
Due: pages, pages-attempt, deploy_website_preview

Fix: improve monomorphisation error message
  changelog/2204
  src/bin/expect_tests/polymorphism.ml
  src/passes/13-self_ast_aggregated/errors.ml
  src/passes/13-self_ast_aggregated/monomorphisation.ml
  src/stages/6-ast_aggregated/PP.ml
  src/test/contracts/negative/polymorphism/annotate_arrow.mligo
Due: pages, pages-attempt, deploy_website_preview

fix npm tarball workflow
  .gitlab-ci.yml
Due: none

[Bot] Update release metadata 0.58.0
  .ci/.metadata.yml
Due: none

remove submodule update in pipeline when metadata are updated
  .ci/.gitlab-ci-release.yml
Due: none

brew
  HomebrewFormula/ligo@0.58.0.rb
Due: none

Docs: replace "classico" for "clasico" in taco shop example
  gitlab-pages/docs/tutorials/taco-shop/tezos-taco-shop-smart-contract.md
  gitlab-pages/docs/tutorials/taco-shop/tezos-taco-shop-test-external.jsligo
  gitlab-pages/docs/tutorials/taco-shop/tezos-taco-shop-test-external.ligo
  gitlab-pages/docs/tutorials/taco-shop/tezos-taco-shop-test-external.mligo
  gitlab-pages/docs/tutorials/taco-shop/tezos-taco-shop-test.jsligo
  gitlab-pages/docs/tutorials/taco-shop/tezos-taco-shop-test.ligo
  gitlab-pages/docs/tutorials/taco-shop/tezos-taco-shop-test.mligo
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[Bot] Update release metadata 0.59.0
  .ci/.gitlab-ci-release.yml
  .ci/.metadata.yml
Due: none

Put ESY build into branch build instead of MR build.
  .ci/.gitlab-ci-npm.yml
  .gitlab-ci.yml
Due: none

Manually version Homebrew formulae
  HomebrewFormula/ligo@0.59.0.rb
Due: none

[Feature] Added more links to templates in documentation
  gitlab-pages/website/versioned_docs/version-0.57.0/tutorials/getting-started/getting-started.md
  gitlab-pages/website/versioned_docs/version-0.58.0/tutorials/getting-started/getting-started.md
  gitlab-pages/website/versioned_docs/version-0.58.0/tutorials/template.md
  gitlab-pages/website/versioned_docs/version-0.59.0/tutorials/getting-started/getting-started.md
  gitlab-pages/website/versioned_docs/version-0.59.0/tutorials/template.md
  gitlab-pages/website/versioned_sidebars/version-0.58.0-sidebars.json
  gitlab-pages/website/versioned_sidebars/version-0.59.0-sidebars.json
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Reactivate npm build inside MR
  .ci/.gitlab-ci-npm.yml
  .gitlab-ci.yml
Due: none

Error checking for closure capturing big maps/operation/contract
  changelog/2231
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/homepage.ml
  src/passes/15-self_mini_c/check_apply.ml
  src/passes/15-self_mini_c/errors.ml
  src/passes/15-self_mini_c/self_mini_c.ml
  src/stages/7-mini_c/misc.ml
  src/test/contracts/negative/capture_big_map.mligo
  src/test/dune
Due: pages, pages-attempt, deploy_website_preview

`ligo init` templates & libraries from LIGO registry
  changelog/2249
  ligo_unix.ml
  src/bin/cli.ml
  src/main/api/dune
  src/main/api/ligo_init.ml
  src/main/main_errors/formatter.ml
  src/main/main_errors/types.ml
  src/test/ligo_init_tests.ml
Due: pages, pages-attempt, deploy_website_preview

add publication to AUR into release process
  .ci/.gitlab-ci-release.yml
  .ci/scripts/AUR/create_new_pkgbuild_version.sh
  .ci/scripts/AUR/fill_template.sh
  .ci/scripts/AUR/ssh_config
  .ci/scripts/AUR/template/template.PKGBUILD
  changelog/2251
Due: pages, pages-attempt, deploy_website_preview

Implement `String.concats` and `Bytes.concats` in stdlib
  changelog/2228
  gitlab-pages/docs/reference/bytes.md
  gitlab-pages/docs/reference/string.md
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/main/build/ligo_lib/std_lib.mligo
  src/main/interpreter/interpreter.ml
  src/passes/10-checking/constant_typers.ml
  src/passes/predefined/predefined.ml
  src/stages/ligo_interpreter/combinators.ml
  src/stages/ligo_primitive/constant.ml
  src/test/contracts/interpreter_tests/interpret_test.mligo
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Relax view restrictions under arrow types
  changelog/2252
  src/bin/expect_tests/view.ml
  src/passes/11-self_ast_typed/view_passes.ml
  src/test/contracts/view_restrictions.mligo
Due: pages, pages-attempt, deploy_website_preview

remove deprecated nix stuff
  flake.lock
  flake.nix
  nix/get_ligo.nix
  nix/get_ligo_light.nix
  shell.nix
Due: none

Add --no-colour as flag to all ligo commands
  src/bin/cli.ml
  src/bin/expect_tests/colour.ml
  src/bin/expect_tests/deep_pattern_matching.ml
  src/bin/expect_tests/help_tests.ml
  src/bin/expect_tests/pattern_matching_jsligo.ml
  src/bin/expect_tests/typer_error_tests.ml
  src/bin/repl.ml
  src/main/api/compile.ml
  src/main/api/info.ml
  src/main/api/mutate.ml
  src/main/api/print.ml
  src/main/api/run.ml
  src/passes/10-checking/computation.mli
  src/test/contracts/negative/colour.mligo
  src/test/contracts/negative/colour_test.mligo
  src/test/get_scope_tests.ml
Due: none

[Feature] Packages link in website
  gitlab-pages/website/docusaurus.config.js
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

improve Jsligo proper return handling
  changelog/2229
  gitlab-pages/docs/advanced/foo.jsligo
  gitlab-pages/docs/advanced/src/proxy_ticket.jsligo
  gitlab-pages/docs/advanced/testing.md
  gitlab-pages/docs/language-basics/sets-lists-tuples.md
  gitlab-pages/docs/tutorials/tz-vs-eth/tz-vs-eth.md
  src/bin/expect_tests/get_scope_regressions.ml
  src/bin/expect_tests/pattern_matching_jsligo.ml
  src/passes/04-tree_abstraction/jsligo/compiler.ml
  src/stages/ligo_primitive/lambda.ml
  src/test/contracts/if_semi.jsligo
  src/test/contracts/let_destructuring.jsligo
  src/test/contracts/negative/pattern_match1.jsligo
  src/test/contracts/pattern_match4.jsligo
  src/test/contracts/return_handling.jsligo
  src/test/integration_tests.ml
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

🐛 Fix: Layout Unification
  changelog/2259
  ligo.opam
  ligo.opam.locked
  src/bin/expect_tests/layout.ml
  src/bin/expect_tests/pattern_matching_jsligo.ml
  src/passes/10-checking/checking.ml
  src/passes/10-checking/computation.ml
  src/passes/10-checking/context.ml
  src/passes/10-checking/context.mli
  src/passes/10-checking/dune
  src/passes/11-self_ast_typed/view_passes.ml
  src/test/contracts/negative/layout.mligo
  src/test/contracts/negative/layout1.mligo
Due: pages, pages-attempt, deploy_website_preview

Add missing cases/fix wrong cases in tail recursiveness check
  changelog/2256
  src/bin/expect_tests/typer_error_tests.ml
  src/passes/11-self_ast_typed/recursion.ml
  src/test/contracts/negative/error_no_tail_recursive_function.jsligo
  src/test/contracts/negative/error_no_tail_recursive_function2.mligo
Due: pages, pages-attempt, deploy_website_preview

Account for NO_COLOR environment variable
  src/bin/cli.ml
  src/bin/expect_tests/colour.ml
  vendored-dune/ligo-utils/simple-utils/snippet.ml
Due: none

ppx_is now support mutually recursive types
  src/stages/ppx/ppx_is.ml
  src/stages/ppx/ppx_print_constant.ml
  src/stages/ppx/ppx_read_constant.ml
Due: none

Move `bool` & `option` to stdlib
  src/bin/expect_tests/layout.ml
  src/bin/expect_tests/pattern_matching_jsligo.ml
  src/bin/expect_tests/typer_error_tests.ml
  src/environment/environment.ml
  src/main/build/ligo_lib/std_lib.mligo
  src/passes/05-self_ast_imperative/type_soundness.ml
  src/passes/10-checking/context.ml
Due: none

CameLIGO: Add `mut`ability , `for` loops, and `while` loops
  changelog/2254
  src/bin/expect_tests/misc_cli_commands.ml
  src/bin/expect_tests/typer_error_tests.ml
  src/bin/expect_tests/vars_consts.ml
  src/main/fuzz/cameligo/helpers.ml
  src/passes/01-lexing/cameligo/Self-passes/Tokens/Token.ml
  src/passes/02-parsing/README.md
  src/passes/02-parsing/cameligo/ParToken.mly
  src/passes/02-parsing/cameligo/Parser.mly
  src/passes/02-parsing/cameligo/Pretty.ml
  src/passes/02-parsing/cameligo/errors.msg.in
  src/passes/02-parsing/pascaligo/Parser.mly
  src/passes/04-tree_abstraction/cameligo/compiler.ml
  src/passes/04-tree_abstraction/cameligo/errors.ml
  src/passes/10-checking/checking.ml
  src/passes/10-checking/computation.ml
  src/passes/10-checking/computation.mli
  src/passes/10-checking/context.ml
  src/passes/10-checking/context.mli
  src/stages/1-cst/cameligo/CST.ml
  src/stages/1-cst/cameligo/Print.ml
  src/test/contracts/let_mut.mligo
  src/test/contracts/loop.mligo
  src/test/contracts/loop2.mligo
  src/test/contracts/negative/let_mut.mligo
  src/test/integration_tests.ml
Due: pages, pages-attempt, deploy_website_preview

Improve error message when compiling functions which capture meta-LIGO types
  changelog/2220
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/main/interpreter/interpreter.ml
  src/passes/13-self_ast_aggregated/errors.ml
  src/passes/13-self_ast_aggregated/obj_ligo.ml
  src/stages/ligo_interpreter/environment.ml
  src/stages/ligo_interpreter/environment.mli
  src/stages/ligo_primitive/literal_types.ml
  src/test/contracts/negative/interpreter_tests/test_capture_meta_type.mligo
Due: pages, pages-attempt, deploy_website_preview

Resolve "Wrong references in `ligo info get-scope`"
  changelog/2261
  src/bin/expect_tests/get_scope.ml
  src/bin/expect_tests/get_scope_regressions.ml
  src/main/scopes/scopes.ml
  src/main/scopes/types.ml
  src/test/contracts/get_scope_tests/regressions/wrong_reference1.mligo
Due: pages, pages-attempt, deploy_website_preview

Path conditions:
  check-generated-highlighting: any of: tools/ligo-syntax-highlighting/**/*
  webide-backend-build-and-push-backend: any of: tools/webide/**/*, src/test/examples/**/*
  webide-new-backend-build-and-push-backend: any of: tools/webide-new/ligo-webide-backend/**/*
  webide-new-frontend-build-and-push: any of: tools/webide-new/ligo-webide-frontend/ligo-ide/**/*
  pages: any of: gitlab-pages/**/*, changelog/*
  pages-attempt: any of: gitlab-pages/**/*, changelog/*
  algolia-crawl: any of: gitlab-pages/**/*
  deploy_website_preview: any of: gitlab-pages/**/*, changelog/*
  deploy-handoff-feature: any of: tools/webide/**/*, src/test/examples/**/*
  deploy-handoff: any of: tools/webide/**/*, src/test/examples/**/*
  build-preview-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
  build-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
