Repository ligolang/ligo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-generated-highlighting, pages, pages-attempt, algolia-crawl, deploy_website_preview

check-generated-highlighting:
  stage: tooling
  dependencies:
  - docker_extract
  script:
  - scripts/diff_dir.sh highlighting/emacs tools/emacs
  - scripts/diff_dir.sh highlighting/vim/ftdetect tools/vim/ligo/start/ligo/ftdetect
  - scripts/diff_dir.sh highlighting/vim/plugin tools/vim/ligo/start/ligo/plugin
  ...

pages:
  stage: push
  tags:
  - docker
  image: node:20.2.0-buster
  needs:
  - job: changelog
    artifacts: true
  script:
  - export DOC_PATH=./gitlab-pages/docs
  - export WEBSITE_PATH=./gitlab-pages/website
  - cp -f ./changelog.md $DOC_PATH/intro/changelog.md
  ...

pages-attempt:
  stage: push
  tags:
  - docker
  image: node:20.2.0-buster
  needs:
  - job: changelog
    artifacts: true
  script:
  - export DOC_PATH=./gitlab-pages/docs
  - export WEBSITE_PATH=./gitlab-pages/website
  - cp -f ./changelog.md $DOC_PATH/intro/changelog.md
  ...

algolia-crawl:
  stage: push
  needs:
  - job: pages
  script:
  - 'sleep 20
  
    curl -X POST  -H "Content-Type: application/json" --user ${ALGOLIA_CRAWLER_ID}:${ALGOLIA_CRAWLER_TOKEN} https://crawler.algolia.com/api/1/crawlers/bb0597ba-5abc-45ba-bdf9-99f8152e87b0/reindex
  
    '

deploy_website_preview:
  stage: deploy
  image: node:20.2.0-buster
  tags:
  - docker
  needs:
  - job: pages-attempt
    artifacts: true
  script:
  - apt-get update
  - apt-get install -y --no-install-recommends jq
  - npm install netlify-cli
  ...

[#1811] Ignore new metadata fields in derivings
  src/stages/2-ast_unified/nano_prim/arrow.ml
  src/stages/2-ast_unified/types.ml
  src/stages/4-ast_core/types.ml
  src/stages/ligo_primitive/arrow.ml
Due: none

[#1811] Preserve more info for decompiling disc unions
  src/main/scopes/references.ml
  src/passes/03-unification/cameligo/compile.ml
  src/passes/03-unification/cameligo/decompile.ml
  src/passes/03-unification/jsligo/compile.ml
  src/passes/03-unification/jsligo/decompile.ml
  src/passes/04-nanopasses/passes/compute_layout.ml
  src/passes/04-nanopasses/passes/disc_union_types.ml
  src/passes/04-nanopasses/passes/linearity.ml
  src/passes/04-nanopasses/passes/restrict_typed_pattern.ml
  src/passes/04-nanopasses/passes/sum_type_helper_generator.ml
  src/passes/04-nanopasses/passes/t_app_michelson_types.ml
  src/passes/04-nanopasses/trivial.ml
  src/passes/10-checking/checking.ml
  src/passes/10-checking/untyper.ml
  src/stages/2-ast_unified/types.ml
  src/stages/4-ast_core/PP.ml
  src/stages/4-ast_core/combinators.ml
  src/stages/4-ast_core/types.ml
  src/test/decompiler_tests.ml
Due: none

[Bot] add changelog entry
  changelog/3023
Due: pages, pages-attempt, deploy_website_preview

[#1957] Fix go to type definition for inferred records
  src/passes/10-checking/checking.ml
  src/passes/10-checking/type.ml
  src/test/contracts/lsp/type_definition_regression.jsligo
  src/test/contracts/lsp/type_definition_regression.mligo
  src/test/lsp_test/definition.ml
Due: none

[Bot] add changelog entry
  changelog/3025
Due: pages, pages-attempt, deploy_website_preview

[Chore] Add a test case for references
  src/test/contracts/lsp/go_to_implementations/signature_and_include.mligo
  src/test/lsp_test/references.ml
Due: none

[#2056] Simplify resolve_mod_name
  src/main/ligo_lsp/requests/go_to_definition.ml
  src/main/scopes/PP.ml
  src/main/scopes/definitions.ml
  src/main/scopes/module_aliases_pass.ml
  src/main/scopes/types.ml
Due: none

[#2056] Handle `include`s
  src/bin/expect_tests/get_scope.ml
  src/bin/expect_tests/get_scope_regressions.ml
  src/main/ligo_lsp/lsp_helpers/graph.ml
  src/main/ligo_lsp/requests/completion/modules.ml
  src/main/ligo_lsp/requests/go_to_definition.ml
  src/main/ligo_lsp/requests/references.ml
  src/main/scopes/PP.ml
  src/main/scopes/definitions.ml
  src/main/scopes/env.ml
  src/main/scopes/module_aliases_pass.ml
  src/main/scopes/references.ml
  src/main/scopes/scopes_pass.ml
  src/main/scopes/types.ml
  src/main/scopes/types_pass.ml
  src/test/contracts/lsp/go_to_implementations/include.mligo
  src/test/contracts/lsp/go_to_implementations/top_level_include.mligo
  src/test/lsp_test/definition.ml
  src/test/lsp_test/references.ml
Due: none

[#2056] Fix finding defs within a module
  src/main/ligo_lsp/requests/go_to_definition.ml
  src/main/ligo_lsp/requests/references.ml
  src/test/contracts/lsp/go_to_implementations/shadow.mligo
  src/test/lsp_test/references.ml
Due: none

[Bot] add changelog entry
  changelog/3021
Due: pages, pages-attempt, deploy_website_preview

[#2080] Inline mangled modules and create scopes for module aliases
  src/main/ligo_lsp/lsp_helpers/helpers_pretty.ml
  src/main/ligo_lsp/requests/completion/modules.ml
  src/main/ligo_lsp/requests/go_to_definition.ml
  src/main/scopes/PP.ml
  src/main/scopes/definitions.ml
  src/main/scopes/definitions.mli
  src/main/scopes/inline_mangled_modules_pass.ml
  src/main/scopes/module_aliases_pass.ml
  src/main/scopes/scopes.ml
  src/main/scopes/scopes_pass.ml
  src/main/scopes/types.ml
Due: none

[#2080] Support module scope in field completions + fix bug in scope completions
  src/bin/expect_tests/get_scope.ml
  src/bin/expect_tests/get_scope_regressions.ml
  src/main/ligo_lsp/requests/completion/fields.ml
  src/main/ligo_lsp/requests/completion/modules.ml
  src/main/ligo_lsp/requests/completion/scope.ml
  src/test/contracts/lsp/completion_imported_module.jsligo
  src/test/contracts/lsp/completion_imported_module.mligo
  src/test/contracts/lsp/completion_x.mligo
  src/test/lsp_test/completion.ml
  src/test/lsp_test/hover.ml
Due: none

[Bot] add changelog entry
  changelog/3026
Due: pages, pages-attempt, deploy_website_preview

[#2122] Improve performance for file completions
  src/main/api/common/api_helpers.ml
  src/main/ligo_lsp/requests/completion.ml
  src/main/ligo_lsp/requests/completion/files.ml
  src/test/contracts/lsp/completion_files/.hidden_dir/hidden.mligo
  src/test/lsp_test/completion.ml
Due: none

[Bot] add changelog entry
  changelog/3032
Due: pages, pages-attempt, deploy_website_preview

[Chore] Fix duplicate defs with signatures
  src/bin/expect_tests/get_scope.ml
  src/bin/expect_tests/get_scope_errors_warns.ml
  src/bin/expect_tests/get_scope_regressions.ml
  src/main/ligo_lsp/lsp_helpers/get_scope.ml
  src/main/scopes/definitions.ml
  src/main/scopes/types.ml
Due: none

[#1650] Propagate location for sig items
  src/main/api/common/type_doc.ml
  src/main/build/build.ml
  src/main/ligo_lsp/requests/hover.ml
  src/main/scopes/definitions.ml
  src/main/scopes/misc.ml
  src/main/scopes/module_aliases_pass.ml
  src/main/scopes/references.ml
  src/main/scopes/scopes_pass.ml
  src/main/scopes/types_pass.ml
  src/passes/04-nanopasses/nanopasses.ml
  src/passes/04-nanopasses/trivial.ml
  src/passes/10-checking/checking.ml
  src/passes/10-checking/computation.ml
  src/passes/10-checking/computation.mli
  src/passes/10-checking/context.ml
  src/passes/10-checking/context.mli
  src/passes/10-checking/elaboration.ml
  src/passes/10-checking/untyper.ml
  src/passes/11-self_ast_typed/dynamic_entrypoints.ml
  src/passes/11-self_ast_typed/make_entry_point.ml
  src/stages/4-ast_core/PP.ml
  src/stages/4-ast_core/types.ml
  src/stages/5-ast_typed/PP.ml
  src/stages/5-ast_typed/misc.ml
  src/stages/5-ast_typed/types.ml
Due: none

[#1650] Guard against ghost identifiers
  src/main/ligo_lsp/requests/document_symbol.ml
Due: none

[#1650] Nest destructured decls
  src/main/ligo_lsp/lsp_helpers/rose.ml
  src/main/ligo_lsp/requests/document_symbol.ml
Due: none

[Chore] Add generated location to internal delimiters
  src/passes/04-nanopasses/passes/for_to_while_loop.ml
Due: none

[#1650] Add tests
  src/main/ligo_lsp/lsp_helpers/lsp_helpers.ml
  src/main/ligo_lsp/requests/document_symbol.ml
  src/test/contracts/lsp/patterns.mligo
  src/test/lsp_test.ml
  src/test/lsp_test/document_symbol.ml
Due: none

[#1650] Implement document symbol
  src/bin/expect_tests/get_scope.ml
  src/bin/expect_tests/get_scope_errors_warns.ml
  src/bin/expect_tests/get_scope_regressions.ml
  src/main/ligo_lsp/lsp_helpers/lsp_helpers.ml
  src/main/ligo_lsp/lsp_helpers/pretty.ml
  src/main/ligo_lsp/lsp_helpers/rose.ml
  src/main/ligo_lsp/requests/completion/common.ml
  src/main/ligo_lsp/requests/completion/records.ml
  src/main/ligo_lsp/requests/document_symbol.ml
  src/main/ligo_lsp/requests/requests.ml
  src/main/ligo_lsp/server.ml
  src/main/scopes/definitions.ml
  tools/vscode/README.md
Due: none

[#1650] Protect against invalid ranges
  src/main/ligo_lsp/requests/document_symbol.ml
Due: none

[#1650] Replace body_range with decl_range
  src/bin/expect_tests/get_scope.ml
  src/bin/expect_tests/get_scope_errors_warns.ml
  src/bin/expect_tests/get_scope_regressions.ml
  src/main/ligo_lsp/requests/document_symbol.ml
  src/main/scopes/PP.ml
  src/main/scopes/definitions.ml
  src/main/scopes/types.ml
  src/passes/02-parsing/cameligo/Parser.mly
  src/stages/1-cst/cameligo/CST.ml
  src/stages/ligo_primitive/declaration.ml
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Types.hs
Due: none

[#1605] More resilience against failed nodes
  src/main/ligo_lsp/requests/document_symbol.ml
  src/test/lsp_test/document_symbol.ml
Due: none

[Bot] add changelog entry
  changelog/3029
Due: pages, pages-attempt, deploy_website_preview

Protocol: update to support v19.0-ligo (Oxford 2)
  .gitmodules
  changelog/3030
  gitlab-pages/docs/protocol/oxford.md
  ligo.opam
  ligo.opam.locked
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/coq_ocaml/dune
  src/dune
  src/passes/04-nanopasses/passes/dune
  src/passes/15-self_mini_c/dune
  src/passes/17-stacking/dune
  src/passes/18-self_michelson/dune
  src/stages/7-mini_c/dune
  src/stages/backends/dune
  src/stages/ligo_primitive/dune
  src/test/contracts/interpreter_tests/test_register_delegate.mligo
  src/test/contracts/negative/interpreter_tests/test_register_delegate_stake.mligo
  src/test/dune
  vendored-dune/ligo-utils/memory-proto-alpha/dune
  vendored-dune/ligo-utils/memory-proto-pre-alpha/dune
  vendored-dune/ligo-utils/proto-alpha-utils/dune
  vendored-dune/ligo-utils/proto-alpha-utils/x_error_monad.ml
  vendored-dune/ligo-utils/proto-alpha-utils/x_memory_proto_alpha.ml
  vendored-dune/ligo-utils/proto-pre-alpha-utils/dune
  vendored-dune/ligo-utils/proto-pre-alpha-utils/x_error_monad.ml
  vendored-dune/ligo-utils/proto-pre-alpha-utils/x_memory_proto_pre_alpha.ml
  vendored-dune/ligo-utils/tezos-utils/dune
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[#1985] Optimize scope completions
  src/main/ligo_lsp/lsp_helpers/get_scope.ml
  src/main/ligo_lsp/lsp_helpers/ligo_interface.ml
  src/main/ligo_lsp/requests/completion.ml
  src/main/ligo_lsp/requests/completion/scope.ml
  src/main/ligo_lsp/requests/document_symbol.ml
  src/main/ligo_lsp/requests/on_doc.ml
  src/main/scopes/PP.ml
  src/main/scopes/env.ml
  src/main/scopes/formatter.ml
  src/main/scopes/module_aliases_pass.ml
  src/main/scopes/scopes.ml
  src/main/scopes/scopes.mli
  src/main/scopes/scopes_pass.ml
  src/main/scopes/scopes_pass.mli
  src/main/scopes/types.ml
  src/stages/ligo_primitive/ligo_prim.ml
Due: none

[Bot] add changelog entry
  changelog/3033
Due: pages, pages-attempt, deploy_website_preview

[#1647] Implement document highlight request
  src/main/ligo_lsp/requests/highlight.ml
  src/main/ligo_lsp/requests/references.ml
  src/main/ligo_lsp/requests/requests.ml
  src/main/ligo_lsp/server.ml
  tools/vscode/README.md
Due: none

[Chore] Remove duplicated test
  src/test/lsp_test/references.ml
Due: none

[#1647] Add tests on highlight request
  src/main/ligo_lsp/lsp_helpers/lsp_helpers.ml
  src/test/contracts/lsp/go_to_implementations/implementation.mligo
  src/test/contracts/lsp/go_to_implementations/interface.mligo
  src/test/contracts/lsp/go_to_implementations/shadow_2.mligo
  src/test/contracts/lsp/shadow_var.mligo
  src/test/lsp_test.ml
  src/test/lsp_test/on_highlight.ml
Due: none

[Bot] add changelog entry
  changelog/3034
Due: pages, pages-attempt, deploy_website_preview

[#2113] Refactor: unite cases of configs receival
  src/main/ligo_lsp/server.ml
Due: none

[website] reorder sidebar to show Language section before CLI section in API
  gitlab-pages/website/sidebars.js
  gitlab-pages/website/versioned_sidebars/version-1.0.0-sidebars.json
  gitlab-pages/website/versioned_sidebars/version-1.1.0-sidebars.json
  gitlab-pages/website/versioned_sidebars/version-1.2.0-sidebars.json
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[#1922] Extract `ligoBinaryInfo` to commons
  tools/vscode/client/src/common/config.ts
  tools/vscode/client/src/debugger/LigoDebugConfigurationProvider.ts
  tools/vscode/client/src/lsp/LspExtension.ts
  tools/vscode/client/src/lsp/commands/common.ts
  tools/vscode/client/src/lsp/commands/ligoCommands.ts
  tools/vscode/client/src/lsp/updateLigo.ts
Due: none

[#1922] Do not reuse `config` variable
  tools/vscode/client/src/lsp/LspExtension.ts
  tools/vscode/client/src/lsp/commands/common.ts
  tools/vscode/client/src/lsp/commands/ligoCommands.ts
  tools/vscode/client/src/lsp/updateLigo.ts
Due: none

[#1922] Suggest restarting VSCode on `ligo` path change
  tools/vscode/client/src/common/config.ts
  tools/vscode/client/src/extension.ts
Due: none

Time-lock support
  changelog/3035
  gitlab-pages/docs/reference/current.md
  gitlab-pages/docs/reference/test.md
  gitlab-pages/docs/reference/toplevel.md
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/main/build/ligo_lib/std_lib.mligo
  src/main/interpreter/common/interpreter.ml
  src/main/interpreter/common/michelson_backend.ml
  src/main/interpreter/common/michelson_to_value.ml
  src/passes/04-nanopasses/passes/literalize_annotated.ml
  src/passes/10-checking/checking.ml
  src/passes/10-checking/constant_typers.ml
  src/passes/10-checking/type.ml
  src/passes/13-self_ast_aggregated/muchused.ml
  src/passes/14-spilling/compiler.ml
  src/passes/14-spilling/decompiler.ml
  src/passes/16-scoping/scoping.ml
  src/passes/17-stacking/to_micheline.ml
  src/stages/2-ast_unified/combinators.ml
  src/stages/5-ast_typed/misc.ml
  src/stages/6-ast_aggregated/combinators.ml
  src/stages/7-mini_c/PP.ml
  src/stages/7-mini_c/types.ml
  src/stages/ligo_interpreter/PP.ml
  src/stages/ligo_interpreter/combinators.ml
  src/stages/ligo_interpreter/types.ml
  src/stages/ligo_primitive/constant.ml
  src/stages/ligo_primitive/literal_types.ml
  src/stages/ligo_primitive/literal_value.ml
  src/test/contracts/interpreter_tests/test_timelock.mligo
  src/test/contracts/timelock_flip.mligo
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Path conditions:
  check-generated-highlighting: any of: tools/ligo-syntax-highlighting/**/*
  pages: any of: gitlab-pages/**/*, changelog/*
  pages-attempt: any of: gitlab-pages/**/*, changelog/*
  algolia-crawl: any of: gitlab-pages/**/*
  deploy_website_preview: any of: gitlab-pages/**/*, changelog/*
