Repository ligolang/ligo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-generated-highlighting, pages, pages-attempt, algolia-crawl, deploy_website_preview

Path conditions:
  check-generated-highlighting: any of: tools/ligo-syntax-highlighting/**/*
  pages: any of: gitlab-pages/**/*, changelog/*
  pages-attempt: any of: gitlab-pages/**/*, changelog/*
  algolia-crawl: any of: gitlab-pages/**/*
  deploy_website_preview: any of: gitlab-pages/**/*, changelog/*

[#2143] Optimize `sum_type_helper_generator` pass
  src/passes/04-nanopasses/passes/sum_type_helper_generator.ml
Due: none

[#2143] Optimize nanopasses
  src/passes/04-nanopasses/nanopasses.ml
  src/passes/04-nanopasses/passes/morphing.ml
  src/passes/04-nanopasses/passes/pass_type.ml
  src/passes/04-nanopasses/passes/pass_type.mli
  src/stages/2-ast_unified/recursion_schemes.ml
Due: none

Fix: use `CONCAT` instead of fold + uncurry concat
  changelog/3119
  src/main/build/ligo_lib/std_lib.mligo
Due: pages, pages-attempt, deploy_website_preview

[Bot] add changelog entry
  changelog/3120
Due: pages, pages-attempt, deploy_website_preview

[Bot] add changelog entry
  changelog/3112
Due: pages, pages-attempt, deploy_website_preview

Resolve "Generate .ligo in root folder of workspace"
  changelog/3115
  src/bin/cli.ml
  src/main/analytics/analytics.ml
  src/main/analytics/analytics.mli
  src/main/helpers/cli_helpers.ml
  src/main/helpers/cli_helpers.mli
  src/main/ligo_lsp/lsp_helpers/project_root.ml
Due: pages, pages-attempt, deploy_website_preview

[Chore] Prevent crash in typer error recovery
  src/main/analytics/analytics.mli
  src/main/ligo_lsp/requests/diagnostics.ml
  src/passes/10-checking/checking.ml
  src/passes/10-checking/errors.ml
Due: none

[Chore] Better handle errors in following passes
  src/main/ligo_lsp/lsp_helpers/get_scope.ml
  src/main/ligo_lsp/requests/diagnostics.ml
  src/test/lsp_test/diagnostics.ml
Due: none

[Chore] Don't spam crash messages
  src/main/ligo_lsp/dune
  src/main/ligo_lsp/server.ml
Due: none

Stdlib: remove usage of `include`
  changelog/3122
  src/main/build/ligo_lib/std_lib.mligo
Due: pages, pages-attempt, deploy_website_preview

chore: remove unused e2e folder
  e2e/aggregation.out
  e2e/using_scope_pkg_project.out
Due: none

[Bot] add changelog entry
  changelog/3124
Due: pages, pages-attempt, deploy_website_preview

Stdlib: introducing `Tezos.Next` module and `Assert`
  changelog/3121
  src/bin/expect_tests/aggregation.ml
  src/bin/expect_tests/build_module_test.ml
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/dynamic_entrypoints.ml
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/bin/expect_tests/option_map_tests.ml
  src/bin/expect_tests/package_management.ml
  src/bin/expect_tests/polymorphism.ml
  src/bin/expect_tests/protocol_specific.ml
  src/bin/expect_tests/reverse_app_operator.ml
  src/bin/expect_tests/top_level_binding_pattern_cameligo.ml
  src/bin/expect_tests/top_level_binding_pattern_jsligo.ml
  src/bin/expect_tests/warnings.ml
  src/main/analytics/analytics.mli
  src/main/build/ligo_lib/std_lib.mligo
  src/test/contracts/ticket_builder.mligo
  src/test/contracts/ticket_wallet.mligo
Due: pages, pages-attempt, deploy_website_preview

feat(docs): introduce blog instead of huge 'questions' in faq
  gitlab-pages/docs/reference/tezos.md
  gitlab-pages/website/blog/2023-09-09-layout-comb-how.md
  gitlab-pages/website/blog/2023-09-09-layout-comb-why.md
  gitlab-pages/website/blog/2023-09-20-v1-migration-guide.md
  gitlab-pages/website/blog/authors.yml
  gitlab-pages/website/docusaurus.config.js
  gitlab-pages/website/sidebars.js
  gitlab-pages/website/src/theme/BlogPostItem/Footer/index.js
  gitlab-pages/website/src/theme/BlogPostItem/Footer/styles.module.css
  gitlab-pages/website/src/theme/BlogPostItem/Header/Author/index.js
  gitlab-pages/website/src/theme/BlogPostItem/Header/Author/styles.module.css
  gitlab-pages/website/src/theme/BlogPostItem/Header/Authors/index.js
  gitlab-pages/website/src/theme/BlogPostItem/Header/Authors/styles.module.css
  gitlab-pages/website/src/theme/BlogPostItem/Header/Info/index.js
  gitlab-pages/website/src/theme/BlogPostItem/Header/Info/styles.module.css
  gitlab-pages/website/src/theme/BlogPostItem/Header/Title/index.js
  gitlab-pages/website/src/theme/BlogPostItem/Header/Title/styles.module.css
  gitlab-pages/website/src/theme/BlogPostItem/Header/index.js
  gitlab-pages/website/src/theme/BlogPostItem/index.js
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[fix] Use https for sub-module
  .gitmodules
Due: none

Update release metadata
  .ci/.metadata.yml
Due: none

fix branch in checker submodule
  .gitmodules
Due: none

[fix] attempt to fix release by removing dep with submodule in update-repository-status
  .ci/.gitlab-ci-release.yml
Due: none

remove no more relevant link from blog
  gitlab-pages/website/blog/2023-09-20-v1-migration-guide.md
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

[#2143] Move generated variables replacement into checking
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/get_scope_errors_warns.ml
  src/bin/expect_tests/polymorphism.ml
  src/main/scopes/types_pass.ml
  src/passes/10-checking/checking.ml
  src/passes/10-checking/computation.ml
  src/passes/10-checking/computation.mli
  src/passes/10-checking/context.ml
  src/passes/10-checking/context.mli
  src/passes/10-checking/elaboration.ml
  src/passes/10-checking/errors.ml
  src/passes/10-checking/untyper.ml
  src/test/lsp_test/hover.ml
Due: none

[Bot] add changelog entry
  changelog/3129
Due: pages, pages-attempt, deploy_website_preview

[#2041] Add caching to JSONs downloading
  src/main/run/dune
  src/main/run/of_michelson.ml
Due: none

[#2084] Disable TZIP-16 check in diagnostics
  src/main/ligo_lsp/lsp_helpers/ligo_interface.ml
  src/test/lsp_test/diagnostics.ml
Due: none

[#2084] Add tzip16 warnings to diagnostics
  src/main/ligo_lsp/lsp_helpers/dune
  src/main/ligo_lsp/lsp_helpers/get_scope.ml
  src/main/ligo_lsp/lsp_helpers/ligo_interface.ml
  src/main/ligo_lsp/lsp_helpers/lsp_helpers.ml
  src/main/ligo_lsp/lsp_helpers/tzip16_storage.ml
  src/main/ligo_lsp/requests/handler.ml
  src/main/ligo_lsp/server.ml
  src/main/main_warnings/main_warnings.ml
  src/main/run/of_michelson.ml
  src/test/decompiler_tests.ml
  src/test/lsp_test/helpers/handlers.ml
  tools/vscode/package.json
Due: none

[#2084] Run metadata downloads with timeout
  src/main/ligo_lsp/lsp_helpers/tzip16_storage.ml
  src/main/ligo_lsp/requests/handler.ml
  src/main/ligo_lsp/server.ml
  src/main/main_warnings/main_warnings.ml
  src/main/run/of_michelson.ml
  src/test/lsp_test/helpers/handlers.ml
  tools/vscode/package.json
Due: none

[#2084] Really disable all the logs except linol
  src/bin/cli.ml
Due: none

[#2084] Add tests on metadata checks
  src/test/contracts/contract_metadata/metadata_tzip16_check.mligo
  src/test/contracts/contract_metadata/metadata_tzip16_check_included.mligo
  src/test/contracts/contract_metadata/metadata_tzip16_non_computable.mligo
  src/test/contracts/contract_metadata/metadata_tzip16_two_warnings.jsligo
  src/test/lsp_test/diagnostics.ml
  src/test/lsp_test/helpers/handlers.ml
Due: none

[Chore] Revert default diagnostics pulling mode in LSP
  src/main/ligo_lsp/server.ml
Due: none

[#2084] Process default config for Emacs and Vim
  src/main/ligo_lsp/server.ml
Due: none

[Bot] add changelog entry
  changelog-tools/vscode-plugin/3111
Due: none

[#2143] Add a cache for mangled module vars
  src/main/scopes/inline_mangled_modules_pass.ml
Due: none

[#2143] Don't try to unmangle core types
  src/main/scopes/inline_mangled_modules_pass.ml
Due: none

[Chore] Increase timelimit for JSON downloads in LSP tests
  src/test/lsp_test/diagnostics.ml
  src/test/lsp_test/helpers/handlers.ml
Due: none

[Bot] add changelog entry
  changelog/3133
Due: pages, pages-attempt, deploy_website_preview
