Repository ligolang/ligo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-generated-highlighting, webide-backend-build-and-push-backend, webide-new-backend-build-and-push-backend, webide-new-frontend-build-and-push, pages, pages-attempt, algolia-crawl, deploy_website_preview, deploy-handoff-feature, deploy-handoff, build-preview-ligo-webide-front-end, build-ligo-webide-front-end

check-generated-highlighting:
  stage: tooling
  dependencies:
  - docker_extract
  script:
  - scripts/diff_dir.sh highlighting/emacs tools/emacs
  - scripts/diff_dir.sh highlighting/vim/ftdetect tools/vim/ligo/start/ligo/ftdetect
  - scripts/diff_dir.sh highlighting/vim/plugin tools/vim/ligo/start/ligo/plugin
  ...

webide-backend-build-and-push-backend:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  - cp -r src/test/examples tools/webide/packages/client/examples
  ...

webide-new-backend-build-and-push-backend:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  needs:
  - job: changelog
    artifacts: false
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  - docker build tools/webide-new/ligo-webide-backend -t ${WEBIDE_NEW_IMAGE_TAG}
  ...

webide-new-frontend-build-and-push:
  stage: deploy
  image: docker:19.03.5
  services:
  - docker:19.03.5-dind
  needs:
  - job: changelog
    artifacts: false
  script:
  - echo "${CI_BUILD_TOKEN}" | docker login -u gitlab-ci-token --password-stdin registry.gitlab.com
  ...

pages:
  stage: push
  tags:
  - docker
  image: node:16.17.0-buster
  needs:
  - job: changelog
    artifacts: true
  script:
  - export DOC_PATH=./gitlab-pages/docs
  - export WEBSITE_PATH=./gitlab-pages/website
  - cp -f ./changelog.md $DOC_PATH/intro/changelog.md
  ...

pages-attempt:
  stage: push
  tags:
  - docker
  image: node:16.17.0-buster
  needs:
  - job: changelog
    artifacts: true
  script:
  - export DOC_PATH=./gitlab-pages/docs
  - export WEBSITE_PATH=./gitlab-pages/website
  - cp -f ./changelog.md $DOC_PATH/intro/changelog.md
  ...

algolia-crawl:
  stage: push
  needs:
  - job: pages
  script:
  - "sleep 10 \ncurl -X post  -H \"Content-Type: application/json\" --user ${ALGOLIA_CRAWLER_ID}:${ALGOLIA_CRAWLER_TOKEN} https://crawler.algolia.com/api/1/crawlers/bb0597ba-5abc-45ba-bdf9-99f8152e87b0/reindex\n"

deploy_website_preview:
  stage: deploy
  image: node:16.17.0-buster
  tags:
  - docker
  needs:
  - job: pages-attempt
    artifacts: true
  script:
  - apt-get update
  - apt-get install -y --no-install-recommends jq
  - npm install netlify-cli
  ...

deploy-handoff-feature:
  stage: deploy
  variables:
    APP_NAME: web-ide-backend
    NEW_VERSION: ${CI_COMMIT_SHORT_SHA}
    ENV: non-prod
  trigger:
    project: ligolang/kubernetes-infrastructure

deploy-handoff:
  stage: deploy
  variables:
    APP_NAME: web-ide-backend
    NEW_VERSION: ${CI_COMMIT_SHORT_SHA}
    ENV: prod
  trigger:
    project: ligolang/kubernetes-infrastructure

Restore tests that got omitted during merge
  src/bin/expect_tests/contract_tests.ml
  src/bin/expect_tests/get_scope.ml
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/bin/expect_tests/michelson_or_tests.ml
  src/bin/expect_tests/no_color_underline.ml
  src/bin/expect_tests/pattern_matching_jsligo.ml
  src/bin/expect_tests/transpilation.ml
  src/bin/expect_tests/vars_consts.ml
  src/bin/expect_tests/warnings.ml
Due: none

[Bot] add changelog entry
  changelog/2535
Due: pages, pages-attempt, deploy_website_preview

[#1643] Remove `katip` dependency
  tools/debugger/ligo-debugger/ligo-debugger.cabal
  tools/debugger/ligo-debugger/package.yaml
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Helpers.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Util/AST/Parser.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Util/Cli/Impl.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Util/Cli/Types.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Util/Log.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Util/ParseTree.hs
  tools/debugger/ligo-debugger/test/lsp-test/Test/Pretty.hs
  tools/debugger/ligo-debugger/test/test-common/Test/Common/Util.hs
Due: none

[#1643] Replace `interpolate` with `nyan-interpolation`
  tools/debugger/ligo-debugger/ligo-debugger.cabal
  tools/debugger/ligo-debugger/package.yaml
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Util/Cli/Impl.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Util/Cli/Json.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Util/Extension.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Util/Parser.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Util/Range.hs
  tools/debugger/ligo-debugger/test/lsp-test/Test/Pretty.hs
Due: none

[#1643] Get rid of `timestats` package
  tools/debugger/ligo-debugger/ligo-debugger.cabal
  tools/debugger/ligo-debugger/package.yaml
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Util/Cli/Impl.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Util/Util.hs
  tools/debugger/ligo-debugger/stack.yaml
  tools/debugger/ligo-debugger/stack.yaml.lock
Due: none

[#1643] Strip `lsp` and `lsp-types` dependencies
  tools/debugger/ligo-debugger/ligo-debugger.cabal
  tools/debugger/ligo-debugger/package.yaml
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Util/AST/Includes.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Util/AST/Pretty.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Util/Cli/Json.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Util/Parser.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Util/Range.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Util/Util.hs
  tools/debugger/ligo-debugger/stack.yaml
  tools/debugger/ligo-debugger/stack.yaml.lock
  tools/debugger/ligo-debugger/test/test-common/Test/Common/Diagnostics.hs
Due: none

[#1643] Replace `LigoRange` with `Range` type
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Types.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Common.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Helpers.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Impl.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Michelson.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Snapshots.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Util/AST/Includes.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Util/Cli/Json.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Util/ParseTree.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Util/Range.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Util/Util.hs
  tools/debugger/ligo-debugger/test/debugger/Test/DebugInfo.hs
  tools/debugger/ligo-debugger/test/debugger/Test/LigoCall.hs
  tools/debugger/ligo-debugger/test/debugger/Test/Snapshots.hs
  tools/debugger/ligo-debugger/test/golden/Continue/simple-case-with-breakpoints.golden
  tools/debugger/ligo-debugger/test/golden/Next/breakpoint-causes-interrupt-when-we-are-going-over-function-granularity-expression-pre-post.golden
  tools/debugger/ligo-debugger/test/golden/Next/breakpoint-causes-interrupt-when-we-are-going-over-function-granularity-expression.golden
  tools/debugger/ligo-debugger/test/golden/Next/breakpoint-causes-interrupt-when-we-are-going-over-function-granularity-statement.golden
  tools/debugger/ligo-debugger/test/golden/Next/go-from-within-f-granularity-expression-pre-post.golden
  tools/debugger/ligo-debugger/test/golden/Next/go-from-within-f-granularity-expression.golden
  tools/debugger/ligo-debugger/test/golden/Next/go-from-within-f-granularity-statement.golden
  tools/debugger/ligo-debugger/test/golden/Next/go-over-toplevel-granularity-expression-pre-post.golden
  tools/debugger/ligo-debugger/test/golden/Next/go-over-toplevel-granularity-expression.golden
  tools/debugger/ligo-debugger/test/golden/Next/go-over-toplevel-granularity-statement.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/basic-case-caml-expression-granularity.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/basic-case-caml-expression-pre-post-granularity.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/basic-case-caml-statement-granularity.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/basic-case-js-statement-granularity.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/checking-for-testcontractsstatementinmatchbranchmligo-contract.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/checking-for-testcontractsstatementsincasebranchjsligo-contract.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/constant-recognized-as-statement.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/local-function-assignments-are-statements.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/seq-nodes-dont-have-expression-locations-in-snapshots.golden
  tools/debugger/ligo-debugger/test/golden/StepIn/toplevel-functions-with-preprocessor-dont-have-expression-locations-in-snapshots.golden
  tools/debugger/ligo-debugger/test/golden/StepOut/exit-f.golden
  tools/debugger/ligo-debugger/test/golden/StepOut/exit-main-function.golden
  tools/debugger/ligo-debugger/test/golden/StepOut/is-not-interfered-by-breakpoints.golden
  tools/debugger/ligo-debugger/test/test-common/Test/Common/Diagnostics.hs
Due: none

[#1643] Remove "dirty files" and "ligo daemon" stuff
  tools/debugger/ligo-debugger/ligo-debugger.cabal
  tools/debugger/ligo-debugger/package.yaml
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Call.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Helpers.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Helpers.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Impl.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Util/AST/Parser.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Util/ParseTree.hs
  tools/debugger/ligo-debugger/test/test-common/Test/Common/Util.hs
Due: none

[#1643] Merge `Util.Cli` and `CLI` modules
  tools/debugger/ligo-debugger/ligo-debugger.cabal
  tools/debugger/ligo-debugger/src/Language/LIGO/DAP/Variables.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Call.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Exception.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Helpers.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Types.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Types/LigoValue.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Types/LigoValue/Codegen.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Common.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Error.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Functions.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Helpers.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Impl.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Michelson.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Snapshots.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Util/AST/Parser.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Util/Cli.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Util/Cli/Impl.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Util/Cli/Json.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Util/Cli/Types.hs
  tools/debugger/ligo-debugger/test/debugger/Test/LigoCall.hs
  tools/debugger/ligo-debugger/test/debugger/Test/Snapshots.hs
  tools/debugger/ligo-debugger/test/debugger/Test/Util.hs
  tools/debugger/ligo-debugger/test/debugger/Test/Util/Golden.hs
  tools/debugger/ligo-debugger/test/debugger/Test/Variables.hs
  tools/debugger/ligo-debugger/test/test-common/Test/Common/Util.hs
Due: none

[#1643] Move `ligo-squirrel` from `Util` to `Language.LIGO`
  tools/debugger/ligo-debugger/ligo-debugger.cabal
  tools/debugger/ligo-debugger/src/Language/LIGO/AST.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/AST/Common.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/AST/Includes.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/AST/Parser.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/AST/Parser/Camligo.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/AST/Parser/Jsligo.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/AST/Pretty.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/AST/Skeleton.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/DAP/Variables.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Call.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Exception.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Types.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Types/LigoValue.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/CLI/Types/LigoValue/Codegen.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Common.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Error.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Helpers.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Impl.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Michelson.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Snapshots.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Util/AST.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Util/Util.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Diagnostic.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Extension.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/ParseTree.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Parser.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Product.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Range.hs
  tools/debugger/ligo-debugger/src/Util.hs
  tools/debugger/ligo-debugger/test/debugger/Test/DebugInfo.hs
  tools/debugger/ligo-debugger/test/debugger/Test/LigoCall.hs
  tools/debugger/ligo-debugger/test/debugger/Test/Snapshots.hs
  tools/debugger/ligo-debugger/test/debugger/Test/Util.hs
  tools/debugger/ligo-debugger/test/debugger/Test/Variables.hs
  tools/debugger/ligo-debugger/test/lsp-test/Test/Pretty.hs
  tools/debugger/ligo-debugger/test/test-common/Test/Common/Diagnostics.hs
  tools/debugger/ligo-debugger/test/test-common/Test/Common/Util.hs
Due: none

Use opam manifest independent esy manifest
  esy.json
  esy.lock/index.json
  esy.lock/opam/cmdliner.1.1.0/opam
  esy.lock/opam/cmdliner.1.2.0/opam
  esy.lock/opam/conduit-lwt-unix.6.2.0/opam
  esy.lock/opam/conduit-lwt.6.2.0/opam
  esy.lock/opam/conduit.6.2.0/opam
  esy.lock/opam/dune-build-info.3.7.1/opam
  esy.lock/opam/hkdf.1.0.4/opam
  esy.lock/opam/menhir.20230415/opam
  esy.lock/opam/menhirLib.20230415/opam
  esy.lock/opam/menhirSdk.20230415/opam
  esy.lock/opam/ocaml-migrate-parsetree.2.3.0/opam
  esy.lock/opam/ocaml-version.3.5.0/opam
  esy.lock/opam/ocamlformat-rpc-lib.0.21.0/opam
  esy.lock/opam/ocamlformat-rpc.0.21.0/opam
  esy.lock/opam/ocamlformat.0.21.0/opam
  esy.lock/opam/octavius.1.2.2/opam
  esy.lock/opam/odoc-parser.2.0.0/opam
  esy.lock/opam/odoc.2.2.0/opam
  esy.lock/opam/ppx_js_style.v0.15.0/opam
  esy.lock/opam/ppx_yojson_conv.v0.15.1/opam
  esy.lock/opam/tls.0.17.0/opam
Due: none

Fixes missing dll's for running tests on windows
  esy.json
Due: none

New invitation link for discord
  gitlab-pages/website/src/pages/contact.js
Due: pages, pages-attempt, algolia-crawl, deploy_website_preview

Fixes fuzzing e2e bash script file not running on windows
  src/test/error-recovery/fuzzing/cameligo/dune
  src/test/error-recovery/fuzzing/jsligo/dune
  src/test/error-recovery/simple/cameligo/dune
  src/test/error-recovery/simple/jsligo/dune
Due: none

Use .gitattributes to fix CRLF issues
  .gitattributes
Due: none

Fixes dune runtest running tezos-ligo tests
  .ci/.gitlab-ci-npm.yml
Due: none

Remove allow_failure for Windows job
  .ci/.gitlab-ci-npm.yml
Due: none

Fix unused ModRes
  src/test/mod_res_tests.ml
Due: none

Fix mod_res_test path issues
  src/test/mod_res_tests.ml
Due: none

Skip get_scope_tests on Windows
  src/test/dune
Due: none

Run dune runtest in the Windows job
  .ci/.gitlab-ci-npm.yml
Due: none

Links unix simple-util libs for inline tests
  src/passes/04-nanopasses/dune
  src/passes/04-nanopasses/passes/dune
  src/stages/2-ast_unified/nano_prim/dune
Due: none

Internal: Cameligo unifcation use anamorphism
  src/bin/expect_tests/get_scope_full_stdlib.ml
  src/passes/03-unification/cameligo/cameligo.ml
  src/passes/03-unification/cameligo/compile.ml
  src/passes/03-unification/jsligo/compile.ml
Due: none

Minify debugger JSON
  changelog/2295
  src/bin/expect_tests/contract_tests.ml
  src/formatter/ligo_formatter.ml
  src/passes/15-self_mini_c/self_mini_c.ml
Due: pages, pages-attempt, deploy_website_preview

[Chore] Release a new VS Code extension
  tools/vscode/package.json
Due: none

[LIGO-832] Replace Limanet with Ghostnet
  changelog-tools/webide/2520
  tools/webide-new/flake.lock
  tools/webide-new/ligo-webide-backend/src/Method/GenerateDeployScript.hs
Due: webide-new-backend-build-and-push-backend

Fix CLI option `-e` for `compile parameter` & `compile storage`
  changelog/2570
  src/bin/expect_tests/contract_tests.ml
  src/main/api/common/compile.ml
  src/test/contracts/top_level_entry.mligo
  src/test/contracts/two_contracts.mligo
Due: pages, pages-attempt, deploy_website_preview

Testing framework: set gas_limit to maximum for all operations
  changelog/2568
  src/bin/expect_tests/ligo_interpreter_tests.ml
  src/bin/expect_tests/package_management.ml
  src/main/interpreter/common/tezos_state.ml
Due: pages, pages-attempt, deploy_website_preview

[#1759] Satisfy `weeder` job
  tools/debugger/ligo-debugger/ligo-debugger.cabal
  tools/debugger/ligo-debugger/package.yaml
  tools/debugger/ligo-debugger/test/Test/AbortingThreadPool.hs
  tools/debugger/ligo-debugger/test/Test/DebugInfo.hs
  tools/debugger/ligo-debugger/test/Test/Navigation.hs
  tools/debugger/ligo-debugger/test/Test/Snapshots.hs
  tools/debugger/ligo-debugger/test/Test/Util.hs
  tools/debugger/ligo-debugger/test/Test/Util/Golden.hs
Due: none

[#1759] Support `weeder` in the debugger's CI
  .ci/.gitlab-ci-debugger.yml
  tools/debugger/.weeder.yaml
  tools/debugger/flake.lock
  tools/debugger/flake.nix
  tools/debugger/ligo-debugger/default.nix
Due: none

update metadata
  .ci/.metadata.yml
Due: none

fix docker
  tools/webide-new/ligo-webide-backend/Dockerfile
Due: webide-new-backend-build-and-push-backend

Internal: move environment with types to stdlib
  changelog/2551
  src/bin/expect_tests/get_scope_full_stdlib.ml
  src/bin/expect_tests/get_scope_regressions.ml
  src/bin/repl.ml
  src/environment/environment.ml
  src/environment/environment.mli
  src/main/build/ligo_lib/std_lib.mligo
  src/main/compiler_options/compiler_options.ml
  src/main/interpreter/common/michelson_backend.ml
  src/main/scopes/references.ml
  src/passes/04-nanopasses/nanopasses.ml
  src/passes/04-nanopasses/passes/dune
  src/passes/04-nanopasses/passes/t_constant.ml
  src/passes/04-nanopasses/trivial.ml
  src/passes/10-checking/checking.ml
  src/passes/14-spilling/compiler.ml
  src/stages/2-ast_unified/types.ml
  src/stages/4-ast_core/PP.ml
  src/stages/4-ast_core/types.ml
  src/stages/ligo_primitive/literal_types.ml
  src/test/integration_tests.ml
  src/test/md_file_tests.ml
Due: pages, pages-attempt, deploy_website_preview

lsp: path normalisation for Windows
  src/main/ligo_lsp/lsp_helpers/document_uri.ml
  src/main/ligo_lsp/lsp_helpers/dune
  src/main/ligo_lsp/lsp_helpers/location.ml
  src/main/ligo_lsp/lsp_helpers/lsp_helpers.ml
  src/main/ligo_lsp/requests/document_link.ml
  src/main/ligo_lsp/requests/go_to_definition.ml
  src/main/ligo_lsp/requests/references.ml
  src/test/lsp_test/handlers.ml
Due: none

Path conditions:
  check-generated-highlighting: any of: tools/ligo-syntax-highlighting/**/*
  webide-backend-build-and-push-backend: any of: tools/webide/**/*, src/test/examples/**/*
  webide-new-backend-build-and-push-backend: any of: tools/webide-new/ligo-webide-backend/**/*
  webide-new-frontend-build-and-push: any of: tools/webide-new/ligo-webide-frontend/ligo-ide/**/*
  pages: any of: gitlab-pages/**/*, changelog/*
  pages-attempt: any of: gitlab-pages/**/*, changelog/*
  algolia-crawl: any of: gitlab-pages/**/*
  deploy_website_preview: any of: gitlab-pages/**/*, changelog/*
  deploy-handoff-feature: any of: tools/webide/**/*, src/test/examples/**/*
  deploy-handoff: any of: tools/webide/**/*, src/test/examples/**/*
  build-preview-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
  build-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
