Repository ligolang/ligo: changes, and which GitLab CI jobs are due for each by the changed paths.
All: check-generated-highlighting, webide-backend-build-and-push-backend, deploy_website_preview, deploy-handoff-feature, deploy-handoff, build-preview-ligo-webide-front-end, build-ligo-webide-front-end

Path conditions:
  check-generated-highlighting: any of: tools/ligo-syntax-highlighting/**/*
  webide-backend-build-and-push-backend: any of: tools/webide/**/*, src/test/examples/**/*
  deploy_website_preview: any of: gitlab-pages/**/*
  deploy-handoff-feature: any of: tools/webide/**/*, src/test/examples/**/*
  deploy-handoff: any of: tools/webide/**/*, src/test/examples/**/*
  build-preview-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*
  build-ligo-webide-front-end: any of: tools/webide/**/*, src/test/examples/**/*

little cleanup on optional getters
  src/main/build/build.ml
Due: none

[Bot] add changelog entry
  changelog/1896
Due: none

replace label unreleased by next
  scripts/changelog-json.sh
Due: none

Add subst in Ast_aggregated
  src/passes/13-self_ast_aggregated/subst.ml
Due: none

fix manpages script
  scripts/manpages/manpages.js
Due: none

[Bot] Update release metadata 0.48.0
  .ci/.metadata.yml
Due: none

[LIGO-566] Remove serviceWorker
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/react.js
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/serviceWorker.js
Due: none

[LIGO-644] Improve filetree reload
  tools/webide-new/ligo-webide-frontend/base-components/packages/filetree/src/helper.js
  tools/webide-new/ligo-webide-frontend/base-components/packages/filetree/src/index.js
  tools/webide-new/ligo-webide-frontend/base-components/packages/workspace/src/ProjectManager/LocalProjectManager.js
  tools/webide-new/ligo-webide-frontend/ligo-components/packages/eth-compiler/src/compilerManager.js
Due: none

[LIGO-632] File tree drag and drop update
  tools/webide-new/ligo-webide-frontend/base-components/packages/file-ops/src/index.ts
  tools/webide-new/ligo-webide-frontend/base-components/packages/filetree/src/index.js
  tools/webide-new/ligo-webide-frontend/base-components/packages/filetree/src/styles.css
  tools/webide-new/ligo-webide-frontend/base-components/packages/workspace/src/ProjectManager/LocalProjectManager.js
Due: none

[LIGO-632] Add hotkeys
  tools/webide-new/ligo-webide-frontend/base-components/packages/filetree/src/index.js
  tools/webide-new/ligo-webide-frontend/base-components/packages/workspace/src/ProjectManager/LocalProjectManager.js
Due: none

[LIGO-632] Drag and drop logic and UI
  tools/webide-new/ligo-webide-frontend/base-components/packages/code-editor/src/MonacoEditor/MonacoEditor.js
  tools/webide-new/ligo-webide-frontend/base-components/packages/code-editor/src/MonacoEditor/modelSessionManager/MonacoEditorModelSession.js
  tools/webide-new/ligo-webide-frontend/base-components/packages/file-ops/src/index.ts
  tools/webide-new/ligo-webide-frontend/base-components/packages/filetree/package.json
  tools/webide-new/ligo-webide-frontend/base-components/packages/filetree/src/helper.js
  tools/webide-new/ligo-webide-frontend/base-components/packages/filetree/src/index.js
  tools/webide-new/ligo-webide-frontend/base-components/packages/filetree/src/styles.css
  tools/webide-new/ligo-webide-frontend/base-components/packages/workspace/src/ProjectManager/LocalProjectManager.js
  tools/webide-new/ligo-webide-frontend/base-components/packages/workspace/src/components/Workspace.js
  tools/webide-new/ligo-webide-frontend/base-components/yarn.lock
  tools/webide-new/ligo-webide-frontend/ligo-components/yarn.lock
  tools/webide-new/ligo-webide-frontend/ligo-ide/yarn.lock
Due: none

[LIGO-632] Drag and drop delay
  tools/webide-new/ligo-webide-frontend/base-components/packages/filetree/src/index.js
  tools/webide-new/ligo-webide-frontend/base-components/packages/filetree/src/styles.css
Due: none

[LIGO-632] Change rc-tree fork repo
  tools/webide-new/ligo-webide-frontend/base-components/packages/filetree/package.json
  tools/webide-new/ligo-webide-frontend/base-components/packages/filetree/src/index.js
  tools/webide-new/ligo-webide-frontend/base-components/yarn.lock
  tools/webide-new/ligo-webide-frontend/ligo-components/yarn.lock
  tools/webide-new/ligo-webide-frontend/ligo-ide/yarn.lock
Due: none

[LIGO-577] Update readme
  tools/webide-new/ligo-webide-frontend/README.md
Due: none

[LIGO-577] Update typescript
  tools/webide-new/ligo-webide-frontend/ligo-ide/package.json
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/ReduxApp.tsx
  tools/webide-new/ligo-webide-frontend/ligo-ide/src/ligo-components/eth-queue/TransactionDetails.js
  tools/webide-new/ligo-webide-frontend/ligo-ide/tsconfig.json
  tools/webide-new/ligo-webide-frontend/ligo-ide/tsconfig.paths.json
  tools/webide-new/ligo-webide-frontend/ligo-ide/yarn.lock
Due: none

resolve jobs id because of crash during docker extract
  .ci/.metadata.yml
  gitlab-pages/website/versioned_docs/version-0.46.1/intro/installation.md
  gitlab-pages/website/versioned_docs/version-0.47.0/intro/installation.md
  gitlab-pages/website/versioned_docs/version-0.48.0/intro/installation.md
  tools/webide/Dockerfile
Due: webide-backend-build-and-push-backend, deploy_website_preview, deploy-handoff-feature, deploy-handoff, build-preview-ligo-webide-front-end, build-ligo-webide-front-end

Add manpages for login, add-user & publish
  gitlab-pages/docs/manpages/add-user.md
  gitlab-pages/docs/manpages/ligo.md
  gitlab-pages/docs/manpages/login.md
  gitlab-pages/docs/manpages/publish.md
  scripts/manpages/manpages.js
  src/bin/cli.ml
Due: deploy_website_preview

Improve manpages script by parsing out sub-commands
  gitlab-pages/docs/manpages/print ast-combined.md
  scripts/manpages/manpages.js
Due: deploy_website_preview

dune promote
  scripts/manpages/manpages.js
  src/bin/cli.ml
  src/bin/expect_tests/help_tests.ml
Due: none

Update manpages after CLI descprition update
  gitlab-pages/docs/manpages/ligo.md
  gitlab-pages/docs/manpages/transpile contract.md
  gitlab-pages/docs/manpages/transpile expression.md
Due: deploy_website_preview

[Bot] add changelog entry
  changelog/1899
Due: none

Update sidebars.json
  gitlab-pages/website/sidebars.json
Due: deploy_website_preview

Fix redirects in docusaurus.config.js
  gitlab-pages/website/docusaurus.config.js
Due: deploy_website_preview

Update replace for only free vars.
  src/passes/13-self_ast_aggregated/subst.ml
Due: none

Use Subst.replace in monomorphisation
  src/passes/13-self_ast_aggregated/monomorphisation.ml
Due: none

[LIGO-359] Bump ligo-squirrel's version
  tools/lsp/vscode-plugin/package.json
Due: none

force image rm (because it is not removed du to container using it
  .gitlab-ci.yml
Due: none

move cp to avoid lost image
  .gitlab-ci.yml
Due: none

[LIGO-681] Fix attributes not recognized
  tools/lsp/squirrel/grammar/camligo/grammar.js
  tools/lsp/squirrel/grammar/camligo/test/corpus/attributes.txt
  tools/lsp/squirrel/grammar/common.js
  tools/lsp/squirrel/grammar/jsligo/grammar.js
  tools/lsp/squirrel/grammar/jsligo/test/corpus/attributes.txt
  tools/lsp/squirrel/grammar/jsligo/test/corpus/michelson_interop.txt
  tools/lsp/squirrel/grammar/pascaligo/grammar.js
  tools/lsp/squirrel/grammar/pascaligo/test/corpus/attributes.txt
  tools/lsp/squirrel/grammar/reasonligo/grammar.js
  tools/lsp/squirrel/grammar/reasonligo/test/corpus/attributes.txt
  tools/lsp/squirrel/src/AST/Parser/Camligo.hs
  tools/lsp/squirrel/src/AST/Parser/Jsligo.hs
  tools/lsp/squirrel/src/AST/Parser/Pascaligo.hs
  tools/lsp/squirrel/src/AST/Parser/Reasonligo.hs
  tools/lsp/squirrel/src/AST/Pretty.hs
  tools/lsp/squirrel/src/AST/Scope/Fallback.hs
  tools/lsp/squirrel/src/AST/Skeleton.hs
Due: none

[LIGO-681] Fix highlighting for JsLIGO attributes
  tools/ligo-syntax-highlighting/CameLIGO.ml
  tools/ligo-syntax-highlighting/JsLIGO.ml
  tools/ligo-syntax-highlighting/PascaLIGO.ml
  tools/ligo-syntax-highlighting/ReasonLIGO.ml
  tools/ligo-syntax-highlighting/regexp.ml
  tools/ligo-syntax-highlighting/textmate/jsligo.tmLanguage.json
  tools/ligo-syntax-highlighting/textmate/ligo.tmLanguage.json
  tools/ligo-syntax-highlighting/textmate/mligo.tmLanguage.json
  tools/ligo-syntax-highlighting/textmate/religo.tmLanguage.json
  tools/lsp/vscode-plugin/syntaxes/jsligo.tmLanguage.json
  tools/lsp/vscode-plugin/syntaxes/ligo.tmLanguage.json
  tools/lsp/vscode-plugin/syntaxes/mligo.tmLanguage.json
  tools/lsp/vscode-plugin/syntaxes/religo.tmLanguage.json
  tools/vim/ligo/start/ligo/syntax/ligo.vim
  tools/vim/ligo/start/ligo/syntax/mligo.vim
  tools/vim/ligo/start/ligo/syntax/religo.vim
  vendors/syntax-highlighting/Core.ml
  vendors/syntax-highlighting/Textmate.ml
  vendors/syntax-highlighting/VIM.ml
  vendors/syntax-highlighting/regexp.ml
Due: check-generated-highlighting

Fix subst_binders
  src/passes/13-self_ast_aggregated/subst.ml
Due: none

manage multi protocol and include kathmandu
  tools/webide/packages/client/package.json
  tools/webide/packages/client/src/components/configure/compile-function-pane.tsx
  tools/webide/packages/client/src/components/configure/compile-pane.tsx
  tools/webide/packages/client/src/components/configure/deploy-pane.tsx
  tools/webide/packages/client/src/components/configure/dry-run-pane.tsx
  tools/webide/packages/client/src/components/configure/evaluate-expr-pane.tsx
  tools/webide/packages/client/src/components/configure/evaluate-function-pane.tsx
  tools/webide/packages/client/src/components/configure/generate-deploy-script-pane.tsx
  tools/webide/packages/client/src/redux/actions/deploy.ts
  tools/webide/packages/client/src/redux/compile.ts
  tools/webide/packages/client/src/redux/deploy.ts
  tools/webide/packages/client/src/redux/evaluate-expr.ts
  tools/webide/packages/client/src/redux/evaluate-function.ts
  tools/webide/packages/server/src/handlers/deploy.ts
  tools/webide/packages/server/src/services/key.ts
  tools/webide/yarn.lock
Due: webide-backend-build-and-push-backend, deploy-handoff-feature, deploy-handoff, build-preview-ligo-webide-front-end, build-ligo-webide-front-end

Fix in subst_binders
  src/passes/13-self_ast_aggregated/subst.ml
Due: none

Test raw substituion in monomorphisation
  src/bin/expect_tests/build_module_test.ml
  src/bin/expect_tests/contract_tests.ml
  src/passes/13-self_ast_aggregated/monomorphisation.ml
Due: none

Remove unused instance_lookup_opt
  src/passes/13-self_ast_aggregated/monomorphisation.ml
Due: none

[LIGO-646] Allow user to specify value type in inputbox
  tools/debugger/LICENSES/LicenseRef-MIT-Microsoft.txt
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Helpers.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Impl.hs
  tools/debugger/ligo-debugger/src/Language/LIGO/Debugger/Handlers/Types.hs
  tools/debugger/vscode-plugin/package.json
  tools/debugger/vscode-plugin/resources/ligo.png
  tools/debugger/vscode-plugin/resources/tezos.png
  tools/debugger/vscode-plugin/src/extension.ts
  tools/debugger/vscode-plugin/src/messages.ts
  tools/debugger/vscode-plugin/src/ui.ts
Due: none
